Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/

docs: More, more cleanup
  narwhals/_dispatch.py
Due: imports-are-banned, self-self, dtypes-import

docs: lil bit of `.register` progress
  narwhals/_dispatch.py
Due: imports-are-banned, self-self, dtypes-import

cov
  narwhals/_dispatch.py
Due: imports-are-banned, self-self, dtypes-import

Remove interchange from non v1 (#3403)
  narwhals/translate.py
  tests/frame/interchange_select_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Get full coverage for `@just_dispatch`
  narwhals/_dispatch.py
  tests/dispatch_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Give it a simple repr
  narwhals/_dispatch.py
  tests/dispatch_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Oops, forgot that was an override
  tests/dispatch_test.py
Due: none

add arguments check
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

add unit tests
  narwhals/dtypes.py
  tests/dtypes/dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

docs: Remove repeat inline supertype docs
  narwhals/dtypes/_supertyping.py
  utils/promotion-rules.md.jinja
Due: imports-are-banned, self-self

ci: Temporarely pin sqlglot, ignore pyspark warning
  .github/workflows/pytest.yml
  pyproject.toml
Due: pull-request-target

inherits from Warning
  pyproject.toml
Due: none

docs: Remove repeat inline supertype docs (#3411)
  narwhals/dtypes/_supertyping.py
  utils/promotion-rules.md.jinja
Due: imports-are-banned, self-self

refactor: Simplify `pd.ArrowDtype` -> `nw.DType`
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove `pd.ArrowDtype` temporal branches
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove` pd.ArrowDtype` boolean branch
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove` pd.ArrowDtype` float branches
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove` pd.ArrowDtype` integer branches
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Just handle `"category"` once
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Start adding `DataFrame.unnest`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test: Some coverage for single-struct unnest
  tests/plan/unnest_test.py
Due: none

test: Cover multi-struct unnest
  narwhals/_plan/arrow/dataframe.py
  tests/plan/unnest_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Fully support single-struct unnest
  narwhals/_plan/arrow/dataframe.py
  tests/plan/unnest_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Guard against duplicate columns
  narwhals/_plan/dataframe.py
  tests/plan/unnest_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Support multi-struct unnest
  narwhals/_plan/arrow/dataframe.py
  tests/plan/unnest_test.py
Due: imports-are-banned, self-self, dtypes-import

add `struct` todo
  tests/plan/unnest_test.py
Due: none

fix: Woops, those aren't called `subset`!
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

perf: Avoid intermediate `ArrowSeries`
  narwhals/_plan/arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Alias `check_column_names_are_unique` for why it is used
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Align + simplify `explode`, `unnest`
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test: Prep coverage for optimization
  tests/plan/unnest_test.py
Due: none

perf: Add fastpaths for unnest at ends
  narwhals/_plan/arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `BaseFrame.unnest` (#3414)
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
  tests/plan/unnest_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Deduplicate pandas-like `dt.total_*` methods
  narwhals/_pandas_like/series_dt.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Replace `int_dtype_mapper` w/ reusing existing conversion logic
  narwhals/_pandas_like/series_dt.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `_duration.TIME_UNIT_PER_SECOND` and share
  narwhals/_arrow/series_dt.py
  narwhals/_duration.py
  narwhals/_pandas_like/series_dt.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

ugh type ignore
  narwhals/_pandas_like/series_dt.py
Due: imports-are-banned, self-self, dtypes-import

chore: Fix time_unit typing and reuse
  narwhals/_pandas_like/series_dt.py
  narwhals/_utils.py
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

perf: Use `pd.Series.hasnans`
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_dt.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

chore: Note possible reason for branch
  narwhals/_pandas_like/series_dt.py
Due: imports-are-banned, self-self, dtypes-import
