Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/

ibis scale default
  narwhals/_ibis/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Attempt 1 at `partialmethod`
  narwhals/_pandas_like/series_dt.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `PandasLikeSeries._sign`
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_dt.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Deduplicate `v1` dtypes imports
  narwhals/dtypes/_classes_v1.py
  narwhals/stable/v1/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

feat: Improve support for `Decimal` DType (#3377)
  narwhals/_arrow/utils.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/utils.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/utils.py
  narwhals/dataframe.py
  narwhals/dtypes.py
  tests/dtypes/dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

more tests
  narwhals/_sql/expr.py
  tests/expr_and_series/first_last_test.py
Due: imports-are-banned, self-self, dtypes-import

getting there
  narwhals/_sql/expr.py
  tests/expr_and_series/first_last_test.py
Due: imports-are-banned, self-self, dtypes-import

wip
  narwhals/_sql/expr.py
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

test broad
  narwhals/expr.py
  tests/expr_and_series/first_last_test.py
Due: imports-are-banned, self-self, dtypes-import

fix condition
  narwhals/_arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

pyarrow passing
  narwhals/_arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

forgot to raise
  narwhals/_arrow/group_by.py
  tests/expr_and_series/first_last_test.py
Due: imports-are-banned, self-self, dtypes-import

coverage
  tests/expr_and_series/first_last_test.py
Due: none

old pyarrow
  narwhals/_arrow/group_by.py
  tests/expr_and_series/first_last_test.py
Due: imports-are-banned, self-self, dtypes-import

old duckdb
  tests/expr_and_series/first_last_test.py
Due: none

fix test
  tests/expr_and_series/first_last_test.py
Due: none

pyarrow working
  narwhals/_arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

typing
  narwhals/_arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

pandas too
  narwhals/_arrow/group_by.py
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

update docs
  docs/concepts/order_dependence.md
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

polars
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

eager outside of groupby
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

francescos feedback
  narwhals/_arrow/group_by.py
  narwhals/_pandas_like/group_by.py
  tests/expr_and_series/first_last_test.py
Due: imports-are-banned, self-self, dtypes-import

add last to polars
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

sql last
  narwhals/_compliant/expr.py
  narwhals/_sql/expr.py
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

extra tests
  narwhals/_compliant/expr.py
  tests/expr_and_series/first_last_test.py
Due: imports-are-banned, self-self, dtypes-import

test last too
  tests/expr_and_series/first_last_test.py
Due: none

move check for OPTION_ORDERED first
  narwhals/_arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

ci: pin pandas in some downstream jobs
  .github/workflows/downstream_tests.yml
Due: pull-request-target

feat(expr-ir): Add `selectors.decimal`
  narwhals/_plan/expressions/selectors.py
  narwhals/_plan/selectors.py
  tests/plan/selectors_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `selectors.decimal` (#3418)
  narwhals/_plan/expressions/selectors.py
  narwhals/_plan/selectors.py
  tests/plan/selectors_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Avoid subprocess to test TPCH queries, and fix q8
  tpch/README.md
  tpch/execute.py
  tpch/queries/q8.py
  tpch/tests/conftest.py
  tpch/tests/queries_test.py
Due: none

pin in validoopsie
  .github/workflows/downstream_tests.yml
Due: pull-request-target

pin in validoopsie
  .github/workflows/extremes.yml
Due: pull-request-target

explicit readme is better than implicit
  tpch/README.md
Due: none
