Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

feat(DRAFT): start custom `pa.TableGroupBy` impl
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

fix: Avoid shadowed output aggregation names
  narwhals/_plan/arrow/group_by.py
  tests/plan/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Rewrite, fix ordered aggregations
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

test: Port over `first`, `last` group_by tests
  tests/plan/group_by_test.py
Due: none

test: Add failing `drop_null_keys`, `__iter__` tests
  narwhals/_plan/group_by.py
  tests/plan/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

ci: ban click 8.3.0
  .github/workflows/downstream_tests.yml
Due: pull-request-target

chore: Add `CompliantFrame._with_native` (#3140)
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add prefix argument to generate_temporary_column_name
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_utils.py
  tests/utils_test.py
Due: imports-are-banned, self-self, dtypes-import

rm extra narwhals import
  tests/utils_test.py
Due: none

requires duckdb 1.3.0
  tests/utils_test.py
Due: none

feat(expr-ir): Support `group_by(drop_null_keys=True)`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/group_by.py
  narwhals/_plan/protocols.py
  tests/plan/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: avoid `typing_extensions` import (again)
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix merge conflict
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify `maybe_convert_dtypes` (#3141)
  narwhals/_utils.py
Due: imports-are-banned, self-self

ci: ban `click` v8.3.0 (#3146)
  .github/workflows/downstream_tests.yml
Due: pull-request-target

add examples to docstrings copied from `from_dict`
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self, dtypes-import

add placeholders for from_dicts function
  docs/api-reference/dataframe.md
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self, dtypes-import

add implementation and unit tests
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  tests/frame/from_dicts_test.py
  tests/from_dicts_test.py
Due: imports-are-banned, self-self, dtypes-import

address review comments
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/frame/from_dicts_test.py
  tests/from_dicts_test.py
Due: imports-are-banned, self-self, dtypes-import

remove test for deprecated call in from_dicts_test
  tests/from_dicts_test.py
Due: none

add v1 and v2 tests for from_dicts
  tests/v1_test.py
  tests/v2_test.py
Due: none

refactor: Skip unreachable `Unknown`
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): pyright ignore `pl.UInt128` (#3144)
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

change data type on from_dicts to Sequence[Mapping[str, Any]] and add tests for a non-dict mapping
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/frame/from_dicts_test.py
  tests/from_dicts_test.py
Due: imports-are-banned, self-self, dtypes-import

use `types.MappingProxyType` instead of custom type to test non-dict mappings with `from_dicts`
  tests/frame/from_dicts_test.py
  tests/from_dicts_test.py
Due: none

apply (some) suggestions
  narwhals/_polars/expr.py
  narwhals/expr_str.py
  narwhals/series_str.py
  tests/expr_and_series/str/to_titlecase_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Reject `drop_null_keys` with `Expr`
  narwhals/_plan/dataframe.py
  narwhals/_plan/group_by.py
  tests/plan/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Return `NamedIR` from `prepare_projection`
  narwhals/_plan/_expansion.py
  narwhals/_plan/_rewrites.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/group_by.py
  tests/plan/expr_expansion_test.py
  tests/plan/expr_rewrites_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): *Almost* all `Expr` key tests passing!
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/group_by.py
  narwhals/_plan/protocols.py
  tests/plan/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

fix(DRAFT): Roughly port over `ParseExprKeysGroupBy`
  narwhals/_plan/arrow/group_by.py
  tests/plan/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Slightly simplify temp name
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add temp column name utils
  narwhals/_plan/common.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Replace temp naming stuff
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `Expr.unique` group_by tests
  tests/plan/group_by_test.py
Due: none

handle mappings as dicts in from_dicts for polars <1.30
  narwhals/_polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix: Use `operator.or_` instead of `pyarrow.compute.or_`
  narwhals/_plan/arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test: Steal some of the `polars` test suite 😉
  tests/plan/group_by_test.py
Due: none

test: `df.group_by(**named_by)`
  tests/plan/group_by_test.py
Due: none

revert: Don't introduce unused type var
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

chore: Remove completed todo
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
