Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

no cover xfail_if_pyspark_connect
  tests/expr_and_series/replace_strict_test.py
Due: none

feat: Support `date_range(interval="*w")`
  narwhals/_duration.py
  narwhals/_plan/functions.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: More validation/typing polish
  narwhals/_plan/_dispatch.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/functions.py
Due: imports-are-banned, self-self, dtypes-import

chore: Note possible future refactor
  narwhals/_plan/functions.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Use import path aliases more
  narwhals/_plan/dataframe.py
  narwhals/_plan/functions.py
  narwhals/_plan/series.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

un"fix" pre-commit
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Reuse `BACKEND_VERSION`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

chore: Reduce `arange` version minimum
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `date_range`, support `{date,int}_range(eager=...)` (#3294)
  narwhals/_duration.py
  narwhals/_plan/__init__.py
  narwhals/_plan/_dispatch.py
  narwhals/_plan/arrow/__init__.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/expressions/ranges.py
  narwhals/_plan/functions.py
  narwhals/_plan/series.py
  narwhals/_plan/typing.py
  tests/plan/compliant_test.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Start adding `rank`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/compliant/expr.py
  tests/plan/rank_test.py
Due: imports-are-banned, self-self, dtypes-import

test: `rank(descending=True)` as well
  tests/plan/rank_test.py
Due: none

test: Add placeholder for `test_rank_expr_partition_by`
  tests/plan/rank_test.py
Due: none

test: Add `test_rank_expr_order_by`
  tests/plan/rank_test.py
Due: none

refactor: Add `RankOptions.to_arrow`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/options.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `test_rank_expr_order_by_3177`
  tests/plan/rank_test.py
Due: none

tidy up
  narwhals/_plan/arrow/expr.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Start adding `with_row_index_by`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat: Impl `ArrowDataFrame.with_row_index_by`
  narwhals/_plan/arrow/dataframe.py
  tests/plan/frame_with_row_index_test.py
Due: imports-are-banned, self-self, dtypes-import

perf: Massively simplify `pyarrow<20` branch
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Avoid `[no-any-return]`
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

simpler pyarrow impl (thanks Dan!)
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

post merge fixup
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat: Support `ArrowExpr.rank(method="average")`
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/options.py
  tests/plan/rank_test.py
Due: imports-are-banned, self-self, dtypes-import

use absolute paths in tpch_q1_test
  tests/tpch_q1_test.py
Due: none

test it
  narwhals/_utils.py
  tests/plugins_test.py
Due: imports-are-banned, self-self

plugin suggestion
  narwhals/_utils.py
  narwhals/plugins.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

fix errmsg
  narwhals/translate.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: simplify dask implementation for direct translations (#3287)
  narwhals/_dask/expr.py
  narwhals/_dask/selectors.py
Due: imports-are-banned, self-self, dtypes-import

chore: document closed interval options (#3291)
  narwhals/expr.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

enh: Show more informative `not_implemented` and "could not translate" errors for plugins (#3297)
  narwhals/_utils.py
  narwhals/plugins.py
  narwhals/translate.py
  tests/plugins_test.py
  tests/tpch_q1_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Consistently raise (when needed) on empty expansions
  narwhals/_plan/_expansion.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/exceptions.py
  tests/plan/frame_partition_by_test.py
  tests/plan/frame_with_row_index_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Drive-by add `CompliantSeries.len`
  narwhals/_plan/compliant/series.py
Due: imports-are-banned, self-self, dtypes-import

fix: `with_row_index` was returning incorrect results when used with `order_by` for pandas, pyarrow, and polars (#3292)
  .github/workflows/extremes.yml
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/utils.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  tests/frame/with_row_index_test.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

simplify compliant implementations
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

remove dead code
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `Expr.replace_strict` support for lazy backends if `default` is provided (#3282)
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/replace_strict_test.py
Due: imports-are-banned, self-self, dtypes-import

docs: document Daft support
  README.md
  docs/extending.md
  docs/index.md
Due: none

docs: document Daft support (#3299)
  README.md
  docs/extending.md
  docs/index.md
Due: none

Claude: Backend multi-selector dropdown
  docs/css/extra.css
  docs/javascripts/table.js
Due: none

rm excessive whitespace
  docs/css/extra.css
  docs/javascripts/table.js
Due: none
