Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
  skip: [mypy]
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.11.8'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: init-env
      name: init-env
      entry: python --version
      language: python
      pass_filenames: false
      description: This hook serves as a env initializer, used both in check-api-reference and mypy hook
    - id: check-api-reference
      name: check-api-reference
      entry: make check-api-reference
      language: system
      require_serial: true
      pass_filenames: false
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
    - id: mypy
      name: mypy
      entry: make typing
      language: system
      types: [python]
      require_serial: true
      pass_filenames: false
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

chore: Drop `pandas<1.1.3` branches in `_pandas_like`
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Remove `sqlframe` `3.8` branches
  tests/conftest.py
  tests/translate/from_native_test.py
Due: mypy

test: Drop `pandas<1.1.3` branches in tests
  tests/expr_and_series/cast_test.py
  tests/expr_and_series/diff_test.py
  tests/expr_and_series/over_test.py
  tests/expr_and_series/rank_test.py
  tests/expr_and_series/rolling_mean_test.py
  tests/expr_and_series/rolling_sum_test.py
  tests/expr_and_series/rolling_var_test.py
  tests/expr_and_series/str/to_datetime_test.py
  tests/frame/collect_test.py
  tests/frame/group_by_test.py
  tests/frame/interchange_to_pandas_test.py
  tests/frame/pivot_test.py
  tests/frame/schema_test.py
  tests/frame/to_arrow_test.py
  tests/tpch_q1_test.py
  tests/translate/to_py_scalar_test.py
  tests/utils_test.py
Due: mypy

ci: Update `pytest-39` job
  .github/workflows/pytest.yml
Due: pull-request-target

ci: Bump `python`, `pandas`, `numpy` in `extremes.yml`
  .github/workflows/extremes.yml
Due: pull-request-target

Revert "reuse is_native_*"
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fixup test, keep check symmetrical
  tests/frame/invalid_test.py
Due: mypy

chore: Use `str.removeprefix`
  utils/check_api_reference.py
Due: mypy

chore: Remove commented out unsupported pandas
  utils/generate_random_versions.py
Due: mypy

actually fixup
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

revert: chore: Use str.removeprefix
  utils/check_api_reference.py
Due: mypy

fix: Avoid unbound `kwargs`
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

ci: bump `scipy==1.6.0`
  .github/workflows/extremes.yml
Due: pull-request-target

refactor: Replace `remove_prefix` take ✌️
  utils/check_api_reference.py
Due: mypy

feat: Add `_repr_html_`
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: implement time_bucket
  narwhals/_duckdb/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: raise informative error or warning when passing narwhals object to `nw.dependencies.is_*_dataframe` and `nw.dependencies.is_*_series` (#1444)
  .pre-commit-config.yaml
  narwhals/_utils.py
  narwhals/dependencies.py
  narwhals/stable/v1/dependencies.py
  tests/dependencies/is_native_dataframe_series_raise_test.py
  tests/frame/invalid_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Suppress `too_slow` on `test_rolling_var_hypothesis_polars` (#2674)
  tests/expr_and_series/rolling_var_test.py
Due: mypy

chore(ruff): Update for `3.9` typing
  narwhals/_plan/aggregation.py
  narwhals/_plan/common.py
  narwhals/_plan/exceptions.py
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/expr_parsing.py
  narwhals/_plan/meta.py
  narwhals/_plan/name.py
  narwhals/_plan/selectors.py
  narwhals/_plan/when_then.py
  tests/plan/expr_expansion_test.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Update `DuckDBExpr.first`
  narwhals/_duckdb/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Update `IbisExpr.first`
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Update `SparkLikeExpr.first`
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Update `pandas` xfail
  tests/frame/group_by_test.py
Due: mypy

refactor: Move errors, warnings outside of `PandasLikeGroupBy.agg`
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Split out complex, add some typing
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Split out dupe code to `_select_results`
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

docs: Note the current complexity counts
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

depr: Deprecate `nw.get_level` from main namespace
  docs/backcompat.md
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  tests/frame/interchange_schema_test.py
  tests/stable_api_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

simplify eager
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, mypy

cov
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

docs(suggestion): Use `@deprecated` static-only feedback
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test kleene logic
  docs/concepts/boolean.md
  narwhals/functions.py
  tests/expr_and_series/all_horizontal_test.py
  tests/expr_and_series/any_horizontal_test.py
  tests/expr_and_series/operators_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

stable docs
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, mypy

typing
  tests/expr_and_series/all_horizontal_test.py
  tests/expr_and_series/any_horizontal_test.py
  tests/expr_and_series/operators_test.py
Due: mypy

import
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat(typing): Add `NativeAggregation` literal
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore(typing): "Add typing" for the rest
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

Experimenting with named agg style
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy
