Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.8.6'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.14.1'
  hooks:
    - id: mypy
      additional_dependencies: ['polars==1.4.1', 'pytest==8.3.2']
      files: ^(narwhals|tests)/
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.3.0'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.1.1'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

verify outputs
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

wip
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

refactor: use `Schema..to_pandas` in `from_dict`
  narwhals/functions.py
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

finish all docstrings
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

refactor: remove `version` parameter from `_from_dict_impl`
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import

add 's' in default time_units, trim docstrings
  narwhals/selectors.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import

perf: use fastpath in `DataFrame.to_numpy` for pandas, improve performance for `DataFrame.schema` for pandas, use fewer values to sniff dtype for pandas objects (#1929)
  .github/workflows/downstream_tests.yml
  docs/backcompat.md
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_dask/expr_dt.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  narwhals/functions.py
  tests/frame/schema_test.py
  tests/frame/to_numpy_test.py
Due: imports-are-banned, dtypes-import, pull-request-target

whops
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import

fixups
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

rm kwargs={dtypes}
  narwhals/_arrow/selectors.py
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import

make filter a bit more extensive
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

chore: ignore banned imports
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

docs: Make DataFrame and LazyFrame docstrings shorter and more concise (#1939)
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

release: Bump version to 1.25.1
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned

release: Bump version to 1.25.1 (#1941)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned

test: adds `test_schema_to_pandas`
  tests/frame/schema_test.py
Due: none

test: use `[ns]` instead of `[us]`
  tests/frame/schema_test.py
Due: none

fix: return `dict` when `pl.Schema` unavailable
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

add hypothesis and control mypy in pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
  tests/expr_and_series/arithmetic_test.py
  tests/expr_and_series/dt/ordinal_day_test.py
  tests/expr_and_series/dt/timestamp_test.py
  tests/expr_and_series/dt/total_minutes_test.py
  tests/expr_and_series/is_nan_test.py
  tests/expr_and_series/rolling_mean_test.py
  tests/expr_and_series/rolling_sum_test.py
  tests/expr_and_series/rolling_var_test.py
  tests/hypothesis/basic_arithmetic_test.py
  tests/hypothesis/getitem_test.py
  tests/hypothesis/join_test.py
  tests/utils_test.py
Due: none

fix: handle unequal length case
  narwhals/schema.py
  tests/frame/schema_test.py
Due: imports-are-banned, dtypes-import

docs: add docs for new methods
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

docs: add "Returns" to all
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

enh hist behavior cross backend compatibility
  narwhals/_arrow/series.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/series.py
  tests/series_only/hist_test.py
Due: imports-are-banned, dtypes-import

skip test for pyarrow<13
  tests/series_only/hist_test.py
Due: none

fix: wrong argument name suggested
  narwhals/utils.py
Due: imports-are-banned

align has_operation with new implementation changes
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned

feat: raise NotImplementedError for DataFramte.is_duplicated for PyArrow when there is more than one column
  narwhals/_arrow/dataframe.py
  tests/frame/is_duplicated_test.py
Due: imports-are-banned, dtypes-import

fix: wrong argument name suggested in `from_dict` deprecation (#1946)
  narwhals/utils.py
Due: imports-are-banned

fix cudf
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import

fix: raise NotImplementedError for DataFramte.is_duplicated for PyArrow when there is more than one column (#1948)
  narwhals/_arrow/dataframe.py
  tests/frame/is_duplicated_test.py
Due: imports-are-banned, dtypes-import

fix: cuDF to_numpy tests were failing (#1949)
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import

feat: support is_duplicated for pyarrow
  narwhals/_arrow/dataframe.py
  tests/frame/is_duplicated_test.py
Due: imports-are-banned, dtypes-import

is_unique test for good measure
  tests/frame/is_unique_test.py
Due: none

feat: restore support of `is_duplicated` for pyarrow (#1951)
  narwhals/_arrow/dataframe.py
  tests/frame/is_duplicated_test.py
  tests/frame/is_unique_test.py
Due: imports-are-banned, dtypes-import

release: Bump version to 1.25.2
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned

release: Bump version to 1.25.2 (#1952)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned

fix(typing): Backport `from_native` overload fixes to `v1`
  narwhals/stable/v1/__init__.py
Due: imports-are-banned
