Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

release: Bump version to 2.21.1 (#3628)
  pyproject.toml
Due: none

release: Bump version to 2.21.2
  pyproject.toml
Due: none

other requirements
  .github/workflows/extremes.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
  CONTRIBUTING.md
  pyproject.toml
Due: pull-request-target

**not** is_into_series(dynamic_attr_only)
  tests/dependencies/is_into_series_test.py
Due: none

release: Bump version to 2.21.2 (#3630)
  pyproject.toml
Due: none

no cover DynamicAttrOnly.__getattr__
  tests/dependencies/conftest.py
Due: none

fixup test failures
  .github/workflows/check_tpch_queries.yml
  src/narwhals/sql.py
Due: pull-request-target

that's a big lock matrix :D
  .github/workflows/deploy-docs.yml
  .github/workflows/extremes.yml
  pyproject.toml
  tests/frame/arrow_c_stream_test.py
  uv.lock
Due: pull-request-target

typo
  .github/workflows/extremes.yml
Due: pull-request-target

add pyspark test group
  .github/workflows/pytest-pyspark.yml
  Makefile
  pyproject.toml
  uv.lock
Due: pull-request-target

ci: Multiple random runs
  .github/workflows/random_ci_pytest.yml
  utils/generate_random_versions.py
Due: pull-request-target

all different
  utils/generate_random_versions.py
Due: none

rename: DynamicAttrOnly -> AlwaysHasAttr
  tests/dependencies/conftest.py
  tests/dependencies/is_into_dataframe_test.py
  tests/dependencies/is_into_lazyframe_test.py
  tests/dependencies/is_into_series_test.py
Due: none

fix: `.over` was mutating expressions in some cases
  src/narwhals/expr.py
  tests/expr_and_series/over_test.py
Due: none

Add uv tree before uv run commands
  .github/workflows/check_tpch_queries.yml
  .github/workflows/extremes.yml
  .github/workflows/pytest-ibis.yml
  .github/workflows/pytest-modin.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
Due: pull-request-target

simplify pre-commit manifest
  .pre-commit-config.yaml
Due: none

duckdb versions, add when/then test
  tests/expr_and_series/over_test.py
  tests/expr_and_series/when_test.py
Due: none

feat(expr-ir): Improve `lit` repr
  narwhals/_plan/_nodes.py
  narwhals/_plan/_parameters.py
  narwhals/_plan/_parse.py
  narwhals/_plan/expressions/literal.py
  narwhals/_plan/functions/literal.py
  narwhals/_plan/when_then.py
  tests/plan/expr_expansion_test.py
  tests/plan/repr_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move to new `_reprs.py`
  narwhals/_plan/_reprs.py
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/literal.py
Due: imports-are-banned, self-self, dtypes-import

prefer uv pip compile to include extra's
  .github/workflows/check_tpch_queries.yml
  .github/workflows/extremes.yml
  .github/workflows/pytest-ibis.yml
  .github/workflows/pytest-modin.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
Due: pull-request-target

fixup duckdb version in core
  pyproject.toml
  src/narwhals/sql.py
  uv.lock
Due: none

Update src/narwhals/typing.py
  src/narwhals/typing.py
Due: none

typing
  .github/workflows/typing.yml
Due: pull-request-target

ci: unpin pyright version (#3619)
  pyproject.toml
  src/narwhals/_dask/expr.py
  src/narwhals/_dask/group_by.py
  src/narwhals/_duckdb/utils.py
  src/narwhals/_ibis/namespace.py
  src/narwhals/_ibis/utils.py
  src/narwhals/_spark_like/namespace.py
  src/narwhals/_sql/expr.py
  src/narwhals/_sql/expr_str.py
  src/narwhals/_sql/namespace.py
  src/narwhals/typing.py
Due: none

display randomly generated deps
  .github/workflows/random_ci_pytest.yml
Due: pull-request-target

trim
  .github/workflows/random_ci_pytest.yml
Due: pull-request-target

copy-paste gone wrong
  .github/workflows/random_ci_pytest.yml
Due: pull-request-target

ci: bump internal mypy version
  pyproject.toml
  src/narwhals/_arrow/dataframe.py
  src/narwhals/_arrow/series.py
  src/narwhals/_compliant/dataframe.py
  src/narwhals/_compliant/group_by.py
  src/narwhals/_compliant/series.py
  src/narwhals/_dask/expr.py
  src/narwhals/_duration.py
  src/narwhals/_pandas_like/dataframe.py
  src/narwhals/_polars/dataframe.py
  src/narwhals/_polars/namespace.py
  src/narwhals/_polars/utils.py
  test-plugin/test_plugin/dataframe.py
  tests/expr_and_series/over_test.py
  tests/v1_test.py
Due: none

cvg
  src/narwhals/_compliant/dataframe.py
Due: none

chore: unpin duckdb in typing
  pyproject.toml
  src/narwhals/_duckdb/dataframe.py
  src/narwhals/_duckdb/expr.py
  src/narwhals/_duckdb/group_by.py
Due: none

fix: Avoid weird `coverage` bug?
  narwhals/_plan/expressions/boolean.py
  narwhals/_plan/expressions/temporal.py
Due: imports-are-banned, self-self, dtypes-import

refactor: shrinky-dink
  narwhals/_plan/_reprs.py
Due: imports-are-banned, self-self, dtypes-import

Update src/narwhals/_duckdb/expr.py
  src/narwhals/_duckdb/expr.py
Due: none

refactor: Polish nested literal repr paths
  narwhals/_plan/_reprs.py
Due: imports-are-banned, self-self, dtypes-import

cov
  tests/plan/repr_test.py
Due: none

fix: Allow arbitrary objects in `lit` if explicitly passed `nw.Object`
  narwhals/_plan/functions/literal.py
  tests/plan/expr_parsing_test.py
  tests/plan/repr_test.py
Due: imports-are-banned, self-self, dtypes-import

fix(selectors): resolve typing and coverage CI failures on __xor__
  src/narwhals/_compliant/selectors.py
  src/narwhals/_polars/expr.py
  src/narwhals/selectors.py
Due: none

feat(selectors): add `Selector.__xor__` for symmetric difference
  src/narwhals/_compliant/selectors.py
  src/narwhals/_polars/expr.py
  src/narwhals/selectors.py
  tests/selectors_test.py
Due: none

chore: unpin duckdb in typing (#3640)
  pyproject.toml
  src/narwhals/_duckdb/dataframe.py
  src/narwhals/_duckdb/expr.py
  src/narwhals/_duckdb/group_by.py
Due: none

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
