Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

refactor(expr-ir): Be less kind in `SupportsBroadcast.align`
  narwhals/_plan/compliant/column.py
Due: imports-are-banned, self-self, dtypes-import

try fix old pandas
  narwhals/_pandas_like/series.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor pandas-like scatter and _scatter_in_place
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

rm _scatter_in_place in favor of _scatter(..., in_place=True)
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

ci: Fix `mkdocs.yml` warning
  .github/workflows/mkdocs.yml
Due: pull-request-target

ci: Replace `--system` with `$UV_SYSTEM_PYTHON`
  .github/workflows/check_tpch_queries.yml
  .github/workflows/downstream_tests.yml
  .github/workflows/downstream_tests_slow.yml
  .github/workflows/extremes.yml
  .github/workflows/mkdocs.yml
  .github/workflows/pytest-ibis.yml
  .github/workflows/pytest-modin.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
Due: pull-request-target

ci: Replace workflow-level `$PY_COLORS`
  .github/workflows/check_tpch_queries.yml
  .github/workflows/downstream_tests.yml
  .github/workflows/downstream_tests_slow.yml
  .github/workflows/extremes.yml
  .github/workflows/pytest-ibis.yml
  .github/workflows/pytest-modin.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
  .github/workflows/typing.yml
Due: pull-request-target

ci(tpch): Pin `"polars==1.37.1"` for tpch queries (#3453)
  .github/workflows/check_tpch_queries.yml
Due: pull-request-target

add some changes to surface ci errors
  narwhals/_enum.py
  narwhals/_namespace.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

ci: Display ruff errors in workflow
  utils/check_docstrings.py
Due: none

ci: Improve error formatting
  utils/check_docstrings.py
Due: none

ci: Allow script to work on windows
  utils/check_docstrings.py
Due: none

fix: Ignore (`F821`) in doctests
  utils/check_docstrings.py
Due: none

chore: Replace `pip` branch with a link to `CONTRIBUTING.md`
  utils/check_docstrings.py
Due: none

chore(typing): Add aliases for existing stuff
  utils/check_docstrings.py
Due: none

refactor: Simplify `main` control flow
  utils/check_docstrings.py
Due: none

wip: inline everything to `main`
  utils/check_docstrings.py
Due: none

more walrus
  utils/check_docstrings.py
Due: none

refactor: `NamedTemporaryFile` -> `TemporaryDirectory / Path`
  utils/check_docstrings.py
Due: none

ci: Use `--clear` in `uv venv` for 0.10.0
  .github/workflows/typing.yml
Due: pull-request-target

find exact polars version
  tests/frame/concat_test.py
Due: none

test: fix polars `test_concat_diagonal_invalid` again (#3451)
  tests/frame/concat_test.py
Due: none

test min pyspark version
  .github/workflows/pytest-pyspark.yml
Due: pull-request-target

small comment to trigger CI
  narwhals/_sql/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

ci: Use `--clear` in `uv venv` for 0.10.0 (#3462)
  .github/workflows/typing.yml
Due: pull-request-target

refactor: split out `ruff_check`
  pyproject.toml
  utils/check_docstrings.py
Due: none

fix to pad and zfill
  narwhals/_sql/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

cleanup
  narwhals/_sql/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

make everyone happy
  narwhals/_sql/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

perf: use `read_bytes` instead
  utils/check_docstrings.py
Due: none

feat: Add `nw.corr` implementation
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_expression_parsing.py
  narwhals/_ibis/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/_sql/namespace.py
  narwhals/functions.py
  pyproject.toml
  tests/expr_and_series/corr_test.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Add `ExitCode` alias
  utils/check_docstrings.py
Due: none

refactor: Split out `_restore_context`
  utils/check_docstrings.py
Due: none

rename `try_parse` -> `_try_parse_examples`
  utils/check_docstrings.py
Due: none

fix: Avoid introducing interleaved newlines
  utils/check_docstrings.py
Due: none

remove abandoned idea
  utils/check_docstrings.py
Due: none

fixup: Added ExprKind.MULTI_COLUMN_AGGREGATION, removed eager argument, and added function to stable API for v2
  narwhals/_expression_parsing.py
  narwhals/_polars/namespace.py
  narwhals/functions.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Minimize
  utils/check_docstrings.py
Due: none

docs: Add notes around columnar data and column names to contributing… (#3441)
  CONTRIBUTING.md
Due: none

chore: use walrus operator more (#3447)
  narwhals/_arrow/namespace.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_utils.py
  narwhals/testing/asserts/frame.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
