Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

refactor(typing): `IntoBackendExt` -> `IntoPlugin`
  narwhals/_plan/plugins/__init__.py
  narwhals/_plan/plugins/_manager.py
  narwhals/_plan/typing.py
  tests/plan/plugins_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: `_backend_to_plugin_name` -> `_plugin_name`
  narwhals/_plan/plugins/_manager.py
Due: imports-are-banned, self-self, dtypes-import

pyrefly typing
  tests/expr_and_series/pandas_str_dtypes_test.py
Due: none

fix: Allow `float('nan')` as value in join for duckdb (#3555)
  narwhals/_duckdb/dataframe.py
  narwhals/_pandas_like/series.py
  tests/frame/join_test.py
  tests/hypothesis/join_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove `require`
  narwhals/_plan/plugins/_manager.py
Due: imports-are-banned, self-self, dtypes-import

chore: Update notes
  narwhals/_plan/plugins/_manager.py
Due: imports-are-banned, self-self, dtypes-import

fixup check_api_reference.py
  utils/check_api_reference.py
Due: none

docs: Explain some of `PluginManager`
  narwhals/_plan/plugins/_manager.py
Due: imports-are-banned, self-self, dtypes-import

move TYPE_CHECKING import on top level
  tests/expr_and_series/concat_str_test.py
Due: none

feat: Use registry dispatch for `Series.from_native`
  narwhals/_plan/plugins/_manager.py
  narwhals/_plan/series.py
  narwhals/_plan/translate.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Use registry dispatch for `DataFrame.from_native`
  narwhals/_plan/dataframe.py
  narwhals/_plan/plugins/_manager.py
  narwhals/_plan/translate.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Remove default from `NativeFrameT_co`
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self

feat: Use registry dispatch for `LazyFrame.from_native`
  narwhals/_plan/compliant/lazyframe.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/lazyframe.py
  narwhals/_plan/plans/logical.py
  narwhals/_plan/plans/typing.py
  narwhals/_plan/plugins/_manager.py
  narwhals/_plan/translate.py
Due: imports-are-banned, self-self, dtypes-import

fix: Make `backend`, `version` required in `ScanFile`
  narwhals/_plan/io/__init__.py
  narwhals/_plan/plans/logical.py
Due: imports-are-banned, self-self, dtypes-import

chore: Make Polars compliant objects inherit from compliant protocols
  narwhals/_compliant/expr.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): replace `typing_can_eager_lazy_integration`
  narwhals/_plan/compliant/classes.py
  narwhals/_plan/plugins/_manager.py
  tests/plan/plugins_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Remove everything `import_classes`-related
  narwhals/_plan/compliant/classes.py
  narwhals/_plan/plugins/_manager.py
  tests/plan/plugins_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: move repr
  narwhals/_plan/plugins/_manager.py
Due: imports-are-banned, self-self, dtypes-import

chore: remove unnecessary `issubclass` check in `native_to_narwhals_dtype` in `_polars`
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Pre-emptively avoid toctou
  narwhals/_plan/plugins/_manager.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Make `from_native` less hacky
  narwhals/_plan/arrow/__init__.py
  narwhals/_plan/compliant/plugins.py
  narwhals/_plan/plugins/_manager.py
  narwhals/_plan/plugins/_typing.pyi
  narwhals/_plan/translate.py
  tests/plan/plugins_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify `from_iterable`
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/translate.py
  narwhals/_plan/polars/namespace.py
  narwhals/_plan/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify `from_dict`
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/translate.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

narrow cases in which fallback is performed
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

include python storage in test parametrisations
  tests/expr_and_series/pandas_str_dtypes_test.py
Due: none

clean
  tests/expr_and_series/pandas_str_dtypes_test.py
Due: none

fra's simplification
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

chore: remove unnecessary `issubclass` check in `native_to_narwhals_dtype` in `_polars` (#3594)
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

docs: Clarify behavior of `Expr.over(order_by=...)` (#3549)
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

add log expression for ibis that passes the base
  narwhals/_ibis/expr.py
  tests/expr_and_series/log_test.py
Due: imports-are-banned, self-self, dtypes-import

exclude from coverage
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import

exclude coverage from the test
  narwhals/_ibis/expr.py
  tests/expr_and_series/log_test.py
Due: imports-are-banned, self-self, dtypes-import

ci: Add check for building docs in strict mode (#3591)
  .github/workflows/check_docs_build.yml
  docs/api-reference/dtypes.md
  docs/concepts/null_handling.md
  docs/index.md
  pyproject.toml
  utils/check_api_reference.py
Due: pull-request-target

[Enh]: Fix bug in ibis where log base is not set to e by default (#3596)
  narwhals/_ibis/expr.py
  tests/expr_and_series/log_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify `concat_series*`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/compliant/concat.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/polars/dataframe.py
  narwhals/_plan/polars/series.py
  narwhals/_plan/polars/typing.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify `concat_df*`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/concat.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/functions/__init__.py
  narwhals/_plan/polars/dataframe.py
  narwhals/_plan/polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify eager IO
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/io.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/exceptions.py
  narwhals/_plan/io/__init__.py
  narwhals/_plan/polars/dataframe.py
  narwhals/_plan/polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

ci: Fixup darts downstream job
  .github/workflows/downstream_tests.yml
Due: pull-request-target

ci: Fixup darts downstream job (#3597)
  .github/workflows/downstream_tests.yml
Due: pull-request-target

enable is_finite tests.
  tests/expr_and_series/is_finite_test.py
Due: none

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
