Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

move def
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, dtypes-import

remove pandas and pyarrow from collect backends, add coverage
  narwhals/functions.py
  tests/from_dict_test.py
Due: imports-are-banned, dtypes-import

fix: Always collect `Iterator[IntoExpr]` in `utils.flatten`
  narwhals/utils.py
Due: imports-are-banned

yay unxfail modin
  narwhals/_pandas_like/utils.py
  tests/frame/schema_test.py
Due: imports-are-banned, dtypes-import

test: add `test_allh_iterator`
  tests/expr_and_series/all_horizontal_test.py
Due: none

add coverage to v1
  narwhals/stable/v1/__init__.py
  tests/from_dict_test.py
Due: imports-are-banned

unxfail pyspark
  tests/from_dict_test.py
Due: none

wip
  narwhals/_pandas_like/dataframe.py
  tests/frame/join_test.py
Due: imports-are-banned, dtypes-import

wip
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/group_by.py
  narwhals/_dask/namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/dataframe.py
  narwhals/translate.py
Due: imports-are-banned, dtypes-import

skip validation in some cases
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import

add modin and cudf backends
  narwhals/functions.py
  tests/from_dict_test.py
Due: imports-are-banned, dtypes-import

fix doctrings for v1
  narwhals/stable/v1/__init__.py
Due: imports-are-banned

fix(typing): Use correct `TypeVar`/`Union` pairs in `from_native`
  narwhals/translate.py
Due: imports-are-banned, dtypes-import

fix: Always collect `Iterator[IntoExpr]` in `utils.flatten` (#1934)
  narwhals/utils.py
  tests/expr_and_series/all_horizontal_test.py
Due: imports-are-banned

validate less in pandas
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/translate.py
Due: imports-are-banned, dtypes-import

fix(typing): Use correct `TypeVar`/`Union` pairs in `from_native` (#1935)
  narwhals/translate.py
Due: imports-are-banned, dtypes-import

import modules in `to_native_namespace`
  narwhals/utils.py
Due: imports-are-banned

fixup
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import

fix(typing): Use `IntoDataFrameT` in `to_native`
  narwhals/translate.py
Due: imports-are-banned, dtypes-import

fix
  tests/frame/schema_test.py
Due: none

add duckdb to `to_native_namespace`, remove modin and cudf from tests
  narwhals/utils.py
  tests/from_dict_test.py
Due: imports-are-banned

fix(typing): Use `IntoDataFrameT` in `to_native` (#1936)
  narwhals/translate.py
Due: imports-are-banned, dtypes-import

skip if duckdb is not installed
  tests/from_dict_test.py
Due: none

docs
  docs/how_it_works.md
Due: none

validate less in dask
  narwhals/_dask/dataframe.py
Due: imports-are-banned, dtypes-import

pragma no cover for cudf and pyspark
  narwhals/utils.py
Due: imports-are-banned

feat: validate duplicate column names in pyarrow and duckdb (#1815)
  .github/workflows/extremes.yml
  docs/how_it_works.md
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/group_by.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/exceptions.py
  narwhals/translate.py
  narwhals/utils.py
  tests/frame/join_test.py
  tests/frame/schema_test.py
Due: imports-are-banned, dtypes-import, pull-request-target

Update docs/backcompat.md
  docs/backcompat.md
Due: none

minor factor out validation of backend and native_namespace, drive-by dont require backend to be keyword-only in lazy
  narwhals/_pandas_like/dataframe.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import

ci: fix plotly downstream test
  .github/workflows/downstream_tests.yml
Due: pull-request-target

:party: remove outdated xfail
  tests/frame/lazy_test.py
Due: none

ci: fix plotly downstream test (#1938)
  .github/workflows/downstream_tests.yml
Due: pull-request-target

enh: Deprecate `native_namespace` in favour of `backend` in `from_dict` (#1931)
  narwhals/_pandas_like/dataframe.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/utils.py
  tests/frame/lazy_test.py
  tests/from_dict_test.py
Due: imports-are-banned, dtypes-import

feat: adds `Schema._version`
  narwhals/schema.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import

revert: remove `Schema.to_native`
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

wip
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

refactor: drop `backend`, use hard imports
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

refactor: use `Schema.to_(arrow|polars)` in `from_dict`
  narwhals/functions.py
Due: imports-are-banned, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
