Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

feat: Add `Series.{cast,drop_nulls,drop_nans}`
  narwhals/_plan/arrow/series.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/series.py
Due: imports-are-banned, self-self, dtypes-import

test: Simplify, parallelize `hist(bin_count=...)`
  narwhals/_plan/series.py
  tests/plan/hist_test.py
Due: imports-are-banned, self-self, dtypes-import

test: break up smaller `hist` stuff
  tests/plan/hist_test.py
Due: none

tidier?
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

factor-in `_hist_calculate_bins`
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

move `search_sorted`
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

refactor: `_hist_is_empty_series` -> `is_only_nulls`
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `hist_with_bins` -> `ArrowExpr.hist_bins`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move more of `hist_with_bin_count` -> `pyarrow`
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

refactor: More `hist` organizing
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/expressions/functions.py
Due: imports-are-banned, self-self, dtypes-import

stop fiddling w/ `hist` impl (for now)
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

test: Split out more tools for test gen
  tests/plan/hist_test.py
Due: none

test: Split up `test_hist_bins`
  tests/plan/hist_test.py
Due: none

chore: re-cover things
  narwhals/_plan/arrow/series.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/series.py
  narwhals/_plan/typing.py
  tests/plan/compliant_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Ensure `Expr.hist` only returns a struct when we have multiple fields
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/expr.py
  narwhals/_plan/series.py
  tests/plan/hist_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

chore: Align `Expr.hist` defaults with `pl.Expr.hist`
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/functions.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Cover `Expr.hist`
  tests/plan/hist_test.py
Due: none

feat: Add `DataFrame.explode`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test: Port tests from `main`
  tests/plan/explode_test.py
Due: none

feat: Validate dtypes at narwhals-level
  narwhals/_plan/dataframe.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Support `ArrowDataFrame.explode([column])`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/exceptions.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Support multi* column explode
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Fully support multi column explode
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

test: Cover selectors, >2 columns
  tests/plan/explode_test.py
Due: none

feat(expr-ir): Add `Series.explode`
  narwhals/_plan/arrow/series.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/series.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

make CompliantExprNameNamespace public (#3344)
  .github/workflows/extremes.yml
  narwhals/compliant.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

chore: Pass through `explode` options
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/series.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Support `Series.explode(empty_as_null=..., keep_nulls=...)`
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/series.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Don't fall back to `ArrowExpr.name`
  narwhals/_plan/arrow/expr.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

Unskip test_slice_with_series
  tests/frame/getitem_test.py
Due: none

Unskip tests/modern_polars/filter_test.py::test_filter
  tests/modern_polars/filter_test.py
Due: none

prep for `DataFrame.explode(..., **kwds)`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/options.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

Mark pivot test xfail
  tests/frame/pivot_test.py
Due: none

feat(expr-ir): Support `DataFrame.explode(*columns, **kwds)`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Looking cleaner
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

Unskip test_to_datetime_tz_aware
  tests/expr_and_series/str/to_datetime_test.py
Due: none

xfail test_concat_diagonal
  tests/frame/concat_test.py
Due: none

cover non-take, refactor to `explode_columns`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

"fix" typing
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/typing.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Just one version, thanks
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/series.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
