Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

docs(typing): Add `ToPandasArrowKwds`
  narwhals/typing.py
Due: imports-are-banned, self-self

feat: Update compliant-level `to_pandas` signatures
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

polars xfails
  tests/expr_and_series/name/map_test.py
  tests/expr_and_series/name/prefix_test.py
  tests/expr_and_series/name/suffix_test.py
  tests/expr_and_series/name/to_lowercase_test.py
  tests/expr_and_series/name/to_uppercase_test.py
Due: none

update docs
  narwhals/expr_name.py
Due: imports-are-banned, self-self, dtypes-import

remove outdated alias kw
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

fixup other polars nightlies
  tests/selectors_test.py
  tests/series_only/is_ordered_categorical_test.py
Due: none

dask
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

typing
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

xfail
  tests/selectors_test.py
Due: none

cov
  tests/series_only/is_ordered_categorical_test.py
Due: none

feat!: Allow for chaining `.name` expressions, aligning with Polars' new aliasing behaviour (#2898)
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_sql/expr.py
  narwhals/expr_name.py
  tests/expr_and_series/name/map_test.py
  tests/expr_and_series/name/prefix_test.py
  tests/expr_and_series/name/suffix_test.py
  tests/expr_and_series/name/to_lowercase_test.py
  tests/expr_and_series/name/to_uppercase_test.py
  tests/selectors_test.py
  tests/series_only/is_ordered_categorical_test.py
Due: imports-are-banned, self-self, dtypes-import

ci: fixup cudf tests
  tests/expr_and_series/division_by_zero_test.py
  tests/expr_and_series/name/suffix_test.py
  tests/modern_polars/pivot_test.py
  tests/modern_polars/unpivot_test.py
Due: none

just skip dask tests, they probably think we are "offering vitamins when they need painkillers" anyway
  narwhals/_dask/expr_dt.py
  tests/expr_and_series/dt/timestamp_test.py
Due: imports-are-banned, self-self, dtypes-import

ci: fixup cudf tests (#2899)
  narwhals/_dask/expr_dt.py
  tests/expr_and_series/division_by_zero_test.py
  tests/expr_and_series/dt/timestamp_test.py
  tests/expr_and_series/name/suffix_test.py
  tests/modern_polars/pivot_test.py
  tests/modern_polars/unpivot_test.py
Due: imports-are-banned, self-self, dtypes-import

remove dataframelike from stable.v2.typing
  narwhals/stable/v2/typing.py
Due: imports-are-banned, self-self

Update `ArrowDataFrame` runtime
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

feat: Update `DataFrame.to_pandas`
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test: Update `DataFrame.to_pandas`
  tests/frame/to_pandas_test.py
Due: none

fix: Ignore `**kwds` for interchange
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_interchange/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

revert: Don't default to using `types_mapper`
  narwhals/_arrow/series.py
  tests/series_only/to_pandas_test.py
Due: imports-are-banned, self-self, dtypes-import

add method version of binary ops
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

replicate test_expr_binary for the method versions
  tests/expr_and_series/binary_test.py
Due: none

fix ruff errors
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

add new methods to api reference
  docs/api-reference/expr.md
Due: none

keep imports test
  tests/v2_test.py
Due: none

remove test_interchange v2
  tests/v2_test.py
Due: none

enh: Start `narwhals.stable.v2` and enforce deprecations (#2814)
  .pre-commit-config.yaml
  docs/api-reference/expr.md
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  narwhals/stable/v2/_namespace.py
  narwhals/stable/v2/dependencies.py
  narwhals/stable/v2/dtypes.py
  narwhals/stable/v2/selectors.py
  narwhals/stable/v2/typing.py
  narwhals/translate.py
  pyproject.toml
  tests/from_dict_test.py
  tests/stable_api_test.py
  tests/translate/narwhalify_test.py
  tests/v1_test.py
  tests/v2_test.py
  utils/check_api_reference.py
Due: imports-are-banned, self-self, dtypes-import

docs: update docs for v2
  docs/backcompat.md
Due: none

docs: update docs for v2 (#2901)
  docs/backcompat.md
Due: none

release: Bump version to 2.0.0
  pyproject.toml
Due: none

release: Bump version to 2.0.0 (#2902)
  pyproject.toml
Due: none

wip simpler sqrt
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

wip corrected _when
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

wip adapted duckdb version
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix: Add `to_struct_array` compat for `pyarrow<15`
  narwhals/_arrow/dataframe.py
  tests/frame/to_pandas_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Partially utilize for `cuDF`
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

tests: more modern_polars tests - ewm_mean_test - filter_test
  tests/modern_polars/ewm_mean_test.py
  tests/modern_polars/filter_test.py
Due: none

- fixing polars minimum polars version for order_by
  tests/modern_polars/ewm_mean_test.py
Due: none

- get pyright and mypy checks
  tests/modern_polars/ewm_mean_test.py
Due: none

Update `Series.to_pandas` + test
  narwhals/series.py
  tests/series_only/to_pandas_test.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
