Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

feat(expr-ir): Support `group_by`, utilize `pyarrow.acero` (#3143)
  narwhals/_plan/_expansion.py
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_rewrites.py
  narwhals/_plan/arrow/acero.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/arrow/options.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/common.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/__init__.py
  narwhals/_plan/expressions/aggregation.py
  narwhals/_plan/group_by.py
  narwhals/_plan/options.py
  narwhals/_plan/protocols.py
  narwhals/_plan/schema.py
  narwhals/_plan/typing.py
  tests/plan/compliant_test.py
  tests/plan/expr_expansion_test.py
  tests/plan/expr_rewrites_test.py
  tests/plan/group_by_test.py
  tests/plan/temp_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Set up initial package structure
  narwhals/_plan/compliant/__init__.py
  narwhals/_plan/compliant/column.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/group_by.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `CompliantSeries`
  narwhals/_plan/_guards.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/protocols.py
  narwhals/_plan/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: add `typing.py`
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `*Namespace`, `*Concat`
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move *Broadcast` to `column.py`
  narwhals/_plan/compliant/column.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `*GroupBy` + friends
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/compliant/group_by.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/group_by.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `*Frame`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `ExprDispatch` to `column.py`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/compliant/column.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Separate `*Expr`, `*Scalar`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Rename `CompliantBaseFrame` -> `CompliantFrame`
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

style: Somewhat alphabetical member order
  narwhals/_plan/compliant/column.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/group_by.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/series.py
Due: imports-are-banned, self-self, dtypes-import

chore: Move up some `*Scalar` impls
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/compliant/scalar.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Rename `StoresVersion` -> `HasVersion`
  narwhals/_plan/compliant/column.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/compliant/typing.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Mostly resolve invariance issues
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/group_by.py
  narwhals/_plan/series.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import

feat(typing): `DataFrame.from_native` series typing!?!?!?!
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/dataframe.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): covariant `CompliantFrame`
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Split up and refine `protocols.py` (#3166)
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_guards.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/compliant/__init__.py
  narwhals/_plan/compliant/column.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/group_by.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/group_by.py
  narwhals/_plan/protocols.py
  narwhals/_plan/series.py
  narwhals/_plan/typing.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Use `temp.column_name(s)` some more
  narwhals/_plan/arrow/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Resolve some cases for `flatten_hash_safe`
  narwhals/_plan/common.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/expressions/selectors.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `prefix` argument to `generate_temporary_column_name` (#3147)
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_utils.py
  tests/utils_test.py
Due: imports-are-banned, self-self, dtypes-import

enh: Add `nw.format`#
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

add to stable
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/expr_and_series/format_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self

so stable it could drink you under a table
  tests/v1_test.py
  tests/v2_test.py
Due: none

fixup
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self

feat
  narwhals/_duckdb/utils.py
  narwhals/_exceptions.py
  narwhals/_utils.py
  narwhals/dependencies.py
  narwhals/functions.py
  narwhals/selectors.py
  narwhals/stable/v2/__init__.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

fixup#
  narwhals/dataframe.py
  narwhals/expr_list.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/series_list.py
Due: imports-are-banned, self-self, dtypes-import

ci: fix darts job
  .github/workflows/downstream_tests.yml
Due: pull-request-target

ci: fix darts job (#3172)
  .github/workflows/downstream_tests.yml
Due: pull-request-target

simplify grouped first/last#
  narwhals/_pandas_like/group_by.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Impl `acero.sort_by`
  narwhals/_plan/arrow/acero.py
Due: imports-are-banned, self-self, dtypes-import

simplify test, remove unnecessary over(order_by)
  tests/expr_and_series/first_test.py
Due: none

test: Port over `is_first_distinct` tests
  tests/plan/compliant_test.py
  tests/plan/group_by_test.py
  tests/plan/is_first_distinct_test.py
  tests/plan/utils.py
Due: none

combine tests
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_sql/expr.py
  tests/expr_and_series/first_last_test.py
  tests/expr_and_series/first_test.py
Due: imports-are-banned, self-self, dtypes-import

combine tests
  tests/expr_and_series/first_last_test.py
Due: none

duckdb fix#
  narwhals/_duckdb/expr.py
  narwhals/_sql/expr.py
  tests/expr_and_series/first_last_test.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import

sort out ibis
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/first_last_test.py
Due: imports-are-banned, self-self, dtypes-import

dask
  tests/expr_and_series/first_last_test.py
Due: none

add note to docs
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

remove unnecessary code
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
