Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

test: Run TPCH with SQLFrame[DuckDB] (#2228)
  tpch/execute.py
Due: none

raise if strategy is not None
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

Implement `fill_null` for spark-like (#2220)
  narwhals/_spark_like/expr.py
  tests/expr_and_series/fill_null_test.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): resolve for `pyarrow-stubs>=17.18`
  narwhals/_arrow/expr.py
  narwhals/_arrow/series.py
  tests/series_only/is_ordered_categorical_test.py
Due: imports-are-banned, dtypes-import, mypy

no cover?
  tests/series_only/is_ordered_categorical_test.py
Due: mypy

enh: Adds support for `Time` datatype (#2113)
  docs/api-reference/dtypes.md
  narwhals/__init__.py
  narwhals/_arrow/expr.py
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/utils.py
  narwhals/dtypes.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v1/_dtypes.py
  narwhals/stable/v1/dtypes.py
  narwhals/typing.py
  tests/dtypes_test.py
  tests/expr_and_series/cast_test.py
  tests/series_only/is_ordered_categorical_test.py
Due: imports-are-banned, dtypes-import, mypy

patch: xfail cast_test for cudf
  tests/expr_and_series/cast_test.py
Due: mypy

patch: xfail `cast_test.py::test_cast_time` for cudf (#2231)
  tests/expr_and_series/cast_test.py
Due: mypy

chore(typing): Mostly finish `CompliantLazyFrame`
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix: add missing `CompliantDataFrame.explode`
  narwhals/_arrow/dataframe.py
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): Adds `not_implemented.deprecated`
  narwhals/utils.py
Due: imports-are-banned, mypy

chore(typing): Finish `PolarsLazyFrame`
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Finish `SparkLikeLazyFrame`
  narwhals/_compliant/dataframe.py
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Finish `DaskLazyFrame`
  narwhals/_dask/dataframe.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Finish `DuckDBLazyFrame`
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): `PandasLikeDataFrame.explode`
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Mark `.lazy` return as `Incomplete`
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore: pin typing dependnecies
  Makefile
  pyproject.toml
Due: none

chore: pin typing dependnecies (#2233)
  Makefile
  pyproject.toml
Due: none

release: Bump version to 1.31.0
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

release: Bump version to 1.31.0 (#2234)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

docstrings
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  tests/read_scan_test.py
  tpch/execute.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Fill `Incomplete` for `*Expr`
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/selectors.py
  narwhals/_compliant/typing.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: `.from_iterable`, `.native`, generic
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_compliant/__init__.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/selectors.py
  narwhals/_compliant/series.py
  narwhals/_compliant/typing.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_translate.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Implement `__narwhals_series__`
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, dtypes-import, mypy

refactor(RFC): `CompliantSeries._with_native`
  narwhals/_compliant/series.py
Due: imports-are-banned, dtypes-import, mypy

chore: Implement `__len__`
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, dtypes-import, mypy

promote `cast`
  narwhals/_compliant/series.py
Due: imports-are-banned, dtypes-import, mypy

chore: `CompliantSeries` methods
  narwhals/_compliant/series.py
Due: imports-are-banned, dtypes-import, mypy

chore(DRAFT): `CompliantSeries` namespaces
  narwhals/_compliant/series.py
Due: imports-are-banned, dtypes-import, mypy

fix: Mark `ArrowSeries.ewm_mean` as `not_implemented`
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import, mypy

override `__(eq|ne)__`
  narwhals/_compliant/series.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): `PandasLikeSeries.to_polars` return type
  narwhals/_pandas_like/series.py
Due: imports-are-banned, dtypes-import, mypy

narrow partial generics
  narwhals/_compliant/series.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Satisfy `pyright`
  narwhals/_compliant/series.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/translate.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Satisfy `mypy`
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

fix: revert and adapt `to_numpy`
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

add dependency groups
  pyproject.toml
Due: none

remove default groups
  pyproject.toml
Due: none

update makefile
  Makefile
Due: none
