Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

extend this overload abomination
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `_ImplDescriptor` to `_utils`
  narwhals/_utils.py
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat(typing): Add (new) `Series.implementation`
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

oop
  narwhals/_utils.py
Due: imports-are-banned, self-self

test(typing): Add `Series` tests
  tests/implementation_test.py
Due: none

test: Redo everything, check collect as well
  tests/implementation_test.py
Due: none

wip: add test-plugin
  .pre-commit-config.yaml
  narwhals/translate.py
  tests/test-plugin/pyproject.toml
  tests/test-plugin/test_plugin/__init__.py
  tests/test-plugin/test_plugin/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

wip
  tests/test-plugin/test_plugin/dataframe.py
Due: none

fixup
  narwhals/_utils.py
  narwhals/translate.py
  tests/test-plugin/test_plugin/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

remove unused function, fixup type ignore
  narwhals/_utils.py
  tests/test-plugin/test_plugin/dataframe.py
Due: imports-are-banned, self-self

install test-plugin in CI
  .github/workflows/pytest.yml
Due: pull-request-target

pass Version down
  narwhals/translate.py
  tests/test-plugin/test_plugin/__init__.py
Due: imports-are-banned, self-self, dtypes-import

fixup, remove more defaults
  narwhals/stable/v2/__init__.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

coverage
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

actually stage test file
  narwhals/translate.py
  tests/plugins_test.py
  tests/test-plugin/__init__.py
  tests/test-plugin/test_plugin/__init__.py
Due: imports-are-banned, self-self, dtypes-import

remove daft traces
  tests/test-plugin/test_plugin/dataframe.py
Due: none

rename
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  tests/test_plugin/__init__.py
  tests/test_plugin/pyproject.toml
  tests/test_plugin/test_plugin/__init__.py
  tests/test_plugin/test_plugin/dataframe.py
Due: pull-request-target

install test_plugin in makefile
  Makefile
Due: none

coverage
  Makefile
  tests/plugins_test.py
  tests/test_plugin/test_plugin/__init__.py
  tests/test_plugin/test_plugin/dataframe.py
Due: none

fix typing (for real this time)
  tests/plugins_test.py
  tests/test_plugin/test_plugin/__init__.py
  tests/test_plugin/test_plugin/dataframe.py
Due: none

aah ruff check was removing the not-really-unused import
  tests/test_plugin/test_plugin/dataframe.py
Due: none

return python scalar for Series.mode(keep='any')
  narwhals/series.py
  tests/expr_and_series/mode_test.py
Due: imports-are-banned, self-self, dtypes-import

missing typing default
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

lru_cache -> cache
  narwhals/_utils.py
Due: imports-are-banned, self-self

implemented groupby mode for dask via custom aggregation
  narwhals/_dask/expr.py
  narwhals/_dask/group_by.py
  narwhals/_pandas_like/group_by.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/mode_test.py
Due: imports-are-banned, self-self, dtypes-import

no cover dask exception
  narwhals/_dask/group_by.py
Due: imports-are-banned, self-self, dtypes-import

test: `tmpdir` -> `tmp_path`
  tests/read_scan_test.py
Due: none

test: Add `{csv,parquet}_path` fixtures
  tests/read_scan_test.py
Due: none

test: reuse `@parametrize`
  tests/read_scan_test.py
Due: none

test: reuse `eager_backend` fixture
  tests/read_scan_test.py
Due: none

test: Add `assert_equal_{eager,lazy}`
  tests/read_scan_test.py
Due: none

test: Avoid unused assignment
  tests/read_scan_test.py
Due: none

test: Add `native_namespace`
  tests/read_scan_test.py
Due: none

test: Factor out session building
  tests/read_scan_test.py
Due: none

test: match message pattern
  tests/read_scan_test.py
Due: none

test: Omit unused `getattr` typing
  tests/read_scan_test.py
Due: none

test: Make most one-liners 😄
  tests/read_scan_test.py
Due: none

cov
  tests/read_scan_test.py
Due: none

clean up test, uniformize error message
  narwhals/_dask/group_by.py
  narwhals/_pandas_like/group_by.py
  narwhals/_sql/expr.py
  tests/expr_and_series/mode_test.py
Due: imports-are-banned, self-self, dtypes-import
