Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

test: polars categorical physical order deprecation and (temporarely) xfail datetime selectors (#2922)
  narwhals/_utils.py
  pyproject.toml
  tests/selectors_test.py
  tests/series_only/is_ordered_categorical_test.py
Due: imports-are-banned, self-self

fix: Use updated `from_arrow` import for `modin` (#2919)
  narwhals/_pandas_like/dataframe.py
  tests/frame/from_arrow_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: share everything
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

revert: remove todos
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Shrink `Polars*Namespace(s)`, but more (#2929)
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Fix `(Compliant|Polars)Series` namespaces (#2918)
  narwhals/_compliant/series.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: defer to `Expr.list.len` for `Series`
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

fix mypy complaint
  narwhals/_compliant/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Prep for `@expr_dispatch`
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Shrink `Polars*Namespace`(s) (#2897)
  narwhals/_compliant/series.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_polars/typing.py
  narwhals/_polars/utils.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `Schema.from_arrow`
  narwhals/schema.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `Schema.from_polars`
  narwhals/schema.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `Schema.from_pandas`
  narwhals/schema.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `test_schema_from_polars`
  tests/frame/schema_test.py
Due: none

docs: Enable darglint for dataframe and series modules
  .pre-commit-config.yaml
  narwhals/dataframe.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

docstring to comment
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

docs: Enable darglint for dataframe and series modules (#2931)
  .pre-commit-config.yaml
  narwhals/dataframe.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

WIP
  tests/dependencies/is_native_dataframe_series_raise_test.py
  tests/dependencies/is_pandas_dataframe_test.py
  tests/dependencies/is_pandas_index_test.py
  tests/dtypes_test.py
  tests/expr_and_series/cat/get_categories_test.py
  tests/expr_and_series/concat_str_test.py
  tests/expr_and_series/dt/datetime_duration_test.py
  tests/expr_and_series/dt/timestamp_test.py
  tests/expr_and_series/dt/truncate_test.py
  tests/expr_and_series/exp_test.py
  tests/expr_and_series/lit_test.py
  tests/expr_and_series/over_test.py
  tests/expr_and_series/rolling_mean_test.py
  tests/expr_and_series/rolling_sum_test.py
  tests/expr_and_series/shift_test.py
  tests/expr_and_series/str/to_datetime_test.py
  tests/expr_and_series/struct_/field_test.py
  tests/frame/group_by_test.py
  tests/frame/lazy_test.py
  tests/frame/schema_test.py
  tests/frame/select_test.py
  tests/frame/to_arrow_test.py
  tests/series_only/getitem_test.py
  tests/series_only/to_arrow_test.py
  tests/translate/to_py_scalar_test.py
  tests/utils.py
  tests/utils_test.py
Due: none

feat: Add `Series.from_iterable`
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add to `v1`, `v2`
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self

docs: Adapt `Series.from_numpy`
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

test: Port `new_series` tests
  tests/series_only/from_iterable_test.py
  tests/series_only/from_numpy_test.py
  tests/utils.py
Due: none

test: cover failure cases
  tests/series_only/from_iterable_test.py
Due: none

docs: Add to api reference
  docs/api-reference/series.md
  utils/check_api_reference.py
Due: none

test: cover `v1`, `v2`
  tests/v1_test.py
  tests/v2_test.py
Due: none

test: don't rely on `pandas` supporting `[us]`
  tests/v1_test.py
  tests/v2_test.py
Due: none

test: xfail pandas `[ms]`
  tests/v2_test.py
Due: none

pyarrow independent
  tests/dtypes_test.py
  tests/expr_and_series/cast_test.py
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/offset_by_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
  tests/expr_and_series/exp_test.py
  tests/expr_and_series/is_nan_test.py
  tests/expr_and_series/list/len_test.py
  tests/expr_and_series/lit_test.py
  tests/expr_and_series/log_test.py
  tests/expr_and_series/sqrt_test.py
  tests/frame/collect_test.py
  tests/frame/explode_test.py
  tests/frame/interchange_native_namespace_test.py
  tests/frame/interchange_schema_test.py
  tests/frame/interchange_select_test.py
  tests/frame/interchange_to_pandas_test.py
  tests/frame/schema_test.py
  tests/frame/sink_parquet_test.py
  tests/frame/to_pandas_test.py
  tests/frame/write_parquet_test.py
  tests/read_scan_test.py
  tests/series_only/cast_test.py
  tests/series_only/to_pandas_test.py
Due: none

rm top level pandas imports
  tests/expr_and_series/cast_test.py
  tests/expr_and_series/list/len_test.py
  tests/expr_and_series/log_test.py
  tests/expr_and_series/sqrt_test.py
  tests/expr_and_series/str/to_datetime_test.py
  tests/frame/get_column_test.py
  tests/frame/getitem_test.py
  tests/frame/interchange_to_pandas_test.py
  tests/frame/invalid_test.py
  tests/frame/join_test.py
  tests/frame/reindex_test.py
  tests/frame/rows_test.py
  tests/frame/schema_test.py
  tests/frame/to_pandas_test.py
  tests/frame/with_columns_test.py
  tests/from_dict_test.py
  tests/from_pycapsule_test.py
  tests/hypothesis/join_test.py
  tests/new_series_test.py
  tests/no_imports_test.py
  tests/read_scan_test.py
  tests/repr_test.py
  tests/series_only/hist_test.py
  tests/series_only/scatter_test.py
  tests/series_only/to_pandas_test.py
  tests/tpch_q1_test.py
  tests/utils_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: none

fix issues
  tests/expr_and_series/list/len_test.py
  tests/frame/arrow_c_stream_test.py
  tests/frame/schema_test.py
  tests/from_pycapsule_test.py
  tests/no_imports_test.py
Due: none

wip operator
  narwhals/_sql/expr.py
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self, dtypes-import

rename `header` -> `caption_text`
  narwhals/_utils.py
Due: imports-are-banned, self-self

change `caption-side` to `top`
  narwhals/_utils.py
Due: imports-are-banned, self-self

wip operator: added thoughts
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self

refactor: remove `Compliant(Data|Lazy)Frame._evaluate_aliases`
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/group_by.py
  narwhals/_polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `CompliantLazyFrame._evaluate_expr`
  narwhals/_compliant/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_sql/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `Compliant(Data|Lazy)Frame._check_columns_exist`
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_sql/dataframe.py
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move/remove private `Compliant*Frame` methods (#2934)
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/group_by.py
  narwhals/_dask/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_sql/dataframe.py
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

chore: enable more Ruff rules (`RET505`, `A005`, `ISC001`, `PD003`) (#2923)
  narwhals/__init__.py
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_arrow/series_dt.py
  narwhals/_arrow/utils.py
  narwhals/_compliant/group_by.py
  narwhals/_compliant/namespace.py
  narwhals/_compliant/series.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_dask/expr_dt.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/utils.py
  narwhals/_interchange/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_dt.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/namespace.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/namespace.py
  narwhals/_utils.py
  narwhals/dtypes.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/schema.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  narwhals/translate.py
  pyproject.toml
  tests/translate/get_native_namespace_test.py
Due: imports-are-banned, self-self, dtypes-import

wip operator: modified Self import
  narwhals/_sql/expr.py
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self, dtypes-import
