Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

refactor: Use `CompliantExpr._evaluate_aliases` more
  narwhals/_compliant/expr.py
  narwhals/_dask/utils.py
Due: imports-are-banned, dtypes-import, mypy

test: Skip `over` for `duckdb<1.3`
  tests/group_by_test.py
Due: mypy

chore: Remove dead code
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Move `with_columns` out of `__init__`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/group_by.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/group_by.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/group_by.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/group_by.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/group_by.py
Due: imports-are-banned, dtypes-import, mypy

chore: simplify `PandasLikeDataFrame.with_columns`
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Update tests/expr_and_series/rank_test.py
  tests/expr_and_series/rank_test.py
Due: mypy

Fixed typo.
  tests/expr_and_series/rank_test.py
Due: mypy

rm NotImplementedError path
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

feat: Add `v1` backport
  narwhals/_namespace.py
  narwhals/stable/v1/_namespace.py
  narwhals/utils.py
  tests/namespace_test.py
Due: imports-are-banned, dtypes-import, mypy

test: Add `test_namespace_init_subclass`
  tests/namespace_test.py
Due: mypy

test: `3.9` compat
  tests/namespace_test.py
Due: mypy

chore(typing): Make `PolarsSeries` compliant
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Un-confuse `mypy`
  narwhals/_polars/series.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Make `PolarsExpr` compliant
  narwhals/_compliant/expr.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Comment on outsanding issue
  narwhals/_polars/namespace.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Update `PolarsNamespace.selectors`
  narwhals/_polars/namespace.py
Due: imports-are-banned, dtypes-import, mypy

chore: Ignore coverage on `PolarsExpr.__narwhals_namespace__`
  narwhals/_polars/expr.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Fix `[assignment]` with `extract_args_kwargs`
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Fix `DTypes` typing
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, mypy

chore: use less sql for duckdb
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

join_asof too
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

coverage
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

special paths for pandas-like and dask
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

move parsing to group_by
  narwhals/dataframe.py
  tests/frame/select_test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Fix `DTypes` typing (#2330)
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, mypy

chore(typing): Fix `[assignment]` with `extract_args_kwargs` (#2329)
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
Due: imports-are-banned, dtypes-import, mypy

Update tests/group_by_test.py
  tests/group_by_test.py
Due: mypy

test: unify tests in `group_by_test.py` (#2195)
  tests/group_by_test.py
Due: mypy

chore: simplify `PandasLikeDataFrame.with_columns` (#2327)
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

test: fix wrong reason in group_by_test
  tests/group_by_test.py
Due: mypy

feat: Add docstring template
  docstring_template.mustache
Due: none

test: fix wrong reason in `group_by_test.py` (#2332)
  tests/group_by_test.py
Due: mypy

chore: Make `Polars(Expr|Series)` compliant (#2328)
  narwhals/_compliant/expr.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
Due: imports-are-banned, dtypes-import, mypy

chore: Transition `selectors` away from `Protocol38` (#2326)
  narwhals/_arrow/namespace.py
  narwhals/_arrow/selectors.py
  narwhals/_compliant/__init__.py
  narwhals/_compliant/selectors.py
  narwhals/_compliant/typing.py
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/selectors.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

Update narwhals/_compliant/namespace.py
  narwhals/_compliant/namespace.py
Due: imports-are-banned, dtypes-import, mypy

chore: Add `Compliant*.from_native` (#2315)
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_compliant/__init__.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/namespace.py
  narwhals/_compliant/series.py
  narwhals/_compliant/typing.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/namespace.py
  narwhals/_translate.py
  narwhals/translate.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

test: use constructor_eager for testing gather_every
  tests/conftest.py
  tests/frame/gather_every_test.py
Due: mypy

use constructor_eager in from_numpy tests
  tests/from_numpy_test.py
Due: mypy
