Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

coverage
  tests/frame/gather_every_test.py
Due: mypy

test: use constructor_eager for testing gather_every (#2334)
  tests/conftest.py
  tests/frame/gather_every_test.py
  tests/from_numpy_test.py
Due: mypy

refactor(typing): Update `_expression_parsing`
  narwhals/_compliant/typing.py
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): Update `utils`
  narwhals/utils.py
Due: imports-are-banned, mypy

fix: unpivot was unnecessary failing for PySpark/SQLFrame when neither `on` nor `index` were passed
  narwhals/_spark_like/dataframe.py
  tests/frame/unpivot_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): Update `expr`, `when_then`
  narwhals/_arrow/expr.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/when_then.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

docs: Add traling docs to aliases
  narwhals/_compliant/typing.py
Due: imports-are-banned, mypy

Update narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix: unpivot was unnecessary failing for PySpark/SQLFrame when neither `on` nor `index` were passed (#2335)
  narwhals/_spark_like/dataframe.py
  tests/frame/unpivot_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: Add doc to `EvalNames`
  narwhals/_compliant/typing.py
Due: imports-are-banned, mypy

chore: split up eager and lazy unique tests
  tests/frame/unique_test.py
Due: mypy

:label:
  tests/frame/unique_test.py
Due: mypy

refactor(typing): Simplify `concat` signature
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import, mypy

test(typing): Correctly ignore on invalid test
  tests/frame/invalid_test.py
Due: mypy

support keep=none for spark-like
  narwhals/_duckdb/dataframe.py
  narwhals/_spark_like/dataframe.py
  tests/frame/unique_test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Just cast for now
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

coverage
  tests/frame/unique_test.py
Due: mypy

rename assert_type -> ensure_type
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

add Enum support to dask
  narwhals/_dask/utils.py
Due: imports-are-banned, dtypes-import, mypy

modin to xfail on Enum dtype
  tests/series_only/cast_test.py
Due: mypy

use self.columns instead of rel.columns as that gets cached
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

put rel back
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

feat: disallow how=horizontal for lazy concat
  narwhals/_compliant/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  tests/frame/concat_test.py
Due: imports-are-banned, dtypes-import, mypy

stable api docstring
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

coverage
  tests/frame/concat_test.py
Due: mypy

Enum support outside of V1
  narwhals/_dask/utils.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  narwhals/stable/v1/_dtypes.py
  tests/series_only/cast_test.py
Due: imports-are-banned, dtypes-import, mypy

Fix v1 enum missing argument teset
  tests/dtypes_test.py
Due: mypy

fix enum error match for py38
  tests/dtypes_test.py
Due: mypy

add pragma: no cover to v1.Enum from aligned with DType class
  narwhals/stable/v1/_dtypes.py
Due: imports-are-banned, mypy

parametrize api versions for dtypes tests
  tests/frame/schema_test.py
  tests/series_only/cast_test.py
Due: mypy

decouple narwhals versioned dtypes
  tests/series_only/cast_test.py
Due: mypy

fix(typing): Make `IntoSeries` non-recursive
  narwhals/typing.py
Due: imports-are-banned, mypy

test: Add `test_series_recursive`
  tests/translate/from_native_test.py
Due: mypy

chore(DRAFT): Add todo
  narwhals/typing.py
Due: imports-are-banned, mypy

fix(typing): Try a more aggressive fix
  narwhals/functions.py
  narwhals/translate.py
  narwhals/typing.py
  tests/translate/from_native_test.py
Due: imports-are-banned, dtypes-import, mypy

test: tidy up
  tests/translate/from_native_test.py
Due: mypy

fix(typing): `v1` backport
  narwhals/stable/v1/__init__.py
  tests/translate/from_native_test.py
Due: imports-are-banned, mypy

remove todo
  narwhals/typing.py
Due: imports-are-banned, mypy

refactor(typing): Simplify `concat` signature (#2339)
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  tests/frame/invalid_test.py
Due: imports-are-banned, dtypes-import, mypy

enh: support `unique(keep='none')` for pyspark/sqlframe (#2338)
  narwhals/_duckdb/dataframe.py
  narwhals/_spark_like/dataframe.py
  tests/frame/unique_test.py
Due: imports-are-banned, dtypes-import, mypy
