Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

test: xfail unimplemented
  tests/plan/read_scan_test.py
Due: none

Ddof is 1 comment
  narwhals/functions.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self, dtypes-import

type alias for CorrMethod
  narwhals/_arrow/namespace.py
  narwhals/_compliant/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/functions.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import

test for NaN propogration
  tests/expr_and_series/corr_test.py
Due: none

Copy-paste typo correction for error
  narwhals/_arrow/namespace.py
  narwhals/_ibis/namespace.py
Due: imports-are-banned, self-self, dtypes-import

:label:
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

v1/v2 fix
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self, dtypes-import

chore: Add `generate_protocol_impl` tool
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/polars/__init__.py
  narwhals/_plan/polars/expr.py
  utils/generate_protocol_impl.py
Due: imports-are-banned, self-self, dtypes-import

fix: Avoid some new circular imports
  narwhals/_plan/_dispatch.py
  narwhals/_plan/_namespace.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/expressions/literal.py
  narwhals/_plan/expressions/selectors.py
  narwhals/_plan/functions/__init__.py
  narwhals/_plan/functions/ranges.py
  narwhals/_plan/io/__init__.py
Due: imports-are-banned, self-self, dtypes-import

chore: Don't xfail on self-deprecate
  pyproject.toml
Due: none

docs: Explain `_plan.compliant` a bit
  narwhals/_plan/compliant/__init__.py
Due: imports-are-banned, self-self

feat(polars): And so it begins again
  narwhals/_plan/compliant/package.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

feat(polars): Add minimal `int_range`
  narwhals/_plan/polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

chore: Align exports
  narwhals/_plan/polars/__init__.py
  narwhals/_plan/polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

🤯 it seems to be working?
  narwhals/_plan/compliant/package.py
Due: imports-are-banned, self-self, dtypes-import

feat(typing): Add `ranges` protocols
  narwhals/_plan/compliant/__init__.py
  narwhals/_plan/compliant/ranges.py
  narwhals/_plan/compliant/typing.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Minimize `io` boilerplate too
  narwhals/_plan/compliant/io.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Use `ranges` in `namespace`
  narwhals/_plan/compliant/namespace.py
Due: imports-are-banned, self-self, dtypes-import

Update marimo downstream CI to use uv instead of hatch
  .github/workflows/downstream_tests.yml
Due: pull-request-target

feat(polars): Implement a chunk of `Series`
  narwhals/_plan/arrow/series.py
  narwhals/_plan/common.py
  narwhals/_plan/compliant/accessors.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/package.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/polars/__init__.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/polars/namespace.py
  narwhals/_plan/polars/series.py
Due: imports-are-banned, self-self, dtypes-import

feat(polars): Implement a bigger chunk of `Series`
  narwhals/_plan/polars/lazyframe.py
  narwhals/_plan/polars/namespace.py
  narwhals/_plan/polars/series.py
Due: imports-are-banned, self-self, dtypes-import

feat(polars): Handle some `Series` compat
  narwhals/_plan/polars/series.py
Due: imports-are-banned, self-self, dtypes-import

new sqlframe compat
  tests/expr_and_series/skew_test.py
  tests/frame/join_test.py
Due: none

more xfail
  tests/expr_and_series/skew_test.py
Due: none

feat(polars): Add most `Series` operators
  narwhals/_plan/polars/series.py
Due: imports-are-banned, self-self, dtypes-import

feat(polars): Add `Series.__rfloordiv__` compat
  narwhals/_plan/polars/series.py
Due: imports-are-banned, self-self, dtypes-import

feat(polars): Add `Series.__rpow__` compat
  narwhals/_plan/polars/series.py
Due: imports-are-banned, self-self, dtypes-import

feat(polars): Add most of `DataFrame`
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat(polars): Add `DataFrame.join*`
  narwhals/_plan/polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat(polars): Add eager range methods
  narwhals/_plan/polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

the long road to covariance ...
  narwhals/_plan/_namespace.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/package.py
  narwhals/_plan/compliant/ranges.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Migrate `ranges` to new protocols
  narwhals/_plan/_namespace.py
  narwhals/_plan/functions/ranges.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Update end year in LICENSE.md
  LICENSE.md
Due: none

fix: Enable Expr.replace_strict for SQLFrame
  narwhals/_spark_like/expr.py
  tests/expr_and_series/replace_strict_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `TestBackend`
  tests/plan/utils.py
Due: none

test: Add narwhals-level constructors
  narwhals/_plan/dataframe.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

test: Implement `pytest_generate_tests`, use `lazyframe`
  tests/plan/conftest.py
  tests/plan/lazyframe_test.py
  tests/plan/utils.py
Due: none

test: Use polars in `eager`, `eager_or_false` fixtures
  tests/plan/conftest.py
  tests/plan/range_test.py
  tests/plan/utils.py
Due: none

feat(typing): Start integrating polars into typing
  narwhals/_plan/dataframe.py
  narwhals/_plan/functions/ranges.py
  narwhals/_plan/io/__init__.py
  narwhals/_plan/polars/typing.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
