Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
  skip: [mypy]
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.11.8'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: init-env
      name: init-env
      entry: python --version
      language: python
      pass_filenames: false
      description: This hook serves as a env initializer, used both in check-api-reference and mypy hook
    - id: check-api-reference
      name: check-api-reference
      entry: make check-api-reference
      language: system
      require_serial: true
      pass_filenames: false
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
    - id: mypy
      name: mypy
      entry: make typing
      language: system
      types: [python]
      require_serial: true
      pass_filenames: false
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

refactor: Add `ExprIRNamespace`
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import, mypy

get pandas zfill to work
  narwhals/_compliant/expr.py
  narwhals/_pandas_like/series_str.py
  narwhals/expr_str.py
  narwhals/series_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: `name.py` rewrite + integrate
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
  narwhals/_plan/expr.py
  narwhals/_plan/meta.py
  narwhals/_plan/name.py
Due: imports-are-banned, self-self, dtypes-import, mypy

coverage happier
  tests/frame/select_test.py
Due: mypy

feat: Rewrite selectors, factor out `_BinaryOp`
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
  narwhals/_plan/expr.py
  narwhals/_plan/operators.py
  narwhals/_plan/selectors.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: share more `WindowInputs` code
  Makefile
  narwhals/_compliant/typing.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/typing.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/typing.py
  narwhals/_ibis/utils.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/typing.py
  narwhals/_spark_like/utils.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import, mypy

git add window
  narwhals/_compliant/window.py
Due: imports-are-banned, self-self, dtypes-import, mypy

use alias
  narwhals/_duckdb/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fixup
  narwhals/_duckdb/expr.py
  tests/translate/from_native_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Add selectors reprs
  narwhals/_plan/dummy.py
  narwhals/_plan/expr.py
  narwhals/_plan/selectors.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Fix CI for PySpark 4.0
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Expressify `over`, `sort_by`
  narwhals/_plan/dummy.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Fix CI for PySpark 4.0 (#2601)
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Expressify `concat_str`
  narwhals/_plan/demo.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add to the api-reference
  docs/api-reference/expr_str.md
  docs/api-reference/series_str.md
Due: none

add tests for the zfill
  tests/expr_and_series/str/zfill_test.py
Due: mypy

implement for other backends
  narwhals/_arrow/series_str.py
  narwhals/_duckdb/expr_str.py
  narwhals/_ibis/expr_str.py
  narwhals/_spark_like/expr_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add the series tests
  tests/expr_and_series/str/zfill_test.py
Due: mypy

feat: Implement `Expr.meta.root_names`
  narwhals/_plan/common.py
  narwhals/_plan/meta.py
  tests/plan/meta_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: polars backcompat
  tests/plan/meta_test.py
Due: mypy

cov
  tests/plan/meta_test.py
Due: mypy

add additional test cases
  tests/expr_and_series/str/zfill_test.py
Due: mypy

WIP
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  tests/expr_and_series/cum_sum_test.py
  tests/expr_and_series/over_test.py
  tests/series_only/cast_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

share code
  narwhals/_duckdb/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import, mypy

use CachedTimeZone
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/series.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

ci: pin modin for now
  pyproject.toml
Due: none

try again
  pyproject.toml
Due: none

set pin in workflows
  .github/workflows/pytest.yml
  narwhals/_pandas_like/dataframe.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

ci: pin modin for now (#2604)
  .github/workflows/pytest.yml
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

deal with T literal, refactor a bit
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/utils.py
  tests/expr_and_series/dt/replace_time_zone_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

pragma no cover None format case
  narwhals/_spark_like/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

rename, make `fetch_time_zone` function
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/series.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

avoid passing rel around
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/series.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

noop -> no_op
  narwhals/_duckdb/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import, mypy

enh: reflect connection time zone in `Datetime` for DuckDB, support `convert_time_zone` and `replace_time_zone` (#2590)
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/series.py
  narwhals/_duckdb/utils.py
  tests/conftest.py
  tests/dtypes_test.py
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: spark-like pass_through=True, eager_only=True interaction
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add test
  tests/translate/from_native_test.py
Due: mypy

add reason, rm no cover
  tests/translate/from_native_test.py
Due: mypy

add pyspark tests
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/utils.py
  tests/dtypes_test.py
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

typing
  narwhals/_spark_like/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy
