Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

ibis fixup
  narwhals/_ibis/utils.py
Due: imports-are-banned, self-self, dtypes-import

wip share function/lit/coalesce
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

typing typing mctypingface
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `DataFrame.from_dict`
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import

docs: Adapt `from_dict` docstring
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test: Adapt `from_dict` tests
  tests/conftest.py
  tests/frame/from_dict_test.py
Due: none

chore(typing): Ignore `var-annotated` for now
  tests/frame/from_dict_test.py
Due: none

fix(typing): Resolve `[var-annotated]` by not using `Self`
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  tests/frame/from_dict_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Cover `v1`
  tests/v1_test.py
Due: none

fix typing for str.replace
  narwhals/_compliant/expr.py
  narwhals/_pandas_like/series_str.py
  narwhals/_polars/series.py
  narwhals/expr_str.py
  narwhals/series_str.py
Due: imports-are-banned, self-self, dtypes-import

move histdata into type-checking block
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): `CompliantSeries` -> `EagerSeries`
  narwhals/_compliant/series.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): `Any` -> `EagerDataFrameAny`
  narwhals/_compliant/series.py
Due: imports-are-banned, self-self, dtypes-import

docs(typing): note constructor issue
  narwhals/_arrow/series.py
Due: imports-are-banned, self-self, dtypes-import

rm '_' prefix, stay native in _linear_space
  narwhals/_arrow/series.py
  narwhals/_compliant/__init__.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `DataFrame.from_numpy`
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, dtypes-import

docs: Port `from_numpy` docstring
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: add compliant level parent class for `hist` (#2882)
  narwhals/_arrow/series.py
  narwhals/_compliant/__init__.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import

test: Port `from_numpy` tests
  tests/frame/from_numpy_test.py
Due: none

chore: share namespace features between duckdb/spark/ibis (#2884)
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/namespace.py
  narwhals/_ibis/utils.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/_sql/expr.py
  narwhals/_sql/namespace.py
Due: imports-are-banned, self-self, dtypes-import

chore: factor out when
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/_sql/expr.py
  narwhals/_sql/namespace.py
  narwhals/_sql/when_then.py
Due: imports-are-banned, self-self, dtypes-import

daily reminder to avoid solving conflicts in the github UI
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

typing
  narwhals/_sql/namespace.py
  narwhals/_sql/when_then.py
Due: imports-are-banned, self-self, dtypes-import

remove when
  narwhals/_sql/namespace.py
Due: imports-are-banned, self-self, dtypes-import

remove arg_min/arg_max from compliant expr
  narwhals/_compliant/expr.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, dtypes-import

1. Input data to lowercase to avoid sql error 2. datetime instead of date to avoid dask error
  tests/modern_polars/pivot_test.py
  tests/modern_polars/unpivot_test.py
Due: none

fix: clip returns ignores 0
  narwhals/_arrow/series.py
  narwhals/_pandas_like/series.py
  tests/expr_and_series/clip_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: `.clip` should not treat 0 and None as same (#2889)
  narwhals/_arrow/series.py
  narwhals/_pandas_like/series.py
  tests/expr_and_series/clip_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `v1` tests
  tests/v1_test.py
Due: none

feat: Add `DataFrame.from_arrow`
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, dtypes-import

test: Add main tests
  tests/frame/from_arrow_test.py
Due: none

test: rename main tests
  tests/frame/from_arrow_test.py
Due: none

coverage
  tests/frame/from_arrow_test.py
  tests/v1_test.py
Due: none

cov pls
  tests/v1_test.py
Due: none

fix `get_column` typing for `stable.v1`
  narwhals/stable/v1/__init__.py
  tests/v1_test.py
Due: imports-are-banned, self-self

wip
  narwhals/stable/v1/__init__.py
  tests/v1_test.py
Due: imports-are-banned, self-self

test: Modern Polars end-to-end tests (#2871)
  tests/modern_polars/__init__.py
  tests/modern_polars/pivot_test.py
  tests/modern_polars/unpivot_test.py
Due: none

fix `get_column` typing for `stable.v1` (#2892)
  narwhals/stable/v1/__init__.py
  tests/v1_test.py
Due: imports-are-banned, self-self

get_column
  narwhals/stable/v2/__init__.py
  tests/v2_test.py
Due: imports-are-banned, self-self

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
