Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

revert: remove demo code/notes
  narwhals/_typing.py
Due: imports-are-banned, self-self

refactor: replace `Into*Backend`
  docs/api-reference/typing.md
  narwhals/_namespace.py
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  narwhals/typing.py
  tests/frame/collect_test.py
  tests/from_dict_test.py
  tests/read_scan_test.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add nested `__eq__` examples
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add examples to `DType.__eq__`
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

fix: `Field.__eq__`, add tests, add doc
  narwhals/dtypes.py
  tests/dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

docs: `Enum.__eq__` examples
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add `Duration.__eq__` examples
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add `Datetime.__eq__` examples
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

Add nice direct statement 😄
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

flip operands
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Scream less
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_typing.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

docs: Use `pl.Series` since that looks less like `[]`
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

docs: Include `DType` methods, properties in API Reference (#2999)
  docs/api-reference/dtypes.md
  narwhals/dtypes.py
  tests/dtypes_test.py
  utils/check_api_reference.py
Due: imports-are-banned, self-self, dtypes-import

replace `zip` with `zip_equal`
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/selectors.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/group_by.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/utils.py
  narwhals/_expression_parsing.py
  narwhals/_ibis/dataframe.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/namespace.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/_sql/group_by.py
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/schema.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move, redefine members of runtime aliases
  narwhals/_typing.py
  narwhals/_utils.py
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

add no cover
  narwhals/_utils.py
Due: imports-are-banned, self-self

Update narwhals/_ibis/dataframe.py
  narwhals/_ibis/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

Update narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix: GroupBy mixed length exprs keys
  narwhals/_compliant/group_by.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Rename, re-doc
  narwhals/_typing.py
  narwhals/_utils.py
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Exclude `modin`, `cudf` from `collect`
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/frame/from_dict_test.py
Due: imports-are-banned, self-self, dtypes-import

rename `zip_equal` to `zip_strict`, remove the existing `zip_strict`
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/selectors.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/group_by.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/utils.py
  narwhals/_expression_parsing.py
  narwhals/_ibis/dataframe.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/namespace.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/_sql/group_by.py
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/schema.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import

rename variable
  narwhals/_compliant/group_by.py
Due: imports-are-banned, self-self, dtypes-import

fix: `GroupBy` with mixed length exprs as keys (#3004)
  narwhals/_compliant/group_by.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

address comments
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

add `nulls_last` for DuckDB, add a test with None
  narwhals/_duckdb/dataframe.py
  tests/frame/top_k_test.py
Due: imports-are-banned, self-self, dtypes-import

skip polars test for Nones
  tests/frame/top_k_test.py
Due: none

Update narwhals/_utils.py
  narwhals/_utils.py
Due: imports-are-banned, self-self

fix my goof
  narwhals/_utils.py
Due: imports-are-banned, self-self

ok ruff
  narwhals/_utils.py
Due: imports-are-banned, self-self

refactor: avoid `zip` entirely
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

Update narwhals/functions.py
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `Series.from_iterable` (#2933)
  docs/api-reference/series.md
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/conftest.py
  tests/series_only/from_iterable_test.py
  tests/series_only/from_numpy_test.py
  tests/utils.py
  tests/v1_test.py
  tests/v2_test.py
  utils/check_api_reference.py
Due: imports-are-banned, self-self, dtypes-import

fix: integrate `Series.from_iterable`
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/series_only/from_iterable_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: super integrate `Series.from_iterable`
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/series_only/from_iterable_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

test: reuse `eager_backend` fixture
  tests/from_dict_test.py
  tests/read_scan_test.py
Due: none

return aggregation if returns_scalar=True
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

actually return orderable_agg
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

feat(typing): Make `IntoBackend` generic (#3002)
  docs/api-reference/typing.md
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_typing.py
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  narwhals/typing.py
  tests/conftest.py
  tests/frame/collect_test.py
  tests/frame/from_arrow_test.py
  tests/frame/from_dict_test.py
  tests/frame/from_numpy_test.py
  tests/frame/lazy_test.py
  tests/from_dict_test.py
  tests/namespace_test.py
  tests/read_scan_test.py
  tests/series_only/from_iterable_test.py
  tests/series_only/from_numpy_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

test: reuse `eager_backend` fixture (#3005)
  tests/from_dict_test.py
  tests/read_scan_test.py
Due: none
