Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

raise for BytesIO with ibis
  narwhals/_ibis/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

no cover
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

no cover
  narwhals/_ibis/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test: Update `from_dict` empty tests
  tests/from_dict_test.py
Due: none

fix: Remove early `ValueError`
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

change test
  narwhals/_compliant/dataframe.py
  tests/frame/sink_parquet_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Use `pyarrow.Schema.empty_table`
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix: Avoid `IndexError` in `get_dtype_backend`
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat: Deprecate `Expr.arg_min` and `Expr.arg_max` from the main namespace
  docs/backcompat.md
  narwhals/_duckdb/expr.py
  narwhals/expr.py
  narwhals/stable/v1/__init__.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: make pandas one more readable
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

move to series-only, emit deprecation warning
  tests/expr_and_series/arg_max_test.py
  tests/expr_and_series/arg_min_test.py
Due: none

update expression parsing test
  tests/expression_parsing_test.py
Due: none

fix description
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

add tests
  narwhals/expr.py
  tests/series_only/arg_max_test.py
  tests/series_only/arg_min_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  tests/series_only/arg_max_test.py
  tests/series_only/arg_min_test.py
Due: none

cov
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

feat: add `sink parquet` for lazy backends (#2867)
  docs/api-reference/lazyframe.md
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
  tests/frame/sink_parquet_test.py
Due: imports-are-banned, self-self, dtypes-import

commenting out old sqrt()
  narwhals/_ibis/expr.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

clean up and doc `pandas`
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

feat: Warn on new pandas apply path
  narwhals/_pandas_like/group_by.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

trying versions of sqrt
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

cov
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

revert: Leave out unused `schema_projected` for now
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/dummy.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Relax `_concat_horizontal`
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

feat(pyarrow): Impl `over_ordered`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/common.py
  narwhals/_plan/options.py
  narwhals/_plan/protocols.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

oop
  utils/import_check.py
Due: none

ci: Use uv for nightly pandas
  .github/workflows/extremes.yml
Due: pull-request-target

ci: Use uv for nightly pandas (#2878)
  .github/workflows/extremes.yml
Due: pull-request-target

checkpoint
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

pushing different versions of sqrt
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

add `to_pandas_types_mapper`
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

feat: Preserve `Struct` dtype in `pyarrow` -> `pandas`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `test_pyarrow_to_pandas_struct`
  tests/series_only/to_pandas_test.py
Due: none

test: Also test `DataFrame`
  tests/frame/to_pandas_test.py
Due: none

ignore banned import
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

sqrt draft
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

moved kurtosis to sqlexpr
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

moved sparklike skew to sqlexpr
  narwhals/_spark_like/expr.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

always use `apply` for `cudf` 😢
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
