Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
  skip: [mypy]
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.11.8'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: init-env
      name: init-env
      entry: python --version
      language: python
      pass_filenames: false
      description: This hook serves as a env initializer, used both in check-api-reference and mypy hook
    - id: check-api-reference
      name: check-api-reference
      entry: make check-api-reference
      language: system
      require_serial: true
      pass_filenames: false
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
    - id: mypy
      name: mypy
      entry: make typing
      language: system
      types: [python]
      require_serial: true
      pass_filenames: false
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

test: More old `polars` xfail
  tests/expr_and_series/sort_by_test.py
Due: mypy

revert: Drop support below `polars==1.0.0`
  narwhals/_polars/expr.py
  tests/expr_and_series/sort_by_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

xfail everywhere
  tests/expr_and_series/sort_by_test.py
Due: mypy

plz
  tests/expr_and_series/sort_by_test.py
Due: mypy

fixup
  docs/basics/generating_sql.md
  tests/stable_api_test.py
Due: mypy

fixup
  docs/basics/generating_sql.md
  docs/concepts/order_dependence.md
Due: none

fixup
  tests/sql_test.py
Due: mypy

add `_nodes` package
  narwhals/_nodes/__init__.py
Due: imports-are-banned, self-self, mypy

docs: Add some notes
  narwhals/_nodes/__init__.py
Due: imports-are-banned, self-self, mypy

chore: Rename `_nodes` -> `_plan`
  narwhals/_plan/__init__.py
Due: imports-are-banned, self-self, mypy

feat: Start building out the ops
  narwhals/_plan/aggregation.py
  narwhals/_plan/boolean.py
  narwhals/_plan/common.py
  narwhals/_plan/expr.py
  narwhals/_plan/operators.py
  narwhals/_plan/strings.py
  narwhals/_plan/temporal.py
  narwhals/_plan/window.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Fill out `temporal`
  narwhals/_plan/temporal.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Add `functions` + misc missing
  narwhals/_plan/functions.py
  narwhals/_plan/operators.py
  narwhals/_plan/strings.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Add some `window`
  narwhals/_plan/window.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Add `OrderableAgg`
  narwhals/_plan/aggregation.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Start adding col/selectors
  narwhals/_plan/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add `MapBatches`
  narwhals/_plan/functions.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Add some namespaces
  narwhals/_plan/categorical.py
  narwhals/_plan/lists.py
  narwhals/_plan/struct.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Add `name`
  narwhals/_plan/name.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Add `Immutable`
  narwhals/_plan/common.py
Due: imports-are-banned, self-self, dtypes-import, mypy

link city
  narwhals/_plan/__init__.py
  narwhals/_plan/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

docs: Link another related issue
  narwhals/_plan/__init__.py
Due: imports-are-banned, self-self, mypy

feat: Port over `FunctionOptions`
  narwhals/_plan/options.py
Due: imports-are-banned, self-self, dtypes-import, mypy

node node node your boat
  narwhals/_plan/aggregation.py
  narwhals/_plan/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

eager implementations
  docs/api-reference/expr.md
  docs/api-reference/series.md
  narwhals/_arrow/expr.py
  narwhals/_arrow/series.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_spark_like/expr.py
  narwhals/expr.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

lazy but dask
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_polars/series.py
  tests/expr_and_series/log_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix lazy, add dask
  narwhals/_arrow/series.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
  pyproject.toml
  tests/expr_and_series/log_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

of course Dan had typing solution :)
  narwhals/_arrow/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix(typing): Add `PolarsExpr.log`
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix(typing): wow `ibis`
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Simplify `ibis`
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Chain those `duckdb` whens 😎
  narwhals/_duckdb/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

ci: Omit from cov for now
  pyproject.toml
Due: none

fix: `collect_schema` was failing for DuckDB in `narwhals.stable.v1` with Enum type
  .github/workflows/downstream_tests.yml
  .github/workflows/extremes.yml
  narwhals/_duckdb/utils.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

fix: `collect_schema` was failing for DuckDB in `narwhals.stable.v1` with Enum type (#2551)
  .github/workflows/downstream_tests.yml
  .github/workflows/extremes.yml
  narwhals/_duckdb/utils.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

release: Bump version to 1.39.1
  pyproject.toml
Due: none

release: Bump version to 1.39.1 (#2552)
  pyproject.toml
Due: none

docs: Update docs to reflect Ibis support
  .github/workflows/extremes.yml
  README.md
  docs/index.md
Due: pull-request-target

more modelling w/ notes
  narwhals/_plan/common.py
  narwhals/_plan/expr.py
  narwhals/_plan/functions.py
  narwhals/_plan/window.py
Due: imports-are-banned, self-self, dtypes-import, mypy

docs: Update docs to reflect Ibis support (#2553)
  .github/workflows/extremes.yml
  README.md
  docs/index.md
Due: pull-request-target
