Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

use duckdb nightly in full coverage job
  .github/workflows/pytest.yml
Due: pull-request-target

ci
  .github/workflows/pytest.yml
Due: pull-request-target

ci fixup
  Makefile
Due: none

lint
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

chore: Add `CompliantExpr._with_metadata` (#2262)
  narwhals/_arrow/expr.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr.py
  narwhals/expr.py
Due: imports-are-banned, dtypes-import, mypy

missing file
  narwhals/_duckdb/typing.py
Due: imports-are-banned, mypy

chore(DRAFT): Try out more complete `CompliantThen`
  narwhals/_compliant/when_then.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): make `SeriesT` invariant
  narwhals/_compliant/typing.py
  narwhals/_compliant/when_then.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Sneaky `_when` to avoid `_call` overloading
  narwhals/_compliant/when_then.py
Due: imports-are-banned, dtypes-import, mypy

feat: Implement `Arrow(Then|When)`
  narwhals/_arrow/namespace.py
Due: imports-are-banned, dtypes-import, mypy

fix: Older `Protocol` compat?
  narwhals/_arrow/namespace.py
Due: imports-are-banned, dtypes-import, mypy

chore: imports/exports
  narwhals/_arrow/namespace.py
  narwhals/_compliant/__init__.py
  narwhals/_compliant/when_then.py
Due: imports-are-banned, dtypes-import, mypy

feat: Implement `Dask(Then|When)`
  narwhals/_dask/namespace.py
Due: imports-are-banned, dtypes-import, mypy

feat: Implement `Pandas(When|Then)`
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

import sqlexpression
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

post-merge fixup
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

extra quotes for safety
  narwhals/_duckdb/expr.py
  narwhals/dependencies.py
Due: imports-are-banned, dtypes-import, mypy

extra quotes for safety
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

old python compat
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: `CompliantWhen.__init__` -> `.from_expr`
  narwhals/_arrow/namespace.py
  narwhals/_compliant/when_then.py
  narwhals/_dask/namespace.py
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Naming conventions
  narwhals/_compliant/when_then.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): Clean up, expose bound aliases
  narwhals/_compliant/typing.py
Due: imports-are-banned, mypy

make test have empty space
  narwhals/_duckdb/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

Make annotations readable again
  narwhals/_compliant/when_then.py
Due: imports-are-banned, dtypes-import, mypy

typo
  narwhals/_compliant/when_then.py
Due: imports-are-banned, dtypes-import, mypy

factor out generate_order_by_sql
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

remove outdated sqlframe xfail
  tests/expr_and_series/str/to_datetime_test.py
Due: mypy

again
  tests/expr_and_series/str/to_datetime_test.py
Due: mypy

coverage
  narwhals/dependencies.py
  pyproject.toml
Due: dtypes-import, mypy

feat: support window operations for DuckDB (#2263)
  .github/workflows/extremes.yml
  .github/workflows/pytest.yml
  Makefile
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/typing.py
  narwhals/_duckdb/utils.py
  narwhals/_spark_like/expr.py
  narwhals/dependencies.py
  pyproject.toml
  tests/expr_and_series/cum_sum_test.py
  tests/expr_and_series/over_test.py
  tests/expr_and_series/reduction_test.py
  tests/expr_and_series/rolling_sum_test.py
  tests/expr_and_series/str/to_datetime_test.py
  tests/expr_and_series/sum_horizontal_test.py
  tests/frame/select_test.py
  tests/stable_api_test.py
Due: imports-are-banned, dtypes-import, pull-request-target, mypy

feat: Implement `DuckDB(When|Then)`
  narwhals/_duckdb/namespace.py
Due: imports-are-banned, dtypes-import, mypy

move cum_window_func to utils
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

feat: Implement `SparkLike(When|Then)`
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

add cum_max for pyspark and tests
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/utils.py
  tests/expr_and_series/cum_max_test.py
Due: imports-are-banned, dtypes-import, mypy

wip
  narwhals/_compliant/expr.py
  narwhals/_compliant/group_by.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_name.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_expression_parsing.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_name.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/group_by.py
  narwhals/selectors.py
Due: imports-are-banned, dtypes-import, mypy

skip modin, xfail old pyarrow
  tests/expr_and_series/cum_max_test.py
Due: mypy

lint
  narwhals/_duckdb/namespace.py
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Add `EagerDataFrame._extract_comparand`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/utils.py
  narwhals/_compliant/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

remove unnecessary check
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
