Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

refactor: Simplify `EagerExprNameNamespace`
  narwhals/_compliant/expr.py
  narwhals/_compliant/typing.py
Due: imports-are-banned, dtypes-import, mypy

feat: add `rolling_sum` for sqlframe and pyspark (#2168)
  narwhals/_arrow/expr.py
  narwhals/_arrow/series.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_spark_like/expr.py
  narwhals/expr.py
  narwhals/series.py
  narwhals/typing.py
  pyproject.toml
  tests/expr_and_series/rolling_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: even more concise docstrings (#2068) (#2163)
  narwhals/group_by.py
  narwhals/selectors.py
  narwhals/series_cat.py
  narwhals/series_dt.py
  narwhals/series_list.py
  narwhals/series_str.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): remove unused `pandas-stubs` ignores
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, mypy

docs(ruff): Improve config docs
  pyproject.toml
Due: none

chore: resolve more conflicts from (#2168)
  narwhals/_compliant/expr.py
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): remove unused `pandas-stubs` ignores (#2172)
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, mypy

docs(ruff): Improve config docs (#2173)
  pyproject.toml
Due: none

PR Comments
  narwhals/_arrow/expr_struct.py
  narwhals/_arrow/series_struct.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_struct.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/expr_struct.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_struct.py
Due: imports-are-banned, dtypes-import, mypy

PR Comments
  narwhals/_arrow/series_struct.py
Due: imports-are-banned, dtypes-import, mypy

docs: add module-level doc
  narwhals/_compliant/any_namespace.py
Due: imports-are-banned, dtypes-import, mypy

docs(typing): Explain `is_eager_expr`
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

docs: `NativeExpr`
  narwhals/_compliant/expr.py
Due: imports-are-banned, dtypes-import, mypy

pandas workaround
  narwhals/_arrow/group_by.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/utils.py
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

remove unnecessary aliases
  narwhals/_arrow/series_struct.py
  narwhals/_duckdb/expr_struct.py
  narwhals/_pandas_like/series_struct.py
  narwhals/_polars/series.py
Due: imports-are-banned, dtypes-import, mypy

remove unnecessary aliases
  tests/expr_and_series/struct_/field_test.py
Due: mypy

chore: remove outdated comments
  narwhals/_compliant/expr.py
  narwhals/_compliant/series.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): `EagerNamespace.all_horizontal`
  narwhals/_arrow/namespace.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/namespace.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

extra test
  tests/expr_and_series/struct_/field_test.py
Due: mypy

old pyarrow
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

remove outdated
  narwhals/_duckdb/expr.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/series_list.py
Due: imports-are-banned, dtypes-import, mypy

feat: Added `struct` namespace with `field` method. (#2146)
  docs/api-reference/expr_struct.md
  docs/api-reference/index.md
  docs/api-reference/series_struct.md
  mkdocs.yml
  narwhals/_arrow/expr.py
  narwhals/_arrow/expr_struct.py
  narwhals/_arrow/series.py
  narwhals/_arrow/series_struct.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_struct.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/expr_struct.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_list.py
  narwhals/_pandas_like/series_struct.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_struct.py
  narwhals/expr.py
  narwhals/expr_struct.py
  narwhals/series.py
  narwhals/series_struct.py
  narwhals/typing.py
  tests/expr_and_series/list/len_test.py
  tests/expr_and_series/struct_/__init__.py
  tests/expr_and_series/struct_/field_test.py
  utils/check_api_reference.py
  utils/generate_backend_completeness.py
Due: imports-are-banned, dtypes-import, mypy

Add pivot test
  tests/modern_polars_test.py
Due: mypy

feat: support passing multiple arguments positionally to get_native_namespace
  narwhals/translate.py
  tests/translate/get_native_namespace_test.py
Due: imports-are-banned, dtypes-import, mypy

revert xfail
  tests/dtypes_test.py
Due: mypy

feat: support passing multiple arguments positionally to get_native_namespace (#2178)
  narwhals/translate.py
  tests/translate/get_native_namespace_test.py
Due: imports-are-banned, dtypes-import, mypy

test: fixup cudf failures
  tests/expr_and_series/cum_sum_test.py
  tests/expr_and_series/rolling_sum_test.py
  tests/expr_and_series/str/to_datetime_test.py
  tests/expr_and_series/struct_/field_test.py
Due: mypy

test: fixup cudf failures (#2181)
  tests/expr_and_series/cum_sum_test.py
  tests/expr_and_series/rolling_sum_test.py
  tests/expr_and_series/str/to_datetime_test.py
  tests/expr_and_series/struct_/field_test.py
Due: mypy

refactor: Add `EagerExprStructNamespace`
  narwhals/_arrow/expr.py
  narwhals/_arrow/expr_struct.py
  narwhals/_compliant/any_namespace.py
  narwhals/_compliant/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/expr_struct.py
Due: imports-are-banned, dtypes-import, mypy

release: Bump version to 1.30.0
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

default to large-string in lit
  narwhals/_arrow/namespace.py
Due: imports-are-banned, dtypes-import, mypy

release: Bump version to 1.30.0 (#2182)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

ci: update bump_version.py so it correctly pushes to stable branch
  utils/bump_version.py
Due: none

ci: update bump_version.py so it correctly pushes to stable branch (#2183)
  utils/bump_version.py
Due: none

refactor: add `EagerDataFrame._evaluate_into_expr(s)`
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Refactor narwhals backends
  narwhals/backends.py
  narwhals/translate.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore: remove `expr.py` notes
  narwhals/_compliant/expr.py
Due: imports-are-banned, dtypes-import, mypy

chore: remove `namespace.py` notes
  narwhals/_compliant/namespace.py
Due: imports-are-banned, dtypes-import, mypy

docs: Use more helpful deprecation message
  narwhals/_compliant/namespace.py
Due: imports-are-banned, dtypes-import, mypy
