Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

change check in is_namespace_accessor
  narwhals/_utils.py
Due: imports-are-banned, self-self

chore(typing): Narrow what can be passed to `is_namespace_accessor`
  narwhals/_utils.py
Due: imports-are-banned, self-self

refactor: Make super private
  narwhals/_utils.py
Due: imports-are-banned, self-self

chore: make the runtime check safer
  narwhals/_utils.py
Due: imports-are-banned, self-self

perf: Move optimization into `_hasattr_static`
  narwhals/_utils.py
Due: imports-are-banned, self-self

docs: Leave a trail for "why so strict dude?"
  narwhals/_utils.py
Due: imports-are-banned, self-self

ci: Temporary pin duckdb with ibis
  .github/workflows/pytest.yml
Due: pull-request-target

check tea-tasting
  .github/workflows/downstream_tests.yml
Due: pull-request-target

ci: Temporary pin duckdb for ibis (#3136)
  .github/workflows/downstream_tests.yml
  .github/workflows/pytest.yml
Due: pull-request-target

feat(DRAFT): Start spec-ing `CompliantGroupBy`
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Implement some of `ArrowGroupBy`
  narwhals/_plan/arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Fill out more of `GroupBy.agg`
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/group_by.py
Due: imports-are-banned, self-self, dtypes-import

chore: Support `@requires.backend_version` in namespaces (#3127)
  narwhals/_arrow/series_cat.py
  narwhals/_arrow/series_dt.py
  narwhals/_arrow/series_list.py
  narwhals/_arrow/series_str.py
  narwhals/_arrow/series_struct.py
  narwhals/_compliant/any_namespace.py
  narwhals/_compliant/typing.py
  narwhals/_polars/expr.py
  narwhals/_polars/typing.py
  narwhals/_polars/utils.py
  narwhals/_utils.py
  tests/utils_test.py
Due: imports-are-banned, self-self, dtypes-import

use @requires.backend_version for duckdb
  narwhals/_duckdb/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

ci(typing): Bump `polars==1.33.1`
  pyproject.toml
Due: none

fix: Remove check for non-existent `polars.UInt128`
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Use a self doc condition w/ the right version
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Partial revert, `pl.UInt128` will soon-exist
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

perf: Move `pl.Int128` branch out of `narwhals_to_native_dtype`
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

maybe fix coverage?
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Remove now-unused `isinstance_or_issubclass` overloads
  narwhals/_utils.py
Due: imports-are-banned, self-self

chore: Add `CompliantFrame._with_native`
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify `maybe_convert_dtypes`
  narwhals/_utils.py
Due: imports-are-banned, self-self

chore(typing): Ignore another `EagerDataFrame` intermittent [False Negative]
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add a link to `ibis` issue walkthrough
  narwhals/_native.py
Due: imports-are-banned, self-self, dtypes-import

fix: avoid `typing_extensions` import
  narwhals/_plan/arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `ArrowGroupBy`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

enable sqlframe
  narwhals/_spark_like/expr_str.py
  tests/expr_and_series/str/to_titlecase_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Remove now-unused `isinstance_or_issubclass` overloads (#3139)
  narwhals/_utils.py
Due: imports-are-banned, self-self

refactor: sort members alphabetically
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): pyright ignore `pl.UInt128`
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Simple cases working?
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/group_by.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add missing `Expr.len`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/aggregation.py
  narwhals/_plan/protocols.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Support `nw.len()`
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): support auto-implode
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Support `nw.col("a").unique()` in `group_by`
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/expressions/__init__.py
Due: imports-are-banned, self-self, dtypes-import

test: Port over `tests/frame/group_by_test`
  tests/plan/group_by_test.py
Due: none

cov
  tests/plan/group_by_test.py
Due: none

chore: Update todo
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

chore: Add todo for `drop_null_keys=True`
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
