Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

fix test_join_duplicate_column_names
  tests/frame/join_test.py
Due: none

fix schema tests
  tests/frame/schema_test.py
Due: none

simplify via Dan's suggestion
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/series.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

compile but raises
  narwhals/_sql/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

refactor(perf): Side-port (#3435) `{min,max}_horizontal` fix
  narwhals/_plan/arrow/functions/__init__.py
  narwhals/_plan/arrow/functions/_horizontal.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/arrow/typing.py
Due: imports-are-banned, self-self, dtypes-import

more walrus
  narwhals/_arrow/namespace.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_utils.py
  narwhals/testing/asserts/frame.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

ci: run ibis tests in separate workflow
  .github/workflows/pytest-ibis.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  pyproject.toml
Due: pull-request-target

pin sqlglot in ibis workflow
  .github/workflows/pytest-ibis.yml
Due: pull-request-target

remove ibis coverage
  .github/workflows/pytest-ibis.yml
Due: pull-request-target

fixup
  docs/generating_sql.md
  pyproject.toml
  tests/expr_and_series/list/unique_test.py
Due: none

fix 3.14
  .github/workflows/pytest.yml
Due: pull-request-target

coverage
  pyproject.toml
Due: none

separate modin too
  .github/workflows/pytest-modin.yml
  .github/workflows/pytest.yml
  pyproject.toml
Due: pull-request-target

more coverage
  narwhals/_namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  narwhals/functions.py
  narwhals/series.py
  pyproject.toml
  tests/frame/from_arrow_test.py
  tests/frame/join_test.py
  tests/series_only/from_numpy_test.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import

test: Port updated tests from (#2572)
  tests/series_only/scatter_test.py
Due: none

more coverage
  narwhals/_pandas_like/series.py
  narwhals/series.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import

fix doctests for pandas 3
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/expr_str.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/series_cat.py
  narwhals/series_dt.py
  narwhals/series_str.py
Due: imports-are-banned, self-self, dtypes-import

aplly Dan's suggestions
  narwhals/_polars/series.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

fiddle with `(Array, List) -> List`
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

refactor: Reduce `String` branching
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

revert: Keep only what is required
  narwhals/_dispatch.py
  tests/dispatch_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify `@just_dispatch` signature
  narwhals/_dispatch.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Satisfy mypy
  narwhals/_dispatch.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Replace (polars) `native_to_narwhals_dtype`
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Replace `catch_polars_exception`]
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Replace (polars) `extract_native`
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

Update pyproject.toml
  pyproject.toml
Due: none

ci: run ibis and modin tests in separate workflows (#3446)
  .github/workflows/pytest-ibis.yml
  .github/workflows/pytest-modin.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  docs/generating_sql.md
  narwhals/_namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/expr_str.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/series_cat.py
  narwhals/series_dt.py
  narwhals/series_str.py
  pyproject.toml
  tests/expr_and_series/list/unique_test.py
  tests/frame/from_arrow_test.py
  tests/frame/join_test.py
  tests/series_only/from_numpy_test.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

ci: Remove `sqlglot` pin in `--group typing`
  pyproject.toml
Due: none

ci: bump `0.14.14` -> `v0.15.0` in `.pre-commit-config.yaml`
  .pre-commit-config.yaml
Due: none

chore(ruff): Ignore new issues
  narwhals/_dask/expr.py
  tests/dtypes/dtypes_test.py
  tests/stable_api_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import

style(ruff): Run new style guide
  narwhals/_dask/expr_dt.py
  narwhals/_duckdb/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import

ci: Remove `sqlglot` pin in `--group typing` (#3448)
  pyproject.toml
Due: none

test: fix polars `test_concat_diagonal_invalid` again
  tests/frame/concat_test.py
Due: none

refactor(ruff): fix (`FURB171`)
  tests/dtypes/dtypes_test.py
  tests/stable_api_test.py
  tests/v1_test.py
Due: none

refactor(ruff): fix (`PLW0108`)
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `assert_equal_hash`
  tests/dtypes/dtypes_test.py
  tests/utils.py
  tests/v1_test.py
Due: none

fix typo
  tests/utils.py
Due: none

refactor ExprNode constructor
  narwhals/_expression_parsing.py
  narwhals/expr.py
  narwhals/expr_str.py
  narwhals/functions.py
  narwhals/selectors.py
Due: imports-are-banned, self-self, dtypes-import

ci(tpch): Pin `"polars==1.37.1"` for tpch queries
  .github/workflows/check_tpch_queries.yml
Due: pull-request-target

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
