Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/

why are you like this mypy
  tests/dtypes/get_supertype_test.py
Due: none

Fix (Decimal, FloatX) case
  narwhals/dtypes/_supertyping.py
  tests/dtypes/get_supertype_test.py
Due: imports-are-banned, self-self

clean up Float dtypes, add issue link
  narwhals/dtypes/_supertyping.py
  narwhals/dtypes/classes.py
Due: imports-are-banned, self-self, dtypes-import

split up tests
  tests/dtypes/get_supertype_test.py
Due: none

fix(test): Change error message for polars
  tests/frame/get_column_test.py
Due: none

xpass sqlframe list.mean
  tests/expr_and_series/list/mean_test.py
Due: none

add backend version condition for sqlframe list median
  narwhals/_spark_like/expr_list.py
Due: imports-are-banned, self-self, dtypes-import

test: Fix more test ids
  tests/dtypes/get_supertype_test.py
Due: none

fix(test): Change error message for polars, un-xfail sqlframe `list.mean` (#3397)
  narwhals/_spark_like/expr_list.py
  tests/expr_and_series/list/mean_test.py
  tests/frame/get_column_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Move, rename `dtype_ids`
  tests/dtypes/get_supertype_test.py
  tests/utils.py
Due: none

rename _intersect to _has_intersection
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

test mixed version return None
  tests/dtypes/get_supertype_test.py
Due: none

test: fix always true
  tests/utils.py
Due: none

check symmetrical, add versions, rm comment
  tests/dtypes/get_supertype_test.py
Due: none

test: Add `numeric_dtype` fixture
  tests/conftest.py
  tests/dtypes/get_supertype_test.py
Due: none

test: Add `naive_temporal_dtype` fixture
  tests/conftest.py
  tests/dtypes/get_supertype_test.py
Due: none

cov
  tests/utils.py
Due: none

refactor: Rename `narwhals.dtypes.classes` -> `narwhals.dtypes._classes`
  narwhals/dtypes/__init__.py
  narwhals/dtypes/_classes.py
  narwhals/dtypes/_supertyping.py
  narwhals/dtypes/_utils.py
  narwhals/stable/v1/_dtypes.py
  tests/dtypes/get_supertype_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: `narwhals.stable.v1._dtypes` -> `narwhals.dtypes._classes_v1`
  narwhals/dtypes/_classes_v1.py
  narwhals/stable/v1/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

perf: Avoid inline imports for `v1` dtypes
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

docs: Explain `has_nested` heavy-lifting
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

flip left,right for test_numeric_promotion
  tests/dtypes/get_supertype_test.py
Due: none

refactor: Factor-out `version: Version`
  narwhals/dtypes/_supertyping.py
  tests/dtypes/get_supertype_test.py
Due: imports-are-banned, self-self

I can't believe you've done this
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

chore: Add a bound to `downcast_time_unit`
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

docs: Convert `_mixed_supertype` comments
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

WIP: Add relaxed versions for all but Dask
  narwhals/_arrow/namespace.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/exceptions.py
  narwhals/functions.py
  narwhals/schema.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import

docs: Convert `_numeric_supertype` comments
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

WIP: Add unit tests
  narwhals/functions.py
  tests/frame/concat_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup col name and pyarrow
  narwhals/_arrow/namespace.py
  narwhals/_compliant/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/schema.py
  tests/frame/concat_test.py
Due: imports-are-banned, self-self, dtypes-import

minor standardization
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

pandas-like promote_dtype_backend
  narwhals/_native.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

dask and tests
  narwhals/_dask/namespace.py
  narwhals/_pandas_like/utils.py
  tests/frame/concat_test.py
Due: imports-are-banned, self-self, dtypes-import

add to_supertype coverage
  tests/frame/schema_test.py
Due: none

skip ibis diagonal
  tests/frame/concat_test.py
Due: none

docs: Some attempt at explaining `Struct`
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

perf: Avoid recursive union all by name call
  narwhals/_duckdb/namespace.py
Due: imports-are-banned, self-self, dtypes-import

whoopsie
  narwhals/_duckdb/namespace.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Make `pyright` happier
  narwhals/_native.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Pacify `mypy` for `pandas_like`
  narwhals/_native.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import
