Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.8.6'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.14.1'
  hooks:
    - id: mypy
      additional_dependencies: ['polars==1.4.1', 'pytest==8.3.2']
      files: ^(narwhals|tests)/
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.3.0'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.1.1'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

skip old pandas and simplify
  narwhals/_pandas_like/dataframe.py
  tests/frame/collect_test.py
Due: imports-are-banned, dtypes-import

fail old and filter warnings
  tests/frame/collect_test.py
Due: none

skip for pandas<1
  tests/frame/collect_test.py
Due: none

no cover skip statement
  tests/frame/collect_test.py
Due: none

test utils fix
  tests/utils.py
Due: none

Add pointblank project repo to README
  README.md
Due: none

docs(README.md): add mention of pointblank project (#1903)
  README.md
Due: none

fix various hist implementation details
  narwhals/_arrow/series.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/series.py
  narwhals/exceptions.py
  narwhals/series.py
  tests/series_only/hist_test.py
Due: imports-are-banned, dtypes-import

remove monotonicity check from arrow hist
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import

Add `pointblank` to Used By section
  docs/ecosystem.md
Due: none

docs: update selector docstrings
  narwhals/_dask/selectors.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/selectors.py
  narwhals/_spark_like/selectors.py
  narwhals/selectors.py
Due: imports-are-banned, dtypes-import

docs(ecosystem.md): add `pointblank` to Used By section (#1904)
  docs/ecosystem.md
Due: none

mypy
  narwhals/selectors.py
Due: imports-are-banned, dtypes-import

docs: update selectors docstrings (#1905)
  narwhals/_dask/selectors.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/selectors.py
  narwhals/_spark_like/selectors.py
  narwhals/selectors.py
Due: imports-are-banned, dtypes-import

feat: dtype.is_<x>
  docs/api-reference/dtypes.md
  narwhals/dtypes.py
  narwhals/stable/v1/_dtypes.py
  narwhals/stable/v1/dtypes.py
  tests/dtypes_test.py
  tests/series_only/dtype_test.py
Due: imports-are-banned, dtypes-import

fix: pandas was raising when index name and column names overlapped in groupby
  README.md
  narwhals/_pandas_like/group_by.py
  tests/conftest.py
  tests/group_by_test.py
Due: imports-are-banned, dtypes-import

arrow type hint
  narwhals/_arrow/selectors.py
Due: imports-are-banned, dtypes-import

feat: add `dtype.is_<x>` methods (#1906)
  docs/api-reference/dtypes.md
  narwhals/dtypes.py
  narwhals/stable/v1/_dtypes.py
  narwhals/stable/v1/dtypes.py
  tests/dtypes_test.py
  tests/series_only/dtype_test.py
Due: imports-are-banned, dtypes-import

document `None` in the error message, rewrite docstring example
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

typo
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

stable docstring
  narwhals/stable/v1/__init__.py
Due: imports-are-banned

fixing search
  mkdocs.yml
Due: none

fixup
  tests/frame/lazy_test.py
Due: none

fix typo
  mkdocs.yml
Due: none

place the link on top - like the rest
  mkdocs.yml
Due: none

feat: Add `backend` argument to `lazy` (#1895)
  narwhals/_arrow/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  tests/frame/lazy_test.py
Due: imports-are-banned, dtypes-import

docs: improve search in docs (#1909)
  mkdocs.yml
Due: none

always reset index
  docs/pandas_like_concepts/pandas_index.md
  narwhals/_pandas_like/group_by.py
  tests/group_by_test.py
Due: imports-are-banned, dtypes-import

update type
  narwhals/typing.py
Due: imports-are-banned

fix version number
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, dtypes-import

clarify user guide page
  docs/pandas_like_concepts/pandas_index.md
Due: none

fix: pandas was raising when index name and column names overlapped in groupby (#1908)
  README.md
  docs/pandas_like_concepts/pandas_index.md
  narwhals/_pandas_like/group_by.py
  narwhals/typing.py
  tests/conftest.py
  tests/group_by_test.py
Due: imports-are-banned, dtypes-import

release: Bump version to 1.24.2
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned

release: Bump version to 1.24.2 (#1910)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned

feat: snowpark experiment
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/dependencies.py
  narwhals/translate.py
  narwhals/utils.py
  tests/conftest.py
Due: imports-are-banned, dtypes-import

simplify ducks
  narwhals/_duckdb/group_by.py
Due: imports-are-banned, dtypes-import

some merge gone wrong
  tests/frame/explode_test.py
Due: none

add hist behavior for polars<1.5 with bin_count
  narwhals/_polars/series.py
  tests/series_only/hist_test.py
Due: imports-are-banned, dtypes-import

hist align arrow dtypes for join
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import

hist pyarrow chunked array must infer
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import
