Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

more coverage
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

de morgans laws simplification (i think)
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

reduce diff
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

fix: Ensure selectors reduce in predicates
  narwhals/_plan/_parse.py
Due: imports-are-banned, self-self, dtypes-import

de morgan again
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix: align `nw.nth` expansion with `nw.col` during `group_by`
  narwhals/_expression_parsing.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

just keep swimming
  narwhals/_plan/_expansion.py
  narwhals/_plan/expressions/expr.py
Due: imports-are-banned, self-self, dtypes-import

skip modin
  tests/frame/group_by_test.py
Due: none

test: Refactor tpch to run without all deps
  tpch/execute.py
  tpch/generate_data.py
Due: none

fix: align `nw.nth` expansion with `nw.col` during `group_by` (#3243)
  narwhals/_expression_parsing.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Align `str.to_titlecase` with polars v1.35.0 behavior (#3238)
  narwhals/_duckdb/expr_str.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr_str.py
  narwhals/expr_str.py
  narwhals/series_str.py
  tests/expr_and_series/str/to_titlecase_test.py
  tests/utils_test.py
Due: imports-are-banned, self-self, dtypes-import

fix ci
  narwhals/_polars/expr.py
  tests/expr_and_series/division_by_zero_test.py
  tests/expr_and_series/list/get_test.py
  tests/expr_and_series/str/replace_test.py
  tests/modern_polars/method_chaining_test.py
  tests/series_only/to_numpy_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: introduce (experimental) plugin system (#2978)
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  docs/extending.md
  narwhals/plugins.py
  narwhals/stable/v2/__init__.py
  narwhals/translate.py
  tests/plugins_test.py
  tests/test_plugin/__init__.py
  tests/test_plugin/pyproject.toml
  tests/test_plugin/test_plugin/__init__.py
  tests/test_plugin/test_plugin/dataframe.py
  tests/test_plugin/test_plugin/namespace.py
  tests/test_plugin/test_plugin/py.typed
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

disallow multi-output in `when` (for now)
  narwhals/_plan/when_then.py
Due: imports-are-banned, self-self, dtypes-import

tweak that error message
  narwhals/_plan/when_then.py
Due: imports-are-banned, self-self, dtypes-import

chore: fix ci (cuDF fixes, coverage) (#3245)
  narwhals/_polars/expr.py
  tests/expr_and_series/division_by_zero_test.py
  tests/expr_and_series/list/get_test.py
  tests/expr_and_series/str/replace_test.py
  tests/modern_polars/method_chaining_test.py
  tests/series_only/to_numpy_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Ensure exprs are ordered for grouping in error
  narwhals/_plan/exceptions.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Huge simplify, remove fiddly leaf/root zip expansion
  narwhals/_plan/_expansion.py
  narwhals/_plan/expressions/expr.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove more complexity
  narwhals/_plan/_expansion.py
Due: imports-are-banned, self-self, dtypes-import

added modifications to access pytest from plugin
  tests/conftest.py
Due: none

release: Bump version to 2.10.0
  pyproject.toml
Due: none

release: Bump version to 2.10.0 (#3246)
  pyproject.toml
Due: none

test: Add failing tests for new `name` behaviors
  tests/plan/selectors_test.py
Due: none

feat: Allow multiple `name` ops
  narwhals/_plan/_expansion.py
  narwhals/_plan/meta.py
  tests/plan/expr_expansion_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Get `KeepName` working
  narwhals/_plan/_expansion.py
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import

test: All of `selectors_test` passes!!!!! 🥳🥳🥳🥳🥳
  narwhals/_plan/exceptions.py
  tests/plan/expr_expansion_test.py
  tests/plan/selectors_test.py
Due: imports-are-banned, self-self, dtypes-import

corrected help message
  tests/conftest.py
Due: none

refactor: Use new selectors in `_rewrites`
  narwhals/_plan/_rewrites.py
  tests/plan/expr_rewrites_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: (Partially) Use new selectors in `group_by`
  narwhals/_plan/compliant/group_by.py
  tests/plan/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Add pyproject classifiers
  pyproject.toml
Due: none

Use new selectors in `DataFrame.filter`, fix `''` output name
  narwhals/_plan/_expansion.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Use new selectors in `DataFrame.sort`
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Use new selectors in `DataFrame.with_columns`
  narwhals/_plan/dataframe.py
  tests/plan/compliant_test.py
  tests/plan/group_by_test.py
  tests/plan/over_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

test: Flesh-out `Frame` util some more
  tests/plan/selectors_test.py
  tests/plan/utils.py
Due: none

[Enh] added modifications to make tests accessible to plugin (#3248)
  tests/conftest.py
Due: none

test: Use new selectors in most of `expr_expansion_test`
  narwhals/_plan/functions.py
  tests/plan/dispatch_test.py
  tests/plan/expr_expansion_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

Marco's feedback
  tpch/execute.py
Due: none

test: Finish `expr_expansion_test` transition
  tests/plan/expr_expansion_test.py
  tests/plan/selectors_test.py
Due: none

refactor: Use new selectors in `DataFrame.select`
  narwhals/_plan/dataframe.py
  tests/plan/compliant_test.py
  tests/plan/is_first_last_distinct_test.py
  tests/plan/over_test.py
Due: imports-are-banned, self-self, dtypes-import
