Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

alias and export other builder entry points
  narwhals/_plan/logical_plan/__init__.py
  narwhals/_plan/logical_plan/builder.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `ScanFile.from_source`, widen builder constructors
  narwhals/_plan/logical_plan/builder.py
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

docs: add note on `DslBuilder.unpivot`
  narwhals/_plan/logical_plan/builder.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `ArrowNamespace.read_parquet_schema`
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/arrow/typing.py
Due: imports-are-banned, self-self, dtypes-import

cov
  narwhals/_plan/dataframe.py
  narwhals/_plan/options.py
Due: imports-are-banned, self-self, dtypes-import

fix: why do you be like this pyarrow?
  narwhals/_plan/arrow/namespace.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `nwp.read_parquet_schema`
  narwhals/_plan/__init__.py
  narwhals/_plan/compliant/io.py
  narwhals/_plan/functions.py
  tests/plan/read_scan_test.py
Due: imports-are-banned, self-self, dtypes-import

tests: Remove xfail for latest ibis release
  tests/expr_and_series/first_last_test.py
  tests/frame/interchange_to_pandas_test.py
Due: none

tests: Remove xfail for latest ibis release (#3470)
  tests/expr_and_series/first_last_test.py
  tests/frame/interchange_to_pandas_test.py
Due: none

feat: Support non-recusrive iteration
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add non-recursive parts of recursive repr
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add special recursive repr cases
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

fix: Add missing newlines
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

don't forget `Scan*`!
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `LogicalPlan.explain`
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

fix lit for pyspark < 4
  narwhals/_sql/expr.py
  narwhals/_sql/expr_str.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

fix expr_dt
  narwhals/_spark_like/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import

fix empty struct
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

update spark connect
  .github/workflows/pytest-pyspark.yml
Due: pull-request-target

add workflow dispatch
  .github/workflows/pytest-pyspark.yml
Due: pull-request-target

just to trigger CI
  .github/workflows/pytest-pyspark.yml
  narwhals/_spark_like/__init__.py
Due: imports-are-banned, self-self, pull-request-target

restore
  .github/workflows/pytest-pyspark.yml
Due: pull-request-target

try no org.apache.spark:spark-connect_2.12
  .github/workflows/pytest-pyspark.yml
Due: pull-request-target

fix lit empty struct
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

fix xpass
  tests/expr_and_series/dt/offset_by_test.py
  tests/expr_and_series/list/median_test.py
Due: none

restore
  narwhals/_spark_like/__init__.py
Due: imports-are-banned, self-self

ci: test pyspark-connect with spark 4.1.0 (#3472)
  .github/workflows/pytest-pyspark.yml
  tests/expr_and_series/dt/offset_by_test.py
  tests/expr_and_series/list/median_test.py
Due: pull-request-target

refactor(DRAFT): Lazier `explain` rewrite
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

fix empty struct?
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

coverage
  narwhals/_spark_like/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import

Series.str.contains
  narwhals/_arrow/series_str.py
  narwhals/_pandas_like/series_str.py
  narwhals/_polars/series.py
  narwhals/series_str.py
Due: imports-are-banned, self-self, dtypes-import

improved multi-column expression handling
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

Workaround for SQLExpr
  narwhals/_arrow/series_str.py
  narwhals/_compliant/any_namespace.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr_str.py
  narwhals/_polars/expr.py
  narwhals/_sql/expr_str.py
  narwhals/expr_str.py
  narwhals/series_str.py
  tests/expr_and_series/str/contains_test.py
Due: imports-are-banned, self-self, dtypes-import

does it work with connect?
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

refactor str/contains_test.py
  tests/expr_and_series/str/contains_test.py
Due: none

tidy up
  narwhals/_spark_like/namespace.py
  tests/expr_and_series/lit_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Split out `_explain.py`
  narwhals/_plan/logical_plan/_explain.py
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

feat(typing): Make `MapFunction` generic over `function`
  narwhals/_plan/logical_plan/builder.py
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `UniqueBy`, `RowIndexBy`
  narwhals/_plan/logical_plan/_explain.py
  narwhals/_plan/logical_plan/builder.py
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `head`, `tail`
  narwhals/_plan/logical_plan/builder.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
