Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

fix(typing): Backport use `to_native` in `IntoDataFrameT` to `v1`
  narwhals/stable/v1/__init__.py
Due: imports-are-banned

directly-implement-is-duplicated
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/expr.py
  narwhals/_arrow/series.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_spark_like/expr.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/series.py
Due: imports-are-banned, dtypes-import

bit more
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

is_Between
  narwhals/_arrow/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_spark_like/expr.py
  narwhals/expr.py
Due: imports-are-banned, dtypes-import

chore(typing): add `is_compliant_*` (+ friends) guards
  narwhals/translate.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import

simplify unpivot
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

simplify join
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

simplify pivot
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import

ci: add pointblank in downstream test
  .github/workflows/downstream_tests.yml
Due: pull-request-target

fix(typing): Backport use `IntoDataFrameT` in `to_native` to `v1` (#1954)
  narwhals/stable/v1/__init__.py
Due: imports-are-banned

docs: add docstring guidelines to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

mypy in local
  .pre-commit-config.yaml
  pyproject.toml
Due: none

get_item tidy up draft
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import

get_item tidy up type
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import

simplify test
  tests/frame/getitem_test.py
Due: none

fix test
  tests/frame/getitem_test.py
Due: none

refactor: move to `utils`, use unconditional import
  narwhals/translate.py
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import

refactor: rename `_NativeNamespace` -> `SupportsNativeNamespace`
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned

fix(typing): add and use `is_compliant_expr`
  narwhals/_expression_parsing.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import

fix(typing): use `is_compliant_series`
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import

remove unused import
  narwhals/stable/v1/__init__.py
Due: imports-are-banned

fix(typing): Backport `from_native` overload fixes to `v1` (#1953)
  narwhals/stable/v1/__init__.py
Due: imports-are-banned

ibis fixup
  narwhals/_ibis/dataframe.py
Due: imports-are-banned, dtypes-import

pre-commit
  tests/frame/unpivot_test.py
Due: none

remove useless code
  narwhals/_dask/dataframe.py
Due: imports-are-banned, dtypes-import

fix: fix type `__get_item__` (#1958)
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  tests/frame/getitem_test.py
Due: imports-are-banned, dtypes-import

fixup doctests
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import

add test
  tests/utils.py
Due: none

cvg
  tests/utils.py
Due: none

drive-by remove assertion on duckdb nightlies
  .github/workflows/extremes.yml
Due: pull-request-target

fix silly mistake
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import

refactor: `to_pandas` -> positional or keyword
  narwhals/functions.py
  narwhals/schema.py
  tests/frame/schema_test.py
Due: imports-are-banned, dtypes-import

refactor: use `Implementation.PANDAS`
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

test: try removing doctest skip
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

missing another np.array
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  tests/frame/get_column_test.py
  tests/frame/getitem_test.py
Due: imports-are-banned, dtypes-import

test: fix `to_polars` doctest repr
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

style: rename `it` to `schema`
  narwhals/schema.py
Due: imports-are-banned, dtypes-import

declaring relative path
  .pre-commit-config.yaml
Due: none

pyproject fix
  pyproject.toml
Due: none

chore: rename `is_dataframe_like` -> `_supports_dataframe_interchange`
  narwhals/translate.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
