Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

change of place the bokeh tests
  .github/workflows/downstream_tests.yml
  .github/workflows/downstream_tests_slow.yml
Due: pull-request-target

enh: Support casting to Duration, and Datetime with different units, for DuckDB (#2782)
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/utils.py
  tests/expr_and_series/cast_test.py
Due: imports-are-banned, self-self, dtypes-import

cov
  narwhals/_spark_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

xpass
  tests/expr_and_series/cast_test.py
Due: none

restore shapeerror
  narwhals/exceptions.py
Due: imports-are-banned, self-self, dtypes-import

restore shapeerror
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Respect session time zone when casting to `Datetime` for PySpark (#2780)
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/utils.py
  tests/expr_and_series/cast_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  tests/expr_and_series/mode_test.py
  tests/frame/explode_test.py
  tests/frame/with_columns_test.py
Due: none

pyright passing
  narwhals/_daft/dataframe.py
  narwhals/_daft/expr.py
  narwhals/_daft/namespace.py
  narwhals/_daft/selectors.py
Due: imports-are-banned, self-self, dtypes-import

simplify
  narwhals/_daft/utils.py
Due: imports-are-banned, self-self, dtypes-import

str.to_date for daft
  narwhals/_daft/expr.py
  narwhals/_daft/expr_str.py
  narwhals/_daft/namespace.py
Due: imports-are-banned, self-self, dtypes-import

lazynamespace
  narwhals/_daft/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

use `_with_elementwise` more for DuckDB/spark-like
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/expr_struct.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_list.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import

_with_elementwise_op -> _with_elementwise
  narwhals/_ibis/expr_str.py
  narwhals/_spark_like/expr_str.py
  narwhals/expr_cat.py
  narwhals/expr_dt.py
  narwhals/expr_list.py
  narwhals/expr_name.py
  narwhals/expr_str.py
  narwhals/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import

fixup spark_like weekday
  narwhals/_spark_like/expr_dt.py
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

:art:
  narwhals/_duckdb/expr_dt.py
  narwhals/_ibis/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  narwhals/_spark_like/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import

chore: use _with_elementwise more for DuckDB/spark-like (#2784)
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/expr_struct.py
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/expr_str.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_list.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/expr_struct.py
  narwhals/expr.py
  narwhals/expr_cat.py
  narwhals/expr_dt.py
  narwhals/expr_list.py
  narwhals/expr_name.py
  narwhals/expr_str.py
  narwhals/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import

enh!: simplify exceptions, consistently raise InvalidOperationError instead of ShapeError/OrderDependentExprError/LengthChangingExprError (#2752)
  narwhals/_expression_parsing.py
  narwhals/dataframe.py
  narwhals/exceptions.py
  narwhals/functions.py
  tests/expr_and_series/order_dependent_lazy_test.py
  tests/expr_and_series/unique_test.py
  tests/expr_and_series/when_test.py
  tests/frame/filter_test.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

simplify
  narwhals/_daft/expr_dt.py
  narwhals/_daft/expr_str.py
  narwhals/_daft/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import

make daft green again
  narwhals/_daft/expr.py
  narwhals/_daft/expr_str.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, self-self, dtypes-import

rolling
  narwhals/_daft/expr.py
  tests/conftest.py
  tests/expr_and_series/cum_prod_test.py
  tests/expr_and_series/rolling_std_test.py
  tests/expr_and_series/rolling_var_test.py
Due: imports-are-banned, self-self, dtypes-import

simplify horizontal
  narwhals/_daft/namespace.py
  tests/conftest.py
  tests/expr_and_series/fill_null_test.py
  tests/expr_and_series/max_horizontal_test.py
  tests/expr_and_series/min_horizontal_test.py
Due: imports-are-banned, self-self, dtypes-import

green
  narwhals/_daft/expr.py
  tests/expr_and_series/fill_null_test.py
Due: imports-are-banned, self-self, dtypes-import

over pushdown
  narwhals/_daft/expr.py
  tests/conftest.py
Due: imports-are-banned, self-self, dtypes-import

replace time zone
  narwhals/_daft/expr_dt.py
  tests/conftest.py
  tests/expr_and_series/dt/replace_time_zone_test.py
Due: imports-are-banned, self-self, dtypes-import

time zones
  narwhals/_daft/expr_dt.py
  tests/expr_and_series/dt/convert_time_zone_test.py
Due: imports-are-banned, self-self, dtypes-import

fix typing
  narwhals/_daft/dataframe.py
  narwhals/_daft/expr.py
  narwhals/_daft/expr_dt.py
  tests/expr_and_series/rolling_var_test.py
  tests/frame/concat_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  tests/expr_and_series/rolling_std_test.py
  tests/frame/concat_test.py
Due: none

clean assorted
  tests/expr_and_series/str/to_datetime_test.py
  tests/expr_and_series/unary_test.py
  tests/frame/group_by_test.py
  tests/v1_test.py
  tpch/execute.py
  tpch/queries/q14.py
  tpch/queries/q9.py
Due: none

typo
  tests/frame/concat_test.py
Due: none

coverage
  .github/workflows/pytest.yml
Due: pull-request-target

typo
  tpch/queries/q14.py
Due: none

coverage
  narwhals/_daft/dataframe.py
  narwhals/_daft/namespace.py
  narwhals/_daft/utils.py
Due: imports-are-banned, self-self, dtypes-import

cov
  narwhals/_daft/expr.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `flatten_hash_safe`
  narwhals/_plan/common.py
  narwhals/_plan/selectors.py
Due: imports-are-banned, self-self, dtypes-import

more giant refactors 😅
  narwhals/_plan/arrow/__init__.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/evaluate.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/impl_arrow.py
  narwhals/_plan/protocols.py
  tests/plan/to_compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

ignore-banned-import
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/evaluate.py
  narwhals/_plan/arrow/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix: alias removed exception types
  narwhals/_plan/demo.py
  narwhals/_plan/exceptions.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import
