Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

fix(typing): resolve `pre-commit` warnings `_pandas_like`
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

ci(typing): `3.8` compat?
  narwhals/typing.py
Due: imports-are-banned, mypy

chore(typing): ignore unused ignore
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

revert(typing): undo overload reordering
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

LazyFrame -> FrameT
  tpch/execute.py
  tpch/queries/q1.py
  tpch/queries/q10.py
  tpch/queries/q11.py
  tpch/queries/q12.py
  tpch/queries/q13.py
  tpch/queries/q14.py
  tpch/queries/q15.py
  tpch/queries/q16.py
  tpch/queries/q17.py
  tpch/queries/q18.py
  tpch/queries/q19.py
  tpch/queries/q2.py
  tpch/queries/q20.py
  tpch/queries/q21.py
  tpch/queries/q22.py
  tpch/queries/q3.py
  tpch/queries/q4.py
  tpch/queries/q5.py
  tpch/queries/q6.py
  tpch/queries/q7.py
  tpch/queries/q8.py
  tpch/queries/q9.py
Due: none

parenthesis
  tpch/queries/q7.py
Due: none

refactor: get coverage for `is_numpy_array_2d`
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

better to avoid github interface to solve complex conflicts
  .github/workflows/downstream_tests.yml
Due: pull-request-target

ci: add pointblank in downstream test (#1956)
  .github/workflows/downstream_tests.yml
Due: pull-request-target

ci: validate tpch query results (#1971)
  tpch/execute.py
  tpch/generate_data.py
  tpch/queries/q1.py
  tpch/queries/q10.py
  tpch/queries/q11.py
  tpch/queries/q12.py
  tpch/queries/q13.py
  tpch/queries/q14.py
  tpch/queries/q15.py
  tpch/queries/q16.py
  tpch/queries/q17.py
  tpch/queries/q18.py
  tpch/queries/q19.py
  tpch/queries/q2.py
  tpch/queries/q20.py
  tpch/queries/q21.py
  tpch/queries/q22.py
  tpch/queries/q3.py
  tpch/queries/q4.py
  tpch/queries/q5.py
  tpch/queries/q6.py
  tpch/queries/q7.py
  tpch/queries/q8.py
  tpch/queries/q9.py
Due: none

chore(typing): remove unused ignores `utils.py`
  narwhals/utils.py
Due: imports-are-banned, mypy

chore(typing): remove unused ignores `_duckdb`
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): remove unused ignores `_arrow`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import, mypy

fix mypy version
  pyproject.toml
Due: none

docs: add `Schema.to_(arrow|pandas|polars)`
  docs/api-reference/schema.md
Due: none

docs: add `Schema.to_(arrow|pandas|polars)` (#1980)
  docs/api-reference/schema.md
Due: none

organise optional dependencies
  .github/workflows/check_tpch_queries.yml
  .github/workflows/downstream_tests.yml
  .github/workflows/extremes.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
  .github/workflows/typing.yml
  pyproject.toml
Due: pull-request-target

chore(typing): add `np.ndarray` aliases (#1977)
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/series.py
  narwhals/dataframe.py
  narwhals/dependencies.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

add typing_extensions to tests
  pyproject.toml
Due: none

fix downstream tests
  .github/workflows/downstream_tests.yml
Due: pull-request-target

fix last types
  narwhals/_arrow/series.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

add tests reqs
  .github/workflows/typing.yml
Due: pull-request-target

feat: add `datetime` selector (#1822)
  docs/api-reference/selectors.md
  docs/api-reference/typing.md
  narwhals/_arrow/expr_dt.py
  narwhals/_arrow/selectors.py
  narwhals/_arrow/series_dt.py
  narwhals/_dask/expr_dt.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/expr_dt.py
  narwhals/_pandas_like/selectors.py
  narwhals/_pandas_like/series_dt.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/namespace.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/selectors.py
  narwhals/dtypes.py
  narwhals/expr_dt.py
  narwhals/selectors.py
  narwhals/series_dt.py
  narwhals/stable/v1/selectors.py
  narwhals/typing.py
  narwhals/utils.py
  tests/selectors_test.py
Due: imports-are-banned, dtypes-import, mypy

chore: minor series.py fixes, dedupe a little
  narwhals/_arrow/series.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/series.py
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

implement __len__, head and tail explicitly for polars dataframes
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

feat: first implementation
  narwhals/_arrow/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  tests/dtypes_test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): resolve `_arrow.dataframe` warnings
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

ci(typing): ignore `pre-commit`
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

avoid while loops, shape docstring
  narwhals/_duckdb/utils.py
  narwhals/dtypes.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): resolve `_arrow.dataframe` warnings (#1983)
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

remove unneeded comment
  narwhals/_polars/utils.py
Due: imports-are-banned, dtypes-import, mypy

refact test decimal
  tests/dtypes_test.py
Due: mypy

activate tests
  .github/workflows/extremes.yml
  .github/workflows/pytest.yml
Due: pull-request-target

remove custom branch
  .github/workflows/extremes.yml
  .github/workflows/pytest.yml
Due: pull-request-target

resolve conflicts
  narwhals/_duckdb/utils.py
  tests/dtypes_test.py
Due: imports-are-banned, dtypes-import, mypy

execute tests
  .github/workflows/extremes.yml
  .github/workflows/pytest.yml
Due: pull-request-target

refact test for cast decimal
  tests/dtypes_test.py
Due: mypy

ready to pr
  .github/workflows/extremes.yml
  .github/workflows/pytest.yml
Due: pull-request-target

feat: improving array casting (#1865)
  narwhals/_arrow/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/utils.py
  narwhals/dtypes.py
  narwhals/functions.py
  narwhals/schema.py
  tests/dtypes_test.py
Due: imports-are-banned, dtypes-import, mypy

use backend version in check
  narwhals/_polars/dataframe.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
