Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/

fixup arithmetic test
  tests/expr_and_series/arithmetic_test.py
Due: none

fix: Include dask and ibis in docs dependencies
  pyproject.toml
Due: none

chore(python): pin pyarrow version in typing job, adjust tests for pyarrow 24 (#3561)
  Makefile
  tests/expr_and_series/cast_test.py
  tests/frame/to_numpy_test.py
  tests/selectors_test.py
  tests/series_only/to_numpy_test.py
Due: none

feedback adjustment
  .github/workflows/deploy-docs.yml
  Makefile
  pyproject.toml
Due: pull-request-target

fix(docs): Include dask and ibis in docs dependencies (#3562)
  .github/workflows/deploy-docs.yml
  Makefile
  pyproject.toml
Due: pull-request-target

run pyrefly on tests
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  pyproject.toml
  tests/conftest.py
  tests/dependencies/is_into_dataframe_test.py
  tests/dependencies/is_into_series_test.py
  tests/dtypes/pandas_extension_dtypes_test.py
  tests/expr_and_series/lit_test.py
  tests/frame/collect_test.py
  tests/frame/join_test.py
  tests/frame/schema_test.py
  tests/implementation_test.py
  tests/namespace_test.py
  tests/translate/from_native_test.py
  tests/typing_compat_test.py
  tests/utils_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

wip
  Makefile
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  pyproject.toml
  tests/implementation_test.py
  tests/namespace_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

pyspark fix
  pyproject.toml
  tests/utils.py
  tests/v1_test.py
  tests/v2_test.py
Due: none

link to pyrefly issue for assert never
  tests/typing_compat_test.py
Due: none

refactor: Rename exposed fixtures and pytest options (#3556)
  .github/workflows/extremes.yml
  .github/workflows/pytest-ibis.yml
  .github/workflows/pytest-modin.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
  Makefile
  docs/api-reference/testing.md
  narwhals/testing/constructors.py
  narwhals/testing/pytest_plugin.py
  tests/conftest.py
  tests/expr_and_series/arithmetic_test.py
  tests/hypothesis/getitem_test.py
  tests/ibis_test.py
  tests/series_only/hist_test.py
  tests/testing/constructors_test.py
  tests/testing/plugin_test.py
  tests/translate/from_native_test.py
  utils/sort_api_reference.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

Add namespace argument, patch current fixtures
  narwhals/testing/constructors.py
  tests/conftest.py
Due: imports-are-banned, self-self, dtypes-import

Fixup tests that need adjustment
  tests/dependencies/is_narwhals_dataframe_test.py
  tests/dependencies/is_narwhals_lazyframe_test.py
  tests/expr_and_series/arithmetic_test.py
  tests/expr_and_series/dt/datetime_attributes_test.py
  tests/expr_and_series/dt/datetime_duration_test.py
  tests/expr_and_series/over_test.py
  tests/expr_and_series/struct_/field_test.py
  tests/frame/join_test.py
  tests/frame/sample_test.py
  tests/frame/schema_test.py
  tests/frame/to_native_test.py
  tests/frame/to_pandas_test.py
  tests/hypothesis/getitem_test.py
  tests/ibis_test.py
  tests/namespace_test.py
  tests/preserve_pandas_like_columns_name_attr_test.py
  tests/series_only/hist_test.py
  tests/series_only/to_native_test.py
  tests/testing/assert_frame_equal_test.py
  tests/testing/assert_series_equal_test.py
  tests/testing/conftest.py
  tests/testing/constructors_test.py
  tests/testing/plugin_test.py
  tests/translate/from_native_test.py
  tests/utils.py
  tests/v1_test.py
  tests/v2_test.py
Due: none

refactor(DRAFT): Rethink `dispatch`, `version`
  narwhals/_plan/_dispatch.py
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_namespace.py
  narwhals/_plan/_parameters.py
  narwhals/_plan/arrow/common.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/arrow/v1.py
  narwhals/_plan/compliant/__init__.py
  narwhals/_plan/compliant/column.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/expressions/function_expr.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

Asia/Katmandu is deprecated
  tests/selectors_test.py
Due: none

test: The Asia/Katmandu timezone is deprecated (#3565)
  tests/selectors_test.py
Due: none

add quantile to pyspark
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

quantile is available in pyspark now
  tests/expr_and_series/over_test.py
  tests/expr_and_series/quantile_test.py
Due: none

xfail sqlframe: integer quantiles don't match expected values
  tests/expr_and_series/over_test.py
  tests/expr_and_series/quantile_test.py
Due: none

link to bug report
  tests/expr_and_series/over_test.py
  tests/expr_and_series/quantile_test.py
Due: none

refactor: Make `version` a classvar for compliant
  narwhals/_plan/_namespace.py
  narwhals/_plan/_version.py
  narwhals/_plan/arrow/common.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/lazyframe.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/arrow/v1.py
  narwhals/_plan/compliant/concat.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/group_by.py
  narwhals/_plan/compliant/lazyframe.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/package.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/compliant/translate.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/expressions/literal.py
  narwhals/_plan/lazyframe.py
  narwhals/_plan/plans/logical.py
  narwhals/_plan/plans/visitors.py
  narwhals/_plan/polars/__init__.py
  narwhals/_plan/polars/dataframe.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/polars/frame.py
  narwhals/_plan/polars/lazyframe.py
  narwhals/_plan/polars/namespace.py
  narwhals/_plan/polars/series.py
  narwhals/_plan/polars/v1.py
  narwhals/_plan/series.py
  narwhals/_plan/translate.py
  narwhals/_plan/typing.py
  tests/plan/conftest.py
  tests/plan/map_batches_test.py
Due: imports-are-banned, self-self, dtypes-import

rm NarwhalsNamespace protocol
  narwhals/testing/constructors.py
Due: imports-are-banned, self-self, dtypes-import

fixup hist test
  tests/series_only/hist_test.py
Due: none

chore: misc cleanup
  narwhals/_plan/compliant/column.py
  narwhals/_plan/compliant/typing.py
Due: imports-are-banned, self-self, dtypes-import

feat(typing): More covariance
  narwhals/_plan/compliant/lazyframe.py
  narwhals/_plan/plans/logical.py
  narwhals/_plan/plans/resolved.py
  narwhals/_plan/plans/typing.py
Due: imports-are-banned, self-self, dtypes-import

chore: remove `version`
  narwhals/_plan/arrow/lazyframe.py
Due: imports-are-banned, self-self, dtypes-import

feat: More progress on versions packages
  narwhals/_plan/arrow/__init__.py
  narwhals/_plan/arrow/v1.py
  narwhals/_plan/compliant/package.py
  narwhals/_plan/polars/__init__.py
  narwhals/_plan/polars/v1.py
Due: imports-are-banned, self-self, dtypes-import

chore: Add `Compliant{Expr,Scalar}.native`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions/_arithmetic.py
  narwhals/_plan/arrow/functions/_boolean.py
  narwhals/_plan/arrow/functions/_multiplex.py
  narwhals/_plan/arrow/functions/_round.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/package.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

docs: Show type parameters on hover
  narwhals/_plan/compliant/accessors.py
  narwhals/_plan/compliant/column.py
  narwhals/_plan/compliant/concat.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/group_by.py
  narwhals/_plan/compliant/io.py
  narwhals/_plan/compliant/lazyframe.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/ranges.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/translate.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Avoid referencing `CompliantSeries`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/compliant/__init__.py
  narwhals/_plan/compliant/broadcast.py
  narwhals/_plan/compliant/column.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/group_by.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/typing.py
  tests/plan/map_batches_test.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Support defaults for `Scalar`
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/package.py
  narwhals/_plan/compliant/typing.py
Due: imports-are-banned, self-self, dtypes-import

chore: cleanup some experiments
  narwhals/_plan/compliant/package.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

tidier
  narwhals/_plan/_namespace.py
Due: imports-are-banned, self-self, dtypes-import

docs: Remove outdated docs
  narwhals/_plan/_expr_ir.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Use native types in `io` protocols
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/io.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/io/__init__.py
Due: imports-are-banned, self-self, dtypes-import

fixup tests
  tests/expr_and_series/struct_/field_test.py
  tests/preserve_pandas_like_columns_name_attr_test.py
Due: none

ci: Add `scorecard` github action
  .github/workflows/scorecard.yml
Due: pull-request-target

docs: Add missing exceptions in api-reference
  docs/api-reference/exceptions.md
Due: none

docs: Add note on return type of columns property
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

woops, forgot that
  pyproject.toml
Due: none

docs: Add missing exceptions in api-reference (#3574)
  docs/api-reference/exceptions.md
Due: none
