Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

chore: Raise instead of assert
  narwhals/dtypes.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Maximum walrus
  narwhals/dtypes.py
Due: imports-are-banned, dtypes-import, mypy

chore: Add `Version.namespace`, remove `import_namespace`
  narwhals/functions.py
  narwhals/translate.py
  narwhals/utils.py
  tests/namespace_test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): fix `check_docstrings` `Path` warning
  utils/check_docstrings.py
Due: none

chore: Use `dir(...)` instead of `.__dir__()`
  utils/check_api_reference.py
Due: none

chore(typing): Fix 2 more errors
  utils/check_api_reference.py
Due: none

chore(typing): Fix the last 2 as well
  utils/check_api_reference.py
Due: none

chore: Simplify the rest
  utils/check_api_reference.py
Due: none

chore(typing): Ignore remaining in `utils`
  utils/bump_version.py
Due: none

chore(typing): Ignore everything in `tpch`
  tpch/execute.py
  tpch/queries/q10.py
  tpch/queries/q11.py
  tpch/queries/q12.py
  tpch/queries/q13.py
  tpch/queries/q14.py
  tpch/queries/q15.py
  tpch/queries/q16.py
  tpch/queries/q17.py
  tpch/queries/q18.py
  tpch/queries/q19.py
  tpch/queries/q2.py
  tpch/queries/q20.py
  tpch/queries/q21.py
  tpch/queries/q22.py
  tpch/queries/q3.py
  tpch/queries/q4.py
  tpch/queries/q5.py
  tpch/queries/q7.py
  tpch/queries/q8.py
  tpch/queries/q9.py
Due: none

fix: pre-`3.13` compat?
  utils/check_api_reference.py
Due: none

chore(typing): Fix some of the new `tpch` ignores
  tpch/__init__.py
  tpch/queries/q1.py
  tpch/queries/q10.py
  tpch/queries/q11.py
  tpch/queries/q12.py
  tpch/queries/q13.py
  tpch/queries/q14.py
  tpch/queries/q15.py
  tpch/queries/q16.py
  tpch/queries/q17.py
  tpch/queries/q18.py
  tpch/queries/q19.py
  tpch/queries/q2.py
  tpch/queries/q20.py
  tpch/queries/q21.py
  tpch/queries/q22.py
  tpch/queries/q3.py
  tpch/queries/q4.py
  tpch/queries/q5.py
  tpch/queries/q6.py
  tpch/queries/q7.py
  tpch/queries/q8.py
  tpch/queries/q9.py
  tpch/typing.py
Due: none

fix: don't clobber `typing` 🤦‍♂️
  tpch/__init__.py
  tpch/_typing.py
  tpch/queries/q1.py
  tpch/queries/q10.py
  tpch/queries/q11.py
  tpch/queries/q12.py
  tpch/queries/q13.py
  tpch/queries/q14.py
  tpch/queries/q15.py
  tpch/queries/q16.py
  tpch/queries/q17.py
  tpch/queries/q18.py
  tpch/queries/q19.py
  tpch/queries/q2.py
  tpch/queries/q20.py
  tpch/queries/q21.py
  tpch/queries/q22.py
  tpch/queries/q3.py
  tpch/queries/q4.py
  tpch/queries/q5.py
  tpch/queries/q6.py
  tpch/queries/q7.py
  tpch/queries/q8.py
  tpch/queries/q9.py
Due: none

chore: Apply suggestions
  narwhals/_arrow/group_by.py
  narwhals/_pandas_like/dataframe.py
  narwhals/group_by.py
Due: imports-are-banned, dtypes-import, mypy

docs: Try removing one inherited doc
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

test: Fix broken test
  tests/stable_api_test.py
Due: mypy

docs: Remove the other `v1.DataFrame` docs
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

test: Fix test on class docstring
  tests/stable_api_test.py
Due: mypy

cov
  tests/stable_api_test.py
Due: mypy

test: Use `getdoc` on both sides?
  tests/stable_api_test.py
Due: mypy

test: Rewrite `test_dataframe_docstrings`
  tests/stable_api_test.py
Due: mypy

test: Update `Series`, `LazyFrame` tests
  tests/stable_api_test.py
Due: mypy

docs: Remove non-deprecated `LazyFrame` docs
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

docs: Remove duplicate `Series` docs
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

docs: Remove warning from `v1.Expr.sample`
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

docs: Remove worse `Schema` doc
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

Dan's feedback
  narwhals/_compliant/group_by.py
  narwhals/dataframe.py
  tests/group_by_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: Remove duplicate `DType` docs
  narwhals/stable/v1/_dtypes.py
Due: imports-are-banned, mypy

ci: fix pointblank downstream test
  .github/workflows/downstream_tests.yml
Due: pull-request-target

ci: fix pointblank downstream test (#2428)
  .github/workflows/downstream_tests.yml
Due: pull-request-target

patch: Avoid pyspark no partition for window ops warning
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

patch: Avoid pyspark no partition for window ops warning (#2429)
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

one more try
  .github/workflows/pytest-pyspark.yml
  pyproject.toml
Due: pull-request-target

chore: Add `Version.namespace`, remove `import_namespace` (#2425)
  narwhals/functions.py
  narwhals/translate.py
  narwhals/utils.py
  tests/namespace_test.py
Due: imports-are-banned, dtypes-import, mypy

more window warnings, pass pyarrow schema in collect
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore: Add `Version.dtypes`
  narwhals/utils.py
Due: imports-are-banned, mypy

refactor: Replace prior `import_dtypes_module` usage
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_arrow/series_dt.py
  narwhals/_arrow/utils.py
  narwhals/_compliant/selectors.py
  narwhals/_dask/expr_dt.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/dataframe.py
  narwhals/_interchange/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_dt.py
  narwhals/_pandas_like/series_list.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/utils.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

ci: Update `pre-commit` name
  .pre-commit-config.yaml
Due: none

refactor: Tidy up surrounding code
  narwhals/_arrow/namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix: That wasn't the same oop 🤦‍♂️
  narwhals/_pandas_like/series.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
