Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/

fix nightly
  .github/workflows/extremes.yml
Due: pull-request-target

ci: pin pandas in some downstream jobs (#3417)
  .github/workflows/downstream_tests.yml
  .github/workflows/extremes.yml
Due: pull-request-target

refactor: Avoid subprocess to test TPCH queries, and fix q8 (#3419)
  tpch/README.md
  tpch/execute.py
  tpch/queries/q8.py
  tpch/tests/conftest.py
  tpch/tests/queries_test.py
Due: none

sort out test_unique_expr
  tests/expr_and_series/list/unique_test.py
Due: none

ci: Temporarily pin sqlglot, ignore pyspark warning (#3412)
  .github/workflows/pytest.yml
  pyproject.toml
  tests/expr_and_series/list/unique_test.py
Due: pull-request-target

chore(typing): Add `QueryModule`, dedup `DataLoader`
  tpch/tests/conftest.py
  tpch/tests/queries_test.py
  tpch/typing_.py
Due: none

chore(typing): Add `TPCHBackend`
  tpch/tests/conftest.py
  tpch/tests/queries_test.py
  tpch/typing_.py
Due: none

refactor: Use backend name isstead of `ModuleType`
  tpch/tests/conftest.py
Due: none

no cover for old pyarrow
  narwhals/_arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Add `QueryID`
  tpch/tests/conftest.py
  tpch/tests/queries_test.py
  tpch/typing_.py
Due: none

oop missed a spot
  tpch/tests/queries_test.py
Due: none

fix: Stop VSCode breaking my config
  tpch/tests/conftest.py
Due: none

fix: Unbreak `sqlframe` windows paths
  tpch/tests/conftest.py
Due: none

chore: Don't run `generate_data.py` on import
  tpch/__init__.py
  tpch/generate_data.py
Due: none

chore: Add a basic cli for `generate_data.py`
  tpch/generate_data.py
Due: none

refactor: More pyarrow removal
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

ffs pandas
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

Update tpch/__init__.py
  tpch/__init__.py
Due: none

docs: Link window function issues
  tpch/tests/conftest.py
Due: none

refactor: Simplify `skip_if_unsupported` some more
  tpch/tests/conftest.py
Due: none

fix: Don't yolo the suggestion this time
  tpch/__init__.py
Due: none

fix: add `type=float`
  tpch/generate_data.py
Due: none

refactor: Test against `pd.StringDtype` before trying endless string aliases
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify `pd.ArrowDtype` -> `nw.DType` (#3413)
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Improve `tpch` typing (#3420)
  tpch/tests/conftest.py
  tpch/tests/queries_test.py
  tpch/typing_.py
Due: none

WIP: Add support for (Decimal, Decimal)
  narwhals/dtypes/_supertyping.py
  tests/dtypes/get_supertype_test.py
Due: imports-are-banned, self-self

feat: Support `python tpch/generate_data.py` from the repo root
  tpch/generate_data.py
Due: none

{Decimal, IntegerType} case
  narwhals/dtypes/_supertyping.py
  tests/dtypes/get_supertype_test.py
Due: imports-are-banned, self-self

chore: Add some logging
  tpch/generate_data.py
Due: none

chore: Add TODO for `tpch_answers()` alternative
  tpch/generate_data.py
Due: none

simplify a bit
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

fix: Get answers when `tpch_answers()` can't
  tpch/generate_data.py
Due: none

refactor: Use `DuckDBPyConnection.sql` everywhere
  tpch/generate_data.py
Due: none

fix: woops needs to install
  tpch/generate_data.py
Due: none

fix typing issue + function renaming
  narwhals/dtypes/_supertyping.py
Due: imports-are-banned, self-self

xfail dask for over test
  tests/expr_and_series/filter_test.py
Due: none

unskip tpch q15 test for sqlframe and duckdb
  tpch/tests/conftest.py
  tpch/tests/queries_test.py
Due: none

feat: support window functions in filter (#3401)
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_sql/dataframe.py
  narwhals/dataframe.py
  tests/expr_and_series/filter_test.py
  tpch/tests/conftest.py
  tpch/tests/queries_test.py
Due: imports-are-banned, self-self, dtypes-import

log filename and size as streaming table
  tpch/generate_data.py
Due: none

refactor: Orgnazie a bit
  tpch/generate_data.py
Due: none
