Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

refactor(suggestion): Even simpler `concat_str`
  narwhals/_duckdb/namespace.py
Due: imports-are-banned, self-self, dtypes-import

skip datetime_utc test for pyarrow and windows
  tests/expr_and_series/cast_test.py
Due: none

update docs, use `cls`, coverage, take over_node_order_by and partition by out of loop, list comprehension in repr
  docs/how_it_works.md
  narwhals/_expression_parsing.py
  narwhals/expr.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import

WIP: refactor ExprMetadata
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

kind = node.kind in from_node and with_node
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

perf: Prefer `Iterator > tuple > list`, use native `pyarrow.repeat`, simplify `nw.concat_str` for DuckDB backend (#3190)
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/typing.py
  narwhals/_arrow/utils.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/group_by.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/namespace.py
  narwhals/_ibis/utils.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/group_by.py
  narwhals/_spark_like/namespace.py
  narwhals/_sql/expr.py
  narwhals/_utils.py
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

no cover `iter_nodes`
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

post-merge fixup
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

use preserve_broadcast
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

rm iter_nodes method
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

"complete" comment
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

pass `prev` to `combine_metadata`
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

Disable test for bodo.
  tests/dtypes_test.py
Due: none

:truck: rename
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

chore: Add _with_over_node method for readability
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

rm blank lines
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

test: Check `__dict__` is a no-no
  tests/dtypes_test.py
Due: none

revert: raising `UnsupportedDTypeError`
  narwhals/_duckdb/utils.py
Due: imports-are-banned, self-self, dtypes-import

add floor ceil impl
  .gitignore
  docs/api-reference/expr.md
  docs/api-reference/series.md
  narwhals/_arrow/series.py
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_sql/expr.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/floor_ceil_test.py
Due: imports-are-banned, self-self, dtypes-import

hopefully fix cudf
  .gitignore
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

add precommit check for slotted classes
  .pre-commit-config.yaml
  utils/check_api_reference.py
  utils/check_slotted_classes.py
Due: none

more explicit unpacking names
  utils/check_slotted_classes.py
Due: none

use is_pyarrow_window_no_tzdata#
  tests/expr_and_series/cast_test.py
Due: none

perf: avoid full broadcast in `concat_str` for pyarrow
  narwhals/_arrow/namespace.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: correctly preserve arrow dtypes for pandas-like, improve `concat_str` performance (#3193)
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  tests/expr_and_series/cast_test.py
  tests/frame/schema_test.py
Due: imports-are-banned, self-self, dtypes-import

go further
  narwhals/_arrow/namespace.py
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

ci(ruff): Add (`T201`) ignore to all `utils/*`
  pyproject.toml
  utils/check_api_reference.py
  utils/check_dist_content.py
  utils/check_docstrings.py
  utils/check_slotted_classes.py
  utils/import_check.py
Due: none

feat: Sort api-reference script
  .pre-commit-config.yaml
  docs/api-reference/dataframe.md
  docs/api-reference/expr_dt.md
  docs/api-reference/lazyframe.md
  docs/api-reference/narwhals.md
  docs/api-reference/schema.md
  docs/api-reference/series.md
  docs/api-reference/series_dt.md
  docs/api-reference/utils.md
  utils/sort_api_reference.py
Due: none

preserve broadcast more for pyarrow
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  tests/expr_and_series/mean_horizontal_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup dask, trim down test suite a little
  tests/expr_and_series/max_horizontal_test.py
  tests/expr_and_series/mean_horizontal_test.py
  tests/expr_and_series/min_horizontal_test.py
  tests/expr_and_series/sum_horizontal_test.py
Due: none

remove unused mod_compat
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor(suggestion): Reuse `get_dtype_backend_test` logic
  utils/check_slotted_classes.py
Due: none

chore: Add script to automatically sort members in `docs/api-reference` (#3200)
  .pre-commit-config.yaml
  docs/api-reference/dataframe.md
  docs/api-reference/expr_dt.md
  docs/api-reference/lazyframe.md
  docs/api-reference/narwhals.md
  docs/api-reference/schema.md
  docs/api-reference/series.md
  docs/api-reference/series_dt.md
  docs/api-reference/utils.md
  utils/sort_api_reference.py
Due: none

ci: Install `ibis` from git
  pyproject.toml
Due: none

fix: mkdocs as well
  pyproject.toml
Due: none

ci: maybe fix
  .github/workflows/pytest.yml
Due: pull-request-target

why do we have a group named extra
  .github/workflows/pytest.yml
Due: pull-request-target

cov: leave todo for (#3197)
  narwhals/_duckdb/utils.py
Due: imports-are-banned, self-self, dtypes-import

test: fix `ibis`, `sqlframe` xpass
  tests/expr_and_series/reduction_test.py
  tests/frame/collect_test.py
  tests/frame/unique_test.py
  tests/utils.py
Due: none

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
