Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

docs: Polish `prepare_projection`, `expand_selectors`
  narwhals/_plan/_expansion.py
Due: imports-are-banned, self-self, dtypes-import

refactor: `expressions_to_schema` -> `FrozenSchema.select_resolved`
  narwhals/_plan/_expansion.py
  narwhals/_plan/plans/conversion.py
  narwhals/_plan/schema.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Tighten up `_expansion` API boundaries
  narwhals/_plan/_expansion.py
  narwhals/_plan/plans/conversion.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import

docs: Explain `Expander`
  narwhals/_plan/_expansion.py
Due: imports-are-banned, self-self, dtypes-import

test: Shrink some boilerplate
  tests/plan/expr_expansion_test.py
  tests/plan/expr_rewrites_test.py
  tests/plan/utils.py
Due: none

fix: Reject non-length-preserving in `sort_by`
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_nodes.py
  narwhals/_plan/_parse.py
  narwhals/_plan/exceptions.py
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/expressions/literal.py
  narwhals/_plan/expressions/name.py
  narwhals/_plan/expressions/operators.py
  narwhals/_plan/expressions/window.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Accept length-preserving, non-elementwise in binary expressions
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/operators.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Don't mark `over` as non-length-preserving
  narwhals/_plan/_nodes.py
  narwhals/_plan/expressions/expr.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Reject length-changing in binary expressions
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_nodes.py
  narwhals/_plan/exceptions.py
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/expressions/literal.py
  narwhals/_plan/expressions/operators.py
  tests/plan/expr_parsing_test.py
  tests/plan/meta_test.py
Due: imports-are-banned, self-self, dtypes-import

change pretty_old_versions pandas to 1.4.1 due to downcasting regression
  .github/workflows/extremes.yml
  tests/expr_and_series/fill_null_test.py
Due: pull-request-target

rollback use of | in union types that require forward references
  narwhals/_native.py
  narwhals/stable/v1/typing.py
  narwhals/stable/v2/typing.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import

Forgot to change assertion -- where is my mind?
  .github/workflows/extremes.yml
Due: pull-request-target

allow IntoExpr
  narwhals/_arrow/namespace.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/expr_and_series/struct_test.py
Due: imports-are-banned, self-self, dtypes-import

return Expr instead of Then in `otherwise`
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

chore: fix nightly ci
  pyproject.toml
Due: none

chore: fix nightly ci (#3545)
  pyproject.toml
Due: none

perf: Simplify `FunctionExpr.changes_length`
  narwhals/_plan/_flags.py
  narwhals/_plan/expressions/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore: Explain weirdness in `FunctionFlags.__str__`
  narwhals/_plan/_flags.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add top-level `struct` function (#3522)
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/_arrow/namespace.py
  narwhals/_compliant/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_expression_parsing.py
  narwhals/_ibis/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  test-plugin/test_plugin/namespace.py
  tests/expr_and_series/struct_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

use chain in example
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

Update narwhals/expr_str.py
  narwhals/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

Update narwhals/series_str.py
  narwhals/series_str.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Split out `function_expr.py`
  narwhals/_plan/_function.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/expressions/__init__.py
  narwhals/_plan/expressions/boolean.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/expressions/function_expr.py
  narwhals/_plan/expressions/functions.py
  narwhals/_plan/expressions/ranges.py
  narwhals/_plan/expressions/struct.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove `RollingExpr`
  narwhals/_plan/_dispatch.py
  narwhals/_plan/_immutable.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/expressions/__init__.py
  narwhals/_plan/expressions/function_expr.py
  narwhals/_plan/expressions/functions.py
  narwhals/_plan/options.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/typing.py
  tests/plan/dispatch_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Deduplicate range validation
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/expressions/ranges.py
  narwhals/_plan/functions/ranges.py
  narwhals/_plan/polars/namespace.py
  narwhals/_plan/typing.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

Follow @dangotbanned suggestion for zip(..., strict=False)
  .github/workflows/downstream_tests.yml
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  tests/conftest.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

tests(fix): Adjust error message for 32bit machines
  tests/expr_and_series/map_batches_test.py
Due: none

fix: Add fallback for incompatible string concenation in pandas
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  tests/expr_and_series/pandas_str_dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

docs: Clarify .over(partition_by=None, order_by=...)
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

cvg
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Adjust test error message for 32bit machines (#3547)
  tests/expr_and_series/map_batches_test.py
Due: none

simplify pyspark tests via nw.struct
  narwhals/_spark_like/expr_struct.py
  narwhals/_spark_like/utils.py
  tests/expr_and_series/cast_test.py
  tests/expr_and_series/struct_/unnest_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

Warning -> Note; remove outdated example; pandas -> duckdb
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore: Add `{Function,FunctionFlags}.is_length_preserving`
  narwhals/_plan/_flags.py
  narwhals/_plan/_function.py
  narwhals/_plan/expressions/function_expr.py
  narwhals/_plan/expressions/functions.py
Due: imports-are-banned, self-self, dtypes-import

docs(DRAFT): Add some `FunctionExpr` basics
  narwhals/_plan/expressions/function_expr.py
Due: imports-are-banned, self-self, dtypes-import

feat: enable when/then chaining (#3501)
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/expr_and_series/when_test.py
Due: imports-are-banned, self-self, dtypes-import

pandas_like...str.to_time auto-convert to pyarrow
  narwhals/_pandas_like/series_str.py
  tests/expr_and_series/str/to_time_test.py
Due: imports-are-banned, self-self, dtypes-import

ci: Use py-shiny composite actions for Docker Playwright in shiny job
  .github/workflows/downstream_tests.yml
Due: pull-request-target

chore: struct followup
  narwhals/_duckdb/namespace.py
  tests/expr_and_series/cast_test.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
