Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
  skip: [mypy]
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.11.8'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: init-env
      name: init-env
      entry: python --version
      language: python
      pass_filenames: false
      description: This hook serves as a env initializer, used both in check-api-reference and mypy hook
    - id: check-api-reference
      name: check-api-reference
      entry: make check-api-reference
      language: system
      require_serial: true
      pass_filenames: false
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
    - id: mypy
      name: mypy
      entry: make typing
      language: system
      types: [python]
      require_serial: true
      pass_filenames: false
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

Apply suggestion
  tests/expr_and_series/first_test.py
Due: mypy

test: Remove dask `xfail`
  tests/expr_and_series/first_test.py
Due: mypy

revert: Remove `dask` implementation
  narwhals/_dask/expr.py
  tests/expr_and_series/first_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor(typing): Use `PythonLiteral` for `Series` return
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/series.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Use `not_implemented` some more
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Generate nicer-looking SQL when grouping by expressions (#2536)
  narwhals/_compliant/group_by.py
  tests/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/expr.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/utils.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/dataframe.py
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Use `not_implemented` some more (#2539)
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

build: Include tests in source distributions (#2285)
  .github/workflows/publish_to_pypi.yml
  pyproject.toml
  utils/check_dist_content.py
Due: pull-request-target, mypy

markdownlints, highlight line to pay attention to
  README.md
  docs/concepts/improve_group_by_operation.md
Due: none

rephrase
  docs/backcompat.md
  docs/ecosystem.md
  docs/installation.md
Due: none

docs: Assorted documentation improvements (#2538)
  README.md
  docs/backcompat.md
  docs/basics/series.md
  docs/concepts/boolean.md
  docs/concepts/column_names.md
  docs/concepts/improve_group_by_operation.md
  docs/concepts/null_handling.md
  docs/concepts/order_dependence.md
  docs/concepts/pandas_index.md
  docs/ecosystem.md
  docs/extending.md
  docs/installation.md
  docs/pandas_like_concepts/improve_group_by_operation.md
  mkdocs.yml
  narwhals/_dask/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/group_by.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, dtypes-import, mypy

release: Bump version to 1.39.0
  pyproject.toml
Due: none

release: Bump version to 1.39.0 (#2541)
  pyproject.toml
Due: none

TYP: Make `FrameT` more precise
  narwhals/stable/v1/typing.py
  narwhals/typing.py
  tpch/_typing.py
  tpch/queries/q1.py
  tpch/queries/q10.py
  tpch/queries/q11.py
  tpch/queries/q12.py
  tpch/queries/q13.py
  tpch/queries/q14.py
  tpch/queries/q15.py
  tpch/queries/q16.py
  tpch/queries/q17.py
  tpch/queries/q18.py
  tpch/queries/q19.py
  tpch/queries/q2.py
  tpch/queries/q20.py
  tpch/queries/q21.py
  tpch/queries/q22.py
  tpch/queries/q3.py
  tpch/queries/q4.py
  tpch/queries/q5.py
  tpch/queries/q6.py
  tpch/queries/q7.py
  tpch/queries/q8.py
  tpch/queries/q9.py
Due: imports-are-banned, self-self, mypy

test: Add `test_group_by_agg_first`
  tests/group_by_test.py
Due: mypy

feat(DRAFT): Start trying `pyarrow` `agg(first())`
  narwhals/_arrow/group_by.py
  narwhals/_compliant/group_by.py
  tests/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Maybe `pyarrow` support?
  narwhals/_arrow/group_by.py
  tests/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Split out `narwhals/stable/v1/__init__.py`
  narwhals/stable/v1/__init__.py
  narwhals/stable/v1/dataframe.py
  narwhals/stable/v1/expr.py
  narwhals/stable/v1/functions.py
  narwhals/stable/v1/schema.py
  narwhals/stable/v1/series.py
  narwhals/stable/v1/sql.py
  narwhals/stable/v1/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

[skip-ci] wip
  narwhals/stable/v1/__init__.py
  narwhals/stable/v1/dataframe.py
  narwhals/stable/v1/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

[skip-ci] wip
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, mypy

typing
  narwhals/_duckdb/dataframe.py
  narwhals/stable/v1/functions.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Add `ArrowGroupBy._configure_agg`
  narwhals/_arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fixup
  tpch/__init__.py
Due: mypy

rm sql
  narwhals/stable/v1/sql.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix
  .pre-commit-config.yaml
Due: none

fix
  narwhals/stable/v1/dataframe.py
  narwhals/stable/v1/series.py
  narwhals/stable/v1/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

remove redundant defs
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: call ibis tbl.drop once during join
  narwhals/_ibis/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: import ibis _ as col at top of expr.py
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: ibis is_unique avoid casting to str
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: remove ibis redundant join predicate checks, add asserts for mypy
  narwhals/_ibis/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Add `pyarrow` compat for `first`
  narwhals/_arrow/group_by.py
  tests/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Don't support below `14` ever
  narwhals/_arrow/group_by.py
  tests/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Add some `None` cases
  tests/group_by_test.py
Due: mypy

revert sparklike and duckdb changes
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

update with raise
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

restore test
  tests/frame/select_test.py
Due: mypy

missing raise
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat(DRAFT): Partial support for `pandas`
  narwhals/_pandas_like/group_by.py
  tests/group_by_test.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy
