Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

refactor: define `CompliantLazyFrame._iter_columns`
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_selectors.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/selectors.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

docs: move note back into code
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

refactor: remove duplicate import
  narwhals/_dask/selectors.py
Due: imports-are-banned, dtypes-import, mypy

typo
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

docs: add notes on `3.8` compat code
  narwhals/_selectors.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Generic `CompliantSelector` (#2064)
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/selectors.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/selectors.py
  narwhals/_polars/dataframe.py
  narwhals/_selectors.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/selectors.py
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Move check into `is_pyarrow_windows_no_tzdata`
  tests/expr_and_series/dt/timestamp_test.py
  tests/utils.py
Due: mypy

fixup
  tests/expr_and_series/over_test.py
Due: mypy

silence modins noise
  pyproject.toml
Due: none

old pandas compat
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

old pandas compat
  narwhals/_arrow/expr.py
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

arrow fix
  narwhals/_arrow/expr.py
Due: imports-are-banned, dtypes-import, mypy

test: enhance xfail markers with specific reasons in timestamp_test.py (#2065)
  tests/expr_and_series/dt/timestamp_test.py
  tests/utils.py
Due: mypy

wip
  narwhals/_dask/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Convert `DaskExpr.replace_strict` into `not_implemented`
  narwhals/_dask/expr.py
Due: imports-are-banned, dtypes-import, mypy

coverage
  narwhals/_arrow/expr.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr.py
  narwhals/expr.py
Due: imports-are-banned, dtypes-import, mypy

lint
  tests/expr_and_series/cum_sum_test.py
Due: mypy

refactor: tweak from_column_names to reuse in exclude
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

get_column_names -> evaluate_column_names
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

factor out
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

simplify namespace.all()
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

partial out of binding
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

Clarify arrow coalesce behavior as full join specific
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Remove pandas support for full join
  narwhals/_pandas_like/dataframe.py
  tests/frame/join_test.py
Due: imports-are-banned, dtypes-import, mypy

Implement non coalescing keys for arrow full joins
  narwhals/_arrow/dataframe.py
  tests/frame/join_test.py
Due: imports-are-banned, dtypes-import, mypy

Implemented for core libraries
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/dataframe.py
  tests/frame/join_test.py
Due: imports-are-banned, dtypes-import, mypy

Add libraries to exclusion list
  tests/frame/join_test.py
Due: mypy

Add full join documentation
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

pandas fixup
  narwhals/_arrow/expr.py
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

pandas cross-version fix
  narwhals/_pandas_like/expr.py
  tests/series_only/scatter_test.py
Due: imports-are-banned, dtypes-import, mypy

modin xfail
  tests/expr_and_series/cum_sum_test.py
Due: mypy

Store similar values in one variable instead of passing similar values in a function
  narwhals/translate.py
Due: imports-are-banned, dtypes-import, mypy

release: Bump version to 1.29.0
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

release: Bump version to 1.29.0 (#2136)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

feat(DRAFT): Add descriptor version `not_implemented_alt`
  narwhals/_dask/expr.py
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, dtypes-import, mypy

typo
  narwhals/utils.py
Due: imports-are-banned, mypy

test: coverage for `@classmethod`-like?
  tests/utils_test.py
Due: mypy

feat(DRAFT): Improved `@property` support
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, mypy

feat(DRAFT): Add a second option for `@property`
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, mypy

fix: coverage, fix alias
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
