Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

chore: move all group_by stuff to the end
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

minor nits
  narwhals/_plan/typing.py
  tests/plan/group_by_test.py
Due: imports-are-banned, self-self

feat: Improve error reporting
  narwhals/_plan/arrow/group_by.py
  tests/plan/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `{nw,DataFrame}.from_dicts` (#3148)
  docs/api-reference/dataframe.md
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/utils.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/frame/from_dicts_test.py
  tests/from_dicts_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

reduce selectors diff
  narwhals/selectors.py
  tests/selectors_test.py
Due: imports-are-banned, self-self, dtypes-import

document ExprNodes
  docs/how_it_works.md
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

dask fix
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix mess in pytest.yml
  .github/workflows/pytest.yml
Due: pull-request-target

modified pytest.yml
  .github/workflows/pytest.yml
Due: pull-request-target

feat: Improve `temp.column_name` error message
  narwhals/_plan/common.py
Due: imports-are-banned, self-self, dtypes-import

test: Add tests for `temp.column_name`
  tests/plan/temp_test.py
Due: none

simplify
  narwhals/_arrow/series.py
  narwhals/_arrow/series_str.py
  narwhals/_compliant/any_namespace.py
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/namespace.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_dask/expr_str.py
  narwhals/_dask/utils.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_str.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

wip simpler
  narwhals/_compliant/namespace.py
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

simpler typing
  narwhals/_compliant/namespace.py
  narwhals/_expression_parsing.py
  narwhals/_polars/namespace.py
  narwhals/_sql/namespace.py
Due: imports-are-banned, self-self, dtypes-import

Update pytest.yml
  .github/workflows/pytest.yml
Due: pull-request-target

who even needs `is_compliant_expr` anymore?
  narwhals/_compliant/namespace.py
  narwhals/_expression_parsing.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

dask fixup
  narwhals/_dask/namespace.py
Due: imports-are-banned, self-self, dtypes-import

polars compat
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

split clip into clip_lower,clip_upper,clip
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_sql/expr.py
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

complete the split
  narwhals/_arrow/series.py
  narwhals/_polars/series.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

:art:
  narwhals/_dask/namespace.py
Due: imports-are-banned, self-self, dtypes-import

typing
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

skip old dask for fill_null
  tests/expr_and_series/fill_null_test.py
Due: none

coverage, simplify
  narwhals/_dask/namespace.py
  narwhals/_pandas_like/series.py
  tests/expr_and_series/fill_null_test.py
Due: imports-are-banned, self-self, dtypes-import

old dask
  tests/expr_and_series/fill_null_test.py
Due: none

fix: Omit `indent` before `3.12`
  narwhals/_plan/common.py
Due: imports-are-banned, self-self, dtypes-import

it gets simpler
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

remove even more chaff
  narwhals/_dask/namespace.py
Due: imports-are-banned, self-self, dtypes-import

fix: welp no constructor
  narwhals/_plan/common.py
Due: imports-are-banned, self-self, dtypes-import

remove several Any
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `test_temp_column_names_failed_unique`
  narwhals/_plan/common.py
  tests/plan/temp_test.py
Due: imports-are-banned, self-self, dtypes-import

typing
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

test: More `temp.column_names` tests
  tests/plan/temp_test.py
Due: none

added _with_native to plugintest
  tests/test_plugin/test_plugin/dataframe.py
Due: none

docs: Add meaningful examples to `temp.column_name`
  narwhals/_plan/common.py
Due: imports-are-banned, self-self, dtypes-import

expressifiable_args -> kwargs
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

more precise typing, remove another `Any`
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

more typing fixes
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/selectors.py
  narwhals/_sql/expr_dt.py
  narwhals/_sql/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

more typing fixes
  narwhals/_sql/expr_dt.py
  narwhals/_sql/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
