Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.8.6'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.14.1'
  hooks:
    - id: mypy
      additional_dependencies: ['polars==1.4.1', 'pytest==8.3.2']
      files: ^(narwhals|tests)/
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.3.0'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.1.1'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

raise if expression changes length in `.over()`
  narwhals/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import

loudly raise for over with key overlap
  narwhals/_dask/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import

better types in selectors.
  narwhals/_arrow/selectors.py
  narwhals/_dask/selectors.py
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import

fixup
  tests/expr_and_series/name/keep_test.py
Due: none

feat: raise if expression changes length in `.over()` (#1867)
  narwhals/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import

versions compat
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import

fixup
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import

coverage
  narwhals/_expression_parsing.py
  narwhals/exceptions.py
  narwhals/utils.py
  tests/expr_and_series/sum_horizontal_test.py
  tests/frame/select_test.py
Due: imports-are-banned, dtypes-import

fixup
  tests/expr_and_series/over_test.py
Due: none

comprehensions
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import

redundat comment
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import

docs: fix api completness generation in CI (#1863)
  .github/workflows/mkdocs.yml
Due: pull-request-target

pyproject.toml
  pyproject.toml
Due: none

warning
  pyproject.toml
Due: none

fixup spark
  narwhals/_spark_like/selectors.py
  tests/selectors_test.py
Due: imports-are-banned, dtypes-import

polars version fixup
  tests/selectors_test.py
Due: none

wip
  narwhals/_polars/namespace.py
Due: imports-are-banned, dtypes-import

dont cover categorical for duckdb
  narwhals/_duckdb/selectors.py
Due: imports-are-banned, dtypes-import

feat: pyspark and duckdb selectors (#1853)
  narwhals/_arrow/selectors.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/selectors.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  pyproject.toml
  tests/selectors_test.py
Due: imports-are-banned, dtypes-import

fixup selectors for polars
  narwhals/_polars/namespace.py
  tests/selectors_test.py
Due: imports-are-banned, dtypes-import

fixup
  tests/selectors_test.py
Due: none

ci
  tests/selectors_test.py
Due: none

win
  tests/selectors_test.py
Due: none

fix
  tests/selectors_test.py
Due: none

test and test env
  pyproject.toml
  tests/expr_and_series/lit_test.py
  tests/expr_and_series/reduction_test.py
  tests/stable_api_test.py
Due: none

working solution
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

list-comprehensionify
  narwhals/_polars/namespace.py
Due: imports-are-banned, dtypes-import

fix: `nw.selectors.by_dtype(nw.Datetime)` was excluding tz-aware for Polars (#1869)
  narwhals/_polars/namespace.py
  tests/selectors_test.py
Due: imports-are-banned, dtypes-import

fix: allow any name in expression parsin
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/utils.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

fix: allow any name in expression parsing (#1871)
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/utils.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

also the great group by refactor
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/group_by.py
Due: imports-are-banned, dtypes-import

Implemented pyspark equivalents to `Date` and `Datetime` types.
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

chore: use F.lit in maybe_evaluate for pyspark, like we do for duckdb
  narwhals/_spark_like/selectors.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

fix replace_strict pandas
  narwhals/_pandas_like/series.py
  tests/conftest.py
Due: imports-are-banned, dtypes-import

simplify
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

:art:
  tests/conftest.py
Due: none
