Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
  skip: [mypy]
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.11.8'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: init-env
      name: init-env
      entry: python --version
      language: python
      pass_filenames: false
      description: This hook serves as a env initializer, used both in check-api-reference and mypy hook
    - id: check-api-reference
      name: check-api-reference
      entry: make check-api-reference
      language: system
      require_serial: true
      pass_filenames: false
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
    - id: mypy
      name: mypy
      entry: make typing
      language: system
      types: [python]
      require_serial: true
      pass_filenames: false
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

refactor: Introduce `PolarsBaseFrame` parent class (#2689)
  narwhals/_polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, mypy

move polars with_row_index to parent class
  narwhals/_polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, mypy

perf: Avoid native range whenever possible
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

restore NativeSeriesT_contra to EagerDataFrame
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/typing.py
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Don't use `methodcaller` w/ modin
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

perf: Avoid Python range whenever possible (#2692)
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

cov ignore
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix(typing): Resolve intermittent `*GroupBy` variance issue
  narwhals/_compliant/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Add (failing) case
  tests/frame/group_by_test.py
Due: mypy

fix: Everything except `modin[pyarrow]`
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: xfail modin, dask
  tests/frame/group_by_test.py
Due: mypy

first draft of namespace registration inspired by polars
  narwhals/__init__.py
  narwhals/_reexport.py
  narwhals/api.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

big refactor at dataframe level
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, mypy

allow order_by=None for lazyframe only in v1
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  tests/frame/with_row_index_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: More consistent `__str__`
  narwhals/_plan/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore(typing): Add back to other methods
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Mostly finish restoring `NativeSeriesT`
  narwhals/_arrow/namespace.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/namespace.py
  narwhals/_compliant/series.py
  narwhals/_compliant/typing.py
  narwhals/_compliant/when_then.py
  narwhals/_namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/typing.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Set `_broadcast` in `EagerSeries._from_scalar`
  narwhals/_compliant/series.py
  narwhals/_compliant/when_then.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Move broadcasting
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_compliant/when_then.py
  narwhals/_namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Replace the `utils` versions
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/utils.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Fix assignment and use `chain.from_iterable`
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Avoid runtime import
  narwhals/_arrow/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

perf: Use `pa.repeat` instead of `list.__mul__`
  narwhals/_arrow/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

perf(DRAFT): Try avoiding `pa` -> `py` -> `pa`
  narwhals/_arrow/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

perf: Use `np.repeat` instead of `list.__mul__`
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore(typing): No need for `Incomplete` now
  narwhals/_arrow/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

🎨
  narwhals/_arrow/series.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix the doctests
  narwhals/series_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor logic to look like _spark_like
  narwhals/_duckdb/expr_str.py
  narwhals/_ibis/expr_str.py
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

pyarrow variable naming, typing and some misc
  narwhals/_arrow/series_str.py
  narwhals/_duckdb/expr_str.py
  narwhals/_ibis/expr_str.py
  narwhals/_polars/series.py
  narwhals/_spark_like/expr_str.py
  tests/expr_and_series/str/zfill_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

pyarrow use repeat
  narwhals/_arrow/series_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Regression in dependencies
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, mypy

fix: narwhals.stable.v1.dependencies may have been importing narwhals.dependencies
  narwhals/stable/v1/__init__.py
  tests/stable_v1_dependencies_test.py
Due: imports-are-banned, self-self, mypy

add test
  tests/v1_test.py
Due: mypy

Update tests/stable_v1_dependencies_test.py
  tests/stable_v1_dependencies_test.py
Due: mypy

fix: `narwhals.stable.v1.dependencies` was importing `narwhals.dependencies` (#2696)
  narwhals/stable/v1/__init__.py
  tests/stable_v1_dependencies_test.py
Due: imports-are-banned, self-self, mypy

release: Bump version to 1.43.1
  pyproject.toml
Due: none

release: Bump version to 1.43.1 (#2698)
  pyproject.toml
Due: none

remove xfail
  tests/expr_and_series/is_in_test.py
Due: mypy

remove warnings
  narwhals/expr_str.py
  narwhals/series_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy
