Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

fix: Expr.mode broadcasting
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  tests/expr_and_series/mode_test.py
Due: imports-are-banned, dtypes-import, mypy

feat: Add `cum max` and `cum_min` for DuckDB (#2278)
  narwhals/_duckdb/expr.py
  tests/expr_and_series/cum_max_test.py
  tests/expr_and_series/cum_min_test.py
Due: imports-are-banned, dtypes-import, mypy

feat: add `cum_count` and `cum_prod` for DuckDB and PySpark
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/cum_count_test.py
  tests/expr_and_series/cum_prod_test.py
Due: imports-are-banned, dtypes-import, mypy

add sqlframe issue with missing `product`
  tests/expr_and_series/cum_prod_test.py
Due: mypy

skip modin rather than xfail
  tests/expr_and_series/cum_count_test.py
  tests/expr_and_series/cum_prod_test.py
Due: mypy

fixup polars join version check
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

feat: add `cum_count` and `cum_prod` to PySpark and DuckDB (#2286)
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/cum_count_test.py
  tests/expr_and_series/cum_prod_test.py
Due: imports-are-banned, dtypes-import, mypy

feat: Add `DataFrame.clone` for `pyarrow`
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

test: Remove `xfail` for `pyarrow`
  tests/frame/clone_test.py
Due: mypy

test: Be extra safe in `test_clone`
  tests/frame/clone_test.py
Due: mypy

fix: remove `not_implemented`
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

refactor: move imports
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore: use `ArrowDataFrame.native`
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Resolve most issues
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

pyright ignore
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Avoid `mypy` redef
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix: fixup polars join version check throwing unnecessary deprecation warning for outer join (#2287)
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore: Update `_dask.dataframe`
  narwhals/_dask/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix: use specialised duckdb functions for std_pop/std_samp/var_pop/var_samp
  narwhals/_duckdb/expr.py
  tests/expr_and_series/arithmetic_test.py
Due: imports-are-banned, dtypes-import, mypy

chore: Update `_duckdb.dataframe`
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore: Update `_pandas_like.dataframe`
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Simplify `PandasLikeDataFrame.to_polars`
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore: Update `_polars.dataframe`
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore: Update `_spark_like.dataframe`
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

hey remove more xfails
  tests/expr_and_series/over_test.py
  tests/frame/add_test.py
Due: mypy

chore: Update `._native_frame` refs (#2290)
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

feat: Add `DataFrame.clone` for `pyarrow` (#2288)
  narwhals/_arrow/dataframe.py
  tests/frame/clone_test.py
Due: imports-are-banned, dtypes-import, mypy

fix: use specialised duckdb functions for std_pop/std_samp/var_pop/var_samp (#2289)
  narwhals/_duckdb/expr.py
  tests/expr_and_series/arithmetic_test.py
  tests/expr_and_series/over_test.py
  tests/frame/add_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor: simplify `extract_native`
  narwhals/_polars/expr.py
  narwhals/_polars/utils.py
Due: imports-are-banned, dtypes-import, mypy

update message
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fixup for duckdb pre 1.3
  tests/expr_and_series/arithmetic_test.py
  tests/expr_and_series/over_test.py
  tests/frame/add_test.py
Due: mypy

dask fixup
  tests/expr_and_series/over_test.py
Due: mypy

chore: Update `_polars.series`
  narwhals/_polars/series.py
Due: imports-are-banned, dtypes-import, mypy

chore: Update `_pandas_like.utils`
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

add link
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

ci: fixup for duckdb pre 1.3 (#2292)
  narwhals/dataframe.py
  tests/expr_and_series/arithmetic_test.py
  tests/expr_and_series/over_test.py
  tests/frame/add_test.py
Due: imports-are-banned, dtypes-import, mypy

chore: Update `_pandas_like.series`
  narwhals/_pandas_like/series.py
Due: imports-are-banned, dtypes-import, mypy

catch some more strays
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

chore: Update `nw.utils`
  narwhals/utils.py
Due: imports-are-banned, mypy

fix: compat for `InterchangeSeries`
  narwhals/_interchange/series.py
Due: imports-are-banned, dtypes-import, mypy
