Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

refactor: deduplicate `_spark_like.selectors`
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

refactor: deduplicate `_duckdb.selectors`
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
Due: imports-are-banned, dtypes-import, mypy

fix my oopsie
  narwhals/_spark_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

refactor: deduplicate `*.selectors` (#2057)
  narwhals/_arrow/namespace.py
  narwhals/_arrow/selectors.py
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/selectors.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore: remove `kwargs` from `selector` function
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/selectors.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

simplify
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
Due: imports-are-banned, dtypes-import, mypy

chore: remove `kwargs` from `selector` function (#2058)
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/selectors.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

refactor: replace `lambda df: df.columns`
  narwhals/_arrow/namespace.py
  narwhals/_arrow/selectors.py
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/selectors.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore: remove more `kwargs` from dask, dont treat `ddof` as expressifiable arg
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

why complicate things when they can be simpler
  narwhals/_dask/expr.py
Due: imports-are-banned, dtypes-import, mypy

fix: Type conversion from Spark Struct to narwhals Struct. (#2037)
  narwhals/_spark_like/utils.py
  tests/expr_and_series/cast_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor: rename `get_columns` -> `get_column_names`
  narwhals/_arrow/namespace.py
  narwhals/_arrow/selectors.py
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/selectors.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): add `CompliantExpr._version`
  narwhals/typing.py
Due: imports-are-banned, mypy

chore(typing): add missing context for `CompliantDataFrame`
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, mypy

fix(typing): temp widen `.collect` from `CompliantDataFrame`
  narwhals/_duckdb/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix: disallow non-elementary operations in .over for pandas, rename (internal) ExprKinds
  narwhals/_arrow/expr.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr.py
  narwhals/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

coverage
  tests/expr_and_series/over_test.py
Due: mypy

coverage
  tests/group_by_test.py
Due: mypy

feat(typing): provide `PandasLikeSeries` to `PandasLikeDataFrame`
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fixup for old pandas
  tests/group_by_test.py
Due: mypy

feat: Adds generic `CompliantSelector` & `Namespace`
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

simplify
  narwhals/_dask/expr.py
  narwhals/_dask/expr_name.py
  narwhals/_dask/group_by.py
  narwhals/_dask/namespace.py
Due: imports-are-banned, dtypes-import, mypy

Deprecate `native_namespace` in favour of `backend` in `read_csv`
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  tests/read_scan_test.py
Due: imports-are-banned, dtypes-import, mypy

fixup
  narwhals/_dask/expr.py
  narwhals/_dask/group_by.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): add `CompliantExpr._version` (#2060)
  narwhals/typing.py
Due: imports-are-banned, mypy

feat: reimplement `_pandas_like.selectors`
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

update deprecation version
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import, mypy

feat: reimplement `_arrow.selectors`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/selectors.py
Due: imports-are-banned, dtypes-import, mypy

refactor: utilize updated `CompliantExpr`
  narwhals/_arrow/selectors.py
  narwhals/_pandas_like/selectors.py
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): update `_dask` collect as well
  narwhals/_dask/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix: maybe resolve `<3.11` protocol bug
  narwhals/_arrow/selectors.py
  narwhals/_pandas_like/selectors.py
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

ignore coverage on init
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

chore: remove more `kwargs` from dask, dont treat `ddof` as expressifiable arg (#2059)
  narwhals/_dask/expr.py
  narwhals/_dask/expr_name.py
  narwhals/_dask/group_by.py
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Also drop `kwargs` in `_to_expr`
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

add `CompliantLazyFrame.columns`
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, mypy

chore(typing): add `Compliant(Lazy|Data)Frame.schema`
  narwhals/typing.py
Due: imports-are-banned, mypy

feat: add some default iteration methods
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

feat: build out lazy-support
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

feat: reimplement `_dask.selectors`
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
Due: imports-are-banned, dtypes-import, mypy

refactor: rename `DataFrameT` -> `FrameT`
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy
