Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: make typing
  language: system
  require_serial: true
  pass_filenames: false

fix deps
  .github/workflows/mkdocs.yml
  pyproject.toml
Due: pull-request-target

Update docs/generating_sql.md
  docs/generating_sql.md
Due: none

feat: Finish `.over()`
  narwhals/_plan/dummy.py
  narwhals/_plan/expr.py
  narwhals/_plan/window.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor in the wild
  tpch/execute.py
  tpch/generate_data.py
  tpch/tests/queries_test.py
Due: mypy

try with binding
  tpch/execute.py
Due: mypy

try to simplify
  tpch/execute.py
  tpch/tests/queries_test.py
Due: mypy

parametrize backend
  tpch/tests/queries_test.py
Due: mypy

feat: Add most of the remaining aggs
  narwhals/_plan/aggregation.py
  narwhals/_plan/dummy.py
Due: imports-are-banned, self-self, dtypes-import, mypy

something is off with dask
  .github/workflows/check_tpch_queries.yml
Due: pull-request-target

one more
  tpch/execute.py
Due: mypy

numpy<2
  .github/workflows/check_tpch_queries.yml
  tpch/execute.py
  tpch/tests/queries_test.py
Due: pull-request-target, mypy

feat: Add `sort_by`
  narwhals/_plan/dummy.py
  narwhals/_plan/options.py
Due: imports-are-banned, self-self, dtypes-import, mypy

ok I think we are there
  .github/workflows/check_tpch_queries.yml
Due: pull-request-target

revert: Make `first`, `last` orderable
  narwhals/_plan/aggregation.py
Due: imports-are-banned, self-self, dtypes-import, mypy

docs: Add docs on how to use Narwhals to generate SQL (#2570)
  .github/workflows/mkdocs.yml
  docs/concepts/order_dependence.md
  docs/generating_sql.md
  mkdocs.yml
  pyproject.toml
Due: pull-request-target

feat: Experiment with suggestions
  narwhals/_plan/demo.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: fix typos
  narwhals/_plan/__init__.py
  narwhals/_plan/expr.py
  narwhals/_plan/options.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Avoid dtypes imports
  narwhals/_plan/demo.py
  narwhals/_plan/dummy.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: modify `rank` so that it works with `over()` for lazy backends (#2533)
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/typing.py
  narwhals/_duckdb/utils.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/typing.py
  narwhals/_spark_like/utils.py
  tests/expr_and_series/rank_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

release: Bump version to 1.40.0
  pyproject.toml
Due: none

release: Bump version to 1.40.0 (#2574)
  pyproject.toml
Due: none

feat: Add the concept of `Version`-ing
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Start adding `IntoExpr` parsing
  narwhals/_plan/common.py
  narwhals/_plan/demo.py
  narwhals/_plan/expr_parsing.py
  tests/plan/__init__.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Permissive parsing in `*_horiztonal`
  narwhals/_plan/demo.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

enh: support replace_time_zone(None)
  narwhals/_duckdb/expr_dt.py
  narwhals/_ibis/expr_dt.py
  narwhals/_spark_like/expr_dt.py
  tests/expr_and_series/dt/replace_time_zone_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix `truncate` for timezone-aware timestamps for DuckDB
  narwhals/_duckdb/expr_dt.py
  tests/expr_and_series/dt/truncate_test.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore(typing): Add `_typing_compat.py`
  narwhals/_typing_compat.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Reuse `TypeVar` import
  narwhals/_translate.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Reuse `@deprecated` import
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Reuse `Protocol38` import
  narwhals/_compliant/expr.py
  narwhals/_compliant/group_by.py
  narwhals/_compliant/selectors.py
  narwhals/_compliant/when_then.py
Due: imports-are-banned, self-self, dtypes-import, mypy

docs: Add module-level docstring
  narwhals/_typing_compat.py
Due: imports-are-banned, self-self, dtypes-import, mypy

exploring `pl.Expr.meta`
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Support reduce top level function
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/_compliant/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/functions.py
  tests/expr_and_series/reduce_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

exponentially weighted moving average example
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: use `Expression` instead of `duckdb.Expression` for typing
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_duckdb/typing.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: use `Expression` instead of `duckdb.Expression` for typing (#2579)
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_duckdb/typing.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: _input -> expr
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: rename `_input` to `expr` in `_duckdb` (#2580)
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: rename `_input` to `expr` in `_spark_like`, `_ibis`, and `_dask`
  narwhals/_dask/expr.py
  narwhals/_dask/expr_dt.py
  narwhals/_dask/expr_str.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/expr_list.py
  narwhals/_ibis/expr_str.py
  narwhals/_ibis/expr_struct.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: rename `_input` to `expr` in `_spark_like`, `_ibis`, and `_dask` (#2581)
  narwhals/_dask/expr.py
  narwhals/_dask/expr_dt.py
  narwhals/_dask/expr_str.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/expr_list.py
  narwhals/_ibis/expr_str.py
  narwhals/_ibis/expr_struct.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: \.py$
