Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

revert: try rename with copy=True
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

ci: Add `ruff` to `dev`
  pyproject.toml
Due: none

chore: invert version.V1 conditions
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

chore: invert version.V1 conditions (#2812)
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

ci: Add `ruff` to `dev` (#2811)
  pyproject.toml
Due: none

feat: Support `pl.LazyFrame._repr_html_`
  narwhals/_utils.py
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

chore: add note on testing
  narwhals/_utils.py
Due: imports-are-banned, self-self

feat: Support `pl.Series._repr_html_`
  narwhals/_utils.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Use `Protocol`s, move to `protocols`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

feat(pyarrow): Impl `BinaryExpr`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/protocols.py
  tests/plan/to_compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

🧹🧹🧹
  narwhals/_plan/aggregation.py
  narwhals/_plan/boolean.py
  narwhals/_plan/common.py
  narwhals/_plan/expr.py
  narwhals/_plan/functions.py
  narwhals/_plan/literal.py
  narwhals/_plan/name.py
  narwhals/_plan/options.py
  narwhals/_plan/ranges.py
  narwhals/_plan/selectors.py
  narwhals/_plan/strings.py
  narwhals/_plan/struct.py
  narwhals/_plan/temporal.py
  narwhals/_plan/when_then.py
Due: imports-are-banned, self-self, dtypes-import

fix: Align all binary ops with `polars`
  narwhals/_plan/dummy.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Fill in some `DType` holes
  narwhals/_plan/dummy.py
  narwhals/_plan/functions.py
  tests/plan/expr_expansion_test.py
  tests/plan/expr_parsing_test.py
  tests/plan/expr_rewrites_test.py
  tests/plan/to_compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

test: use `assert_equal_data`
  tests/plan/to_compliant_test.py
Due: none

refactor: tighten up protocols
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

test: Add failing repro
  tests/frame/group_by_test.py
Due: none

fix(DRAFT): Are we passing yet? 🙏
  narwhals/_pandas_like/group_by.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): ignore `apply` overload
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

re-undo undoing ignore 😭
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

chore: reorganise v1 tests
  tests/expr_and_series/all_horizontal_test.py
  tests/from_dict_test.py
  tests/stable_api_test.py
  tests/v1_test.py
Due: none

pin pointblank
  .github/workflows/downstream_tests.yml
Due: pull-request-target

chore: reorganise v1 tests (#2813)
  .github/workflows/downstream_tests.yml
  tests/expr_and_series/all_horizontal_test.py
  tests/from_dict_test.py
  tests/stable_api_test.py
  tests/v1_test.py
Due: pull-request-target

simplify
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self

keep going
  narwhals/stable/v2/__init__.py
  narwhals/stable/v2/_dtypes.py
  narwhals/stable/v2/dependencies.py
  narwhals/stable/v2/dtypes.py
  narwhals/stable/v2/selectors.py
  narwhals/translate.py
  tests/stable_api_test.py
Due: imports-are-banned, self-self, dtypes-import

wip
  narwhals/_utils.py
Due: imports-are-banned, self-self

trim strict out
  narwhals/stable/v2/__init__.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

hist
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self

typing
  narwhals/functions.py
  narwhals/stable/v2/__init__.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

wip
  narwhals/stable/v2/__init__.py
  narwhals/stable/v2/_namespace.py
  narwhals/stable/v2/dtypes.py
  narwhals/stable/v2/typing.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

tests passing!
  narwhals/stable/v1/__init__.py
  tests/from_dict_test.py
  tests/stable_api_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self

clean up more
  narwhals/dataframe.py
  narwhals/stable/v2/__init__.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

stable api test
  narwhals/stable/v2/__init__.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

wip
  tests/v2_test.py
Due: none

clean up more
  narwhals/stable/v2/__init__.py
  tests/v2_test.py
Due: imports-are-banned, self-self

wip
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/functions.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  narwhals/_utils.py
Due: imports-are-banned, self-self

wip
  narwhals/stable/v2/__init__.py
  narwhals/stable/v2/_dtypes.py
  narwhals/stable/v2/_namespace.py
  narwhals/stable/v2/dependencies.py
  narwhals/stable/v2/dtypes.py
  narwhals/stable/v2/selectors.py
  narwhals/stable/v2/typing.py
Due: imports-are-banned, self-self, dtypes-import

stable api test
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self

bit more
  narwhals/stable/v2/__init__.py
  tests/translate/from_native_test.py
  tests/translate/narwhalify_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self

fixup
  tests/stable_api_test.py
  tests/v2_test.py
Due: none
