Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

fixed split_test
  tests/expr_and_series/str/split_test.py
Due: mypy

Fix split_test v2
  tests/expr_and_series/str/split_test.py
Due: mypy

Fix split_test v3
  tests/expr_and_series/str/split_test.py
Due: mypy

Fix split_test v4
  tests/expr_and_series/str/split_test.py
Due: mypy

refactor: `ExprKind` everywhere
  narwhals/_duckdb/utils.py
  narwhals/_pandas_like/expr.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

ensure compliant Series always receive a single Series
  narwhals/_arrow/utils.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/utils.py
  tests/frame/select_test.py
Due: imports-are-banned, dtypes-import, mypy

typo
  docs/how_it_works.md
Due: none

correct annotation in `infer_kind`
  narwhals/_expression_parsing.py
  narwhals/dataframe.py
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

increased coverage ftw
  narwhals/_dask/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_spark_like/utils.py
  tests/frame/invalid_test.py
Due: imports-are-banned, dtypes-import, mypy

polars fix
  narwhals/_dask/utils.py
  tests/frame/invalid_test.py
Due: imports-are-banned, dtypes-import, mypy

rename to use str_as_lit
  narwhals/_expression_parsing.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

skip test for old polars when it would panic
  tests/frame/invalid_test.py
Due: mypy

fixup
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

Added typehint to ignore - pyarrow compute functions accept ChunkedArray[Any] at runtime -
  narwhals/_arrow/series_str.py
  tests/expr_and_series/str/split_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: move `ExprKind` comments to docs
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

refactor: simplify `all_exprs_are_aggs_or_literals`
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

refactor: reuse more guards, add `is_expr`
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

Fix split_test v5
  tests/expr_and_series/str/split_test.py
Due: mypy

add list checking to assert_data_equal
  tests/utils.py
Due: mypy

add colors
  .github/workflows/check_tpch_queries.yml
  .github/workflows/downstream_tests.yml
  .github/workflows/downstream_tests_slow.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
  .github/workflows/typing.yml
Due: pull-request-target

refactor(ruff): fix (`FURB118`)
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

only run in py 3.12
  .github/workflows/downstream_tests.yml
Due: pull-request-target

refactor(ruff): fix (`PLR6201`)
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/group_by.py
  narwhals/_expression_parsing.py
  narwhals/_spark_like/group_by.py
  narwhals/dtypes.py
  narwhals/functions.py
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

refactor(ruff): fix (`TC008`)
  narwhals/_arrow/typing.py
Due: imports-are-banned, mypy

refactor(ruff): fix (`TC006`)
  narwhals/_pandas_like/utils.py
  narwhals/_polars/series.py
  narwhals/group_by.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor(ruff): fix (`C420`)
  narwhals/_dask/group_by.py
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

refactor(ruff): fix (`PLC2801`)
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): make imports `TYPE_CHECKING` only
  narwhals/group_by.py
Due: imports-are-banned, dtypes-import, mypy

chore: add colors in CI and run `marimo` only in selected python version (#2043)
  .github/workflows/check_tpch_queries.yml
  .github/workflows/downstream_tests.yml
  .github/workflows/downstream_tests_slow.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
  .github/workflows/typing.yml
Due: pull-request-target

more precise typing
  narwhals/_arrow/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/expr.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

remove unnecessary dask xfail in constructor_eager test
  .pre-commit-config.yaml
  tests/expr_and_series/len_test.py
Due: mypy

ci: dont pass filenames to mypy in pre-commit
  .pre-commit-config.yaml
Due: none

old polars fix
  tests/frame/invalid_test.py
Due: mypy

ci: dont pass filenames to mypy in pre-commit (#2046)
  .pre-commit-config.yaml
Due: none

refactor(DRAFT): adding `Compliant*` sub-protocols
  narwhals/_protocols.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): ignore `mypy`
  narwhals/_protocols.py
Due: imports-are-banned, dtypes-import, mypy

fix: maybe fix typo "dt_time_unit"
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix(RFC): Use metaclass for safe `DType` attr access (#2025)
  narwhals/_arrow/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/utils.py
  narwhals/dtypes.py
Due: imports-are-banned, dtypes-import, mypy

feat: Possibly implement `ReuseSeries.__native_namespace__`
  narwhals/_protocols.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

feat(DRAFT): spec out more of `reuse_*` functions
  narwhals/_protocols.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
