Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

update coverage
  tests/utils.py
Due: mypy

feat(typing): Make `CompliantDataFrame` generic
  narwhals/_expression_parsing.py
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Update eager backends
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix: Make `PolarsSeries` compliant
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/series.py
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Resolve new `mypy` errors
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Add alias to identify holes
  narwhals/expr.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): Add all methods used in `expr.py`
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, mypy

fix(typing): `map_batches` return type
  narwhals/expr.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): add `Expr` namespaces
  narwhals/typing.py
Due: imports-are-banned, mypy

refactor: mark `ewm_mean` as unstable
  narwhals/typing.py
Due: imports-are-banned, mypy

fix: start adding `NotImplementedError`s
  narwhals/_arrow/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): add missing `[type-var]`
  narwhals/expr.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

fix: permit `over(keys=...)` widening
  narwhals/_arrow/expr.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

feat: replace boilerplate w/ `not_implemented` marker
  narwhals/_arrow/expr.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: replace the other ones
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): mark all missing `DaskExpr`
  narwhals/_dask/expr.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): mark all missing `DuckDBExpr`
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): mark all missing `SparkLikeExpr`
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): resolve more out-of-sync signatures
  narwhals/_arrow/expr.py
  narwhals/_arrow/series.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

ignore pretty reasonable warning
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): remove defaults from protocol
  narwhals/typing.py
Due: imports-are-banned, mypy

ci: add darts to downstream tests
  .github/workflows/downstream_tests.yml
  README.md
  docs/ecosystem.md
Due: pull-request-target

test: add `test_not_implemented`
  tests/utils_test.py
Due: mypy

well... wrong path
  .github/workflows/downstream_tests.yml
Due: pull-request-target

feat: kinda resolve the `property` case
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: add "Returns"
  narwhals/utils.py
Due: imports-are-banned, mypy

test: skip `duckdb` if not available
  tests/utils_test.py
Due: mypy

fix: unbreak doctest
  narwhals/utils.py
Due: imports-are-banned, mypy

Adds exclude
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  tests/expr_and_series/exclude_test.py
Due: imports-are-banned, dtypes-import, mypy

chore: deprecate `LazyFrame.gather_every` in main namespace (but maintain it in stable.v1) (#2103)
  docs/backcompat.md
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/stable/v1/__init__.py
  tests/expr_and_series/arg_true_test.py
  tests/expr_and_series/gather_every_test.py
  tests/expr_and_series/head_test.py
  tests/expr_and_series/sample_test.py
  tests/expr_and_series/sort_test.py
  tests/expr_and_series/tail_test.py
  tests/frame/gather_every_test.py
  tests/stable_api_test.py
Due: imports-are-banned, dtypes-import, mypy

fix: Allow exprs in `.filter` constraints (#2114)
  narwhals/dataframe.py
  tests/frame/filter_test.py
Due: imports-are-banned, dtypes-import, mypy

Address comments
  narwhals/_arrow/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  tests/expr_and_series/exclude_test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Generic `CompliantDataFrame` (#2115)
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/series.py
  narwhals/_spark_like/dataframe.py
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

fill_null with expression (#2106)
  narwhals/_arrow/series.py
  narwhals/_duckdb/expr.py
  narwhals/_pandas_like/series.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/fill_null_test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): ignore spark issues
  narwhals/_spark_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

passes for sqlframme
  narwhals/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

:unamused:
  narwhals/_spark_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Reuse eager-backend `iter_columns`
  narwhals/_arrow/selectors.py
  narwhals/_pandas_like/selectors.py
  narwhals/_selectors.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

Use frozenset
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

refactor: share `frozenset`
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
