Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

fix typing?
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

feat(pyarrow): Impl `map_batches`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

test(typing): Annotate `pytest_addoption` (#2837)
  tests/conftest.py
Due: none

test: Add `map_batches` tests
  narwhals/_plan/arrow/series.py
  narwhals/_plan/protocols.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor(pyarrow): Split out `int_range`
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/arrow/typing.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Add `with_columns`
  narwhals/_plan/dummy.py
  narwhals/_plan/protocols.py
  narwhals/_plan/schema.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

coverage
  narwhals/stable/v2/__init__.py
  tests/v2_test.py
Due: imports-are-banned, self-self

fix(typing): Remove `NativeSeriesT` from alias def
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify `combine_metadata` (#2836)
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Simplify `calculate_timestamp_datetime` and `calculate_timestamp_date` (#2838)
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Fixup logic for new pandas str type
  narwhals/_pandas_like/utils.py
  tests/expr_and_series/str/contains_test.py
  tests/expr_and_series/str/to_uppercase_to_lowercase_test.py
  tests/repr_test.py
Due: imports-are-banned, self-self, dtypes-import

pyarrow_numpy
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

typing
  tests/expr_and_series/str/contains_test.py
Due: none

fixup
  tests/expr_and_series/str/contains_test.py
Due: none

couple more
  tests/frame/interchange_to_pandas_test.py
Due: none

fixup test_dask from no_imports_test
  tests/no_imports_test.py
Due: none

fix: Fixup logic for new pandas str type (#2841)
  narwhals/_pandas_like/utils.py
  tests/expr_and_series/str/contains_test.py
  tests/expr_and_series/str/to_uppercase_to_lowercase_test.py
  tests/frame/interchange_to_pandas_test.py
  tests/no_imports_test.py
  tests/repr_test.py
Due: imports-are-banned, self-self, dtypes-import

release: Bump version to 1.47.1
  pyproject.toml
Due: none

release: Bump version to 1.47.1 (#2842)
  pyproject.toml
Due: none

fixup stable api test
  narwhals/stable/v2/__init__.py
  pyproject.toml
  tests/tpch_q1_test.py
Due: imports-are-banned, self-self

chore: slim down stable.v1 tests
  narwhals/stable/v1/typing.py
  tests/tpch_q1_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self

fixup
  tests/v1_test.py
Due: none

fix polars regex
  tests/frame/filter_test.py
  tests/frame/select_test.py
  tests/frame/with_columns_test.py
Due: none

types
  tests/v1_test.py
Due: none

coverage
  tests/v1_test.py
Due: none

tests: fix polars regex in `with_columns`, `filter` and `select` tests (#2844)
  tests/frame/filter_test.py
  tests/frame/select_test.py
  tests/frame/with_columns_test.py
Due: none

lazyframe taxicab
  tests/v1_test.py
Due: none

pyarrow, polars and compliant as well
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

ignore banned import
  narwhals/_arrow/series.py
Due: imports-are-banned, self-self, dtypes-import

ignore banned import
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
Due: imports-are-banned, self-self, dtypes-import

chore: slim down stable.v1 tests, remove unused `DTypes` from `narwhals.stable.v1.typing` (#2843)
  narwhals/stable/v1/typing.py
  tests/tpch_q1_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self

coverage improvements
  tests/v1_test.py
  tests/v2_test.py
Due: none

v2 coverage
  pyproject.toml
  tests/v2_test.py
Due: none

type completeness
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self

ci: bump `ruff==0.12.4`
  .pre-commit-config.yaml
  utils/import_check.py
Due: none

perf, fix: avoid using `assign` for `Series.rank` in pandas, fix `Series.rank` for nameless pandas Series
  narwhals/_pandas_like/series.py
  tests/expr_and_series/rank_test.py
Due: imports-are-banned, self-self, dtypes-import

only perform crazy workaround if we really have to
  narwhals/_pandas_like/series.py
  tests/expr_and_series/rank_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Reuse `_polars.utils.BACKEND_VERSION`
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

address use of numpy/cupy
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

pragma: no cover all old polars paths
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import
