Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

clean up duckdb
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/expr_struct.py
Due: imports-are-banned, dtypes-import, mypy

clean up spark-like
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_list.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/expr_struct.py
Due: imports-are-banned, dtypes-import, mypy

feat: Implement `EagerWhen` :sunglasses:
  narwhals/_arrow/namespace.py
  narwhals/_compliant/__init__.py
  narwhals/_compliant/typing.py
  narwhals/_compliant/when_then.py
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Partially annotate `.when`
  narwhals/_compliant/namespace.py
Due: imports-are-banned, dtypes-import, mypy

snake case
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

factor out `resolve_expansion_kind`
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Initial `LazyWhen` idea
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/utils.py
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

completely remove function_name from duckdb and pyspark
  Makefile
  narwhals/_arrow/namespace.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

remove --offline
  Makefile
Due: none

remove outdated arg
  narwhals/_duckdb/namespace.py
Due: imports-are-banned, dtypes-import, mypy

feat: add `cum_max` for PySpark (#2265)
  narwhals/_spark_like/expr.py
  tests/expr_and_series/cum_max_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor(DRAFT): `LazyWhen`
  narwhals/_compliant/typing.py
  narwhals/_compliant/when_then.py
  narwhals/_duckdb/namespace.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

feat: add `cum_min` to PySpark
  narwhals/_spark_like/expr.py
  tests/expr_and_series/cum_min_test.py
Due: imports-are-banned, dtypes-import, mypy

implement lazy diff
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/diff_test.py
Due: imports-are-banned, dtypes-import, mypy

remove dead code
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

lazy shift
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/shift_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor: remove from `spark_like` as well
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix test
  tests/expr_and_series/cum_min_test.py
Due: mypy

lazy is_last_distinct
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/is_first_distinct_test.py
  tests/expr_and_series/is_last_distinct_test.py
Due: imports-are-banned, dtypes-import, mypy

test with nulls
  tests/expr_and_series/is_last_distinct_test.py
Due: mypy

fix safety assertion
  narwhals/_arrow/expr.py
  narwhals/_compliant/dataframe.py
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/is_last_distinct_test.py
Due: imports-are-banned, dtypes-import, mypy

fix: safety assertion was being thrown for Expr.is_last_distinct with over and _order_by by pandas and pyarrow
  narwhals/_arrow/expr.py
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/is_last_distinct_test.py
Due: imports-are-banned, dtypes-import, mypy

skip for old polars
  tests/expr_and_series/is_last_distinct_test.py
Due: mypy

feat: add `cum_min` to PySpark (#2267)
  narwhals/_spark_like/expr.py
  tests/expr_and_series/cum_min_test.py
Due: imports-are-banned, dtypes-import, mypy

fix: safety assertion was being thrown for Expr.is_last_distinct with over and _order_by by pandas and pyarrow (#2269)
  narwhals/_arrow/expr.py
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/is_last_distinct_test.py
Due: imports-are-banned, dtypes-import, mypy

versions fixup
  tests/expr_and_series/diff_test.py
  tests/expr_and_series/is_first_distinct_test.py
  tests/expr_and_series/is_last_distinct_test.py
  tests/expr_and_series/shift_test.py
Due: mypy

versions fixup
  tests/expr_and_series/is_first_distinct_test.py
Due: mypy

coverage
  tests/expr_and_series/is_last_distinct_test.py
Due: mypy

duckdb skips
  tests/expr_and_series/diff_test.py
  tests/expr_and_series/is_first_distinct_test.py
  tests/expr_and_series/is_last_distinct_test.py
  tests/expr_and_series/shift_test.py
Due: mypy

chore(typing): Ignore issues from #2263
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Add `DepthTrackingExpr`
  narwhals/_compliant/expr.py
  narwhals/_compliant/group_by.py
  narwhals/_compliant/selectors.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/expr.py
  narwhals/_spark_like/expr.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

revert: Add both classmethods back
  narwhals/_compliant/expr.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Add `DepthTrackingNamespace`
  narwhals/_arrow/expr.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/namespace.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

revert: Undo copy/paste from (https://github.com/narwhals-dev/narwhals/pull/2266/commits/d06b4e544023d01f582159b4ee02ae490cb2a8d0)
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

ci(typing): ignore, unused ignore
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

test: Kinda unbreak `sqlframe` test
  tests/expr_and_series/str/to_datetime_test.py
Due: mypy

refactor duckdb
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/typing.py
  narwhals/_duckdb/utils.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/typing.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

simplify
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

add back missing whitespace
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

enh: Support `diff`, `shift`, `is_first_distinct`, `is_last_distinct` for PySpark, SQLFrame, and DuckDB (#2270)
  narwhals/_compliant/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/typing.py
  narwhals/_duckdb/utils.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/typing.py
  narwhals/_spark_like/utils.py
  tests/expr_and_series/diff_test.py
  tests/expr_and_series/is_first_distinct_test.py
  tests/expr_and_series/is_last_distinct_test.py
  tests/expr_and_series/shift_test.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
