Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

typing
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Added Binary dtype support.
  docs/api-reference/dtypes.md
  narwhals/__init__.py
  narwhals/_arrow/utils.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  narwhals/dtypes.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v1/_dtypes.py
  narwhals/stable/v1/dtypes.py
  narwhals/typing.py
  tests/dtypes_test.py
  tests/expr_and_series/cast_test.py
Due: imports-are-banned, dtypes-import, mypy

add spark-like support
  narwhals/_spark_like/utils.py
  tests/expr_and_series/cast_test.py
Due: imports-are-banned, dtypes-import, mypy

typo in docstring
  narwhals/dtypes.py
Due: imports-are-banned, dtypes-import, mypy

test: Fix more tests to work without polars (and pandas, pyarrow)
  tests/frame/invalid_test.py
  tests/group_by_test.py
  tests/hypothesis/basic_arithmetic_test.py
  tests/hypothesis/getitem_test.py
  tests/hypothesis/join_test.py
  tests/implementation_test.py
  tests/pickle_test.py
  tests/series_only/arrow_c_stream_test.py
  tests/series_only/cast_test.py
  tests/series_only/hist_test.py
  tests/series_only/is_ordered_categorical_test.py
  tests/series_only/to_polars_test.py
  tests/translate/get_native_namespace_test.py
  tests/translate/narwhalify_test.py
  tests/translate/stable_narwhalify_test.py
Due: mypy

feat: track whether expressions are multi-output, unify error messages
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/selectors.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_expression_parsing.py
  narwhals/_spark_like/utils.py
  narwhals/exceptions.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/selectors.py
  tests/expr_and_series/double_selected_test.py
  tests/frame/invalid_test.py
  tests/frame/reindex_test.py
Due: imports-are-banned, dtypes-import, mypy

cov
  narwhals/_expression_parsing.py
  narwhals/expr.py
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

wip
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

reef
  narwhals/_expression_parsing.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/selectors.py
Due: imports-are-banned, dtypes-import, mypy

outdated comment
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

lol `maintain_order` default one side only 😅
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Fix typing
  tests/frame/invalid_test.py
  tests/implementation_test.py
  tests/pickle_test.py
Due: mypy

feat!: remove `maintain_order` from `LazyFrame.unique`, as it was never supported
  narwhals/_dask/dataframe.py
  narwhals/_dask/group_by.py
  narwhals/_duckdb/dataframe.py
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

test fixup
  tests/frame/unique_test.py
Due: mypy

revert: don't widen `keep` for lazy
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Refactor all optional test imports
  tests/dependencies/is_into_dataframe_test.py
  tests/dependencies/is_into_series_test.py
  tests/dependencies/is_pandas_dataframe_test.py
  tests/dtypes_test.py
  tests/expr_and_series/cast_test.py
  tests/expr_and_series/nth_test.py
  tests/frame/arrow_c_stream_test.py
  tests/frame/getitem_test.py
  tests/frame/interchange_native_namespace_test.py
  tests/frame/interchange_schema_test.py
  tests/frame/interchange_select_test.py
  tests/frame/interchange_to_arrow_test.py
  tests/frame/invalid_test.py
  tests/frame/schema_test.py
  tests/frame/to_polars_test.py
  tests/from_pycapsule_test.py
  tests/group_by_test.py
  tests/hypothesis/basic_arithmetic_test.py
  tests/hypothesis/getitem_test.py
  tests/hypothesis/join_test.py
  tests/ibis_test.py
  tests/no_imports_test.py
  tests/read_scan_test.py
  tests/series_only/arrow_c_stream_test.py
  tests/series_only/cast_test.py
  tests/series_only/hist_test.py
  tests/series_only/is_ordered_categorical_test.py
  tests/series_only/to_polars_test.py
  tests/stable_api_test.py
  tests/tpch_q1_test.py
  tests/translate/get_native_namespace_test.py
  tests/translate/narwhalify_test.py
  tests/translate/stable_narwhalify_test.py
  tests/utils_test.py
Due: mypy

feat!: remove `maintain_order` from `LazyFrame.unique`, as it was never supported (#2247)
  narwhals/_dask/dataframe.py
  narwhals/_dask/group_by.py
  narwhals/_duckdb/dataframe.py
  narwhals/dataframe.py
  tests/frame/unique_test.py
Due: imports-are-banned, dtypes-import, mypy

make `keep` a keyword again
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Convert duckdb and ibis instances
  tests/dtypes_test.py
  tests/frame/interchange_native_namespace_test.py
  tests/frame/interchange_schema_test.py
  tests/frame/interchange_select_test.py
  tests/frame/interchange_to_arrow_test.py
  tests/frame/interchange_to_pandas_test.py
  tests/frame/schema_test.py
  tests/ibis_test.py
  tests/repr_test.py
Due: mypy

Also pa_csv
  tests/tpch_q1_test.py
Due: mypy

Ignore type hints on more tested-invalid calls
  tests/dtypes_test.py
  tests/expr_and_series/cast_test.py
Due: mypy

Fix ruff
  tests/frame/interchange_to_arrow_test.py
Due: mypy

Workaround ruff in `ibis_test.py`
  tests/ibis_test.py
Due: mypy

simplify
  narwhals/_expression_parsing.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/selectors.py
Due: imports-are-banned, dtypes-import, mypy

chore: Add `CompliantDataFrame.native` -> `NativeFrame`
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/__init__.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/selectors.py
  narwhals/_compliant/typing.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore: Coverage for `PolarsDataFrame.native`
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

refactor: remove already imported imports
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

extra tests
  narwhals/_expression_parsing.py
  narwhals/expr.py
  tests/expr_and_series/clip_test.py
  tests/expr_and_series/is_between_test.py
  tests/expr_and_series/when_test.py
Due: imports-are-banned, dtypes-import, mypy

chore: Coverage for `ArrowDataFrame.native`
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore: Cov for `PandasLikeDataFrame.native`
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

coverage
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Clean up `ArrowDataFrame`
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

unbreak `ArrowDataFrame.with_columns`
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

test: Fix more tests to work without polars (and pandas, pyarrow) (#2245)
  tests/dependencies/is_into_dataframe_test.py
  tests/dependencies/is_into_series_test.py
  tests/dependencies/is_pandas_dataframe_test.py
  tests/dtypes_test.py
  tests/expr_and_series/cast_test.py
  tests/expr_and_series/nth_test.py
  tests/frame/arrow_c_stream_test.py
  tests/frame/getitem_test.py
  tests/frame/interchange_native_namespace_test.py
  tests/frame/interchange_schema_test.py
  tests/frame/interchange_select_test.py
  tests/frame/interchange_to_arrow_test.py
  tests/frame/interchange_to_pandas_test.py
  tests/frame/invalid_test.py
  tests/frame/schema_test.py
  tests/frame/to_polars_test.py
  tests/from_pycapsule_test.py
  tests/group_by_test.py
  tests/hypothesis/basic_arithmetic_test.py
  tests/hypothesis/getitem_test.py
  tests/hypothesis/join_test.py
  tests/ibis_test.py
  tests/implementation_test.py
  tests/no_imports_test.py
  tests/pickle_test.py
  tests/read_scan_test.py
  tests/repr_test.py
  tests/series_only/arrow_c_stream_test.py
  tests/series_only/cast_test.py
  tests/series_only/hist_test.py
  tests/series_only/is_ordered_categorical_test.py
  tests/series_only/to_polars_test.py
  tests/stable_api_test.py
  tests/tpch_q1_test.py
  tests/translate/get_native_namespace_test.py
  tests/translate/narwhalify_test.py
  tests/translate/stable_narwhalify_test.py
  tests/utils_test.py
Due: mypy

chore: Spec `CompliantLazyFrame` (#2232)
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/selectors.py
  narwhals/_compliant/typing.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore: move dev dependencies to `dependency-groups` (#2238)
  .github/workflows/check_docs_build.yml
  .github/workflows/check_tpch_queries.yml
  .github/workflows/downstream_tests.yml
  .github/workflows/extremes.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
  .github/workflows/typing.yml
  CONTRIBUTING.md
  Makefile
  noxfile.py
  pyproject.toml
Due: pull-request-target

test: Fix yet more tests to work without polars (pandas, pyarrow)
  tests/from_dict_test.py
  tests/translate/from_native_test.py
Due: mypy

Cover `tests/expr_and_series/arithmetic_test.py`
  tests/expr_and_series/arithmetic_test.py
Due: mypy

Port remaining `tests/expr_and_series` tests
  tests/expr_and_series/dt/ordinal_day_test.py
  tests/expr_and_series/dt/total_minutes_test.py
  tests/expr_and_series/rolling_var_test.py
Due: mypy

Try adding empty `else` branch to `from_dict_test`
  tests/from_dict_test.py
Due: mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
