Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

docs: Clean up `LogicalPlan` notes
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add iterators for traversing `LogicalPlan`
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `MultipleInputs`, adapt `Join`
  narwhals/_plan/logical_plan/builder.py
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `Source` parent for `DataFrameScan`
  narwhals/_plan/logical_plan/plan.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `DataFrame.unique`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test: Add some narwhals-level tests
  narwhals/_plan/dataframe.py
  tests/plan/frame_unique_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Support `unique(keep="none")`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/common.py
Due: imports-are-banned, self-self, dtypes-import

pretty wild if that does the trick
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

feat: added sin method for expr and series
  docs/api-reference/expr.md
  docs/api-reference/series.md
  narwhals/_arrow/series.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_sql/expr.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/sin_test.py
Due: imports-are-banned, self-self, dtypes-import

removed sin from CompliantExpr
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

restored any_value methods dropped in conflict resolutions
  narwhals/_compliant/series.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix: Add `ComplianColumn.sin`
  narwhals/_compliant/column.py
Due: imports-are-banned, self-self, dtypes-import

setup cos expr/series method and started adding tests
  docs/api-reference/expr.md
  docs/api-reference/series.md
  narwhals/_arrow/series.py
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_sql/expr.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/cos_test.py
Due: imports-are-banned, self-self, dtypes-import

fixed float typo in sin_test.py
  tests/expr_and_series/sin_test.py
Due: none

fix(docs): Keep table filter only in api-completeness page
  docs/javascripts/table.js
  utils/generate_backend_completeness.py
Due: none

fix(docs): Keep table filter only in api-completeness page (#3367)
  docs/javascripts/table.js
  utils/generate_backend_completeness.py
Due: none

test: Port remaining tests from `main`
  tests/plan/frame_unique_test.py
Due: none

feat: Support `over(order_by=...)`
  narwhals/_plan/arrow/dataframe.py
  tests/plan/frame_unique_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `maintain_order` fixture
  tests/plan/frame_unique_test.py
Due: none

fix(typing): `numpy>=2.4.0` compat
  narwhals/_plan/arrow/functions.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import

test: flex selectors some more
  tests/plan/frame_unique_test.py
Due: none

refactor: Shared impl for `unique`, `unique_by`
  narwhals/_plan/arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Impl `DataFrame.unique` (#3364)
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/common.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
  pyproject.toml
  tests/plan/frame_unique_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `DataFrame.unpivot`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
  tests/plan/unpivot_test.py
Due: imports-are-banned, self-self, dtypes-import

fix xfail
  tests/plan/unpivot_test.py
Due: none

just copy from `main` 😄
  narwhals/_plan/arrow/dataframe.py
  tests/plan/unpivot_test.py
Due: imports-are-banned, self-self, dtypes-import

test: cleanup a bit
  tests/plan/unpivot_test.py
Due: none

test: Cover selectors in `unpivot(on=..., index=...)`
  tests/plan/unpivot_test.py
Due: none

feat(expr-ir): Add `BaseFrame.unpivot` (#3368)
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
  tests/plan/unpivot_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `DataFrame.write_{csv,parquet}`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
  tests/plan/frame_export_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `ArrowDataFrame.write_{csv,parquet}`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  tests/plan/frame_export_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Make things easier for compliant-level
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/common.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `DataFrame.write_{csv,parquet}` (#3369)
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/common.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
  tests/plan/frame_export_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `read_{csv,parquet}`
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/functions.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `ArrowNamespace.read_{csv,parquet}`
  narwhals/_plan/arrow/namespace.py
Due: imports-are-banned, self-self, dtypes-import

test: Move `range_test` fixtures to `conftest`
  tests/plan/conftest.py
  tests/plan/range_test.py
Due: none

test: Cover `read_{csv,parquet}`
  narwhals/_plan/__init__.py
  tests/plan/read_scan_test.py
Due: imports-are-banned, self-self

ugh, imports
  narwhals/_plan/arrow/namespace.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Stub out some lazy support
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import

feat(typing): Make more granular protocols for IO methods
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/io.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/typing.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
