Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: make typing
  language: system
  require_serial: true
  pass_filenames: false

ci: Document with config
  narwhals/_dependencies.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import, mypy

ci: Update `import_check`
  utils/import_check.py
Due: mypy

add ensure_type font end util
  narwhals/expr.py
  narwhals/series.py
  narwhals/utils.py
  tests/expr_and_series/rolling_sum_test.py
  tests/expr_and_series/shift_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix doctest narwhals.utils:ensure_type
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

enh ensure_type to truncate long repr
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

enh error message narwhals.utils:ensure_type
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

Use constructor eager for to cover backend testing
  tests/expr_and_series/arithmetic_test.py
Due: mypy

chore: remove unnecessary `concat` in stable.v1 (#2630)
  narwhals/stable/v1/__init__.py
  tests/v1_test.py
Due: imports-are-banned, self-self, mypy

chore: remove unnecessary _stableify in `stable.v1.from_native` (#2629)
  narwhals/_interchange/dataframe.py
  narwhals/stable/v1/__init__.py
  narwhals/translate.py
  tests/translate/from_native_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

remove support for dataframe interchange protocol from main namespace (but keep supported in `narwhals.stable.v1`
  narwhals/_duckdb/series.py
  narwhals/_ibis/series.py
  narwhals/_interchange/dataframe.py
  narwhals/_interchange/series.py
  narwhals/translate.py
  tests/frame/interchange_native_namespace_test.py
  tests/frame/interchange_schema_test.py
  tests/translate/from_native_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Split out and reuse `qualified_type_name`
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

refactor: Move `_duckdb` runtime type checks to narwhals-level (#2632)
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
  narwhals/expr.py
  narwhals/series.py
  narwhals/utils.py
  tests/expr_and_series/rolling_sum_test.py
  tests/expr_and_series/shift_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

correct the example in the docstring
  narwhals/series_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add lazy div by zero testing
  tests/expr_and_series/arithmetic_test.py
Due: mypy

add collect call to lazy constructors
  tests/expr_and_series/arithmetic_test.py
Due: mypy

Update narwhals/translate.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: remove some unnecessary `_impl` top-level functions (#2640)
  narwhals/dataframe.py
  narwhals/dependencies.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v1/typing.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import, mypy

api: remove support for dataframe interchange protocol from main namespace (but keep supported in `narwhals.stable.v1` (#2637)
  narwhals/_duckdb/series.py
  narwhals/_ibis/series.py
  narwhals/_interchange/dataframe.py
  narwhals/_interchange/series.py
  narwhals/translate.py
  tests/frame/interchange_native_namespace_test.py
  tests/frame/interchange_schema_test.py
  tests/translate/from_native_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: improve error messages for IO functions
  narwhals/functions.py
  tests/from_dict_test.py
  tests/new_series_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fstring fix
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import, mypy

coverage
  tests/from_numpy_test.py
Due: mypy

typing
  tests/from_numpy_test.py
Due: mypy

fix errmsg
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: improve error messages for IO functions (#2641)
  narwhals/functions.py
  tests/from_dict_test.py
  tests/from_numpy_test.py
  tests/new_series_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

enh: deprecate `nw.new_series` in favour of `Series.from_arraylike`
  docs/backcompat.md
  narwhals/functions.py
  narwhals/series.py
  tests/new_series_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

catch all dep calls
  tests/new_series_test.py
Due: mypy

update docs
  docs/api-reference/index.md
  docs/api-reference/utils.md
  mkdocs.yml
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
Due: imports-are-banned, self-self, dtypes-import, mypy

typing
  narwhals/_duckdb/utils.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import, mypy

git add missing file
  narwhals/_pandas_like/dataframe.py
  narwhals/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

keep narwhals.utils.Implementation public
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

from_arraylike -> from_iterable
  docs/backcompat.md
  narwhals/functions.py
  narwhals/series.py
  tests/new_series_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

include Implementation in utils.md
  docs/api-reference/utils.md
Due: none

doctest
  narwhals/functions.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fixup deprecated warning
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, dtypes-import, mypy

silence deprecation warning for tubular
  .github/workflows/downstream_tests.yml
Due: pull-request-target

perf: Cache the hash of `Immutable` instances
  narwhals/_plan/common.py
  tests/plan/immutable_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat(DRAFT): Add `_ColumnSelection`, `expand_columns`
  narwhals/_plan/exceptions.py
  narwhals/_plan/expr.py
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fixup ibis diff, add grouped test
  narwhals/_ibis/expr.py
  tests/expr_and_series/diff_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fixup shift/diff for ibis
  narwhals/_ibis/expr.py
  tests/expr_and_series/shift_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: \.py$
