Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

missed a spot
  tests/plan/pivot_test.py
Due: none

fix: Add `pl.Series.has_nulls` compat
  narwhals/_plan/polars/compat.py
  narwhals/_plan/polars/series.py
Due: imports-are-banned, self-self, dtypes-import

feedback adjustment
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

didn't flip one condition
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

missed a spot x2
  narwhals/_plan/polars/lazyframe.py
  narwhals/_plan/polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

chore: Prepare for future pandas inplace deprecation (#3616)
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Add `sort(nulls_last=(..., )` compat
  narwhals/_plan/options.py
  narwhals/_plan/polars/compat.py
  narwhals/_plan/polars/dataframe.py
  narwhals/_plan/polars/lazyframe.py
Due: imports-are-banned, self-self, dtypes-import

4th's time the charm?
  tests/plan/lazyframe_test.py
Due: none

chore: Mark all remaining old polars fails
  narwhals/_plan/polars/series.py
  tests/expr_and_series/concat_str_test.py
  tests/plan/frame_with_row_index_test.py
  tests/plan/plugins_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Add `pl.Series.is_nan` compat
  narwhals/_plan/polars/series.py
Due: imports-are-banned, self-self, dtypes-import

revert: unrelated fail comment
  tests/expr_and_series/concat_str_test.py
Due: none

ci: Unpin 'temporary' CI pins
  .github/workflows/downstream_tests.yml
  .github/workflows/pytest-ibis.yml
Due: pull-request-target

test: xfail polars
  narwhals/_plan/polars/dataframe.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/polars/lazyframe.py
  tests/plan/frame_with_row_index_test.py
Due: imports-are-banned, self-self, dtypes-import

rollback formulaic and pointblank
  .github/workflows/downstream_tests.yml
Due: pull-request-target

fix: Reuse `is_nan` compat for `is_not_nan`
  narwhals/_plan/polars/compat.py
  narwhals/_plan/polars/series.py
Due: imports-are-banned, self-self, dtypes-import

Align v2 behaviour, resolve comment: https://github.com/narwhals-dev/narwhals/pull/3613\#discussion_r3229405470
  narwhals/stable/v2/dependencies.py
  tests/dependencies/is_into_dataframe_test.py
  tests/dependencies/is_into_lazyframe_test.py
  tests/dependencies/is_into_series_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Try clearing more from `sys.modules`
  tests/plan/plugins_test.py
Due: none

ci: Unpin "temporary" CI pins (#3618)
  .github/workflows/downstream_tests.yml
  .github/workflows/pytest-ibis.yml
Due: pull-request-target

unpin pyright
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_dask/group_by.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/group_by.py
  narwhals/_ibis/namespace.py
  narwhals/_ibis/selectors.py
  narwhals/_polars/dataframe.py
  narwhals/_sql/expr.py
  narwhals/_sql/namespace.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import

Revert "test: Try clearing more from `sys.modules`"
  tests/plan/plugins_test.py
Due: none

improve typing for slice
  narwhals/_polars/dataframe.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import

test: Relax import tests for old polars
  tests/plan/plugins_test.py
Due: none

chore: Clear out some duplicate functionality
  narwhals/_plan/plugins/_manager.py
  narwhals/_plan/translate.py
  tests/plan/plugins_test.py
Due: imports-are-banned, self-self, dtypes-import

ugh `mypy`
  tests/plan/plugins_test.py
Due: none

test: Fix some coverage gaps
  narwhals/_plan/_dispatch.py
  tests/plan/compliant_test.py
  tests/plan/conftest.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Add `pl.len` compat
  narwhals/_plan/polars/compat.py
  narwhals/_plan/polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

try `over(pl.lit(1), order_by=...)` backport
  narwhals/_plan/polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

docs: Explain `over(order_by=...)` backport
  narwhals/_plan/polars/compat.py
Due: imports-are-banned, self-self, dtypes-import

chore: remove fluff
  narwhals/_plan/polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

chore: Remove unused compat flag
  narwhals/_plan/polars/compat.py
Due: imports-are-banned, self-self, dtypes-import

fix(expr-ir): Add compat for old polars (#3617)
  narwhals/_plan/_dispatch.py
  narwhals/_plan/options.py
  narwhals/_plan/plugins/_manager.py
  narwhals/_plan/polars/compat.py
  narwhals/_plan/polars/dataframe.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/polars/lazyframe.py
  narwhals/_plan/polars/namespace.py
  narwhals/_plan/polars/series.py
  narwhals/_plan/translate.py
  tests/plan/compliant_test.py
  tests/plan/conftest.py
  tests/plan/frame_scan_read_test.py
  tests/plan/frame_with_row_index_test.py
  tests/plan/hist_test.py
  tests/plan/lazyframe_test.py
  tests/plan/pivot_test.py
  tests/plan/plugins_test.py
  tests/plan/range_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix(expr-ir): Backport `__replace__` typing for `<3.13`
  narwhals/_plan/_immutable.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Ignore false positive
  narwhals/_plan/_expr_ir.py
Due: imports-are-banned, self-self, dtypes-import

ci(typing): Disable running `mypy` for `main`
  pyproject.toml
Due: none

ci(typing): Bump `python-version: ["3.13"]` for `typing.yml`
  .github/workflows/typing.yml
Due: pull-request-target

chore(typing): `pyrefly` fix/ignore
  tests/plan/expr_ir_meta_test.py
  tests/plan/immutable_test.py
  tests/plan/over_test.py
  tests/plan/plugins_test.py
  tests/plan/utils.py
Due: none

kill me
  tests/plan/over_test.py
Due: none

ci(typing): Pin `pyrefly==1.0.0` and exclude everything
  pyproject.toml
Due: none

fix(expr-ir): Backport `__replace__` typing for `<3.13` (#3620)
  .github/workflows/typing.yml
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_immutable.py
  pyproject.toml
  tests/plan/expr_ir_meta_test.py
  tests/plan/immutable_test.py
  tests/plan/over_test.py
  tests/plan/plugins_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

fix: Avoid `hasattr` false-positives
  narwhals/dependencies.py
  narwhals/stable/v1/dependencies.py
  narwhals/stable/v2/dependencies.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
