Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

fix(tests): pandas and sqlframe non-failures
  tests/expr_and_series/list/unique_test.py
  tests/frame/getitem_test.py
Due: none

test: unxfail `sqlframe` on `test_unique_expr`
  tests/expr_and_series/list/unique_test.py
Due: none

un-xfail sqlframe list unique
  tests/expr_and_series/list/unique_test.py
Due: none

test: unxfail `pandas[pyarrow]` series slice on nightly (#2954)
  tests/expr_and_series/list/unique_test.py
  tests/frame/getitem_test.py
Due: none

test: unxfail `sqlframe` on `test_unique_expr` (#2956)
  tests/expr_and_series/list/unique_test.py
Due: none

undid moving converttimezone
  narwhals/_spark_like/expr_dt.py
  narwhals/_sql/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import

fix: Allow `modin[pyarrow]` to use more dtypes (#2950)
  narwhals/_pandas_like/utils.py
  tests/dtypes_test.py
  tests/expr_and_series/cast_test.py
  tests/expr_and_series/list/len_test.py
  tests/frame/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

cleaned up comments
  narwhals/_ibis/expr_dt.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_sql/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import

fix pyarrow case
  narwhals/_arrow/series.py
  narwhals/series.py
  tests/expr_and_series/is_close_test.py
Due: imports-are-banned, self-self, dtypes-import

- fixed _compliant/expr missing keyword argument
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

- correcting tests to skip pytest for pandas constructor and pandas version <2.2
  tests/expr_and_series/list/get_test.py
Due: none

- implemented list.get(index: int) for polars expr and series - added tests
  docs/api-reference/expr_list.md
  docs/api-reference/series_list.md
  narwhals/_compliant/expr.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/expr_list.py
  narwhals/series_list.py
  tests/expr_and_series/list/get_test.py
Due: imports-are-banned, self-self, dtypes-import

- Added docstrings
  narwhals/expr_list.py
  narwhals/series_list.py
Due: imports-are-banned, self-self, dtypes-import

- implemented list.get(index: int) for _arrow series, _duckdb, _ibis, and _spark_like expr - updated tests
  narwhals/_duckdb/expr_list.py
  narwhals/_ibis/expr_list.py
  narwhals/_spark_like/expr_list.py
  tests/expr_and_series/list/get_test.py
Due: imports-are-banned, self-self, dtypes-import

- implemented list.get(index: int) for pandas series and pyarrow - updated tests
  narwhals/_arrow/series_list.py
  narwhals/_compliant/any_namespace.py
  narwhals/_pandas_like/series_list.py
  narwhals/_polars/expr.py
  tests/expr_and_series/list/get_test.py
Due: imports-are-banned, self-self, dtypes-import

changed input type for _function
  narwhals/_sql/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import

polars series and expr
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

suppressing type warning
  narwhals/_sql/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import

test: fill out pandas tests
  tests/frame/schema_test.py
Due: none

fix: More aligning `modin`, `pandas` dtypes
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

moved type silencing
  narwhals/_sql/expr_dt.py
Due: imports-are-banned, self-self, dtypes-import

- alligning modin[pyarrow] with (#2950)
  tests/expr_and_series/list/get_test.py
Due: none

move implementation to compliant level
  docs/api-reference/expr.md
  docs/api-reference/series.md
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_sql/expr.py
  narwhals/expr.py
  narwhals/series.py
  pyproject.toml
  tests/expr_and_series/is_close_test.py
Due: imports-are-banned, self-self, dtypes-import

help typing
  narwhals/_compliant/series.py
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

lazy almost there
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_sql/expr.py
  tests/expr_and_series/is_close_test.py
Due: imports-are-banned, self-self, dtypes-import

simplify
  narwhals/_compliant/expr.py
  narwhals/_compliant/series.py
  narwhals/_compliant/typing.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

fix(suggestion): Remove problematic protocol members
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
  narwhals/_ibis/expr.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

test: Branch time unit for pandas nightly
  tests/frame/schema_test.py
Due: none

feat: Add dtype/schema guards
  narwhals/dependencies.py
Due: self-self, dtypes-import

coverage
  narwhals/_utils.py
  tests/expr_and_series/is_close_test.py
Due: imports-are-banned, self-self

docstring examples
  narwhals/expr.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

- removed unnecessary reference of the method in polars namespace
  narwhals/_polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

test: Remove a bunch of modin xfails
  tests/expr_and_series/cast_test.py
Due: none

fixing nan's issue
  narwhals/_polars/expr.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

test: trim some fat 😉
  tests/expr_and_series/is_close_test.py
Due: none

check single dtypes in cast_test Follow up on comment: https://github.com/narwhals-dev/narwhals/pull/2958\#discussion_r2261418548
  tests/expr_and_series/cast_test.py
Due: none

- fixed series_list docstring
  narwhals/series_list.py
Due: imports-are-banned, self-self, dtypes-import

took out wip comment
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix: More aligning `modin`, `pandas` dtypes (#2958)
  narwhals/_pandas_like/utils.py
  tests/expr_and_series/cast_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `Schema.from_native`
  narwhals/schema.py
Due: imports-are-banned, self-self, dtypes-import
