Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

refactor
  utils/generate_backend_completeness.py
Due: none

sortable and filter-able
  docs/javascripts/table.js
  mkdocs.yml
Due: none

revert: remove `aggregate`, `_union`
  narwhals/_plan/arrow/acero.py
Due: imports-are-banned, self-self, dtypes-import

test: Mark test as not planned
  tests/plan/over_test.py
Due: none

fix hook
  utils/generate_backend_completeness.py
Due: none

Allow bodo in dev mode.
  narwhals/_utils.py
Due: imports-are-banned, self-self

Turn dev version of bodo into 2025.10 so subsequent code can still run.
  narwhals/_utils.py
Due: imports-are-banned, self-self

fix: Pass/Retrieve empty categories from nw.Enum (#3284)
  narwhals/dtypes.py
  tests/dtypes/dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

rm deprecated methods
  utils/generate_backend_completeness.py
Due: none

test: xfail polars `cat.get_categories` (flaky) (#3283)
  .pre-commit-config.yaml
  tests/expr_and_series/cat/get_categories_test.py
Due: none

chore: simplify dask implementation for direct translations
  narwhals/_dask/expr.py
  narwhals/_dask/selectors.py
Due: imports-are-banned, self-self, dtypes-import

sort out is_finite
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  tests/frame/schema_test.py
  tests/no_imports_test.py
  tests/series_only/hist_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import

cvg
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

chore: 🧹🧹🧹
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
Due: imports-are-banned, self-self, dtypes-import

document that one fragile boi
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

enable more timezone tests
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
  tests/expr_and_series/dt/timestamp_test.py
  tests/selectors_test.py
Due: none

chore: updated docstrings for functions with ClosedInterval type arg to show options on hover
  narwhals/expr.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `date_range`
  narwhals/_plan/__init__.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/expressions/ranges.py
  narwhals/_plan/functions.py
Due: imports-are-banned, self-self, dtypes-import

chore: second attempt at documenting ClosedInterval type arguments, to comply with DAR103
  narwhals/expr.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

fix: `with_row_index` was returning incorrect results when used with `order_by` for pandas, pyarrow, and polars
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
  tests/frame/with_row_index_test.py
Due: imports-are-banned, self-self, dtypes-import

fix pandas
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix polars
  narwhals/_polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

skip old polars
  tests/frame/with_row_index_test.py
Due: none

feat: Support `int_range(eager=...)`
  narwhals/_plan/arrow/__init__.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/functions.py
  tests/plan/compliant_test.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Support `date_range(eager=...)`
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/functions.py
  narwhals/_plan/series.py
  tests/plan/compliant_test.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Finish covering `date_range` parsing
  narwhals/_plan/functions.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

test: More `date_range` cov
  tests/plan/compliant_test.py
Due: none

Remove bodo version hack.
  narwhals/_utils.py
Due: imports-are-banned, self-self

better docstrings
  utils/generate_backend_completeness.py
Due: none

is_eager_allowed property
  utils/generate_backend_completeness.py
Due: none

feat: Add `default` in `{Expr,Series}.replace_strict` (#3276)
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_typing.py
  narwhals/_utils.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/replace_strict_test.py
Due: imports-are-banned, self-self, dtypes-import

use modern pyarrow solution if available
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Make `is_finite` consistent for Polars < 1.18 (#3288)
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  tests/frame/schema_test.py
  tests/no_imports_test.py
  tests/series_only/hist_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup skips
  tests/frame/with_row_index_test.py
Due: none

coverage
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

better tracking for spark-like
  narwhals/_spark_like/expr.py
  tests/expr_and_series/replace_strict_test.py
Due: imports-are-banned, self-self, dtypes-import

coverage (final one?)
  .github/workflows/extremes.yml
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

nightly install
  .github/workflows/extremes.yml
Due: pull-request-target

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
