Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

refactor: Remove a whole bunch of old selectors
  narwhals/_plan/_expansion.py
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/expressions/selectors.py
Due: imports-are-banned, self-self, dtypes-import

run all doctest modules in CI
  .github/workflows/pytest.yml
Due: pull-request-target

refactor: Remove `Nth`, `IndexColumns`, `Exclude`
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/__init__.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/functions.py
  narwhals/_plan/meta.py
  narwhals/_plan/selectors.py
  tests/plan/compliant_test.py
  tests/plan/dispatch_test.py
  tests/plan/expr_expansion_test.py
  tests/plan/expr_parsing_test.py
  tests/plan/over_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

maintain None (unnamed) series name in to_frame and concat
  narwhals/_native.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/series.py
  tests/expr_and_series/is_close_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove `Columns`
  narwhals/_plan/_parse.py
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/__init__.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/functions.py
  narwhals/_plan/meta.py
  tests/plan/compliant_test.py
  tests/plan/expr_expansion_test.py
  tests/plan/expr_parsing_test.py
  tests/plan/expr_rewrites_test.py
  tests/plan/group_by_test.py
  tests/plan/is_first_last_distinct_test.py
  tests/plan/over_test.py
  tests/plan/selectors_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove `All`, `_ColumnSelection`
  narwhals/_plan/_expansion.py
  narwhals/_plan/expressions/__init__.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/functions.py
  narwhals/_plan/meta.py
  tests/plan/expr_expansion_test.py
  tests/plan/expr_parsing_test.py
  tests/plan/group_by_test.py
  tests/plan/is_first_last_distinct_test.py
  tests/plan/over_test.py
Due: imports-are-banned, self-self, dtypes-import

tidy tidy tidy
  tests/plan/compliant_test.py
  tests/plan/expr_expansion_test.py
  tests/plan/expr_rewrites_test.py
  tests/plan/group_by_test.py
Due: none

fix and test replace strict
  narwhals/_pandas_like/series.py
  tests/expr_and_series/replace_strict_test.py
Due: imports-are-banned, self-self, dtypes-import

perf: _concat_horizonal rename only if necessary
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

instance check only once
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

test to_frame, select
  tests/frame/select_test.py
  tests/series_only/to_frame_test.py
Due: none

fix: Always ignore for `group_by`
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/expressions/selectors.py
  tests/plan/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

okay what errors?
  utils/check_docstrings.py
Due: none

ci: Fix `check_docstrings`
  utils/check_docstrings.py
Due: none

rollback on facing API, fix only internals
  narwhals/_native.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/series.py
  tests/expr_and_series/is_close_test.py
  tests/series_only/to_frame_test.py
Due: imports-are-banned, self-self, dtypes-import

add inline comment
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

Add one more test :)
  tests/expr_and_series/is_close_test.py
Due: none

fix: Address `pandas.Series.to_frame` for unnamed series in internal usage (#3251)
  .github/workflows/pytest.yml
  narwhals/_pandas_like/series.py
  narwhals/series.py
  tests/expr_and_series/is_close_test.py
  tests/expr_and_series/replace_strict_test.py
  tests/frame/select_test.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

test: Refactor TPCH testing to run without all dependencies installed (#3244)
  tpch/execute.py
  tpch/generate_data.py
Due: none

perf: Re-introduce cache for `DTypeSelector`s
  narwhals/_plan/expressions/selectors.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Widen `ByDType._matches`
  narwhals/_plan/expressions/selectors.py
Due: imports-are-banned, self-self, dtypes-import

fix: allow for `None` dtype in `from_dict`
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/stable/v2/__init__.py
  tests/from_dict_test.py
  tests/from_dicts_test.py
Due: imports-are-banned, self-self, dtypes-import

err msg
  narwhals/_arrow/dataframe.py
  narwhals/functions.py
  tests/from_dict_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

typing
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import

fix: Create and handle more selectors edge cases
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_guards.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/expressions/selectors.py
  tests/plan/selectors_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: TPCH find_spec('dask')
  tpch/execute.py
Due: none

fix(test): TPCH `find_spec('dask') and find_spec('dask.dataframe')` (#3253)
  tpch/execute.py
Due: none

chore: remove outdated comment
  narwhals/_plan/_expansion.py
Due: imports-are-banned, self-self, dtypes-import

exclude
  .pre-commit-config.yaml
Due: none

typing
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import

docs: restore, adapt old doc
  narwhals/_plan/_expansion.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): update ignore
  narwhals/_plan/_expansion.py
Due: imports-are-banned, self-self, dtypes-import

old pyarrow
  tests/from_dict_test.py
Due: none

refactor: Remove `_s` suffixes
  narwhals/_plan/_expansion.py
  narwhals/_plan/_rewrites.py
  narwhals/_plan/compliant/group_by.py
  narwhals/_plan/dataframe.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

perf: Make `needs_expansion` a method
  narwhals/_plan/_expansion.py
  narwhals/_plan/_expr_ir.py
Due: imports-are-banned, self-self, dtypes-import

fix typing, old pyarrow
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  narwhals/functions.py
  tests/namespace_test.py
Due: imports-are-banned, self-self, dtypes-import

backend version
  tests/test_plugin/test_plugin/namespace.py
Due: none

coverage
  tests/test_plugin/test_plugin/namespace.py
Due: none

document sql
  docs/api-reference/sql.md
  docs/generating_sql.md
  mkdocs.yml
  narwhals/sql.py
  tests/sql_test.py
Due: imports-are-banned, self-self, dtypes-import
