Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

typo
  .github/workflows/check_tpch_queries.yml
Due: pull-request-target

need to use proper action
  .github/workflows/check_tpch_queries.yml
Due: pull-request-target

refactor: Reuse new default `LazyExpr.alias`
  narwhals/_ibis/expr.py
Due: imports-are-banned, dtypes-import, mypy

test: Inline `polars` import
  tests/conftest.py
Due: mypy

test(typing): Fix constructor/backend
  tests/conftest.py
Due: mypy

chore: Remove unused `*args, **kwds`
  narwhals/_ibis/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix: Catch ModuleNotFoundError when checking for PySparkConnect
  narwhals/dependencies.py
  tests/translate/from_native_test.py
Due: dtypes-import, mypy

pyright
  tests/translate/from_native_test.py
Due: mypy

workaround via makefile
  .pre-commit-config.yaml
  Makefile
Due: none

use uv version bump instead of manual process
  utils/bump_version.py
Due: none

catch both?
  narwhals/dependencies.py
Due: dtypes-import, mypy

chore: adding Validoopsie to used by
  README.md
  docs/ecosystem.md
Due: none

refactor: Simplify joining
  narwhals/_ibis/dataframe.py
  narwhals/_ibis/utils.py
Due: imports-are-banned, dtypes-import, mypy

docs: adding Validoopsie to used by (#2519)
  README.md
  docs/ecosystem.md
Due: none

catch distutils warning
  narwhals/dependencies.py
  tests/translate/narwhalify_test.py
Due: dtypes-import, mypy

test: add `ibis` to `DEFAULT_CONSTRUCTORS`
  tests/conftest.py
Due: mypy

catch distutils warning
  tests/translate/narwhalify_test.py
Due: mypy

coverage
  tests/translate/from_native_test.py
Due: mypy

fix: Catch ``ImportError`` when checking for PySparkConnect (#2518)
  narwhals/dependencies.py
  tests/translate/from_native_test.py
  tests/translate/narwhalify_test.py
Due: dtypes-import, mypy

release: Bump version to 1.38.2
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

do we have uv?
  Makefile
Due: none

install uv to begin with
  Makefile
Due: none

fix: actually store the result lol
  narwhals/_ibis/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

ok easier than expected
  .pre-commit-config.yaml
  Makefile
Due: none

eureka - add a python env initializer
  .pre-commit-config.yaml
  Makefile
  utils/check_api_reference.py
Due: none

release: Bump version to 1.38.2 (#2520)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

chore: literals -> type aliases
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

chore: Simplify `SparkLike` window (#2505)
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/typing.py
Due: imports-are-banned, dtypes-import, mypy

wip
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

chore(ruff): lint
  pyproject.toml
  utils/bump_version.py
Due: none

ci: Add some constants
  utils/bump_version.py
Due: none

ci: alias `subprocess` to `sp`
  utils/bump_version.py
Due: none

store last_node
  narwhals/_expression_parsing.py
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

store last_node
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

is_partitioned -> has_windows, simplify
  docs/how_it_works.md
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

post refactor adjustments
  narwhals/_expression_parsing.py
  tests/expression_parsing_test.py
Due: imports-are-banned, dtypes-import, mypy

no dead code
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

aggregation staticmethod
  narwhals/_expression_parsing.py
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

update "how it works"
  docs/how_it_works.md
Due: none

remove `last_node_is_*`
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy
