Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

typing
  tests/expr_and_series/fill_nan_test.py
Due: none

test(typing): Avoid inline `Frame` annotation
  tests/expr_and_series/rolling_var_test.py
  tests/frame/invalid_test.py
  tests/translate/get_native_namespace_test.py
  tests/utils.py
Due: none

test(typing): Avoid most `IntoSeries`
  tests/series_only/is_ordered_categorical_test.py
  tests/utils_test.py
Due: none

naming, preserve_broadcast
  narwhals/_arrow/series.py
  tests/expr_and_series/fill_nan_test.py
Due: imports-are-banned, self-self, dtypes-import

test(typing): Avoid masking fixed overloads (#3033)
  tests/expr_and_series/rolling_var_test.py
  tests/frame/invalid_test.py
  tests/series_only/is_ordered_categorical_test.py
  tests/translate/get_native_namespace_test.py
  tests/utils.py
  tests/utils_test.py
Due: none

raise on non-numeric for pandas
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

preserve `is_nan` for now
  narwhals/_dask/expr.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

rename, add brief doc to `_Implementation`
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Rename `NarwhalsObj` -> `Narwhals`
  narwhals/_utils.py
Due: imports-are-banned, self-self

fixup pandas
  narwhals/_pandas_like/series.py
  tests/expr_and_series/fill_nan_test.py
Due: imports-are-banned, self-self, dtypes-import

code review simplifications, align test with is_nan test
  narwhals/_arrow/series.py
  narwhals/_pandas_like/series.py
  tests/expr_and_series/fill_nan_test.py
Due: imports-are-banned, self-self, dtypes-import

dask too
  narwhals/_dask/expr.py
  tests/expr_and_series/fill_nan_test.py
Due: imports-are-banned, self-self, dtypes-import

avoid redundant copy
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

tighten up `Narwhals` w/ `Compliant`
  narwhals/_utils.py
Due: imports-are-banned, self-self

docs(typing): Add `Narwhals` explainer
  narwhals/_utils.py
Due: imports-are-banned, self-self

docs: Add crossref to `Implementation`
  narwhals/dataframe.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: shrinking
  narwhals/_namespace.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

use na_value for pandas-like
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

chore: xfail top k multiple in old polars
  tests/frame/top_k_test.py
Due: none

chore: xfail top k multiple in old polars (#3034)
  tests/frame/top_k_test.py
Due: none

feat: Add `{Expr,Series}.fill_nan` (#3030)
  docs/api-reference/expr.md
  docs/api-reference/series.md
  narwhals/_arrow/series.py
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_sql/expr.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/fill_nan_test.py
Due: imports-are-banned, self-self, dtypes-import

docs: fix typo, remove outdated "you can only execute this once"
  docs/basics/complete_example.md
  docs/basics/dataframe_conversion.md
Due: none

docs: fix typo, remove outdated "you can only execute this once" (#3035)
  docs/basics/complete_example.md
  docs/basics/dataframe_conversion.md
Due: none

release: Bump version to 2.2.0
  pyproject.toml
Due: none

revert: changes to `_pandas_like.utils`
  narwhals/_pandas_like/utils.py
  narwhals/schema.py
Due: imports-are-banned, self-self, dtypes-import

revert: `ToPandasArrowKwds`
  docs/api-reference/typing.md
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  narwhals/_translate.py
  narwhals/dataframe.py
  narwhals/series.py
  narwhals/typing.py
  tests/frame/to_pandas_test.py
Due: imports-are-banned, self-self, dtypes-import

ci: remove annotation
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

docs: Update Null vs NaN handling
  docs/concepts/null_handling.md
Due: none

refactor: Allow empty `()` in `object_native_to_narwhals_dtype`
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Ignore inferred type in `dask_expr.Series.mask`
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Ignore inferred type in `dask_expr.Series.mask` (#3039)
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

release: Bump version to 2.2.0 (#3036)
  pyproject.toml
Due: none

add cudf to str/replace multivalue xfail
  tests/expr_and_series/str/replace_test.py
Due: none

refactor: Simplify `AggExpr` repr
  narwhals/_plan/aggregation.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `ExprIR._with_unary`
  narwhals/_plan/dummy.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `ExprNamespace._with_unary`
  narwhals/_plan/categorical.py
  narwhals/_plan/common.py
  narwhals/_plan/lists.py
  narwhals/_plan/strings.py
  narwhals/_plan/struct.py
  narwhals/_plan/temporal.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `rolling_options`
  narwhals/_plan/dummy.py
  narwhals/_plan/options.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `Expr._with_binary`
  narwhals/_plan/dummy.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `ExprIR.alias`
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/expr_parsing.py
Due: imports-are-banned, self-self, dtypes-import

refactor: remove unused
  narwhals/_plan/demo.py
Due: imports-are-banned, self-self, dtypes-import
