Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

feat: Support `polars.UInt128` (#3138)
  narwhals/_polars/dataframe.py
  narwhals/_polars/utils.py
  pyproject.toml
  tests/dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Make `Implementation.UNKNOWN._backend_version()` safe (#3133)
  narwhals/_utils.py
  tests/dependencies/imports_test.py
Due: imports-are-banned, self-self

chore: Add `CompliantNamespace.is_native` (#3130)
  narwhals/_compliant/namespace.py
  narwhals/_polars/namespace.py
  narwhals/_sql/namespace.py
  tests/namespace_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Adds `{Expr,Series}.{first,last}` (#2528)
  docs/api-reference/expr.md
  docs/api-reference/series.md
  narwhals/_arrow/expr.py
  narwhals/_arrow/group_by.py
  narwhals/_arrow/series.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/series.py
  narwhals/_compliant/typing.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_spark_like/expr.py
  narwhals/_sql/expr.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/first_last_test.py
  tests/expr_and_series/over_test.py
  tests/frame/group_by_test.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import

typing, docs
  docstring_template.mustache
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

docs(python) remove now unnecessary returns statements (#3170)
  docstring_template.mustache
  narwhals/_duckdb/utils.py
  narwhals/_exceptions.py
  narwhals/_polars/series.py
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/dependencies.py
  narwhals/expr_list.py
  narwhals/functions.py
  narwhals/selectors.py
  narwhals/series.py
  narwhals/series_list.py
  narwhals/stable/v2/__init__.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Start sketching out (de)serde
  narwhals/_plan/options.py
  narwhals/_plan/serde.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Some progress on `hashjoin` port
  narwhals/_plan/arrow/acero.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix: Correctly pass down join keys
  narwhals/_plan/arrow/acero.py
  narwhals/_plan/common.py
  narwhals/_plan/dataframe.py
  tests/plan/join_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: raise for `rank` followed by `over` with `order_by` for sql-like backends
  narwhals/_ibis/expr.py
  narwhals/_sql/expr.py
  tests/expr_and_series/rank_test.py
Due: imports-are-banned, self-self, dtypes-import

simplify while we are at it
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

wip
  tests/expr_and_series/rank_test.py
Due: none

add tricky test
  tests/expr_and_series/rank_test.py
Due: none

ibis typing leaves a lot to be desired
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import

Update narwhals/stable/v1/__init__.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self

fixup
  narwhals/functions.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self, dtypes-import

test: Port over inner, left & clean up
  tests/plan/join_test.py
Due: none

test: Add `test_suffix`
  tests/plan/join_test.py
Due: none

enh: Add `nw.format` (#3169)
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/expr_and_series/format_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

:art:
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `how="cross"` tests
  tests/plan/join_test.py
Due: none

test: Add `how={"anti","semi"}` tests
  tests/plan/join_test.py
Due: none

test: replace `"antananarivo"`->`"a"`, `"bob"`->`"b"`
  tests/plan/join_test.py
Due: none

test: Port the other duplicate test
  tests/plan/join_test.py
Due: none

test: Make all the xfails more visible
  tests/plan/join_test.py
Due: none

feat(DRAFT): Initial acero cross-join impl
  narwhals/_plan/arrow/acero.py
  narwhals/_plan/arrow/dataframe.py
  tests/plan/join_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Only expose `acero.join_tables`
  narwhals/_plan/arrow/acero.py
  narwhals/_plan/arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

chore: Start factoring-out `Table` dependency
  narwhals/_plan/arrow/acero.py
Due: imports-are-banned, self-self, dtypes-import

refactor test, change table to list in docstring warning
  narwhals/expr_str.py
  narwhals/series_str.py
  tests/expr_and_series/str/to_titlecase_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: raise for rank followed by over with order_by for sql-like backends (#3178)
  narwhals/_ibis/expr.py
  narwhals/_sql/expr.py
  tests/expr_and_series/rank_test.py
Due: imports-are-banned, self-self, dtypes-import

groupby fix
  narwhals/_arrow/group_by.py
  narwhals/_compliant/group_by.py
Due: imports-are-banned, self-self, dtypes-import

first last
  narwhals/_expression_parsing.py
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix is_native, with_row_index
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/expr.py
  narwhals/_polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

typing, docs (thanks Francesco!)
  docs/how_it_works.md
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

release: Bump version to 2.7.0
  pyproject.toml
Due: none

release: Bump version to 2.7.0 (#3179)
  pyproject.toml
Due: none

ci: Exclude coverage for `BACKEND_VERSION <`
  narwhals/_polars/expr.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import

more slow testv
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_sql/dataframe.py
  narwhals/_sql/expr.py
  tests/dtypes_test.py
  tests/frame/lazy_test.py
Due: imports-are-banned, self-self, dtypes-import

Apply suggestions
  narwhals/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add support for `{Expr,Series}.str.to_titlecase` (#3116)
  docs/api-reference/expr_str.md
  docs/api-reference/series_str.md
  narwhals/_arrow/series_str.py
  narwhals/_compliant/any_namespace.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr_str.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/expr_str.py
  narwhals/_pandas_like/series_str.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/expr_str.py
  narwhals/expr_str.py
  narwhals/series_str.py
  pyproject.toml
  tests/expr_and_series/str/to_titlecase_test.py
Due: imports-are-banned, self-self, dtypes-import
