Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

coverage
  narwhals/_pandas_like/utils.py
  narwhals/schema.py
Due: imports-are-banned, dtypes-import, mypy

switching back to core
  .github/workflows/typing.yml
Due: pull-request-target

calm down mypy a bit
  pyproject.toml
Due: none

refactor(typing): lie more explicitly
  narwhals/schema.py
Due: imports-are-banned, dtypes-import, mypy

chore: move pragma
  narwhals/schema.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): resolve remaining `utils.py` warnings
  narwhals/utils.py
Due: imports-are-banned, mypy

fix(typing): resolve remaining `utils.py` warnings (#1968)
  narwhals/utils.py
Due: imports-are-banned, mypy

feat: add `Schema.to_(arrow|pandas|polars)` (#1924)
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  narwhals/functions.py
  narwhals/schema.py
  narwhals/stable/v1/__init__.py
  narwhals/typing.py
  tests/frame/schema_test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): fix `_from_compliant_dataframe` type ignore
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

easy fix
  tests/expr_and_series/is_nan_test.py
Due: mypy

some type fixes
  narwhals/_arrow/series.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/group_by.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/utils.py
  narwhals/series.py
  tests/expr_and_series/dt/datetime_duration_test.py
  tests/frame/collect_test.py
  tests/frame/lazy_test.py
  tests/hypothesis/getitem_test.py
Due: imports-are-banned, dtypes-import, mypy

disable pyarrow-stubs
  pyproject.toml
Due: none

restore
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): fix `_from_compliant_dataframe` type ignore (#1969)
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): fix remaining `functions`, `series` warnings
  narwhals/functions.py
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): ignore unused ignore
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): fix remaining `functions`, `series` warnings (#1970)
  narwhals/functions.py
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

ci: validate tpch query results
  tpch/execute.py
  tpch/generate_data.py
  tpch/queries/q1.py
  tpch/queries/q10.py
  tpch/queries/q11.py
  tpch/queries/q12.py
  tpch/queries/q13.py
  tpch/queries/q14.py
  tpch/queries/q15.py
  tpch/queries/q16.py
  tpch/queries/q17.py
  tpch/queries/q18.py
  tpch/queries/q19.py
  tpch/queries/q2.py
  tpch/queries/q20.py
  tpch/queries/q21.py
  tpch/queries/q22.py
  tpch/queries/q3.py
  tpch/queries/q4.py
  tpch/queries/q5.py
  tpch/queries/q6.py
  tpch/queries/q7.py
  tpch/queries/q8.py
  tpch/queries/q9.py
Due: none

more docstring trimming
  narwhals/selectors.py
Due: imports-are-banned, dtypes-import, mypy

new: Validdopsie in downstream tests
  .github/workflows/downstream_tests.yml
Due: pull-request-target

fix: pytest config warning
  .github/workflows/downstream_tests.yml
Due: pull-request-target

Update .github/workflows/downstream_tests.yml
  .github/workflows/downstream_tests.yml
Due: pull-request-target

fix: accidentally kept `workflow_dispatch`
  .github/workflows/downstream_tests.yml
Due: pull-request-target

chore: reduce functions module docstrings
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

ci: add Validoopsie to downstream tests (#1973)
  .github/workflows/downstream_tests.yml
Due: pull-request-target

mistakes were made
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

chore: widen `parse_version` to accept packages
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/dataframe.py
  narwhals/_interchange/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/schema.py
  narwhals/series.py
  narwhals/translate.py
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, dtypes-import, mypy

chore: reduce series module docstrings
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): add `np.ndarray` aliases
  narwhals/typing.py
Due: imports-are-banned, mypy

chore: shrink `functions` module docstrings (#1974)
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): add dim guard variants of `is_numpy_array`
  narwhals/dependencies.py
Due: dtypes-import, mypy

refactor(typing): utilize in top-level modules
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): backport to `v1`
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

refactor(typing): utilize in `_polars`
  narwhals/_polars/dataframe.py
  narwhals/_polars/series.py
Due: imports-are-banned, dtypes-import, mypy

:art:
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

RFC, chore: shrink `series` module docstrings (#1976)
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): utilize in `_pandas_like`
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore: widen `parse_version` to accept packages (#1975)
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/dataframe.py
  narwhals/_interchange/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/schema.py
  narwhals/series.py
  narwhals/translate.py
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): utilize in `_arrow`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): resolve `pre-commit` warnings `_arrow`
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy
