Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

simplify ExprMetadata.from_node
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

simplify further
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

clearer names
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

dask fixup
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

typing
  narwhals/_expression_parsing.py
Due: imports-are-banned, self-self, dtypes-import

raise developer-facing assertionerror in _metadata
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

cvg
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

WIP: Unit test
  tests/testing/assert_frame_equal_test.py
Due: none

arguably improve typing(?), raise if only nested dtypes are available
  narwhals/testing/asserts/frame.py
  tests/testing/assert_frame_equal_test.py
Due: imports-are-banned, self-self, dtypes-import

rewrite as `Dispatcher`
  .pre-commit-config.yaml
  narwhals/_plan/_dispatch.py
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_function.py
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/expressions/expr.py
  tests/plan/compliant_test.py
  tests/plan/dispatch_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: un-expose `_pascal_to_snake_case`
  narwhals/_plan/_dispatch.py
  narwhals/_plan/expressions/aggregation.py
  tests/plan/dispatch_test.py
Due: imports-are-banned, self-self, dtypes-import

Thanks Dan https://github.com/narwhals-dev/narwhals/pull/3194\#discussion_r2423150714
  tests/expr_and_series/cast_test.py
Due: none

less-bad no_dispatch
  narwhals/_plan/_dispatch.py
  tests/plan/dispatch_test.py
Due: imports-are-banned, self-self, dtypes-import

tweak tweak tweak
  narwhals/_plan/_dispatch.py
  narwhals/_plan/options.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Less no-any-return
  narwhals/_plan/_dispatch.py
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/expressions/expr.py
Due: imports-are-banned, self-self, dtypes-import

fixing typos
  docs/extending.md
Due: none

test: Demonstrate repr quirk
  tests/dtypes_test.py
Due: none

correctly respect arguments metadata in `with_filtration`, add test
  narwhals/_expression_parsing.py
  narwhals/_sql/expr.py
  tests/expression_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import

mark `filter` not implemented for dask
  narwhals/_compliant/column.py
  narwhals/_compliant/series.py
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  narwhals/_compliant/column.py
Due: imports-are-banned, self-self, dtypes-import

keep `filter` in `CompliantSeries` for now
  narwhals/_compliant/column.py
  narwhals/_compliant/series.py
Due: imports-are-banned, self-self, dtypes-import

almost there with the testing
  narwhals/testing/asserts/frame.py
  tests/testing/assert_frame_equal_test.py
Due: imports-are-banned, self-self, dtypes-import

Update narwhals/_native.py
  narwhals/_native.py
Due: imports-are-banned, self-self, dtypes-import

fixup ci
  pyproject.toml
  utils/generate_random_versions.py
Due: none

chore: fixup ci (#3217)
  pyproject.toml
  utils/generate_random_versions.py
Due: none

update import check for modin.pandas module
  narwhals/dependencies.py
Due: self-self, dtypes-import

ci: test pi-thon
  .github/workflows/pytest.yml
  tests/conftest.py
Due: pull-request-target

getting closer
  tests/conftest.py
  tests/dtypes_test.py
  tests/expr_and_series/cat/get_categories_test.py
  tests/expr_and_series/concat_str_test.py
  tests/expr_and_series/dt/datetime_duration_test.py
  tests/expr_and_series/dt/timestamp_test.py
  tests/expr_and_series/lit_test.py
  tests/expr_and_series/over_test.py
  tests/expr_and_series/rolling_mean_test.py
  tests/expr_and_series/rolling_sum_test.py
  tests/expr_and_series/shift_test.py
  tests/expr_and_series/str/to_datetime_test.py
  tests/expr_and_series/struct_/field_test.py
  tests/frame/group_by_test.py
  tests/frame/select_test.py
  tests/frame/to_arrow_test.py
  tests/series_only/getitem_test.py
  tests/series_only/to_arrow_test.py
  tests/translate/to_py_scalar_test.py
  tests/utils.py
  tests/utils_test.py
Due: none

test: xfail for now
  tests/dtypes_test.py
Due: none

refactor: Use `DTypeClass` instead of `type`
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

fixup
  tests/dtypes_test.py
  tests/expr_and_series/cast_test.py
  tests/expr_and_series/dt/offset_by_test.py
  tests/expr_and_series/exp_test.py
  tests/expr_and_series/floor_ceil_test.py
  tests/expr_and_series/is_nan_test.py
  tests/expr_and_series/list/get_test.py
  tests/expr_and_series/list/len_test.py
  tests/expr_and_series/lit_test.py
  tests/expr_and_series/log_test.py
  tests/expr_and_series/map_batches_test.py
  tests/expr_and_series/sqrt_test.py
  tests/frame/collect_test.py
  tests/frame/explode_test.py
  tests/frame/join_test.py
  tests/frame/schema_test.py
  tests/frame/sink_parquet_test.py
  tests/frame/to_pandas_test.py
  tests/frame/write_parquet_test.py
  tests/modern_polars/method_chaining_test.py
  tests/read_scan_test.py
  tests/series_only/cast_test.py
  tests/series_only/to_pandas_test.py
  tests/testing/assert_series_equal_test.py
  tests/translate/get_native_namespace_test.py
Due: none

refactor: don't import twice 😄
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

fixup pandas nullable
  .github/workflows/pytest.yml
  pyproject.toml
  tests/conftest.py
  tests/frame/collect_test.py
  tests/frame/from_dict_test.py
  tests/frame/lazy_test.py
  tests/frame/to_polars_test.py
  tests/from_dict_test.py
  tests/series_only/to_polars_test.py
Due: pull-request-target

Update narwhals/dependencies.py
  narwhals/dependencies.py
Due: self-self, dtypes-import

actually, remove duckdb from ci, it needs pyarrow anyway to collect
  .github/workflows/pytest.yml
  tests/expr_and_series/dt/ordinal_day_test.py
  tests/expr_and_series/dt/total_minutes_test.py
Due: pull-request-target

fail under 50
  .github/workflows/pytest.yml
Due: pull-request-target

refactor: `origin` -> `is_namespaced`
  narwhals/_plan/options.py
Due: imports-are-banned, self-self, dtypes-import

chore: Update TODO
  narwhals/_plan/_dispatch.py
Due: imports-are-banned, self-self, dtypes-import

fix indentation
  narwhals/dependencies.py
Due: self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
