Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

xfail modin pyarrow
  tests/series_only/__getitem___test.py
Due: mypy

enough to ignore warning
  tests/series_only/__getitem___test.py
Due: mypy

ci: update pointblank deps to test downstream in ci
  .github/workflows/downstream_tests.yml
Due: pull-request-target

perf avoid try/except in _hasattr_static
  narwhals/utils.py
Due: imports-are-banned, mypy

ci: update pointblank deps to test downstream in ci (#2015)
  .github/workflows/downstream_tests.yml
Due: pull-request-target

perf: avoid try/except in _hasattr_static (#2014)
  narwhals/utils.py
Due: imports-are-banned, mypy

feat(typing): `series_str` return annotations
  narwhals/_arrow/series_str.py
Due: imports-are-banned, dtypes-import, mypy

chore: typos
  narwhals/_arrow/selectors.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/selectors.py
  narwhals/_spark_like/selectors.py
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix: various typos (#2016)
  narwhals/_arrow/selectors.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/selectors.py
  narwhals/_spark_like/selectors.py
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): alias `AbstractSet` and consistently use `Set`
  narwhals/utils.py
Due: imports-are-banned, mypy

feat: Add support for `series[other_series]` (#2013)
  narwhals/_arrow/series.py
  narwhals/_polars/series.py
  narwhals/series.py
  tests/series_only/__getitem___test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): resolve time unit/zone `set` invariance (#2012)
  narwhals/utils.py
Due: imports-are-banned, mypy

ci(typing): use `tool.mypy.pretty = true`
  pyproject.toml
Due: none

simplify
  narwhals/_expression_parsing.py
  narwhals/expr.py
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

simplify
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): use `Incomplete` for `nulls_like`
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

ci(typing): use `tool.mypy.pretty = true` (#2018)
  pyproject.toml
Due: none

add pytest norecursedirs
  pyproject.toml
Due: none

refactor(typing): mark `pc.binary_join_element_wise` as `Incomplete`
  narwhals/_arrow/group_by.py
  narwhals/_arrow/namespace.py
Due: imports-are-banned, dtypes-import, mypy

refactor(DRAFT): try simplifying `ArrowSeries.to_pandas`
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import, mypy

simplify
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

revert: undo `ArrowSeries.to_pandas` change
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import, mypy

hold on, this is broken
  narwhals/_arrow/expr.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/utils.py
  narwhals/expr.py
  narwhals/functions.py
  tests/expr_and_series/is_between_test.py
Due: imports-are-banned, dtypes-import, mypy

ok tests pass again, much simpler
  narwhals/_arrow/expr.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

consistently return CompliantExpr from extract_compliant
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): Add `__getitem__` selector aliases
  narwhals/typing.py
Due: imports-are-banned, mypy

refactor(typing): Proposal impl for `PandasLikeDataFrame`
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

correct norecursedirs
  pyproject.toml
Due: none

tests: Allow to run pytest narwhals --doctest-modules without ibis (#2019)
  pyproject.toml
Due: none

completely broken but curious about timing it
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor test
  tests/expr_and_series/cast_test.py
Due: mypy

still broken
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

getting there
  narwhals/_spark_like/dataframe.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

ignore mypy
  tests/expr_and_series/cast_test.py
Due: mypy

duplicate column names check for pyspark
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/namespace.py
  narwhals/translate.py
  tests/frame/join_test.py
  tests/frame/unpivot_test.py
Due: imports-are-banned, dtypes-import, mypy

fix: duckdb skewness sample correction factor
  narwhals/_duckdb/expr.py
  tests/expr_and_series/unary_test.py
Due: imports-are-banned, dtypes-import, mypy

format
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

use lit to make mypy happy
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

fix: adjust duckdb population skewness by correction factor to get sample skewness (#2021)
  narwhals/_duckdb/expr.py
  tests/expr_and_series/unary_test.py
Due: imports-are-banned, dtypes-import, mypy

ok pandas is passing again!
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy
