Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

support at least cum_sum(order_by) for dask
  narwhals/_dask/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

just raise for dask
  narwhals/_dask/expr.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Extract repeated inner function to `utils.passthrough_column_names`
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: reduce number of "column_names" occurences
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

feat: support anonymous expressions in `over` context for pandas-like
  narwhals/_arrow/group_by.py
  narwhals/_dask/expr.py
  narwhals/_dask/group_by.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/group_by.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

old pandas
  tests/expr_and_series/rank_test.py
Due: mypy

fixup
  tests/expr_and_series/over_test.py
Due: mypy

refactor: allow callable in `CompliantExpr.from_column_names` to reuse for `CompliantNamespace.<all|col|exclude>` (#2134)
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

Update
  docs/api-reference/expr_struct.md
  docs/api-reference/index.md
  docs/api-reference/series_struct.md
  mkdocs.yml
  narwhals/_duckdb/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/expr.py
  narwhals/expr_struct.py
  narwhals/series.py
  narwhals/series_struct.py
  tests/expr_and_series/struct/__init__.py
  utils/check_api_reference.py
Due: imports-are-banned, dtypes-import, mypy

sort out modin
  tests/expr_and_series/over_test.py
Due: mypy

refactor: Use `chain.from_iterable` more
  narwhals/_arrow/namespace.py
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

coverage
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

coverage
  pyproject.toml
Due: none

coverage
  narwhals/_dask/expr.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Use `chain.from_iterable` more (#2140)
  narwhals/_arrow/namespace.py
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

Added the proposed changes.
  narwhals/_arrow/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_polars/utils.py
  narwhals/dtypes.py
  tests/expr_and_series/cast_test.py
Due: imports-are-banned, dtypes-import, mypy

Update narwhals/_expression_parsing.py
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

Update
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_struct.py
  tests/expr_and_series/struct1/__init__.py
  tests/expr_and_series/struct1/field_test.py
Due: imports-are-banned, dtypes-import, mypy

Update
  tests/expr_and_series/struct_/__init__.py
  tests/expr_and_series/struct_/field_test.py
Due: mypy

Update
  docs/api-completeness/expr_struct.md
  docs/api-completeness/series_struct.md
Due: none

feat: support anonymous expressions in `over` context for pandas-like, support `over` for multi-partitioned dask (#2138)
  narwhals/_arrow/group_by.py
  narwhals/_dask/expr.py
  narwhals/_dask/group_by.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/group_by.py
  pyproject.toml
  tests/expr_and_series/over_test.py
  tests/expr_and_series/rank_test.py
Due: imports-are-banned, dtypes-import, mypy

wip broken
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

support reversed cumulative expressions in `over` for pandas-like
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

simplify
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

fixup
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

:art:
  tests/expr_and_series/over_test.py
Due: mypy

feat(typing): Improve `_pandas_like` constants
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/typing.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): rough outline for `.over()`
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/typing.py
Due: imports-are-banned, dtypes-import, mypy

feat: support reversed cumulative expressions in `over` for pandas-like (#2141)
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

wip
  narwhals/_dask/expr.py
Due: imports-are-banned, dtypes-import, mypy

document dask limitation
  narwhals/_dask/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

fix: pass ddof down in std().over() for pandas-like
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

correct xfail
  tests/expr_and_series/cum_sum_test.py
Due: mypy

sqlframe fixup
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

unify tests in dtypes_tests.py
  tests/dtypes_test.py
Due: mypy

reduce diff
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix condition from PANDAS to POLARS
  tests/dtypes_test.py
Due: mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
