Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

wip: checkpoint
  tests/test_plugin/test_plugin/__init__.py
Due: none

docs: Document `FileSource` alias
  narwhals/typing.py
Due: imports-are-banned, self-self

damn I broke the plugin tests
  tests/test_plugin/test_plugin/__init__.py
  tests/test_plugin/test_plugin/namespace.py
Due: none

wip: fixed local mess in test_plugin
  tests/test_plugin/test_plugin/__init__.py
  tests/test_plugin/test_plugin/namespace.py
Due: none

update docstring to use narwhals.Series
  narwhals/testing/asserts/series.py
Due: imports-are-banned, self-self, dtypes-import

docs: Nan non compliance (#3093)
  docs/concepts/null_handling.md
Due: none

added not_implemented functions to namespace
  tests/test_plugin/test_plugin/__init__.py
  tests/test_plugin/test_plugin/namespace.py
Due: none

removed comment
  tests/test_plugin/test_plugin/__init__.py
Due: none

chore(typing): Add `CompliantNamespace.from_native`
  narwhals/_compliant/namespace.py
Due: imports-are-banned, self-self, dtypes-import

changed naming for plugin entrypoins
  narwhals/_utils.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

docs(typing): Add note on `Any` usage
  narwhals/_compliant/namespace.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Add `CompliantNamespace.from_native` (#3114)
  narwhals/_compliant/namespace.py
Due: imports-are-banned, self-self, dtypes-import

added not_implemented functions to dictnamespace
  tests/test_plugin/test_plugin/__init__.py
  tests/test_plugin/test_plugin/namespace.py
Due: none

docs(typing): Finish filling out module doc
  narwhals/_native.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Add `py.typed` marker
  tests/test_plugin/test_plugin/py.typed
Due: none

fix: Fully qualify imports (from `tests`)
  tests/test_plugin/test_plugin/__init__.py
  tests/test_plugin/test_plugin/namespace.py
Due: none

docs: Add python version support to backcompat
  docs/backcompat.md
Due: none

refactor(expr-ir): Shrinking `ExprIR` (main) (#3066)
  narwhals/_plan/_guards.py
  narwhals/_plan/_immutable.py
  narwhals/_plan/aggregation.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/boolean.py
  narwhals/_plan/categorical.py
  narwhals/_plan/common.py
  narwhals/_plan/demo.py
  narwhals/_plan/dummy.py
  narwhals/_plan/expr.py
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/expr_parsing.py
  narwhals/_plan/expr_rewrites.py
  narwhals/_plan/functions.py
  narwhals/_plan/lists.py
  narwhals/_plan/literal.py
  narwhals/_plan/meta.py
  narwhals/_plan/name.py
  narwhals/_plan/operators.py
  narwhals/_plan/options.py
  narwhals/_plan/protocols.py
  narwhals/_plan/ranges.py
  narwhals/_plan/schema.py
  narwhals/_plan/selectors.py
  narwhals/_plan/strings.py
  narwhals/_plan/struct.py
  narwhals/_plan/temporal.py
  narwhals/_plan/typing.py
  narwhals/_plan/when_then.py
  narwhals/_plan/window.py
  tests/plan/compliant_test.py
  tests/plan/expr_rewrites_test.py
  tests/plan/immutable_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Make pyright mostly happy
  narwhals/_plan/expr.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Ignore the other one for now
  narwhals/_plan/literal.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Avoid type ignore on `CheckFn`
  narwhals/testing/asserts/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor(suggestion): Ensure consistent reasons?
  narwhals/testing/asserts/series.py
  narwhals/testing/asserts/utils.py
Due: imports-are-banned, self-self, dtypes-import

got creative with polars
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

duckdb implementation
  narwhals/_duckdb/expr_str.py
  narwhals/_ibis/expr_str.py
  narwhals/_spark_like/expr_str.py
  narwhals/_sql/expr_str.py
  tests/expr_and_series/str/to_titlecase_test.py
Due: imports-are-banned, self-self, dtypes-import

not implemented for old duckdb
  narwhals/_duckdb/expr_str.py
  tests/expr_and_series/str/to_titlecase_test.py
Due: imports-are-banned, self-self, dtypes-import

Update docs/backcompat.md
  docs/backcompat.md
Due: none

pragma no cover old version
  narwhals/_duckdb/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `sql_expr` alias for `duckdb.SQLExpression`
  narwhals/_duckdb/utils.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add python version support to backcompat (#3115)
  docs/backcompat.md
Due: none

enh: Support `keep={'first', 'last'}` in `{DataFrame,LazyFrame}.unique`
  docs/api-reference/typing.md
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/group_by.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
  narwhals/typing.py
  tests/frame/unique_test.py
Due: imports-are-banned, self-self, dtypes-import

simpler pyspark
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

added protocol & plugin detection function
  narwhals/_utils.py
Due: imports-are-banned, self-self

even better pyspark
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

as simple as can be
  narwhals/_duckdb/dataframe.py
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix: Handle duckdb breaking change in `arrow`
  narwhals/_duckdb/dataframe.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import

test: Add a `polars` edge case
  tests/expr_and_series/str/to_titlecase_test.py
Due: none

reuse
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

some xfails
  narwhals/_duckdb/dataframe.py
  tests/expr_and_series/reduction_test.py
  tests/frame/collect_test.py
Due: imports-are-banned, self-self, dtypes-import

fix typing
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

coverage
  docs/generating_sql.md
  narwhals/_utils.py
Due: imports-are-banned, self-self

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
