Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

fix(typing): Resolve `PolarsSeries` issues
  narwhals/_compliant/series.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
Due: imports-are-banned, dtypes-import, mypy

Marco's feedback
  narwhals/_compliant/group_by.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
  tests/group_by_test.py
Due: imports-are-banned, dtypes-import, mypy

feat: let `nw.Enum` accept categories, map pandas ordered categorical to Enum (only in main namespace, not stable.v1) (#2192)
  docs/backcompat.md
  narwhals/_dask/utils.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  narwhals/dtypes.py
  narwhals/stable/v1/_dtypes.py
  tests/dtypes_test.py
  tests/frame/schema_test.py
  tests/series_only/cast_test.py
  tests/v1_test.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): Add `__getitem__` aliases from polars
  narwhals/typing.py
Due: imports-are-banned, mypy

feat: Clone `polars` overloads
  narwhals/dataframe.py
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

backport `v1`
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

unhide typing issues
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore: Remove `BooleanMask`
  narwhals/typing.py
Due: imports-are-banned, mypy

chore(typing): Fixing `DataFrame.__getitem__`
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Merge branches
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

early return even earlier 😎
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Make `_backend_version` a method
  narwhals/_namespace.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): Slice-typing
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/series.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Remove `type` from `is_list_of` return
  narwhals/utils.py
Due: imports-are-banned, mypy

chore(typing): Remove `type` from `is_list_of` return (#2397)
  narwhals/utils.py
Due: imports-are-banned, mypy

chore: use `pytest.skip` for dt tests which can never pass
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/datetime_duration_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
  tests/expr_and_series/dt/timestamp_test.py
Due: mypy

chore: use `pytest.skip` for dt tests which can never pass (#2398)
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/datetime_duration_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
  tests/expr_and_series/dt/timestamp_test.py
Due: mypy

fix: `get_column` rename
  narwhals/_interchange/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Bigly replacements
  narwhals/_namespace.py
  narwhals/functions.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Simplify `from_native` for `spark_like`
  narwhals/translate.py
Due: imports-are-banned, dtypes-import, mypy

chore: Remove essay
  narwhals/_namespace.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Replace duplicate functions
  narwhals/_spark_like/dataframe.py
  narwhals/translate.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

WIP: Dan's feedback
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/group_by.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Simplify `from_native` for `arrow`
  narwhals/_namespace.py
  narwhals/translate.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Simplify `from_native` for `duckdb`
  narwhals/translate.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Use an invariant `TypeVar` for frame
  narwhals/_compliant/group_by.py
Due: imports-are-banned, dtypes-import, mypy

chore: rename _input to expr
  narwhals/_dask/expr.py
  narwhals/_dask/expr_dt.py
  narwhals/_dask/expr_str.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/expr_struct.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_str.py
Due: imports-are-banned, dtypes-import, mypy

feat: Add support for DuckDB Enum
  narwhals/_duckdb/utils.py
  tests/series_only/cast_test.py
  tests/v1_test.py
Due: imports-are-banned, dtypes-import, mypy

v1 no cover
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

Update narwhals/_duckdb/utils.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

Dan's feedback, pt2: it does look promising indeed
  narwhals/_compliant/group_by.py
  narwhals/_polars/group_by.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Reduce protocol footprint
  narwhals/_compliant/group_by.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Use a constrained `TypeVar`
  narwhals/_compliant/group_by.py
Due: imports-are-banned, dtypes-import, mypy

perf: Avoid converting to `Expr`
  narwhals/_arrow/expr.py
Due: imports-are-banned, dtypes-import, mypy

fix: Don't explode on angery `_bool_`
  narwhals/utils.py
Due: imports-are-banned, mypy

try without `tupleify`?
  narwhals/_polars/group_by.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Simplify `PolarsGroupBy`
  narwhals/_polars/group_by.py
Due: imports-are-banned, dtypes-import, mypy

pass compliant down instead of native
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/series.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/series.py
  narwhals/dataframe.py
  narwhals/series.py
  narwhals/utils.py
  tests/frame/getitem_test.py
Due: imports-are-banned, dtypes-import, mypy
