Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

wip operator: added thoughts & only using in sqrt
  narwhals/_sql/expr.py
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self, dtypes-import

Add is_boolean method to DType.
  narwhals/dtypes.py
  tests/dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

wip operator: more comments, going back to reading
  narwhals/_sql/expr.py
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self, dtypes-import

wip operator: fixed NativeSQLExprT bound
  narwhals/_sql/expr.py
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self, dtypes-import

refactor: fix `RET505`
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

wip operator: adding NativeSQLExprT to get rid of operator issue
  narwhals/_sql/expr.py
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self, dtypes-import

test: Split out infer case
  tests/series_only/from_iterable_test.py
Due: none

wip operator: added all changes from pair session, 1 problem remaining
  narwhals/_sql/expr.py
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self, dtypes-import

checkpoint
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self

test: Check lots of iterables
  tests/conftest.py
  tests/series_only/from_iterable_test.py
Due: none

test(DRAFT): xfail `polars` w/ `pd.array`, todo `pyarrow` fix
  tests/series_only/from_iterable_test.py
Due: none

feat: Add `is_boolean` method to `DType`. (#2935)
  narwhals/dtypes.py
  tests/dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

joy: only 1 type error to go
  narwhals/_sql/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

wip add `list.unique()`
  narwhals/_arrow/series_list.py
  narwhals/_compliant/any_namespace.py
  narwhals/_compliant/expr.py
  narwhals/_duckdb/expr_list.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr_list.py
  narwhals/expr_list.py
  narwhals/series_list.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Ensure `cast` occurs before `pa.chunked_array` call
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

test: Cover other data types
  tests/series_only/from_iterable_test.py
Due: none

add ibis
  narwhals/_ibis/expr_list.py
Due: imports-are-banned, self-self, dtypes-import

add tests
  tests/expr_and_series/list/unique_test.py
Due: none

remove pandas multivalue str.replace_all
  narwhals/_pandas_like/series_str.py
  tests/expr_and_series/str/replace_test.py
Due: imports-are-banned, self-self, dtypes-import

silencing ibisexpr type error
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import

correcting error silencing
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix: Try downcasting in `polars`
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

cov plz
  tests/series_only/from_iterable_test.py
Due: none

add `pandas`
  narwhals/_arrow/series.py
  narwhals/_pandas_like/series_list.py
  tests/expr_and_series/list/unique_test.py
Due: imports-are-banned, self-self, dtypes-import

test: include nulls in `unique` test
  tests/expr_and_series/unique_test.py
Due: none

fix: backport `pd.Index` support
  narwhals/_polars/series.py
Due: imports-are-banned, self-self, dtypes-import

cov
  tests/series_only/from_iterable_test.py
Due: none

test: xfail pandas nightly string polars
  tests/series_only/from_iterable_test.py
Due: none

test: Simplify test ids
  tests/series_only/from_iterable_test.py
Due: none

fix everything except `join`, `v1`, `v2`
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/typing.py
  narwhals/_namespace.py
  narwhals/functions.py
  narwhals/translate.py
  narwhals/typing.py
  tests/conftest.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Get `mypy` happier
  narwhals/translate.py
  tests/expr_and_series/struct_/field_test.py
  tests/frame/sample_test.py
  tests/frame/with_row_index_test.py
  tests/preserve_pandas_like_columns_name_attr_test.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Finish `v1`
  narwhals/stable/v1/__init__.py
  narwhals/stable/v1/typing.py
  tests/v1_test.py
Due: imports-are-banned, self-self

ignore everything in `join_test`
  tests/frame/join_test.py
Due: none

WIP: assert series equal
  narwhals/testing.py
Due: imports-are-banned, self-self, dtypes-import

adding extra dunder methods
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self

removed leftover comment
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self

compare the results to a set
  docs/api-reference/expr_list.md
  docs/api-reference/series_list.md
  tests/expr_and_series/list/unique_test.py
Due: none

test with both nulls present and without
  tests/expr_and_series/unique_test.py
Due: none

feat: Raise on pandas-like + `**kwds`
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

wip: trying to move operators into NativeExpr
  narwhals/_compliant/expr.py
  narwhals/_sql/dataframe.py
  narwhals/_sql/expr.py
  narwhals/_sql/typing.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
