Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

revert deleted else pass
  tests/dtypes_test.py
Due: mypy

Update
  docs/api-completeness/expr_struct.md
  docs/api-completeness/series_struct.md
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/expr_struct.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_struct.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr_struct.py
  narwhals/expr_struct.py
  narwhals/series_struct.py
  tests/expr_and_series/struct_/field_test.py
Due: imports-are-banned, dtypes-import, mypy

Update
  docs/api-completeness/expr_struct.md
  docs/api-completeness/series_struct.md
  narwhals/_arrow/expr.py
  narwhals/_arrow/expr_struct.py
  narwhals/_arrow/series.py
  narwhals/_arrow/series_struct.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Fully replace original `not_implemented` callable
  narwhals/_arrow/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
  narwhals/utils.py
  tests/utils_test.py
Due: imports-are-banned, dtypes-import, mypy

fix: pass ddof down in std().over() for pandas-like (#2143)
  narwhals/_pandas_like/expr.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/utils.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

ci: fix some cudf test
  tests/expr_and_series/over_test.py
  tests/expr_and_series/rank_test.py
  tests/frame/select_test.py
  utils/bump_version.py
Due: mypy

one more
  tests/expr_and_series/over_test.py
Due: mypy

chore(typing): ignore pyright
  utils/generate_backend_completeness.py
Due: none

go further
  tests/expr_and_series/over_test.py
Due: mypy

docs: Handle `not_implemented` in `generate_backend_completeness`
  utils/generate_backend_completeness.py
Due: none

Update
  docs/api-completeness/expr_struct.md
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_struct.py
  tests/expr_and_series/struct_/field_test.py
Due: imports-are-banned, dtypes-import, mypy

ci: get cuDF test suite green again (#2145)
  tests/expr_and_series/over_test.py
  tests/expr_and_series/rank_test.py
  tests/frame/select_test.py
  utils/bump_version.py
Due: mypy

chore: todo -> to-done
  narwhals/utils.py
Due: imports-are-banned, mypy

style: tidy up whitespace
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

ci: fix doc build for `win32`
  utils/generate_zen_content.py
Due: none

ci: fix doc build for `win32` (#2147)
  utils/generate_zen_content.py
Due: none

refactor: move `@deprecated` to `utils`
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, mypy

Add pandas full join
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Implement duckdb full join
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Fix duckdb not working for lazyframes
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Add full join to dask
  narwhals/_dask/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Fix pandas no collision suffix
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Refine tests to cover more cases
  tests/frame/join_test.py
Due: mypy

Addressed PR comment
  narwhals/_pandas_like/series_struct.py
  tests/expr_and_series/struct_/field_test.py
Due: imports-are-banned, dtypes-import, mypy

Update docs/api-completeness/expr_struct.md
  docs/api-completeness/expr_struct.md
Due: none

Addressed PR comment
  narwhals/_polars/series.py
  narwhals/expr_struct.py
  narwhals/series_struct.py
Due: imports-are-banned, dtypes-import, mypy

Addressed PR comment
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr_struct.py
Due: imports-are-banned, dtypes-import, mypy

Addressed PR comment
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

Addressed PR comment
  tests/expr_and_series/struct_/field_test.py
Due: mypy

Addressed PR comment
  narwhals/series_struct.py
Due: imports-are-banned, dtypes-import, mypy

use empty string in one test
  narwhals/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: Finalize `unstable`, `not_implemented`
  narwhals/utils.py
Due: imports-are-banned, mypy

correct pandas logic for order_by with nulls
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: add missing import
  narwhals/utils.py
Due: imports-are-banned, mypy

pandas fix ungrouped case
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

tmp: working for pyarrow, but does 2 sorts. can we do just one?
  narwhals/_arrow/expr.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
