Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: make typing
  language: system
  require_serial: true
  pass_filenames: false

feat: Get 3x `over()` rules passing
  narwhals/_plan/expr.py
  narwhals/_plan/options.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Add missing `cum_sum`
  narwhals/_plan/dummy.py
  narwhals/_plan/functions.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Identify horizontal/elementwise gap?
  tests/plan/expr_parsing_test.py
Due: mypy

spellcheck
  tests/plan/expr_parsing_test.py
Due: mypy

fix: Add `to_function_expr` overrides
  narwhals/_plan/functions.py
Due: imports-are-banned, self-self, dtypes-import, mypy

refactor: Move validation to `window.py`
  narwhals/_plan/expr.py
  narwhals/_plan/window.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Simplify validating aggregations are elementwise
  narwhals/_plan/expr.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

revert: Remove unplanned `head` test
  tests/plan/expr_parsing_test.py
Due: mypy

feat: Add `arg_(min|max)`
  narwhals/_plan/dummy.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

revert: remove `test_misleading_order_by`
  tests/plan/expr_parsing_test.py
Due: mypy

test: add extra `to_dict` test for v1 (#2616)
  narwhals/stable/v1/__init__.py
  tests/v1_test.py
Due: imports-are-banned, self-self, mypy

test: Add `immutable_test`
  narwhals/_plan/common.py
  tests/plan/immutable_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Implement binary rhs `MultiOutputExpressionError`
  narwhals/_plan/expr.py
  narwhals/_plan/operators.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Implement `exclude`, `Expr.exclude`
  narwhals/_plan/demo.py
  narwhals/_plan/dummy.py
  narwhals/_plan/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Implement binary multi `LengthChangingExprError`
  narwhals/_plan/operators.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Add `import_<backend>` functions
  narwhals/dependencies.py
  narwhals/exceptions.py
  narwhals/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Add `imports_test`
  tests/dependencies/imports_test.py
Due: mypy

fix(typing): Resolve mypy `[no-untyped-call]`
  narwhals/dependencies.py
Due: self-self, dtypes-import, mypy

fix: Include a message 🤦‍♂️
  narwhals/exceptions.py
  tests/dependencies/imports_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Be more cautious on import paths
  narwhals/dependencies.py
Due: self-self, dtypes-import, mypy

ci: Somewhat reduce the cov?
  pyproject.toml
Due: none

adapt pandas / stdlib zfill behavior for all
  narwhals/_arrow/series_str.py
  narwhals/_duckdb/expr_str.py
  narwhals/_ibis/expr_str.py
  narwhals/_spark_like/expr_str.py
  tests/expr_and_series/str/zfill_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Don't monkeypatch `pandas` on `3.8`
  tests/dependencies/imports_test.py
Due: mypy

test: Use `dd.from_dict` constructor
  tests/dependencies/imports_test.py
Due: mypy

cov
  narwhals/dependencies.py
Due: self-self, dtypes-import, mypy

test: Remove `dask` monkeypatching
  tests/dependencies/imports_test.py
Due: mypy

feat: Implement binary filtration `ShapeError`
  narwhals/_plan/operators.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Add failing case
  tests/namespace_test.py
Due: mypy

fix(typing): Add passing `@overload` def
  narwhals/_namespace.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test(typing): Use pandas instead of polars
  tests/namespace_test.py
Due: mypy

revert: keep the aliasing, that wasn't the issue
  tests/namespace_test.py
Due: mypy

docs(typing): Yap about what this all means
  tests/namespace_test.py
Due: mypy

refactor: Split out exceptions to a new module
  narwhals/_plan/aggregation.py
  narwhals/_plan/exceptions.py
  narwhals/_plan/expr.py
  narwhals/_plan/expr_parsing.py
  narwhals/_plan/functions.py
  narwhals/_plan/operators.py
  narwhals/_plan/window.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Add `Expr.is_in`
  narwhals/_plan/boolean.py
  narwhals/_plan/dummy.py
  narwhals/_plan/literal.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

align backends
  narwhals/_namespace.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/translate.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import, mypy

typing
  narwhals/_daft/group_by.py
  narwhals/_namespace.py
Due: imports-are-banned, self-self, dtypes-import, mypy

diff
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

typo
  narwhals/dependencies.py
Due: self-self, dtypes-import, mypy

typing
  narwhals/_compliant/expr.py
  narwhals/dependencies.py
Due: imports-are-banned, self-self, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: \.py$
