Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

:art:
  .github/workflows/downstream_tests.yml
  tests/conftest.py
Due: pull-request-target

cov
  tests/conftest.py
Due: none

fixup
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_str.py
  tests/expr_and_series/operators_test.py
Due: imports-are-banned, dtypes-import

simplify
  narwhals/_dask/group_by.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_name.py
  narwhals/_spark_like/group_by.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import

remove unused kwargs for duckdb
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_name.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
Due: imports-are-banned, dtypes-import

unnecessary lit
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import

fix: address `&` / `|` operator errors for PySpark / chore: use F.lit in maybe_evaluate for pyspark, like we do for duckdb (#1872)
  .github/workflows/downstream_tests.yml
  narwhals/_dask/group_by.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_name.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_duckdb/utils.py
  narwhals/_pandas_like/series.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_name.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/group_by.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/_spark_like/utils.py
  narwhals/typing.py
  tests/conftest.py
  tests/expr_and_series/operators_test.py
Due: imports-are-banned, dtypes-import, pull-request-target

additional test
  tests/expr_and_series/lit_test.py
Due: none

one duckdb xfail
  tests/expr_and_series/lit_test.py
Due: none

split func name in maybe_evaluate as well
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

fix: support various reductions in pyspark (#1870)
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/group_by.py
  narwhals/_spark_like/utils.py
  pyproject.toml
  tests/expr_and_series/binary_test.py
  tests/expr_and_series/lit_test.py
  tests/expr_and_series/reduction_test.py
  tests/stable_api_test.py
Due: imports-are-banned, dtypes-import

release: Bump version to 1.24.0
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned

release: Bump version to 1.24.0 (#1873)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned

feat: increase terminal width for ipython
  narwhals/utils.py
Due: imports-are-banned

rm imports
  narwhals/_duckdb/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

not much but a honest job
  narwhals/_arrow/expr_name.py
  narwhals/_dask/expr_name.py
  narwhals/_duckdb/expr_name.py
  narwhals/_pandas_like/expr_name.py
  narwhals/_spark_like/expr_name.py
Due: imports-are-banned, dtypes-import

chore: refactor `name` namespaces to lower code duplication (#1876)
  narwhals/_arrow/expr_name.py
  narwhals/_dask/expr_name.py
  narwhals/_duckdb/expr_name.py
  narwhals/_pandas_like/expr_name.py
  narwhals/_spark_like/expr_name.py
Due: imports-are-banned, dtypes-import

feat: support for scalar operations for duckdb
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
  tests/expr_and_series/lit_test.py
  tpch/execute.py
Due: imports-are-banned, dtypes-import

fixup
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import

eureka!!!
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_name.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_duckdb/utils.py
  tests/expr_and_series/lit_test.py
Due: imports-are-banned, dtypes-import

fixup horizontal aggs
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/utils.py
  tests/expr_and_series/sum_horizontal_test.py
Due: imports-are-banned, dtypes-import

xfail new test for dask
  tests/expr_and_series/sum_horizontal_test.py
Due: none

extra docstring
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import

feat: support more scalar operations for duckdb, Increase width for ipython (#1877)
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_name.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_duckdb/utils.py
  narwhals/utils.py
  tests/expr_and_series/lit_test.py
  tests/expr_and_series/sum_horizontal_test.py
  tpch/execute.py
Due: imports-are-banned, dtypes-import

chore: remove depth from duckdb expr
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_name.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
Due: imports-are-banned, dtypes-import

chore: remove depth from pyspark expr
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_name.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
Due: imports-are-banned, dtypes-import

chore: remove unused `_depth` from `DuckDBExpr` and `SparkLikeExpr` (#1878)
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_name.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_name.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
Due: imports-are-banned, dtypes-import

chore: use positional-only arg in evaluate_into_exprs
  narwhals/_arrow/dataframe.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import

chore: use positional-only arg in evaluate_into_exprs
  narwhals/_dask/dataframe.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/utils.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

chore: use positional-only arg in evaluate_into_exprs (#1879)
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/utils.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

better scalar support in pyspark
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_name.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

horizontal aggs
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import

chore: add "typing :: typed" classifier to pyproject.toml
  pyproject.toml
Due: none

chore: add "typing :: typed" classifier to pyproject.toml (#1881)
  pyproject.toml
Due: none

add selectors matches
  docs/api-reference/selectors.md
  narwhals/_arrow/selectors.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/selectors.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/selectors.py
  narwhals/stable/v1/selectors.py
  tests/selectors_test.py
Due: imports-are-banned, dtypes-import

nice, passing!
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/group_by.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/_spark_like/utils.py
  narwhals/dependencies.py
  narwhals/translate.py
  narwhals/utils.py
  pyproject.toml
  tests/conftest.py
Due: imports-are-banned, dtypes-import

feat: add `selectors.matches` (#1882)
  docs/api-reference/selectors.md
  narwhals/_arrow/selectors.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/selectors.py
  narwhals/_pandas_like/selectors.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/selectors.py
  narwhals/stable/v1/selectors.py
  tests/selectors_test.py
Due: imports-are-banned, dtypes-import

wip
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/_spark_like/utils.py
  tests/expr_and_series/is_finite_test.py
Due: imports-are-banned, dtypes-import

feat: move robust literal handling for PySpark (#1880)
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_name.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

update conftest
  tests/conftest.py
Due: none

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
