Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

refactor(expr-ir): Shrink `protocols`
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Simplify overloads
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

skip old pyarrow
  tests/testing/assert_series_equal_test.py
Due: none

refactor(expr-ir): Shrink protocols (#3094)
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

zip_strict import fix in tests
  tests/expr_and_series/division_by_zero_test.py
Due: none

refactor(expr-ir): Alias compliant w/o prefix
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/namespace.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Repeat for `ArrowDataFrame`
  narwhals/_plan/arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Shrink `Schema` typing
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): less `t` more `OneOrIterable`
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
  narwhals/_plan/expr_parsing.py
  narwhals/_plan/options.py
  narwhals/_plan/protocols.py
  narwhals/_plan/selectors.py
  narwhals/_plan/typing.py
  narwhals/_plan/when_then.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Alias everything (#3095)
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
  narwhals/_plan/expr_parsing.py
  narwhals/_plan/options.py
  narwhals/_plan/protocols.py
  narwhals/_plan/selectors.py
  narwhals/_plan/typing.py
  narwhals/_plan/when_then.py
Due: imports-are-banned, self-self, dtypes-import

chore: enable reportIncompatibleMethodOverride in pyright
  narwhals/_arrow/series.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/expr_dt.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_sql/expr.py
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import

docs(suggestion): Use a table with links
  docs/concepts/null_handling.md
Due: none

test: Move more conditions into marks
  tests/expr_and_series/dt/timestamp_test.py
Due: none

test: parametrize over dtype
  tests/expr_and_series/dt/timestamp_test.py
Due: none

test: fix coverage?
  tests/expr_and_series/dt/timestamp_test.py
Due: none

test: Move to `dtypes_test` and rename
  tests/dtypes_test.py
  tests/expr_and_series/dt/timestamp_test.py
Due: none

remove stray whitespace
  tests/expr_and_series/dt/timestamp_test.py
Due: none

ci: Temporarily remove warning filter
  pyproject.toml
Due: none

fix: Don't warn when `"ns"` was specified
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

test: Avoid warning `tests/v2_test.py::test_series_from_iterable`
  tests/v2_test.py
Due: none

chore: Rename `_typing.*Cudf*` aliases to `*CuDF*` (#3090)
  narwhals/_typing.py
  narwhals/_utils.py
Due: imports-are-banned, self-self

test: Fix the other 4x tests
  tests/conftest.py
  tests/expr_and_series/cast_test.py
  tests/expr_and_series/dt/timestamp_test.py
  tests/utils.py
Due: none

WIP
  docs/api-reference/expr_str.md
  docs/api-reference/series_str.md
  narwhals/_arrow/series_str.py
  narwhals/_compliant/any_namespace.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr_str.py
  narwhals/_pandas_like/series_str.py
  narwhals/_polars/utils.py
  narwhals/_sql/expr_str.py
  narwhals/expr_str.py
  narwhals/series_str.py
  tests/expr_and_series/str/to_titlecase_test.py
Due: imports-are-banned, self-self, dtypes-import

coverage
  pyproject.toml
Due: none

test: Exclude `cudf` from compat replacement
  tests/utils.py
Due: none

additional test and docstrings
  narwhals/expr_str.py
  narwhals/series_str.py
  tests/expr_and_series/str/to_titlecase_test.py
Due: imports-are-banned, self-self, dtypes-import

tests: Add backcompat for `time_unit` (#3098)
  pyproject.toml
  tests/conftest.py
  tests/expr_and_series/cast_test.py
  tests/expr_and_series/dt/timestamp_test.py
  tests/utils.py
  tests/v2_test.py
Due: none

test: Adapt `is_pandas` to style of (#3098)
  tests/frame/to_pandas_test.py
  tests/series_only/to_pandas_test.py
  tests/utils.py
Due: none

Typo fix
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `CompliantExpr._eval_names_indices` (#3062)
  narwhals/_compliant/expr.py
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

docs(suggestion): Tweaks to warning message
  narwhals/_pandas_like/utils.py
  tests/dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Add missing underscore
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

test: add missing underscore there as well
  tests/dtypes_test.py
Due: none

chore(suggestion): Try turning ibis issue into a positive?
  narwhals/_ibis/dataframe.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/utils.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Ignore with context
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move common `not_implemented` up
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Do this ignore instead actually
  narwhals/_compliant/expr.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

be reasonable
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
