Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

docs: Add short `_bin_op` docstrings
  narwhals/_plan/arrow/functions/_bin_op.py
  narwhals/_plan/arrow/typing.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add short `_arithmetic` docstrings
  narwhals/_plan/arrow/functions/_arithmetic.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Make `_arithmetic` more complete
  narwhals/_plan/arrow/functions/_arithmetic.py
  narwhals/_plan/arrow/functions/_bin_op.py
  narwhals/_plan/arrow/functions/_dtypes.py
  narwhals/_plan/arrow/functions/_ranges.py
Due: imports-are-banned, self-self, dtypes-import

introduce `Expr.min_by` and `Expr.max_by`
  docs/api-reference/expr.md
  docs/concepts/order_dependence.md
  narwhals/_arrow/group_by.py
  narwhals/_compliant/expr.py
  narwhals/_pandas_like/group_by.py
  narwhals/_polars/expr.py
  narwhals/_sql/expr.py
  narwhals/dataframe.py
  narwhals/expr.py
  tests/expr_and_series/first_last_test.py
  utils/check_api_reference.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `{Expr,Series}.sin` (#3365)
  docs/api-reference/expr.md
  docs/api-reference/series.md
  narwhals/_arrow/series.py
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_sql/expr.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/sin_test.py
Due: imports-are-banned, self-self, dtypes-import

fix pyarrow
  narwhals/_arrow/group_by.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/typing.py
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

test: separate numpy array for tests (#3385)
  tests/expr_and_series/dt/datetime_duration_test.py
  tests/translate/to_native_test.py
Due: none

fix pandas
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

typing
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix polars
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

test(expr-ir): Add some `shift` coverage
  tests/plan/shift_test.py
Due: none

fix doctest
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add `_vector` docs
  narwhals/_plan/arrow/functions/_vector.py
Due: imports-are-banned, self-self, dtypes-import

chore: Support `pa.Array` in `shift`, `rank`
  narwhals/_plan/arrow/functions/_multiplex.py
  narwhals/_plan/arrow/functions/_vector.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add `_round` docs
  narwhals/_plan/arrow/functions/_horizontal.py
  narwhals/_plan/arrow/functions/_round.py
Due: imports-are-banned, self-self, dtypes-import

docs: Finish `_sort` docs
  narwhals/_plan/arrow/functions/_sort.py
Due: imports-are-banned, self-self, dtypes-import

chore: Finish `_construction`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions/_construction.py
  narwhals/_plan/arrow/functions/_ranges.py
  narwhals/_plan/arrow/functions/_vector.py
  narwhals/_plan/arrow/typing.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add short `_ranges` docs
  narwhals/_plan/arrow/functions/_ranges.py
Due: imports-are-banned, self-self, dtypes-import

WIP
  narwhals/dtypes.py
  tests/dtypes/get_supertype_test.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add `_aggregation` docs
  narwhals/_plan/arrow/functions/_aggregation.py
Due: imports-are-banned, self-self, dtypes-import

chore: Finish `_multiplex`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions/__init__.py
  narwhals/_plan/arrow/functions/_multiplex.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Reorder `into_struct` parameters
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions/_struct.py
Due: imports-are-banned, self-self, dtypes-import

nuke those overloads
  narwhals/_plan/arrow/functions/_struct.py
  narwhals/_plan/arrow/typing.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Make `arrow.functions` a package (#3384)
  narwhals/_plan/arrow/acero.py
  narwhals/_plan/arrow/common.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/functions/__init__.py
  narwhals/_plan/arrow/functions/_aggregation.py
  narwhals/_plan/arrow/functions/_arithmetic.py
  narwhals/_plan/arrow/functions/_bin_op.py
  narwhals/_plan/arrow/functions/_boolean.py
  narwhals/_plan/arrow/functions/_categorical.py
  narwhals/_plan/arrow/functions/_construction.py
  narwhals/_plan/arrow/functions/_cumulative.py
  narwhals/_plan/arrow/functions/_dtypes.py
  narwhals/_plan/arrow/functions/_horizontal.py
  narwhals/_plan/arrow/functions/_lists.py
  narwhals/_plan/arrow/functions/_multiplex.py
  narwhals/_plan/arrow/functions/_ranges.py
  narwhals/_plan/arrow/functions/_repeat.py
  narwhals/_plan/arrow/functions/_round.py
  narwhals/_plan/arrow/functions/_sort.py
  narwhals/_plan/arrow/functions/_strings.py
  narwhals/_plan/arrow/functions/_struct.py
  narwhals/_plan/arrow/functions/_vector.py
  narwhals/_plan/arrow/functions/meta.py
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/arrow/guards.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/arrow/pivot.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/arrow/typing.py
Due: imports-are-banned, self-self, dtypes-import

test: unxfail `list.median` for sqlframe
  narwhals/_spark_like/expr_list.py
  tests/expr_and_series/list/median_test.py
Due: imports-are-banned, self-self, dtypes-import

coverage
  narwhals/_spark_like/expr_list.py
Due: imports-are-banned, self-self, dtypes-import

chore: Appease `ruff`
  narwhals/dtypes.py
  tests/dtypes/get_supertype_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Appease `mypy`
  narwhals/dtypes.py
  tests/dtypes/get_supertype_test.py
Due: imports-are-banned, self-self, dtypes-import

test: xfail a todo
  tests/dtypes/get_supertype_test.py
Due: none

refactor: Split out supertyping from `dtypes`
  narwhals/dtypes.py
  narwhals/dtypes_supertyping.py
  tests/dtypes/get_supertype_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Define integer bits in the class def
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

start adding typing
  narwhals/dtypes_supertyping.py
Due: imports-are-banned, self-self

fix: wow
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Use `IntegerType._bits`
  narwhals/dtypes_supertyping.py
Due: imports-are-banned, self-self

skip using `DTypes` for `IntegerType`s
  narwhals/dtypes_supertyping.py
Due: imports-are-banned, self-self

a bit more typing-friendly
  narwhals/dtypes_supertyping.py
Due: imports-are-banned, self-self

`None` can't return here
  narwhals/dtypes_supertyping.py
Due: imports-are-banned, self-self

refactor: No versioning needed for `Float64`
  narwhals/dtypes_supertyping.py
Due: imports-are-banned, self-self

test: Add ids for tests
  tests/dtypes/get_supertype_test.py
Due: none

change the problem to be which function
  narwhals/dtypes_supertyping.py
Due: imports-are-banned, self-self
