Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
  skip: [mypy]
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.11.8'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: init-env
      name: init-env
      entry: python --version
      language: python
      pass_filenames: false
      description: This hook serves as a env initializer, used both in check-api-reference and mypy hook
    - id: check-api-reference
      name: check-api-reference
      entry: make check-api-reference
      language: system
      require_serial: true
      pass_filenames: false
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
    - id: mypy
      name: mypy
      entry: make typing
      language: system
      types: [python]
      require_serial: true
      pass_filenames: false
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

chore: Remove outdated `_has_default_index` comment
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

test: add extra `to_dict` test for v1
  narwhals/stable/v1/__init__.py
  tests/v1_test.py
Due: imports-are-banned, self-self, mypy

release: Bump version to 1.41.0
  pyproject.toml
Due: none

refactor: Simplify `is_ordered_categorical`
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

fix(typing): Ensure `pl.Categorical` is in scope
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

add ignore override
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, mypy

release: Bump version to 1.41.0 (#2617)
  pyproject.toml
Due: none

test: Coverage for unknown categorical series
  tests/series_only/is_ordered_categorical_test.py
Due: mypy

support polars like zfill
  narwhals/_duckdb/expr_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

make test cases act like polars
  tests/expr_and_series/str/zfill_test.py
Due: mypy

implement for ibis
  narwhals/_ibis/expr_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

implement for spark_like
  narwhals/_spark_like/expr_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add attempt at arrow
  narwhals/_arrow/series_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

restore from_available_column_names
  narwhals/exceptions.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat(DRAFT): Mock up `to_compliant` as an adapter
  narwhals/_namespace.py
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
  narwhals/_plan/expr.py
  narwhals/_plan/literal.py
  narwhals/_plan/typing.py
  tests/plan/to_compliant_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat(DRAFT): Add experimental `@singledispatch` version
  narwhals/_plan/dummy.py
  narwhals/_plan/impl_arrow.py
  narwhals/_plan/literal.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Remove outdated `_has_default_index` comment (#2615)
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

refactor: Simplify Implementation.to_native_namespace
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

help mypy
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

move dict creation on top to avoid instantiating each time
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

feat: Map each operator to an `operator` function
  narwhals/_plan/operators.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Fix `lit` and add some tests
  narwhals/_plan/impl_arrow.py
  tests/plan/to_compliant_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add skip reason
  tests/expr_and_series/str/zfill_test.py
Due: mypy

fix: Handle `lit` broadcasting
  narwhals/_plan/impl_arrow.py
  tests/plan/to_compliant_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

ci: ensure pyspark-specific tests only run for pytest
  tests/dtypes_test.py
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
Due: mypy

feat: Improve `Literal` type unwrapping
  narwhals/_plan/expr.py
  narwhals/_plan/impl_arrow.py
  narwhals/_plan/literal.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Fill out planned nodes in `impl_arrow`
  narwhals/_plan/impl_arrow.py
Due: imports-are-banned, self-self, dtypes-import, mypy

ci: ensure pyspark-specific tests only run for pytest (#2621)
  tests/dtypes_test.py
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
Due: mypy

consolidate on inner function name
  narwhals/_ibis/expr_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add to docstring
  narwhals/expr_str.py
  narwhals/series_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Get `pyarrow` working
  narwhals/_arrow/series_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix(typing): `ibis` casts
  narwhals/_ibis/expr_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix(typing): `pyspark` ignore
  narwhals/_spark_like/expr_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add dask implementation
  narwhals/_dask/expr_str.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Add missed `boolean` methods
  narwhals/_plan/dummy.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix: Enforce no repeat aggs, fix flags
  narwhals/_plan/aggregation.py
  narwhals/_plan/options.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Remove/update comments/notes
  narwhals/_plan/__init__.py
  narwhals/_plan/aggregation.py
  narwhals/_plan/categorical.py
  narwhals/_plan/expr.py
  narwhals/_plan/functions.py
  narwhals/_plan/meta.py
  narwhals/_plan/options.py
  narwhals/_plan/selectors.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add exceptions and skips
  tests/expr_and_series/str/zfill_test.py
Due: mypy

test(DRAFT): Add (failing) `expression_parsing_test.py` tests
  tests/plan/expr_parsing_test.py
Due: mypy
