Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

refactor: `@requires(min_version=` -> `@requires.backend_version(`
  narwhals/_arrow/series.py
  narwhals/_duckdb/expr.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  tests/utils_test.py
Due: imports-are-banned, dtypes-import, mypy

feat: Improve ``DataFrame.__getitem__`` consistency
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/series.py
  narwhals/_ibis/dataframe.py
  narwhals/_interchange/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/dataframe.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/utils.py
  tests/frame/getitem_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: Add doctest, remove `__init__`
  narwhals/utils.py
Due: imports-are-banned, mypy

chore: `@requires` for backend method constraints (#2371)
  narwhals/_arrow/series.py
  narwhals/_duckdb/expr.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/utils.py
  tests/expr_and_series/nth_test.py
  tests/utils_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Use `@require.backend_version`
  narwhals/_ibis/namespace.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): Remove implict `Self`
  narwhals/_ibis/dataframe.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/expr_list.py
  narwhals/_ibis/expr_str.py
  narwhals/_ibis/expr_struct.py
  narwhals/_ibis/group_by.py
  narwhals/_ibis/namespace.py
  narwhals/_ibis/series.py
Due: imports-are-banned, dtypes-import, mypy

ci: Make sure `ibis` is installed
  .github/workflows/pytest.yml
Due: pull-request-target

ci: Include `ibis` in coverage
  pyproject.toml
Due: none

refactor: Use `not_implemented`
  narwhals/_ibis/expr_dt.py
Due: imports-are-banned, dtypes-import, mypy

ci: omit `_ibis.typing`
  pyproject.toml
Due: none

more coverage
  narwhals/_ibis/expr.py
  narwhals/_ibis/namespace.py
Due: imports-are-banned, dtypes-import, mypy

docstrings examples for Int128 and UInt128
  narwhals/dtypes.py
Due: imports-are-banned, dtypes-import, mypy

fix: Use `np.generic` in `is_numpy_scalar`
  narwhals/dependencies.py
  tests/dependencies/is_numpy_scalar_test.py
Due: dtypes-import, mypy

refactor(typing): Use `_NumpyScalar` alias in signature
  narwhals/dependencies.py
Due: dtypes-import, mypy

type annotate 'keys'
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/expr.py
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
  narwhals/group_by.py
Due: imports-are-banned, dtypes-import, mypy

do not cast
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fixup
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/series.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_interchange/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

fixup
  narwhals/_arrow/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

gather -> _gather
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/series.py
  tests/series_only/getitem_test.py
Due: imports-are-banned, dtypes-import, mypy

fix: Use `np.generic` in `is_numpy_scalar` (#2395)
  narwhals/dependencies.py
  tests/dependencies/is_numpy_scalar_test.py
Due: dtypes-import, mypy

type alias intindexer and strindexer
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

reduce diff
  narwhals/_compliant/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

naming
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_interchange/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

reduce polars diff
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

appease pyright
  narwhals/_polars/namespace.py
Due: imports-are-banned, dtypes-import, mypy

extra test
  narwhals/_arrow/dataframe.py
  tests/frame/getitem_test.py
  tests/hypothesis/getitem_test.py
Due: imports-are-banned, dtypes-import, mypy

arrow negative slicing
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  tests/frame/getitem_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: add docstrings examples for Int128 and UInt128 (#2396)
  narwhals/dtypes.py
Due: imports-are-banned, dtypes-import, mypy

old pyarrow compat
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import, mypy

old polars compat
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/utils.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/utils.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

pandas fixup
  narwhals/_compliant/dataframe.py
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  tests/frame/getitem_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Reuse `CompliantSeries._is_native`
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

remove enum duplication/null checks
  narwhals/dtypes.py
  tests/dtypes_test.py
Due: imports-are-banned, dtypes-import, mypy

test and cover slicing dataframe with series
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/utils.py
  narwhals/_pandas_like/dataframe.py
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  narwhals/utils.py
  tests/frame/getitem_test.py
  tests/hypothesis/getitem_test.py
Due: imports-are-banned, dtypes-import, mypy

old polars fixup
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

avoid tolist in old polars
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

`is_null_slice` typing
  narwhals/utils.py
Due: imports-are-banned, mypy

Revert "avoid tolist in old polars"
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

`is_sequence_like` typing
  narwhals/utils.py
Due: imports-are-banned, mypy

avoid is_sequence_like_ints("") false positive
  narwhals/utils.py
  tests/frame/getitem_test.py
Due: imports-are-banned, mypy
