Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

- fix: correct polars version in modern polars ewm_mean_test
  tests/modern_polars/ewm_mean_test.py
Due: none

refactor: split into new module
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_typing.py
  narwhals/typing.py
  tests/conftest.py
  tests/frame/from_arrow_test.py
  tests/frame/from_dict_test.py
  tests/frame/from_numpy_test.py
  tests/namespace_test.py
  tests/read_scan_test.py
  tests/series_only/from_numpy_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): replace `EagerAllowedImplementation`
  narwhals/_namespace.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

feat(typing): Add generics, demo how they'd work
  narwhals/_typing.py
Due: imports-are-banned, self-self

test: ignore platform-dependent whitespace
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test: Don't rely on `tzdata` install
  narwhals/series_dt.py
Due: imports-are-banned, self-self, dtypes-import

fix(tests): correct polars version in modern polars ewm_mean_test (#2993)
  tests/modern_polars/ewm_mean_test.py
Due: none

chore: simplify dask binary ops (#2992)
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

Revert "fix: Use `importlib` for `polars` version (#2952)"
  narwhals/_utils.py
  tests/utils.py
Due: imports-are-banned, self-self

xfail test
  tests/expr_and_series/map_batches_test.py
Due: none

comment out pyarrow nightly
  .github/workflows/extremes.yml
Due: pull-request-target

nightly
  .github/workflows/extremes.yml
Due: pull-request-target

Revert "fix: Use importlib for polars version (#2952)", xfail `map_batches` test for now (#2996)
  .github/workflows/extremes.yml
  narwhals/_utils.py
  tests/expr_and_series/map_batches_test.py
  tests/utils.py
Due: imports-are-banned, self-self, pull-request-target

release: Bump version to 2.1.2
  pyproject.toml
Due: none

feat: Add returns_scalar in map_batches
  narwhals/_compliant/expr.py
  narwhals/_polars/expr.py
  narwhals/expr.py
  tests/expr_and_series/map_batches_test.py
Due: imports-are-banned, self-self, dtypes-import

unxfail polars
  tests/expr_and_series/map_batches_test.py
Due: none

split test and xfail old polars
  narwhals/_polars/expr.py
  tests/expr_and_series/map_batches_test.py
Due: imports-are-banned, self-self, dtypes-import

release: Bump version to 2.1.2 (#2997)
  pyproject.toml
Due: none

track returns_scalar first version
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

typing hack
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

docs: Document most public `DType` members
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

docs: Show target members
  docs/api-reference/dtypes.md
Due: none

docs: Reorder to mirror `polars`
  docs/api-reference/dtypes.md
  utils/check_api_reference.py
Due: none

fix(tests): ensure doctests work on windows (#2994)
  narwhals/dataframe.py
  narwhals/series_dt.py
Due: imports-are-banned, self-self, dtypes-import

simplify (by @dangotbanned)
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

coverage?
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

fix: Workaround for `clip` with modin[pyarrow] and cudf backends (#2986)
  narwhals/_pandas_like/series.py
  tests/expr_and_series/clip_test.py
Due: imports-are-banned, self-self, dtypes-import

skip tests with nested dtype for old pandas
  tests/testing/assert_series_equal_test.py
Due: none

docs: Add a real doc for `_typing.IntoBackend`
  narwhals/_typing.py
Due: imports-are-banned, self-self

feat: integrate to demo new coverage
  narwhals/dataframe.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/frame/lazy_test.py
Due: imports-are-banned, self-self, dtypes-import

add a failing example
  narwhals/_typing.py
Due: imports-are-banned, self-self

style(ruff): re-run updated config
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/common.py
  narwhals/_plan/expr.py
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/temporal.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

skip pyarrow old versions
  tests/testing/assert_series_equal_test.py
Due: none

skip pyarrow old version for arrays
  tests/testing/assert_series_equal_test.py
Due: none

nicer error handling, not there yet
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

docs: Add `DType`, show bases, hide inherited members
  docs/api-reference/dtypes.md
  utils/check_api_reference.py
Due: none

Update narwhals/_polars/dataframe.py
  narwhals/_polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

added some thoughts, currently going in circles
  narwhals/_polars/dataframe.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

added some thoughts, currently going in circles
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import
