Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

Use better name for namespace functions
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

pandas working too!
  narwhals/_pandas_like/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

robustness
  narwhals/_pandas_like/expr.py
  narwhals/utils.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

wip
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

chore: simplify pandas-like over
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

wip
  .github/workflows/downstream_tests.yml
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import, pull-request-target, mypy

ci
  .github/workflows/downstream_tests.yml
Due: pull-request-target

wip
  narwhals/_arrow/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_polars/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

support for polars
  narwhals/_polars/expr.py
Due: imports-are-banned, dtypes-import, mypy

avoid doing 2 sorts in pandas implementation
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

tpch
  .github/workflows/check_tpch_queries.yml
Due: pull-request-target

get ci green again
  .github/workflows/check_tpch_queries.yml
Due: pull-request-target

chore: simplify pandas-like over (#2127)
  .github/workflows/check_tpch_queries.yml
  .github/workflows/downstream_tests.yml
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, dtypes-import, pull-request-target, mypy

address comments
  .github/workflows/downstream_tests.yml
Due: pull-request-target

amazing
  narwhals/_pandas_like/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

fix filename
  .github/workflows/downstream_tests.yml
Due: pull-request-target

feat: Add support for pandas-like diff().over()
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

feat: Add support for pandas-like `.diff().over(group)` (#2128)
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: more concise docstrings(#2068) * expr_dt * expr_cat * dataframe * dtypes * exp_str - fix slice- * expr_list * expr_name
  narwhals/dataframe.py
  narwhals/dtypes.py
  narwhals/expr_cat.py
  narwhals/expr_dt.py
  narwhals/expr_list.py
  narwhals/expr_name.py
  narwhals/expr_str.py
Due: imports-are-banned, dtypes-import, mypy

reducing some data, checking for duplications
  narwhals/expr_dt.py
Due: imports-are-banned, dtypes-import, mypy

do it for pyarrow too
  narwhals/_arrow/expr.py
  narwhals/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Include `Expr` in `fill_null` signature
  narwhals/_arrow/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/expr.py
Due: imports-are-banned, dtypes-import, mypy

simplify
  narwhals/_arrow/expr.py
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

wip
  tests/expr_and_series/cum_sum_test.py
Due: mypy

feat: Adds `nw.exclude` (#2122)
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  tests/expr_and_series/exclude_test.py
Due: imports-are-banned, dtypes-import, mypy

test: Get coverage for `PandasLikeSeries.native`
  narwhals/_pandas_like/series.py
Due: imports-are-banned, dtypes-import, mypy

fix: Make `PolarsSeries` compliant
  narwhals/_polars/series.py
Due: imports-are-banned, dtypes-import, mypy

refactor: add `_SeriesNamespace.from_native`
  narwhals/_arrow/series_cat.py
  narwhals/_arrow/series_dt.py
  narwhals/_arrow/series_list.py
  narwhals/_arrow/series_str.py
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

Add example for Field dtype
  narwhals/dtypes.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Simplify `_arrow.series_dt`
  narwhals/_arrow/series_dt.py
Due: imports-are-banned, dtypes-import, mypy

fixup pandas reverse
  narwhals/_dask/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/over_test.py
Due: imports-are-banned, dtypes-import, mypy

docs: more concise docstrings(#2068) (#2117)
  narwhals/dataframe.py
  narwhals/dtypes.py
  narwhals/expr_cat.py
  narwhals/expr_dt.py
  narwhals/expr_list.py
  narwhals/expr_name.py
  narwhals/expr_str.py
Due: imports-are-banned, dtypes-import, mypy

shorten docstring
  narwhals/dtypes.py
Due: imports-are-banned, dtypes-import, mypy

xfail some dask
  tests/expr_and_series/cum_sum_test.py
Due: mypy

docs: Add API example docs for Field dtype (#2131)
  narwhals/dtypes.py
Due: imports-are-banned, dtypes-import, mypy

refactor: simplify `_arrow.utils`
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Include `Expr` in `fill_null` signature (#2129)
  narwhals/_arrow/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/expr.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Simplify `ArrowGroupBy.__iter__`
  narwhals/_arrow/group_by.py
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

old polars
  narwhals/_polars/expr.py
  tests/expr_and_series/cum_sum_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Simplify `ArrowGroupBy.__iter__` (#2133)
  narwhals/_arrow/group_by.py
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
