Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
  skip: [mypy]
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.11.8'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: init-env
      name: init-env
      entry: python --version
      language: python
      pass_filenames: false
      description: This hook serves as a env initializer, used both in check-api-reference and mypy hook
    - id: check-api-reference
      name: check-api-reference
      entry: make check-api-reference
      language: system
      require_serial: true
      pass_filenames: false
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
    - id: mypy
      name: mypy
      entry: make typing
      language: system
      types: [python]
      require_serial: true
      pass_filenames: false
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

test: Add `expr_expansion_test`
  tests/plan/expr_expansion_test.py
Due: mypy

feat(DRAFT): Fill out some of `rewrite_special_aliases`
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import, mypy

revert: Remove unplanned `meta` methods
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import, mypy

revert: Remove debug `meta` functions
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import, mypy

revert: Remove unused `list` accessor from `Expr.IR`
  narwhals/_plan/common.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add coalesce for all backends
  docs/api-reference/narwhals.md
  narwhals/__init__.py
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/namespace.py
  narwhals/functions.py
  tests/expr_and_series/coalesce_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add coalesce docstring, stable version, and protocol info
  narwhals/_compliant/namespace.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, dtypes-import, mypy

xfail dask
  tests/expr_and_series/diff_test.py
Due: mypy

and pyarrow
  tests/expr_and_series/diff_test.py
Due: mypy

shift too :sob:
  tests/expr_and_series/shift_test.py
Due: mypy

need to skip old pandas too
  tests/expr_and_series/diff_test.py
Due: mypy

fix: Ibis backend was not respecting `over` params for `shift` and `diff` (#2646)
  narwhals/_ibis/expr.py
  tests/expr_and_series/diff_test.py
  tests/expr_and_series/shift_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

release: Bump version to 1.41.1
  pyproject.toml
Due: none

release: Bump version to 1.41.1 (#2648)
  pyproject.toml
Due: none

chore: Refactor window functions for lazy backends
  narwhals/_compliant/typing.py
  narwhals/_compliant/window.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

clean
  narwhals/_arrow/expr.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_polars/expr.py
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: remove unneeded type: ignores for SQLExpression, expand backend-specific contributing guide
  CONTRIBUTING.md
  narwhals/_duckdb/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: remove unneeded type: ignores for SQLExpression, expand backend-specific contributing guide (#2650)
  CONTRIBUTING.md
  narwhals/_duckdb/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

restore polars
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

ibis typing
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

simplify ibis
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

_default_window_function
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

non-generic windowinputs
  narwhals/_compliant/typing.py
  narwhals/_compliant/window.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add _default_window_function to LazyExpr
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix types
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Support single `col` rewrites for `.name` methods
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/meta.py
  tests/plan/expr_expansion_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

Revert "fix types", Revert "add _default_window_function to LazyExpr" (DaskExpr doesn't have this function)
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

add simple coalesce v1 test
  tests/v1_test.py
Due: mypy

wip
  narwhals/_duckdb/expr.py
  tests/expr_and_series/reduction_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix coalesce to appropriately cast literals
  narwhals/functions.py
  tests/expr_and_series/coalesce_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat(DRAFT): Sketch out parts of `rewrite_projections`, `expand_function_inputs`
  narwhals/_plan/common.py
  narwhals/_plan/expr.py
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/options.py
Due: imports-are-banned, self-self, dtypes-import, mypy

Implement and use import_optional_dependency
  narwhals/_dependencies.py
  narwhals/exceptions.py
  narwhals/utils.py
  tests/dependencies/imports_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

test: Plan out tests for `ExprIR.map_ir`
  tests/plan/expr_expansion_test.py
Due: mypy

feat: Add missing `DummyExpr.__str__`
  narwhals/_plan/dummy.py
Due: imports-are-banned, self-self, dtypes-import, mypy

cov
  tests/plan/expr_expansion_test.py
Due: mypy

window_function property
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

remove outdated assertion
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Refactor window functions for lazy backends (#2649)
  narwhals/_arrow/expr.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/typing.py
  narwhals/_compliant/window.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr.py
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

standardise for Ibis too
  narwhals/_compliant/when_then.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  tests/expr_and_series/reduction_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

standardise pyspark too
  narwhals/_compliant/window.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/reduction_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy
