Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

more deprecations
  docs/api-reference/expr.md
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/stable/v1/__init__.py
  tests/expr_and_series/arg_true_test.py
  tests/expr_and_series/gather_every_test.py
  tests/expr_and_series/head_test.py
  tests/expr_and_series/sample_test.py
  tests/expr_and_series/sort_test.py
  tests/expr_and_series/tail_test.py
  tests/frame/gather_every_test.py
  tests/utils_test.py
  tests/v1_test.py
  utils/check_api_reference.py
Due: imports-are-banned, self-self, dtypes-import

keep native_namespace around in `from_dict` a bit longer
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

keep native_namespace around in `from_dict` a bit longer
  tests/stable_api_test.py
Due: none

wip coverage
  narwhals/_utils.py
  tests/v1_test.py
Due: imports-are-banned, self-self

refactor: Switch back from `.agg(**named_aggs)` to `__getitem__`
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/utils.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: `pandas` nightly boolean columns
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

refactor: rename `Agg` -> `AggExpr`
  narwhals/_plan/aggregation.py
  narwhals/_plan/common.py
  narwhals/_plan/demo.py
  narwhals/_plan/exceptions.py
  narwhals/_plan/expr.py
Due: imports-are-banned, self-self, dtypes-import

v2 coverage
  tests/new_series_test.py
  tests/translate/from_native_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: none

v2 coverage
  narwhals/_utils.py
  narwhals/functions.py
  tests/from_dict_test.py
Due: imports-are-banned, self-self, dtypes-import

typing
  tests/from_dict_test.py
Due: none

coverage
  narwhals/stable/v1/__init__.py
  tests/read_scan_test.py
  tests/translate/from_native_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self

move stable_narwhalify_test to v1_test
  tests/translate/stable_narwhalify_test.py
  tests/v1_test.py
Due: none

move sample tests over
  tests/expr_and_series/sample_test.py
  tests/v1_test.py
Due: none

fix typing
  tests/translate/from_native_test.py
  tests/v1_test.py
Due: none

fix: Check for scalars in `int_range`
  narwhals/_plan/expr.py
  tests/plan/expr_parsing_test.py
  tests/plan/meta_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Identify n-ary functions
  narwhals/_plan/boolean.py
  narwhals/_plan/functions.py
  narwhals/_plan/ranges.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Stub out namespace functions
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Oops they return expr
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

feat(pyarrow): Impl `int_range`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/protocols.py
  tests/plan/to_compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: typo in error message
  narwhals/_plan/arrow/namespace.py
Due: imports-are-banned, self-self, dtypes-import

wip
  tests/dependencies/is_narwhals_lazyframe_test.py
  tests/v1_test.py
Due: none

cover _with_version
  tests/v1_test.py
Due: none

ci: unpin mypy in altair job
  .github/workflows/downstream_tests.yml
Due: pull-request-target

pointblank too?
  .github/workflows/downstream_tests.yml
Due: pull-request-target

ci: unpin mypy in altair job (#2817)
  .github/workflows/downstream_tests.yml
Due: pull-request-target

chore: Factor out v1 from native tests (#2815)
  narwhals/stable/v1/__init__.py
  tests/dependencies/is_narwhals_lazyframe_test.py
  tests/expr_and_series/sample_test.py
  tests/read_scan_test.py
  tests/translate/from_native_test.py
  tests/translate/stable_narwhalify_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self

chore: more v1 test cleanups
  tests/expr_and_series/log_test.py
  tests/expr_and_series/unique_test.py
  tests/expression_parsing_test.py
  tests/frame/gather_every_test.py
  tests/from_numpy_test.py
  tests/new_series_test.py
  tests/preserve_pandas_like_columns_name_attr_test.py
  tests/selectors_test.py
  tests/utils_test.py
  tests/v1_test.py
Due: none

from_numpy
  tests/from_numpy_test.py
  tests/v1_test.py
Due: none

chore: more v1 test cleanups (#2819)
  tests/expr_and_series/log_test.py
  tests/expr_and_series/unique_test.py
  tests/expression_parsing_test.py
  tests/frame/gather_every_test.py
  tests/from_numpy_test.py
  tests/new_series_test.py
  tests/preserve_pandas_like_columns_name_attr_test.py
  tests/selectors_test.py
  tests/utils_test.py
  tests/v1_test.py
Due: none

chore: more v1 test suite cleanups
  tests/expr_and_series/exp_test.py
  tests/expr_and_series/sample_test.py
  tests/expr_and_series/sort_test.py
  tests/expr_and_series/sqrt_test.py
  tests/v1_test.py
Due: none

chore: more v1 test suite cleanups
  tests/expr_and_series/tail_test.py
  tests/series_only/sort_test.py
  tests/v1_test.py
Due: none

chore: more v1 test suite cleanups
  tests/expr_and_series/arg_true_test.py
  tests/expr_and_series/head_test.py
  tests/series_only/arg_true_test.py
  tests/series_only/head_test.py
  tests/series_only/tail_test.py
Due: none

chore: more v1 test suite cleanups
  tests/expr_and_series/gather_every_test.py
  tests/series_only/gather_every_test.py
  tests/v1_test.py
Due: none

coverage
  tests/v1_test.py
Due: none

Revert "ci: pin scipy (#2725)"
  .github/workflows/downstream_tests.yml
Due: pull-request-target

feat(pyarrow): Impl `pow`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/protocols.py
  tests/plan/to_compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: more v1 test suite cleanups (#2820)
  tests/expr_and_series/arg_true_test.py
  tests/expr_and_series/exp_test.py
  tests/expr_and_series/gather_every_test.py
  tests/expr_and_series/head_test.py
  tests/expr_and_series/sample_test.py
  tests/expr_and_series/sort_test.py
  tests/expr_and_series/sqrt_test.py
  tests/expr_and_series/tail_test.py
  tests/series_only/arg_true_test.py
  tests/series_only/gather_every_test.py
  tests/series_only/head_test.py
  tests/series_only/sort_test.py
  tests/series_only/tail_test.py
  tests/v1_test.py
Due: none

chore: more v1 test suite cleanups
  tests/dependencies/is_narwhals_dataframe_test.py
  tests/dependencies/is_narwhals_series_test.py
  tests/expr_and_series/order_dependent_lazy_test.py
  tests/series_only/gather_every_test.py
  tests/series_only/head_test.py
  tests/series_only/sort_test.py
  tests/series_only/tail_test.py
  tests/translate/from_native_test.py
  tests/v1_test.py
Due: none

Revert "ci: pin scipy" (#2821)
  .github/workflows/downstream_tests.yml
Due: pull-request-target

chore: more v1 test suite cleanups (#2822)
  tests/dependencies/is_narwhals_dataframe_test.py
  tests/dependencies/is_narwhals_series_test.py
  tests/expr_and_series/order_dependent_lazy_test.py
  tests/series_only/gather_every_test.py
  tests/series_only/head_test.py
  tests/series_only/sort_test.py
  tests/series_only/tail_test.py
  tests/translate/from_native_test.py
  tests/v1_test.py
Due: none

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
