Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/

fix imports
  tests/hypothesis/getitem_test.py
  tests/ibis_test.py
  tests/series_only/hist_test.py
  tests/testing/constructors_test.py
  tests/translate/from_native_test.py
Due: none

fixup plugin
  narwhals/testing/pytest_plugin.py
Due: imports-are-banned, self-self, dtypes-import

CI fix
  .github/workflows/extremes.yml
  .github/workflows/pytest-ibis.yml
  .github/workflows/pytest-modin.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
Due: pull-request-target

test_join_duplicate_column_names fix
  tests/frame/join_test.py
Due: none

use new fixture directly in hyp cases
  tests/expr_and_series/arithmetic_test.py
Due: none

Adjust documentation
  docs/api-reference/testing.md
  narwhals/testing/typing.py
  tests/conftest.py
  utils/sort_api_reference.py
Due: imports-are-banned, self-self

feat(pyarrow): Add `unary` factory
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/compliant/column.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add DataFrame.with_backend(...)
  docs/api-reference/dataframe.md
  docs/basics/dataframe_conversion.md
  narwhals/_compliant/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  tests/frame/with_backend_test.py
Due: imports-are-banned, self-self, dtypes-import

Move DataFrameLike protocol into _interchange/dataframe.py, and check typing
  narwhals/_interchange/dataframe.py
  narwhals/stable/v1/typing.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

remove level from main and v2 classes __init__
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/series.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/series.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
  narwhals/series.py
  narwhals/sql.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  narwhals/translate.py
  narwhals/typing.py
  tests/series_only/is_ordered_categorical_test.py
  tests/translate/from_native_test.py
  tests/v1_test.py
Due: imports-are-banned, self-self, dtypes-import

inherit_doc typing
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

coverage
  tests/v1_test.py
Due: none

chore(pyarrow): Transition more to `unary`
  narwhals/_plan/_dispatch.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/typing.py
  tests/plan/compliant_test.py
  tests/plan/dispatch_test.py
Due: imports-are-banned, self-self, dtypes-import

make mypy happy
  tests/v1_test.py
Due: none

refactor: Skip straight to `node.function`
  narwhals/_plan/arrow/expr.py
Due: imports-are-banned, self-self, dtypes-import

ci(ruff): ignore some more names
  pyproject.toml
Due: none

release: Bump version to 2.20.0
  pyproject.toml
Due: none

release: Bump version to 2.20.0 (#3559)
  pyproject.toml
Due: none

chore: remove todo
  narwhals/_plan/arrow/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore(DRAFT): Add an accessor version of `unary`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions/_strings.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Generalize from `UnaryFunction` -> `ExprIR`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/compliant/typing.py
Due: imports-are-banned, self-self, dtypes-import

give up
  narwhals/_plan/arrow/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore(python): pin pyarrow version in typing job
  Makefile
Due: none

fix: stop requiring keyword-support in `CompliantExpr`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/compliant/accessors.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/scalar.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove some noise from signatures
  narwhals/_plan/compliant/accessors.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/expressions/functions.py
Due: imports-are-banned, self-self, dtypes-import

fix: Remove some more required keyword support
  narwhals/_plan/compliant/column.py
  narwhals/_plan/compliant/typing.py
Due: imports-are-banned, self-self, dtypes-import

pyarrow tzdata condition
  tests/expr_and_series/cast_test.py
  tests/frame/to_numpy_test.py
  tests/selectors_test.py
  tests/series_only/to_numpy_test.py
Due: none

chore: More `FunctionExpr` docs prep
  narwhals/_plan/_dispatch.py
  narwhals/_plan/expressions/function_expr.py
  narwhals/_plan/expressions/functions.py
Due: imports-are-banned, self-self, dtypes-import

Adopt registry pattern, tackle a few other feedbacks
  narwhals/testing/__init__.py
  narwhals/testing/constructors.py
  narwhals/testing/pytest_plugin.py
  narwhals/testing/typing.py
  tests/expr_and_series/fill_nan_test.py
  tests/expr_and_series/is_close_test.py
  tests/expr_and_series/is_finite_test.py
  tests/expr_and_series/is_nan_test.py
  tests/series_only/hist_test.py
  tests/testing/constructors_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup typing and prepare_constructors regression
  narwhals/testing/constructors.py
  tests/testing/constructors_test.py
Due: imports-are-banned, self-self, dtypes-import

fix __eq__
  narwhals/testing/constructors.py
Due: imports-are-banned, self-self, dtypes-import

match is_nullable default
  narwhals/testing/constructors.py
Due: imports-are-banned, self-self, dtypes-import

fixup typevar default
  narwhals/testing/constructors.py
Due: imports-are-banned, self-self, dtypes-import

fix makefile
  Makefile
Due: none

Fixup default backends parsing
  narwhals/testing/pytest_plugin.py
  narwhals/testing/typing.py
  tests/hypothesis/getitem_test.py
  tests/testing/plugin_test.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: More `unary` usage
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions/__init__.py
  narwhals/_plan/arrow/functions/_aggregation.py
  narwhals/_plan/arrow/functions/_multiplex.py
Due: imports-are-banned, self-self, dtypes-import

no cover + GHA
  .github/workflows/pytest.yml
  narwhals/testing/constructors.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

var name
  narwhals/testing/pytest_plugin.py
Due: imports-are-banned, self-self, dtypes-import
