Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

refactor: Be a little fancier in `ensure_type`
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

test(typing): Narrow `Constructor`, `ConstructorEager` aliases (#2349)
  tests/conftest.py
  tests/series_only/hist_test.py
  tests/utils.py
Due: mypy

flatten first
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, mypy

chore: use less sql for duckdb, do extra validation (#2331)
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore: bump `pyarrow-stubs==19.1`
  narwhals/_arrow/series.py
  pyproject.toml
  tests/frame/arrow_c_stream_test.py
  tests/series_only/arrow_c_stream_test.py
  tests/series_only/to_arrow_test.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Resolve `[assignment]`
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import, mypy

it can always be done simpler!
  docs/how_it_works.md
  narwhals/_expression_parsing.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/functions.py
  tests/expression_parsing_test.py
Due: imports-are-banned, dtypes-import, mypy

coverage
  narwhals/_expression_parsing.py
  tests/expression_parsing_test.py
Due: imports-are-banned, dtypes-import, mypy

chore: bump `pyarrow-stubs==19.1` (#2350)
  narwhals/_arrow/series.py
  narwhals/_arrow/series_dt.py
  narwhals/_pandas_like/series_dt.py
  pyproject.toml
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Narrow `TypeVar` used in `Series` (#2347)
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/translate.py
  narwhals/typing.py
  tests/translate/from_native_test.py
Due: imports-are-banned, dtypes-import, mypy

release: Bump version to 1.34.0
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

fix(typing): Preserve containers in `cast_for_truediv`
  narwhals/_arrow/series.py
  narwhals/_arrow/typing.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

release: Bump version to 1.34.0 (#2354)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

fix: `3.8` compat
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Narrow `IntoDataFrame`
  narwhals/dependencies.py
  narwhals/translate.py
  narwhals/typing.py
  tests/translate/from_native_test.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Remove `DataFrame` from `IntoFrame`
  narwhals/typing.py
Due: imports-are-banned, mypy

fix(typing): Narrow `IntoLazyFrame`, `IntoFrame`
  narwhals/translate.py
  narwhals/typing.py
  tests/translate/from_native_test.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Annotate `DataFrame._compliant_frame`
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore: Add missing `CompliantDataFrame.pivot`
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Ensure `__iter__` is available on group_by
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/group_by.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Fix most of `DataFrame`
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Ignore interchange `[type-var]`
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

test(typing): Barely fix dodgy spark typing
  tests/expr_and_series/cast_test.py
Due: mypy

fix: Implement `to_numpy` to catch args
  narwhals/_polars/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Annotate `LazyFrame._compliant_frame`
  narwhals/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Ignore and add note for `spark_like` cast
  tests/expr_and_series/cast_test.py
Due: mypy

update outdated "open window" refs
  narwhals/_expression_parsing.py
  narwhals/expr.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import, mypy

update outdated "open window" refs
  narwhals/expr.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Partial `v1` backport
  narwhals/stable/v1/__init__.py
  tests/translate/from_native_test.py
Due: imports-are-banned, mypy

fix(typing): Just preserve `v1` behavior
  narwhals/stable/v1/__init__.py
  tests/translate/from_native_test.py
Due: imports-are-banned, mypy

simplify
  narwhals/dataframe.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

try old `Union`
  narwhals/typing.py
Due: imports-are-banned, mypy

fix & better align nox against GitHub Actions CI
  noxfile.py
  utils/generate_random_versions.py
Due: none

chore(typing): Preserve containers in `cast_for_truediv` (#2355)
  narwhals/_arrow/series.py
  narwhals/_arrow/typing.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

ci(ruff): Don't use `os.listdir`
  utils/check_api_reference.py
Due: none

oops use `Path.stem`
  utils/check_api_reference.py
Due: none

docs(typing): Provide more context on what and why
  tests/translate/from_native_test.py
Due: mypy

test: Remove outdated typing
  tests/namespace_test.py
Due: mypy

docs: Use more consistent markdown
  narwhals/typing.py
Due: imports-are-banned, mypy

document effect of UNCLOSEABLE window
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
