Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.9.4"
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff
        alias: check-docstrings
        entry: python utils/check_docstrings.py
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        files: \.(py|rst|md)$
        args: [--ignore-words-list=ser]
        exclude: ^docs/api-completeness.md$
  - repo: https://github.com/pycqa/flake8
    rev: "7.1.1" # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
      - id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
          (?x)^(
              tests/.*|
              # TODO: gradually enable
              narwhals/series\.py|
              # TODO: gradually enable
              narwhals/dataframe\.py|
              # TODO: gradually enable
              narwhals/dependencies\.py|
              # private, so less urgent to document too well
              narwhals/_.*|
              ^utils/.*
          )$
  - repo: local
    hooks:
      - id: check-api-reference
        name: check-api-reference
        pass_filenames: false
        entry: python -m utils.check_api_reference
        language: python
        additional_dependencies: [polars]
      - id: imports-are-banned
        name: import are banned (use `get_pandas` instead of `import pandas`)
        entry: python utils/import_check.py
        language: python
        files: ^narwhals/
        exclude: ^narwhals/dependencies\.py
      - id: dtypes-import
        name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
        entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
        language: pygrep
        files: ^narwhals/
        exclude: |
          (?x)
            ^(
              narwhals/utils\.py|
              narwhals/stable/v1/_dtypes.py|
              narwhals/.*__init__.py|
              narwhals/.*typing\.py
            )
      - id: pull-request-target
        name: don't use `pull_request_target`
        entry: pull_request_target
        language: pygrep
        files: ^\.github/workflows/
      - id: mypy
        name: mypy
        entry: ./.venv/bin/mypy
        files: ^(narwhals|tests)/
        language: system
        types: [python]
        require_serial: true
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1" # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        additional_dependencies:
          - black==22.12.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: name-tests-test
        exclude: ^tests/utils\.py
      - id: no-commit-to-branch
      - id: end-of-file-fixer
        exclude: .svg$

ci(typing): disable `[no-any-return]` internally
  pyproject.toml
Due: none

chore(typing): explicit ignore on public api
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): remove unused internal `ignore[no-any-return]`
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/_expression_parsing.py
  narwhals/_ibis/dataframe.py
  narwhals/_ibis/series.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_dt.py
  narwhals/_pandas_like/utils.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

update window docstring
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

fixup tests
  narwhals/_arrow/expr.py
  narwhals/_expression_parsing.py
  narwhals/_pandas_like/expr.py
  narwhals/expr.py
Due: imports-are-banned, dtypes-import, mypy

fix docstrings to adhere to the latest guidelines
  narwhals/expr_str.py
  narwhals/series_str.py
Due: imports-are-banned, dtypes-import, mypy

fix mypy errors related to _dask, _duckdb and _spark_like
  narwhals/_dask/expr_str.py
  narwhals/_duckdb/expr_str.py
  narwhals/_spark_like/expr_str.py
Due: imports-are-banned, dtypes-import, mypy

fixed docstrings and raise message in pandas_like/series_str.py
  narwhals/_pandas_like/series_str.py
  narwhals/expr_str.py
  narwhals/series_str.py
Due: imports-are-banned, dtypes-import, mypy

fix pyspark split
  narwhals/_spark_like/expr_str.py
Due: imports-are-banned, dtypes-import, mypy

ignore numpy deprecation warning
  pyproject.toml
Due: none

perf: avoid repeating constant iteration
  narwhals/_arrow/expr.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_spark_like/expr.py
  narwhals/expr.py
  narwhals/selectors.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Re-enable `mypy` strict (#2077)
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_arrow/series_str.py
  narwhals/_arrow/utils.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/utils.py
  narwhals/_expression_parsing.py
  narwhals/_ibis/dataframe.py
  narwhals/_ibis/series.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_dt.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/utils.py
  narwhals/dataframe.py
  narwhals/dependencies.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/translate.py
  narwhals/utils.py
  pyproject.toml
  tests/conftest.py
  tests/expr_and_series/str/to_datetime_test.py
  tests/from_dict_test.py
  tests/from_numpy_test.py
  tests/series_only/hist_test.py
  tests/translate/from_native_test.py
  tests/utils_test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Remove unused `pyright` ignores (#2076)
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

fix: revert 2 pandas calls, fix incorrect annotation
  narwhals/_dask/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

perf: avoid repeating constant iteration (#2079)
  narwhals/_arrow/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/utils.py
  narwhals/_spark_like/expr.py
  narwhals/expr.py
  narwhals/selectors.py
Due: imports-are-banned, dtypes-import, mypy

chore: remove griffe fork to build docs
  .github/workflows/mkdocs.yml
  CONTRIBUTING.md
  pyproject.toml
Due: pull-request-target

docs: remove griffe fork to build docs (#2080)
  .github/workflows/mkdocs.yml
  CONTRIBUTING.md
  pyproject.toml
Due: pull-request-target

fix pyspark unpivot
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_str.py
  tests/conftest.py
  tests/frame/unpivot_test.py
Due: imports-are-banned, dtypes-import, mypy

release: Bump version to 1.28.0
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

add pyspark typing ci
  .github/workflows/typing.yml
Due: pull-request-target

fix type
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

simplify type unpivot
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

release: Bump version to 1.28.0 (#2081)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

make pyright happy
  narwhals/_spark_like/utils.py
  tests/conftest.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): resolve `mypy` strict errors
  narwhals/_arrow/dataframe.py
  narwhals/_expression_parsing.py
  narwhals/_selectors.py
  narwhals/_spark_like/dataframe.py
  narwhals/typing.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix(DRAFT): try giving a `super(...)` hints for `3.8`
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

don't forget `self`
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

fix(DRAFT): try removing `CompliantSelectorNamespace.__init__`
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

revert (72014548b6f49b864164167c2372fa43778556ad)
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, dtypes-import, mypy

refactor: try reusing `Protocol`'s `Generic
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

refactor: try the same for `CompliantExpr`
  narwhals/typing.py
Due: imports-are-banned, mypy

fix(DRAFT): try removing `Protocol` altogether?
  narwhals/_selectors.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

fix: only replace `Protocol` for `CompliantExpr`
  narwhals/typing.py
Due: imports-are-banned, mypy

ignore coverage, remove comments
  narwhals/_pandas_like/selectors.py
  narwhals/_selectors.py
Due: imports-are-banned, dtypes-import, mypy

chore: concise_docstrings (#2068) * expr_str * series_str
  narwhals/expr_str.py
  narwhals/series_str.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): ignore everything
  narwhals/_dask/expr.py
  narwhals/_dask/expr_dt.py
  narwhals/_dask/group_by.py
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
  narwhals/_dask/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Add missing `dd.DataFrame`
  narwhals/_dask/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): Resolve some `_dask.namespace`
  narwhals/_dask/namespace.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): resolve some `_dask.expr` errors
  narwhals/_dask/expr.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): resolve `DaskExpr` operator issue
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
Due: imports-are-banned, dtypes-import, mypy
