Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

fix: Add missing `v2` constructor overrides
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self

fix: Define `Version.V2` for `v2.DataFrame`
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self

test: Add `v2` tests
  tests/v2_test.py
Due: none

add separator validation
  narwhals/functions.py
  tests/read_scan_test.py
Due: imports-are-banned, self-self, dtypes-import

fix merge
  tests/read_scan_test.py
Due: none

Friendly warning for unsupported time units
  narwhals/_pandas_like/utils.py
  narwhals/dtypes.py
  narwhals/stable/v1/_dtypes.py
  pyproject.toml
Due: imports-are-banned, self-self, dtypes-import

fix: avoid introducing `__all__` extension
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self

refactor: rename external import guard
  narwhals/_interchange/dataframe.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Reuse `v1.typing.DataFrameLike` def
  narwhals/_interchange/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Realign, simplify `get_native_namespace`
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

test(typing): Ensure type ignore only on lazy branch
  tests/frame/with_row_index_test.py
Due: none

test(typing): Fix dask `union-attr`
  tests/expr_and_series/dt/datetime_attributes_test.py
Due: none

test(typing): repeat pandas assign cast fix
  tests/expr_and_series/struct_/field_test.py
Due: none

use qualified_type_name
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

modify kwargs for pyarrow
  narwhals/functions.py
  tests/read_scan_test.py
Due: imports-are-banned, self-self, dtypes-import

restore header that was there before
  tests/read_scan_test.py
Due: none

dangotbanned feedback
  narwhals/_compliant/expr.py
  tests/expr_and_series/map_batches_test.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

add no cover
  narwhals/_utils.py
Due: imports-are-banned, self-self

fix merge
  tests/utils.py
Due: none

work from pair session
  narwhals/_polars/dataframe.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

replace `zip` with `zip_strict` for `group_by` that was failing before
  narwhals/_compliant/group_by.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `returns_scalar` argument in `map_batches` (#2998)
  narwhals/_compliant/expr.py
  narwhals/_polars/expr.py
  narwhals/expr.py
  tests/expr_and_series/map_batches_test.py
  tests/frame/group_by_test.py
Due: imports-are-banned, self-self, dtypes-import

more explicit error handling
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

error handling now passes ruff check
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

chore(ruff): Global ignore specific naming conventions
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_list.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/utils.py
  narwhals/_sql/expr.py
  pyproject.toml
  tests/expr_and_series/cast_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: map_batches parsing scalars
  narwhals/_compliant/expr.py
  narwhals/_polars/expr.py
  tests/expr_and_series/map_batches_test.py
Due: imports-are-banned, self-self, dtypes-import

chore(ruff): target ignore (`PYI042`)
  narwhals/typing.py
  pyproject.toml
Due: imports-are-banned, self-self

format
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore(ruff): Always autofix to `msg= "..."`
  pyproject.toml
Due: none

empty line
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore(ruff): Ignore (`FBT003`)
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/_sql/expr.py
  narwhals/_sql/namespace.py
  pyproject.toml
  tests/expr_and_series/fill_null_test.py
  tests/expr_and_series/operators_test.py
  tests/frame/select_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

skip nested type for old pandas
  tests/expr_and_series/map_batches_test.py
Due: none

no cover old pandas test block
  tests/expr_and_series/map_batches_test.py
Due: none

refactor: Simplify most `{all,any}_horizontal`
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_sql/namespace.py
Due: imports-are-banned, self-self, dtypes-import

chore: remove duplicated comments
  narwhals/_dask/namespace.py
Due: imports-are-banned, self-self, dtypes-import

refactor: simplify most `{all,any}_horizontal`s (#3010)
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_sql/namespace.py
Due: imports-are-banned, self-self, dtypes-import

docs: Fix indentation of coalsce example in docstring
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

docs: Fix indentation of coalesce example in doc string (#3011)
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

chore: replace `zip` with `zip_strict` (#3003)
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/group_by.py
  narwhals/_compliant/selectors.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/group_by.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/utils.py
  narwhals/_expression_parsing.py
  narwhals/_ibis/dataframe.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/namespace.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/_sql/group_by.py
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/schema.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import

expose backend, eagerallowed, lazyallowed
  docs/api-reference/typing.md
  narwhals/_typing.py
  narwhals/typing.py
Due: imports-are-banned, self-self

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
