Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

chore: introduce Expr._with_unary / _expr_with_n_ary_op (#3021)
  narwhals/_expression_parsing.py
  narwhals/expr.py
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

feat: add `DataFrame.top_k` and `LazyFrame.top_k` (#2977)
  docs/api-reference/dataframe.md
  docs/api-reference/lazyframe.md
  narwhals/_arrow/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
  tests/frame/top_k_test.py
Due: imports-are-banned, self-self, dtypes-import

make `validate` support functions private
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

rollback dask mode in grouped context
  narwhals/_dask/group_by.py
  tests/expr_and_series/mode_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Allow `mode(..., keep="any")` (#3019)
  docs/api-reference/typing.md
  narwhals/_arrow/series.py
  narwhals/_compliant/column.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/typing.py
  narwhals/_dask/expr.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_sql/expr.py
  narwhals/expr.py
  narwhals/series.py
  narwhals/typing.py
  tests/expr_and_series/mode_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

merge main, type ignore
  narwhals/testing/asserts/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Pass `()` to `infer` to be more explicit
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

docs: Remove *Returns* from `Expr` version
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

refactor: light shrinking
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/utils.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

enh: add DataFrame.is_nan and LazyFrame.is_nan
  docs/api-reference/dataframe.md
  docs/api-reference/lazyframe.md
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/column.py
  narwhals/_compliant/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/series.py
  narwhals/_spark_like/dataframe.py
  narwhals/dataframe.py
  tests/frame/is_nan_test.py
Due: imports-are-banned, self-self, dtypes-import

add note about pandas
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

docs: Ensure `BaseFrame.implementation` shows in api ref
  docs/api-reference/dataframe.md
  docs/api-reference/lazyframe.md
Due: none

fixup
  narwhals/_compliant/column.py
Due: imports-are-banned, self-self, dtypes-import

oh yeah, dask
  narwhals/_dask/dataframe.py
  tests/frame/fill_nan_test.py
Due: imports-are-banned, self-self, dtypes-import

old pandas compat
  narwhals/_pandas_like/dataframe.py
  tests/frame/fill_nan_test.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): `ibis`, `dask` work!!!
  narwhals/_utils.py
  tests/implementation_test.py
Due: imports-are-banned, self-self

cross-pandas compat
  narwhals/_pandas_like/dataframe.py
  tests/frame/fill_nan_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: .lazy into spark-like backends
  docs/api-reference/expr.md
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_typing.py
  narwhals/_utils.py
  narwhals/dataframe.py
  narwhals/schema.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/frame/lazy_test.py
Due: imports-are-banned, self-self, dtypes-import

pandas/dask compat
  narwhals/_dask/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Unbreak `modin`
  narwhals/_namespace.py
  narwhals/_pandas_like/utils.py
  narwhals/_utils.py
  tests/implementation_test.py
Due: imports-are-banned, self-self, dtypes-import

oh yeah, modin
  tests/frame/fill_nan_test.py
Due: none

docstrings
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

simplify: remove schema conversion and let spark handle it
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/schema.py
Due: imports-are-banned, self-self, dtypes-import

simplify test
  tests/frame/lazy_test.py
Due: none

pragma no cover test branches
  narwhals/_arrow/dataframe.py
  tests/frame/lazy_test.py
Due: imports-are-banned, self-self, dtypes-import

factor out from_compliant_dataframe
  narwhals/_arrow/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test(typing): Check `mpd.Series` too
  tests/implementation_test.py
Due: none

typo
  tests/implementation_test.py
Due: none

fix `mpd.Series`
  narwhals/_namespace.py
  tests/implementation_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Add overload for pyspark
  narwhals/_utils.py
Due: imports-are-banned, self-self

simplify, add notes
  narwhals/_utils.py
Due: imports-are-banned, self-self

factor out spark-like session creation
  tests/conftest.py
  tests/dtypes_test.py
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
  tests/read_scan_test.py
  tests/translate/from_native_test.py
  tests/utils.py
Due: none

test: Simplify `read_scan_test`, spark session (#3024)
  tests/conftest.py
  tests/dtypes_test.py
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
  tests/read_scan_test.py
  tests/translate/from_native_test.py
  tests/utils.py
Due: none

simplify and 'session: Any' at top level
  narwhals/dataframe.py
  tests/frame/lazy_test.py
Due: imports-are-banned, self-self, dtypes-import

align signatures
  docs/api-reference/dataframe.md
  docs/api-reference/expr.md
  docs/api-reference/lazyframe.md
  docs/api-reference/series.md
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_compliant/column.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/series.py
  narwhals/_spark_like/dataframe.py
  narwhals/_sql/expr.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/fill_nan_test.py
  tests/frame/fill_nan_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup vibe-coded mistakes
  narwhals/_sql/expr.py
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

:art:, simplify
  narwhals/_dask/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

not worth making a function for two lines...
  narwhals/_dask/expr.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

coverage
  tests/expr_and_series/fill_nan_test.py
Due: none
