Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

feat(typing): Add `PythonLiteral` aliases
  narwhals/typing.py
Due: imports-are-banned, mypy

fix(typing): Add `CompliantExpr.clip`
  narwhals/_compliant/expr.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Update `LazyExpr.clip` annotations
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Add `PolarsExpr.clip`
  narwhals/_polars/expr.py
Due: imports-are-banned, dtypes-import, mypy

concat
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/translate.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Update `CompliantSeries.clip` and friends
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): Update `(Expr|Series).clip` annotations
  narwhals/expr.py
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Use `NonNestedLiteral` in `CompliantNamespace.lit`
  narwhals/_arrow/namespace.py
  narwhals/_compliant/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

refactor(typing): Update `nw.lit` annotation
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import, mypy

test(typing): Ignore on invalid cases
  tests/expr_and_series/lit_test.py
Due: mypy

chore(DRAFT): Ignore valid `None` cases?
  tests/expr_and_series/sum_horizontal_test.py
  tests/frame/collect_test.py
Due: mypy

fix(typing): Or just add `None` to the alias
  narwhals/typing.py
  tests/expr_and_series/sum_horizontal_test.py
  tests/frame/collect_test.py
Due: imports-are-banned, mypy

ensure pip is installed where it is directly invoked
  noxfile.py
Due: none

chore(typing): Use `NonNestedLiteral` in `when_then`
  narwhals/_arrow/namespace.py
  narwhals/_compliant/when_then.py
  narwhals/_pandas_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

Use fallback if typing_extensions doesn't contain TypeVar
  narwhals/_translate.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): Use `NonNestedLiteral` in `then(...)`, `otherwise(...)`
  narwhals/_expression_parsing.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, dtypes-import, mypy

refactor: fix coverage
  narwhals/_arrow/series_dt.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix: Dont wrap unconditionally
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Use version tuple, move into more visible scope
  narwhals/_translate.py
Due: imports-are-banned, dtypes-import, mypy

fix: Check `typing_extensions.TypeVar(default)` exists (#2361)
  narwhals/_translate.py
Due: imports-are-banned, dtypes-import, mypy

seems to work
  narwhals/_dask/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/namespace.py
  narwhals/translate.py
  tests/preserve_pandas_like_columns_name_attr_test.py
Due: imports-are-banned, dtypes-import, mypy

copy=False
  narwhals/_dask/dataframe.py
  narwhals/_pandas_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

enum types to pass tests
  narwhals/_dask/utils.py
  narwhals/_pandas_like/utils.py
  narwhals/stable/v1/_dtypes.py
  tests/dtypes_test.py
  tests/series_only/cast_test.py
Due: imports-are-banned, dtypes-import, mypy

fix: pyright warning on incorrect line for Enum
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

ok pandas 3
  narwhals/_dask/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import, mypy

release: Bump version to 1.34.1
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

release: Bump version to 1.34.1 (#2365)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

ci: Run PySpark selectively
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  tests/conftest.py
Due: pull-request-target, mypy

pragma no cover for --all-cpu-constructors flag
  tests/conftest.py
Due: mypy

run py3.10 instead of 3.12 for pyspark
  .github/workflows/pytest-pyspark.yml
Due: pull-request-target

fix(typing): Also accept `_1DArray`
  narwhals/_expression_parsing.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  tests/expr_and_series/when_test.py
Due: imports-are-banned, dtypes-import, mypy

fix: Remove more double `lit`
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Include native scalar in `rhs`, remove redundant `None`
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import, mypy

do not HACK non-pandas codepath
  tests/frame/join_test.py
Due: mypy

mypy
  tests/frame/join_test.py
Due: mypy

else makes it covered
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

test(typing): Fix redefinition
  tests/dtypes_test.py
  tests/series_only/cast_test.py
Due: mypy

ci: Run PySpark selectively (#2366)
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  tests/conftest.py
Due: pull-request-target, mypy

test: Add `test_enum_v1_is_enum_unstable`
  tests/dtypes_test.py
Due: mypy

feat(typing): Add `polars` literal aliases (#2352)
  docs/api-reference/typing.md
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_compliant/dataframe.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/namespace.py
  narwhals/_compliant/series.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/functions.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/typing.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
