Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: make typing
  language: system
  require_serial: true
  pass_filenames: false

add to local devl
  pyproject.toml
Due: none

feat: Add `InvertSelector`
  narwhals/_plan/dummy.py
  narwhals/_plan/expr.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import, mypy

typing
  narwhals/_daft/group_by.py
Due: imports-are-banned, self-self, dtypes-import, mypy

get it running again
  narwhals/utils.py
Due: imports-are-banned, self-self, mypy

feat(typing): Add selectors `@overload`s
  narwhals/_plan/dummy.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Implement rhs selector ops, add `selectors.by_name`
  narwhals/_plan/common.py
  narwhals/_plan/dummy.py
  narwhals/_plan/selectors.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat: Ban multi-output expressions from `Alias`
  narwhals/_plan/exceptions.py
  narwhals/_plan/expr.py
  tests/plan/expr_parsing_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

feat(DRAFT): Start working on `expr_expansion`
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import, mypy

ci: Unpin modin
  .github/workflows/pytest.yml
Due: pull-request-target

good news
  tests/expr_and_series/cum_sum_test.py
  tests/expr_and_series/over_test.py
  tests/series_only/cast_test.py
  tests/series_only/scatter_test.py
Due: mypy

ci: Unpin modin (#2625)
  .github/workflows/pytest.yml
  tests/expr_and_series/cum_sum_test.py
  tests/expr_and_series/over_test.py
  tests/series_only/cast_test.py
  tests/series_only/scatter_test.py
Due: pull-request-target, mypy

chore(typing): Add `Namespace.from_backend` fallback overload (#2622)
  narwhals/_namespace.py
  tests/namespace_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

start stubbing out `expr_expansion`
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Simplify pandas-like calculate_timestamp_datetime
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: Simplify stable.v1 `_stableify`
  narwhals/dataframe.py
  narwhals/dependencies.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import, mypy

docs: update example of `Series` constructor
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fixup
  narwhals/stable/v1/__init__.py
  narwhals/stable/v1/typing.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import, mypy

remove --pre for tpch tests
  .github/workflows/check_tpch_queries.yml
Due: pull-request-target

stabel api
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, mypy

chore: remove unnecessary _stableify
  narwhals/stable/v1/__init__.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import, mypy

chore: remove unnecessary `concat` in stable.v
  narwhals/stable/v1/__init__.py
  tests/v1_test.py
Due: imports-are-banned, self-self, mypy

docs: update example of `Series` constructor (#2628)
  .github/workflows/check_tpch_queries.yml
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target, mypy

Add tests for div by zero
  tests/expr_and_series/arithmetic_test.py
Due: mypy

remove `ensure_type` from duckdb rolling ops
  narwhals/_duckdb/expr.py
Due: imports-are-banned, self-self, dtypes-import, mypy

type checking
  tests/v1_test.py
Due: mypy

remove `ensure_type` from duckdb `shift` expression
  narwhals/_duckdb/expr.py
  narwhals/expr.py
  narwhals/series.py
  tests/expr_and_series/shift_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

remove narwhals._duckdb.utils:ensure_type
  narwhals/_duckdb/utils.py
Due: imports-are-banned, self-self, dtypes-import, mypy

pin geopandas
  .github/workflows/downstream_tests.yml
Due: pull-request-target

pin mypy
  .github/workflows/downstream_tests.yml
Due: pull-request-target

simplify
  narwhals/_interchange/dataframe.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import, mypy

update typing
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, mypy

:fire: dead code
  narwhals/_interchange/dataframe.py
Due: imports-are-banned, self-self, dtypes-import, mypy

debug assertions, extra `_stableify`, fewer type ignores
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self, mypy

fixup from_native tests
  tests/translate/from_native_test.py
Due: mypy

cover lazyframe.tail
  tests/v1_test.py
Due: mypy

chore: Simplify `is_ordered_categorical` (#2618)
  narwhals/utils.py
  tests/series_only/is_ordered_categorical_test.py
Due: imports-are-banned, self-self, mypy

fix utils:_validate_rolling_arguments type check ordering
  narwhals/utils.py
  tests/expr_and_series/rolling_sum_test.py
Due: imports-are-banned, self-self, mypy

docs: Explain where `expr_expansion` fits in
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import, mypy

fix(typing): Use a private module 🤯
  narwhals/_dependencies.py
  narwhals/dependencies.py
  narwhals/utils.py
  tests/dependencies/imports_test.py
Due: imports-are-banned, self-self, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: \.py$
