Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

updated with test plugin install
  CONTRIBUTING.md
Due: none

making _compliant selectors available in compliant
  narwhals/compliant.py
Due: imports-are-banned, self-self, dtypes-import

Update narwhals/_spark_like/expr_list.py
  narwhals/_spark_like/expr_list.py
Due: imports-are-banned, self-self, dtypes-import

remove a minimum 3.10 python version
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

remove xfail from tests
  tests/expr_and_series/list/median_test.py
Due: none

perf: Drop list columns before `take`
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

mark unstable and raise warning in stable namespaces
  narwhals/expr.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/expr_and_series/any_value_test.py
  tests/v1_test.py
  tests/v2_test.py
Due: imports-are-banned, self-self, dtypes-import

fill/fix typing holes
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/typing.py
Due: imports-are-banned, self-self, dtypes-import

test: Shrink cases for `test_explode_frame_options`
  tests/plan/explode_test.py
Due: none

refactor: Clean up and docs
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `{DataFrame,Series}.explode(empty_as_nulls, keep_nulls)` (#3347)
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/exceptions.py
  narwhals/_plan/options.py
  narwhals/_plan/series.py
  tests/plan/explode_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Cover `DataFrame.to_struct`
  narwhals/_plan/dataframe.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

remove outdated comments
  tests/plan/all_any_horizontal_test.py
  tests/plan/rolling_expr_test.py
Due: none

skip 2D array test
  tests/dtypes_test.py
Due: none

refactor: Move `Series.hist` impl -> `CompliantSeries.hist`
  narwhals/_plan/compliant/series.py
  narwhals/_plan/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Align type param positions between `Expr`, `Series` accessors
  narwhals/_plan/arrow/series.py
  narwhals/_plan/compliant/accessors.py
  narwhals/_plan/compliant/series.py
Due: imports-are-banned, self-self, dtypes-import

Unskip test_expr_sample
  tests/v1_test.py
Due: none

docs(typing): Highlight and explain cycling dependency issue
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/series.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import

tests: cov `Series.cast`
  narwhals/_plan/series.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

Mark pivot test as xfail
  tests/modern_polars/pivot_test.py
Due: none

test: A whole bunch of `str.*` method coverage
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/expressions/strings.py
  tests/plan/str_contains_test.py
  tests/plan/str_split_test.py
  tests/plan/str_starts_ends_with_test.py
  tests/plan/str_strip_chars_test.py
  tests/plan/str_transform_case_test.py
Due: imports-are-banned, self-self, dtypes-import

Make concat vertical xfail.
  tests/frame/concat_test.py
Due: none

Add reqeust to tests that need to xfail.
  tests/frame/concat_test.py
  tests/joblib_test.py
Due: none

took out extra selectors
  narwhals/compliant.py
Due: imports-are-banned, self-self, dtypes-import

added to the detailed section
  CONTRIBUTING.md
Due: none

edited detailed instructions
  CONTRIBUTING.md
Due: none

fix: Actually support `Sequence` in `Series.gather`
  narwhals/_plan/series.py
  tests/plan/compliant_test.py
  tests/plan/gather_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Expose `linear_space`
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/expressions/ranges.py
  narwhals/_plan/functions.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `range_test.py`
  tests/plan/compliant_test.py
  tests/plan/expr_parsing_test.py
  tests/plan/range_test.py
Due: none

test: Make those tests a little less bad
  tests/plan/range_test.py
Due: none

test: Port `test_linear_space_values` from `polars`
  narwhals/_plan/__init__.py
  narwhals/_plan/series.py
  tests/plan/range_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: is_ordered_categorical doctest
  narwhals/_utils.py
Due: imports-are-banned, self-self

fix: `is_ordered_categorical` doctest (#3348)
  narwhals/_utils.py
Due: imports-are-banned, self-self

test: Port 3 other `linear_space` tests
  tests/plan/range_test.py
  tests/plan/utils.py
Due: none

docs: Defer supertyping for now
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/functions.py
  tests/plan/range_test.py
Due: imports-are-banned, self-self, dtypes-import

Unskip test_slice_both_tuple
  tests/frame/getitem_test.py
Due: none

Revert debug code failing test
  narwhals/_pandas_like/namespace.py
  tests/expr_and_series/horizontal_broadcasts_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Adapt the `polars` version instead of `numpy`
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

docs: Make it pretty-ish
  narwhals/_plan/expr.py
  narwhals/_plan/functions.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `linear_space` (#3349)
  narwhals/_plan/__init__.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/ranges.py
  narwhals/_plan/functions.py
  narwhals/_plan/series.py
  tests/plan/compliant_test.py
  tests/plan/expr_parsing_test.py
  tests/plan/range_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import
