Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

typing support
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

prefer type(native) over native.__class__ for class constructor
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_dt.py
Due: imports-are-banned, self-self, dtypes-import

ci: Fail polars 0.20.6 as well
  tests/expr_and_series/division_by_zero_test.py
Due: none

ci: Fail polars 0.20.6 in floordiv by zero (#2758)
  tests/expr_and_series/division_by_zero_test.py
Due: none

test: Suppress `NotImplementedError` for `cudf`
  tests/get_dtype_backend_test.py
Due: none

test: Suppress `NotImplementedError` for `cuDF` (#2760)
  tests/get_dtype_backend_test.py
Due: none

chore: Add pandas-like `import_array_module` util function (#2757)
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_dt.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

pandas looks much better now, except for typing
  narwhals/_pandas_like/series.py
  tests/expr_and_series/division_by_zero_test.py
Due: imports-are-banned, self-self, dtypes-import

'typing' pandas-like, adding comment
  narwhals/_dask/expr.py
  narwhals/_pandas_like/series.py
  tests/stable_v1_dependencies_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Upgrade `DuckDBExpr.first` again
  narwhals/_duckdb/expr.py
Due: imports-are-banned, self-self, dtypes-import

simplify spark-like
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

spark true_divide readability
  narwhals/_spark_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix dask case
  narwhals/_dask/expr.py
  tests/expr_and_series/division_by_zero_test.py
Due: imports-are-banned, self-self, dtypes-import

fix ibis and duckdb
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  tests/expr_and_series/division_by_zero_test.py
Due: imports-are-banned, self-self, dtypes-import

right tests, fix lazy for rfloordiv
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  tests/expr_and_series/division_by_zero_test.py
Due: imports-are-banned, self-self, dtypes-import

pandas-like rfloordiv
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

fix typing in test file
  tests/expr_and_series/division_by_zero_test.py
Due: none

some polars bugs?
  tests/expr_and_series/division_by_zero_test.py
Due: none

add new bokeh tests
  .github/workflows/downstream_tests_slow.yml
Due: pull-request-target

docs: Remove outdated doc
  narwhals/_utils.py
Due: imports-are-banned, self-self

perf: Cache `Implementation._backend_version`
  narwhals/_utils.py
Due: imports-are-banned, self-self

perf: Remove `validate_backend_version`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/series.py
  narwhals/_spark_like/dataframe.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

test: Update `test_to_native_namespace_min_version`
  tests/dependencies/imports_test.py
Due: none

ensure using the new changes
  .github/workflows/downstream_tests_slow.yml
Due: pull-request-target

refactor: Port over `EagerDataFrame`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Port over `EagerSeries`
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Port `Eager(Expr|Then)`, `(Arrow|Pandas)Selector`
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/selectors.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/selectors.py
  narwhals/_compliant/when_then.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/selectors.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Port `EagerNamespace`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/expr.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_compliant/namespace.py
  narwhals/_namespace.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Port `EagerSeriesNamespace`
  narwhals/_arrow/series_str.py
  narwhals/_arrow/utils.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: No more `backend_version` eager utils!
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_dask/utils.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/series_list.py
  narwhals/_pandas_like/utils.py
  narwhals/_utils.py
  narwhals/schema.py
Due: imports-are-banned, self-self, dtypes-import

test: xfail polars lazy on GPU
  tests/expr_and_series/division_by_zero_test.py
Due: none

docs: Fix `how_it_works.md`
  docs/how_it_works.md
Due: none

revert: Remove unused `EagerSeries._validate_backend_version`
  narwhals/_compliant/series.py
Due: imports-are-banned, self-self, dtypes-import

ci: fix pandas cov
  pyproject.toml
Due: none

fix cov pattern
  pyproject.toml
Due: none

chore: Move _reuse_series to complaint level as much as possible
  narwhals/_arrow/expr.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/typing.py
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

test: xfail floordiv polars on GPU engine (#2763)
  tests/expr_and_series/division_by_zero_test.py
Due: none

ci: use different cache_suffixes for different jobs
  .github/workflows/downstream_tests.yml
  .github/workflows/extremes.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
  .github/workflows/typing.yml
Due: pull-request-target

pin sqlglot
  .github/workflows/downstream_tests.yml
Due: pull-request-target
