Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

fixup
  .github/workflows/downstream_tests.yml
Due: pull-request-target

use --no-sync for pointblank
  .github/workflows/downstream_tests.yml
Due: pull-request-target

ci: pin sqlglot, use different cache_suffixes for different jobs (#2767)
  .github/workflows/downstream_tests.yml
  .github/workflows/extremes.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
  .github/workflows/typing.yml
Due: pull-request-target

release: Bump version to 1.45.0
  pyproject.toml
Due: none

release: Bump version to 1.45.0 (#2769)
  pyproject.toml
Due: none

refactor: Port `LazyExpr` + friends
  narwhals/_compliant/expr.py
  narwhals/_compliant/selectors.py
  narwhals/_compliant/when_then.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_dask/selectors.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/selectors.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/namespace.py
  narwhals/_ibis/selectors.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/selectors.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Port `PolarsExpr`, `CompliantExpr`
  narwhals/_arrow/expr.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Port `PolarsSeries`, `_polars.utils`
  narwhals/_arrow/series.py
  narwhals/_compliant/expr.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
  narwhals/schema.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Port `_dask.utils`
  narwhals/_dask/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Port `CompliantNamespace` + friends
  narwhals/_compliant/namespace.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/dataframe.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/namespace.py
  narwhals/_namespace.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Port `Compliant(Data|Lazy)Frame` + friends
  narwhals/_arrow/dataframe.py
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/group_by.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/dataframe.py
  narwhals/_spark_like/namespace.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `_validate_backend_version` into a protocol
  narwhals/_compliant/dataframe.py
  narwhals/_dask/dataframe.py
  narwhals/_duckdb/dataframe.py
  narwhals/_ibis/dataframe.py
  narwhals/_spark_like/dataframe.py
  narwhals/_utils.py
Due: imports-are-banned, self-self, dtypes-import

chore: `polars` cov
  narwhals/_polars/dataframe.py
  narwhals/_polars/namespace.py
Due: imports-are-banned, self-self, dtypes-import

feat: Support `ibis` in `.lazy()`?
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  narwhals/dataframe.py
  tests/frame/lazy_test.py
Due: imports-are-banned, self-self, dtypes-import

test: `from_arrow` coverage
  tests/frame/arrow_c_stream_test.py
Due: none

ignore spark cov
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

chore: `get_dask` coverage
  narwhals/dependencies.py
Due: self-self, dtypes-import

fix imports and `import_check`
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
  utils/import_check.py
Due: imports-are-banned, self-self, dtypes-import

ci(ruff): Autofix `"utf-8"` encoding for windows
  pyproject.toml
  utils/check_api_reference.py
  utils/check_docstrings.py
  utils/check_for_no_build_errors.py
  utils/generate_random_versions.py
  utils/import_check.py
Due: none

revert: just ignore `dask` cov
  narwhals/dependencies.py
Due: self-self, dtypes-import

test: Add failing test
  tests/frame/lazy_test.py
Due: none

update doc
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

update runtime check
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat: Support `DataFrame().lazy("ibis")`
  narwhals/_arrow/dataframe.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_polars/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Cleaning up
  narwhals/_arrow/namespace.py
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/namespace.py
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Replace more `parse_version`
  narwhals/_ibis/dataframe.py
  narwhals/_spark_like/expr.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/series.py
Due: imports-are-banned, self-self, dtypes-import

ci(ruff): Autofix `"utf-8"` encoding for windows (#2770)
  pyproject.toml
  utils/check_api_reference.py
  utils/check_docstrings.py
  utils/check_for_no_build_errors.py
  utils/generate_random_versions.py
  utils/import_check.py
Due: none

refactor: Export `WindowInputs`
  narwhals/_compliant/__init__.py
  narwhals/_compliant/window.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Export `DepthTrackingNamespace`
  narwhals/_compliant/__init__.py
  narwhals/_compliant/namespace.py
  narwhals/_dask/namespace.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Update `series`, avoid reimpl `EagerSeriesNamespace`
  narwhals/_arrow/utils.py
  narwhals/_compliant/__init__.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Export `DepthTrackingExpr`
  narwhals/_compliant/__init__.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Export `LazyExprNamespace`
  narwhals/_compliant/__init__.py
  narwhals/_dask/expr_dt.py
  narwhals/_dask/expr_str.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/expr_struct.py
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/expr_list.py
  narwhals/_ibis/expr_str.py
  narwhals/_ibis/expr_struct.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_list.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move, document `NarwhalsAggregation`
  narwhals/_arrow/group_by.py
  narwhals/_compliant/group_by.py
  narwhals/_compliant/typing.py
  narwhals/_dask/group_by.py
  narwhals/_pandas_like/group_by.py
Due: imports-are-banned, self-self, dtypes-import

feat: `FrozenSchema` repr#
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Split out `FrozenSchema`
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/expr_rewrites.py
  narwhals/_plan/schema.py
  tests/plan/expr_expansion_test.py
Due: imports-are-banned, self-self, dtypes-import

keep ScalarKwargs as is for now
  narwhals/_compliant/expr.py
  narwhals/_compliant/typing.py
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

whops forgot to remove half_life
  narwhals/_compliant/typing.py
Due: imports-are-banned, self-self

planning schema projection
  narwhals/_plan/contexts.py
  narwhals/_plan/schema.py
Due: imports-are-banned, self-self, dtypes-import
