Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.8.6'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
    - id: ruff
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.14.1'
  hooks:
    - id: mypy
      additional_dependencies: ['polars==1.4.1', 'pytest==8.3.2']
      files: ^(narwhals|tests)/
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.3.0'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.1.1'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

fix: remove using cast in `Expr.dt` in `PySpark`
  narwhals/_spark_like/expr_dt.py
Due: imports-are-banned, dtypes-import

another try
  narwhals/_duckdb/group_by.py
Due: imports-are-banned, dtypes-import

dask fix?
  narwhals/_dask/namespace.py
Due: imports-are-banned, dtypes-import

feat: add `Expr.dt` methods to `PySpark` (#1835)
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  tests/expr_and_series/dt/datetime_attributes_test.py
Due: imports-are-banned, dtypes-import

fix: when/then/otherwise output name was not consistent across backends (#1833)
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/utils.py
  tests/expr_and_series/when_test.py
Due: imports-are-banned, dtypes-import

undo changes in test as weve decoupled pandas from pyspark constructor
  tests/expr_and_series/dt/datetime_attributes_test.py
Due: none

feat: Deprecate Expr.arg_true (but keep Series.arg_true, and keep both available in stable.v1) (#1827)
  narwhals/expr.py
  narwhals/stable/v1/__init__.py
  tests/expr_and_series/arg_true_test.py
Due: imports-are-banned, dtypes-import

unxfail
  tests/expr_and_series/all_horizontal_test.py
  tests/expr_and_series/nth_test.py
Due: none

chore: rename time zone tests (#1830)
  narwhals/_spark_like/expr_dt.py
  tests/expr_and_series/dt/convert_time_zone_test.py
  tests/expr_and_series/dt/replace_time_zone_test.py
Due: imports-are-banned, dtypes-import

fixp
  tests/expr_and_series/dt/datetime_attributes_test.py
  tests/expr_and_series/sum_horizontal_test.py
Due: none

preserve nulls in pyspark is_finite
  narwhals/_spark_like/expr.py
  tests/expr_and_series/is_finite_test.py
Due: imports-are-banned, dtypes-import

fallback to String
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import

feat: add `is_nan` and `is_finite` for duckdb, `is_nan` for pyspark (#1825)
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
  tests/expr_and_series/is_finite_test.py
  tests/expr_and_series/is_nan_test.py
Due: imports-are-banned, dtypes-import

it passes :)
  tests/expr_and_series/dt/datetime_attributes_test.py
Due: none

force pytest to run with utc
  pyproject.toml
Due: none

remove xfail, update backcompat
  docs/backcompat.md
  tests/expr_and_series/dt/datetime_attributes_test.py
Due: none

expr.sort too
  docs/backcompat.md
Due: none

feat: remove `eager_or_interchange` from `from_native` in main namespace, switch Ibis' support from interchange to lazy in main namespace (but preserve status-quo in stable.v1) (#1829)
  docs/backcompat.md
  narwhals/_ibis/dataframe.py
  narwhals/_pandas_like/utils.py
  narwhals/translate.py
  pyproject.toml
  tests/expr_and_series/dt/datetime_attributes_test.py
  tests/frame/join_test.py
  tests/ibis_test.py
  tests/stable_api_test.py
  tests/translate/from_native_test.py
Due: imports-are-banned, dtypes-import

Update pyproject.toml
  pyproject.toml
Due: none

feat: support pyarrow types in cudf.pandas
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import

feat: add DuckDB: nw.nth, nw.sum_horizontal, nw.concat_str, group_by with drop_null_keys (#1832)
  narwhals/_arrow/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/group_by.py
  narwhals/_duckdb/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  tests/expr_and_series/all_horizontal_test.py
  tests/expr_and_series/concat_str_test.py
  tests/expr_and_series/nth_test.py
  tests/expr_and_series/sum_horizontal_test.py
  tests/frame/filter_test.py
  tests/group_by_test.py
Due: imports-are-banned, dtypes-import

nonetype catch
  tests/utils.py
Due: none

cov
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import

test: fixup test suite for cudf.pandas (#1837)
  narwhals/_pandas_like/utils.py
  tests/utils.py
Due: imports-are-banned, dtypes-import

simplify
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import

fixup
  narwhals/stable/v1/__init__.py
  tests/frame/filter_test.py
Due: imports-are-banned

simplify
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import

simplify
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/utils.py
  tests/no_imports_test.py
Due: imports-are-banned, dtypes-import

simplify arrow imports
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/group_by.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_arrow/series_cat.py
  narwhals/_arrow/series_dt.py
  narwhals/_arrow/series_list.py
  narwhals/_arrow/utils.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import

simplify arrow imports
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/group_by.py
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_arrow/series_dt.py
  narwhals/_arrow/series_str.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, dtypes-import

simplify polars imports
  narwhals/_polars/dataframe.py
  narwhals/_polars/expr.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
  tests/no_imports_test.py
Due: imports-are-banned, dtypes-import

simplify dask imports
  narwhals/_dask/dataframe.py
  narwhals/_dask/expr_str.py
  narwhals/_dask/group_by.py
  narwhals/_dask/namespace.py
Due: imports-are-banned, dtypes-import

simplify dask imports
  narwhals/_dask/dataframe.py
  narwhals/_dask/namespace.py
Due: imports-are-banned, dtypes-import

simplify pyspark imports
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/group_by.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/utils.py
Due: imports-are-banned, dtypes-import

fix
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, dtypes-import

pyspark simplification
  narwhals/_spark_like/expr.py
Due: imports-are-banned, dtypes-import

actually fix
  tests/frame/filter_test.py
Due: none

fix doctest modules
  .github/workflows/pytest.yml
Due: pull-request-target
