Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

chore: share std and var between sql backends
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

share any/all for ibis
  narwhals/_ibis/expr.py
  narwhals/_ibis/utils.py
Due: imports-are-banned, self-self, dtypes-import

no any return
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add a concrete impl for `cs.by_name`
  narwhals/_plan/expressions/selectors.py
  tests/plan/over_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Share std and var implementations for sql backends (#3229)
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/utils.py
  narwhals/_spark_like/expr.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore: share `truncate` for sql-like, raise for Ibis is multiple!=1
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/utils.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_sql/_duration.py
  narwhals/_sql/expr_dt.py
  tests/expr_and_series/dt/truncate_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Add `meta.as_selector`, `parse_into_selector_ir`
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_guards.py
  narwhals/_plan/_parse.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/expressions/selectors.py
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import

ci: Add Fairlearn to downstream tests and ecosystem page (#3228)
  .github/workflows/downstream_tests.yml
  README.md
  docs/ecosystem.md
Due: pull-request-target

share for ibis too#
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/namespace.py
  narwhals/_ibis/utils.py
  narwhals/_spark_like/namespace.py
  narwhals/_sql/_duration.py
  narwhals/_sql/expr_dt.py
  narwhals/_sql/namespace.py
Due: imports-are-banned, self-self, dtypes-import

:label:#
  narwhals/_ibis/utils.py
Due: imports-are-banned, self-self, dtypes-import

more `partition_by` prep
  narwhals/_plan/_expansion.py
  narwhals/_plan/_guards.py
  narwhals/_plan/_parse.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Implement `ArrowDataFrame.partition_by`
  narwhals/_plan/arrow/dataframe.py
  tests/plan/frame_partition_by_test.py
Due: imports-are-banned, self-self, dtypes-import

test: Add `test_partition_by_multiple`
  tests/plan/frame_partition_by_test.py
Due: none

test: Include `None` in partitions
  tests/plan/frame_partition_by_test.py
Due: none

perf: Add an optimized path for single-column `partition_by`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Re-use `partition_by` in `ArrowGroupBy.__iter__`
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move `partition_by` impl to `group_by.py`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Rename `concat_str` -> `_composite_key` and lightly doc
  narwhals/_plan/arrow/group_by.py
Due: imports-are-banned, self-self, dtypes-import

test: Add some more targets for `polars`-parity
  tests/plan/frame_partition_by_test.py
Due: none

fix: raise on empty `by`
  narwhals/_plan/compliant/group_by.py
  narwhals/_plan/dataframe.py
  narwhals/_plan/exceptions.py
  tests/plan/frame_partition_by_test.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Add acero `union` wrapper
  narwhals/_plan/arrow/acero.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Split up selectors
  narwhals/_plan/__init__.py
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_guards.py
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/selectors.py
  narwhals/_plan/meta.py
  narwhals/_plan/selectors.py
  narwhals/_plan/typing.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Separate `DTypeSelector`
  narwhals/_plan/expressions/selectors.py
Due: imports-are-banned, self-self, dtypes-import

oops missed one!
  narwhals/_plan/expressions/selectors.py
Due: imports-are-banned, self-self, dtypes-import

feat(DRAFT): Re/implement `By{Index,Name}`, `into_columns`
  narwhals/_plan/expressions/selectors.py
  narwhals/_plan/selectors.py
Due: imports-are-banned, self-self, dtypes-import

chore: More planning
  narwhals/_plan/expr.py
  narwhals/_plan/expressions/expr.py
  narwhals/_plan/functions.py
  narwhals/_plan/selectors.py
Due: imports-are-banned, self-self, dtypes-import

Remove bodo skip for tests that now work.
  tests/expr_and_series/len_test.py
  tests/expr_and_series/std_test.py
Due: none

ci: Test fairlearn using pytest marker
  .github/workflows/downstream_tests.yml
Due: pull-request-target

use uv run
  .github/workflows/downstream_tests.yml
Due: pull-request-target

test: Start porting some upstream tests
  tests/plan/selectors_test.py
Due: none

test: Restructure tests
  tests/plan/selectors_test.py
Due: none

test: Port `by_index` tests
  tests/plan/selectors_test.py
Due: none

test(DRAFT): Add placeholders for everything that looks interesting
  tests/plan/selectors_test.py
Due: none

test: Port port port
  tests/plan/selectors_test.py
Due: none

test: 4x more
  tests/plan/selectors_test.py
Due: none

test: Add `test_selector_result_order`
  tests/plan/selectors_test.py
Due: none

cov temp
  tests/plan/selectors_test.py
Due: none

test: oh nice, this already works!
  tests/plan/selectors_test.py
Due: none

test: More `by_name` tests
  tests/plan/selectors_test.py
Due: none

fix: Validate selectors inputs more
  narwhals/_plan/expressions/selectors.py
  narwhals/_plan/selectors.py
  tests/plan/selectors_test.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
