Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

feat: Add `LazyNamespace.from_native`
  narwhals/_compliant/__init__.py
  narwhals/_compliant/namespace.py
  narwhals/_dask/namespace.py
  narwhals/_duckdb/namespace.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, dtypes-import, mypy

fix: change rank ExprKind to transform (#2316)
  narwhals/_duckdb/expr.py
  narwhals/expr.py
  tests/expression_parsing_test.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Get some lazy coverage
  narwhals/translate.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: More `polars` coverage
  narwhals/_polars/namespace.py
  narwhals/translate.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

test: add test for shift->cum_sum
  tests/expr_and_series/cum_sum_test.py
Due: mypy

skip old polars
  tests/expr_and_series/cum_sum_test.py
Due: mypy

refactor: reuse `is_spark_like_dataframe`
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

test: add test for shift->cum_sum (#2317)
  tests/expr_and_series/cum_sum_test.py
Due: mypy

chore: use a bit less sql for duckdb
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

replace handwritten sql in drop_nulls
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

less sql in unpivot and dropnulls
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

make sure to always quote in join asof
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

join too
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Use `when` instead of `CaseExpression`
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

no trailing oops
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

added ordinal, max, average to duckdb.
  narwhals/_duckdb/expr.py
  tests/expr_and_series/rank_test.py
Due: imports-are-banned, dtypes-import, mypy

chore: use Python API more in DuckDB (#2318)
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Add `col` alias of `duckdb.ColumnExpression`
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Simplify `DuckDBNamespace.concat_str`
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Use `col` instead of `ColumnExpression`
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Apply `sort` suggestion
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

chore: Make `duckdb` quack more like `polars` (#2321)
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

chore: Add `_namespace.py`
  narwhals/_namespace.py
Due: imports-are-banned, dtypes-import, mypy

chore: Add more notes
  narwhals/_namespace.py
Due: imports-are-banned, dtypes-import, mypy

enum use implementation specific CategoricalDtype
  narwhals/_pandas_like/utils.py
  tests/series_only/cast_test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Add `CompliantNamespace`typing
  narwhals/_compliant/typing.py
Due: imports-are-banned, mypy

enum preserve v1 behavior
  narwhals/_pandas_like/utils.py
  narwhals/stable/v1/_dtypes.py
  tests/dtypes_test.py
Due: imports-are-banned, dtypes-import, mypy

feat(typing): Build up `IntoBackend` alias
  narwhals/_namespace.py
Due: imports-are-banned, dtypes-import, mypy

refactor: Add `Implementation._backend_version`
  narwhals/utils.py
Due: imports-are-banned, mypy

feat(DRAFT): Add `Namespace`
  narwhals/_namespace.py
Due: imports-are-banned, dtypes-import, mypy

ci: fixup cudf test failures, support rolling_std/rolling_var/rolling_mean for pandas in grouped context
  narwhals/_compliant/expr.py
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/rolling_std_test.py
  tests/expr_and_series/rolling_var_test.py
Due: imports-are-banned, dtypes-import, mypy

old versions fixup
  tests/expr_and_series/rolling_std_test.py
  tests/expr_and_series/rolling_var_test.py
Due: mypy

preserve v1 polars enum conversion
  narwhals/_polars/utils.py
Due: imports-are-banned, dtypes-import, mypy

ci: fixup cudf test failures, support rolling_std/rolling_var/rolling_mean for pandas in grouped context (#2322)
  narwhals/_compliant/expr.py
  narwhals/_pandas_like/expr.py
  tests/expr_and_series/rolling_std_test.py
  tests/expr_and_series/rolling_var_test.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): Use narrower `CompliantNamespaceAny` for `ModuleType`
  narwhals/_namespace.py
Due: imports-are-banned, dtypes-import, mypy

release: Bump version to 1.33.0
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

release: Bump version to 1.33.0 (#2323)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

feat: Add `Namespace.from_native_object`
  narwhals/_namespace.py
Due: imports-are-banned, dtypes-import, mypy

test: Add `test_namespace_from_backend_name`
  tests/namespace_test.py
Due: mypy

fix: `Implementation._backend_version` was wrong
  narwhals/utils.py
Due: imports-are-banned, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
