Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

refactor: Replace duplicated stable typing
  narwhals/stable/v1/typing.py
  narwhals/stable/v2/typing.py
Due: imports-are-banned, self-self

refactor: remove unused `TypeVar`
  narwhals/_namespace.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Deduplicate most `Into*` typing
  narwhals/_native.py
  narwhals/stable/v1/typing.py
  narwhals/stable/v2/typing.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import

cov
  narwhals/_native.py
Due: imports-are-banned, self-self, dtypes-import

refactor: okay but smaller
  narwhals/_native.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): `NativeIbis` is a `NativeFrame`
  narwhals/_native.py
Due: imports-are-banned, self-self, dtypes-import

docs(typing): wip module doc
  narwhals/_native.py
Due: imports-are-banned, self-self, dtypes-import

- more modern polars tests a. 2 methiod chaining tests b. 1 performance test
  tests/modern_polars/method_chaining_2_test.py
  tests/modern_polars/method_chaining_test.py
  tests/modern_polars/performance_test.py
Due: none

feat(suggestion): `<3.10` support?
  narwhals/_utils.py
  narwhals/translate.py
Due: imports-are-banned, self-self, dtypes-import

fix: don't expect plugins?
  narwhals/_utils.py
Due: imports-are-banned, self-self

chore(typing): Ignore unimplemented
  tests/test_plugin/test_plugin/dataframe.py
Due: none

chore: simplify all-scalar-like calculation in dataframe.select
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Shrink `expr_expansion`
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import

refactor: 4x -> 2x `prepare_excluded`
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Keep simping
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import

refactor: exclude wasn't used in both oops
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import

refactor: inline a one-liner
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove unused
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Move to meta, un-inline imports
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import

refactor: oooooh boy
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import

refactor: iterators all the way down
  narwhals/_plan/expr_expansion.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Shrink `expr_expansion` (#3089)
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import

docs: Cherry-pick some links
  narwhals/_native.py
Due: imports-are-banned, self-self, dtypes-import

chore: Rename `_typing.*Cudf*` aliases to `*CuDF*`
  narwhals/_typing.py
  narwhals/_utils.py
Due: imports-are-banned, self-self

refactor(expr-ir): Make use of long lines
  narwhals/_plan/common.py
  narwhals/_plan/expr_rewrites.py
  narwhals/_plan/operators.py
  narwhals/_plan/schema.py
  narwhals/_plan/selectors.py
  narwhals/_plan/when_then.py
Due: imports-are-banned, self-self, dtypes-import

refactor(perf): Shorten and short-circuit `meta`
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import

refactor: factor-in one-liner
  narwhals/_plan/meta.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Make use of long lines (#3091)
  narwhals/_plan/common.py
  narwhals/_plan/expr_rewrites.py
  narwhals/_plan/meta.py
  narwhals/_plan/operators.py
  narwhals/_plan/schema.py
  narwhals/_plan/selectors.py
  narwhals/_plan/when_then.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Add `_guards`.py`
  narwhals/_plan/_guards.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/common.py
  narwhals/_plan/demo.py
  narwhals/_plan/dummy.py
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/expr_parsing.py
  narwhals/_plan/expr_rewrites.py
  narwhals/_plan/literal.py
  narwhals/_plan/operators.py
  narwhals/_plan/when_then.py
  narwhals/_plan/window.py
  tests/plan/compliant_test.py
  tests/plan/expr_rewrites_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

Warning applied when converting time-units for pre-v2 pandas
  narwhals/_pandas_like/utils.py
  narwhals/dtypes.py
  narwhals/stable/v1/_dtypes.py
  pyproject.toml
  tests/expr_and_series/dt/timestamp_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor: combine imports
  narwhals/_plan/demo.py
Due: imports-are-banned, self-self, dtypes-import

changed to mkdocs admonition
  docs/concepts/null_handling.md
Due: none

refactor(expr-ir): Add `_guards.py` (#3092)
  narwhals/_plan/_guards.py
  narwhals/_plan/arrow/namespace.py
  narwhals/_plan/common.py
  narwhals/_plan/demo.py
  narwhals/_plan/dummy.py
  narwhals/_plan/expr_expansion.py
  narwhals/_plan/expr_parsing.py
  narwhals/_plan/expr_rewrites.py
  narwhals/_plan/literal.py
  narwhals/_plan/operators.py
  narwhals/_plan/when_then.py
  narwhals/_plan/window.py
  tests/plan/compliant_test.py
  tests/plan/expr_rewrites_test.py
  tests/plan/utils.py
Due: imports-are-banned, self-self, dtypes-import

added pandas doc link, corrected tip text
  docs/concepts/null_handling.md
Due: none

took out repetition
  docs/concepts/null_handling.md
Due: none

test(typing): Make `mypy` happy
  tests/expr_and_series/str/to_datetime_test.py
Due: none

tests: fix timezone aware test for Polars>=1.33.0 (#3084)
  tests/expr_and_series/str/to_datetime_test.py
Due: none

fix: Update for (#3045)
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
Due: imports-are-banned, self-self, dtypes-import

chore: simplify all-scalar-like calculation in dataframe.select (#3088)
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix: Don't treat `step` as an `Expr`
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import
