Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

add cron schedule
  .github/workflows/pytest-pyspark.yml
Due: pull-request-target

ci: Run pyspark constructors via path (#2910)
  .github/workflows/pytest-pyspark.yml
  narwhals/_expression_parsing.py
  narwhals/_spark_like/__init__.py
  narwhals/_sql/__init__.py
Due: imports-are-banned, self-self, dtypes-import, pull-request-target

revert: undo some test changes
  tests/series_only/to_pandas_test.py
Due: none

special path for orderable_aggregation in over
  narwhals/_arrow/expr.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/series.py
  tests/expr_and_series/first_test.py
  tests/expr_and_series/last_test.py
Due: imports-are-banned, self-self, dtypes-import

test: `DataFrame.to_pandas` as well
  tests/frame/to_pandas_test.py
  tests/series_only/to_pandas_test.py
  tests/utils.py
Due: none

expand on comments
  narwhals/_arrow/expr.py
  narwhals/_pandas_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

test: More cases for `DataFrame`
  tests/frame/to_pandas_test.py
Due: none

test: Align the `Series` tests back
  tests/series_only/to_pandas_test.py
Due: none

revert reuser_series changes
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

removing exp which had crept back in
  narwhals/_duckdb/expr.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

assign metadata in arrow
  narwhals/_arrow/expr.py
Due: imports-are-banned, self-self, dtypes-import

implementing suggested changes to sql when and sqrt
  narwhals/_sql/expr.py
  narwhals/_sql/namespace.py
Due: imports-are-banned, self-self, dtypes-import

moved _when into duckdb namespace
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
Due: imports-are-banned, self-self, dtypes-import

moved _when into sparklike namespace
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove unused `IntegerType`
  narwhals/stable/v1/__init__.py
Due: imports-are-banned, self-self

modified _when in ibis namespace
  narwhals/_ibis/namespace.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Reuse a single `Implementation.PYARROW._backend_version()`
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Kinda fix `_native_int_range`
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Add `int64`
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): make marco's checker happy 😉
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Omit defaults in overloads
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): Remove unreached overload
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

refactor(typing): rinse/repeat for stable
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
Due: imports-are-banned, self-self

refactor: fix `polars` typing, use kwargs when required
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
Due: imports-are-banned, self-self, dtypes-import

added pragma no cover
  narwhals/_ibis/namespace.py
Due: imports-are-banned, self-self, dtypes-import

corrected to sparklikeexpr
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Remove unused asserts
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

removed sqrt from ibis expr
  narwhals/_ibis/expr.py
Due: imports-are-banned, self-self, dtypes-import

test: Add failing `Expr` + `eager` case
  tests/expr_and_series/int_range_test.py
Due: none

experimenting with types for sparklike _when
  narwhals/_spark_like/namespace.py
Due: imports-are-banned, self-self, dtypes-import

chore: factor out sqrt from SparkLike & DuckDB (#2876)
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/namespace.py
  narwhals/_ibis/expr.py
  narwhals/_ibis/namespace.py
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/_sql/expr.py
  narwhals/_sql/namespace.py
Due: imports-are-banned, self-self, dtypes-import

add `_with_columns`
  narwhals/_plan/arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

perf: Add early return path for `over_ordered`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/protocols.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Reduce returns in `Namespace.from_native_object`
  narwhals/_namespace.py
Due: imports-are-banned, self-self, dtypes-import

low hanging feedback adjustments
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_arrow/utils.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  narwhals/typing.py
Due: imports-are-banned, self-self, dtypes-import

refactor into int_range_eager
  narwhals/_arrow/namespace.py
  narwhals/_arrow/series.py
  narwhals/_compliant/namespace.py
  narwhals/_compliant/series.py
  narwhals/_pandas_like/namespace.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/namespace.py
  narwhals/_polars/series.py
  narwhals/functions.py
  narwhals/stable/v1/__init__.py
  narwhals/stable/v2/__init__.py
  tests/expr_and_series/int_range_test.py
Due: imports-are-banned, self-self, dtypes-import

typo
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

forgot to mention about eager value in suggestion
  narwhals/functions.py
Due: imports-are-banned, self-self, dtypes-import

wip added log into sqlexpr
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import

wip log - scope is wrong
  narwhals/_ibis/expr.py
  narwhals/_spark_like/expr.py
  narwhals/_sql/expr.py
Due: imports-are-banned, self-self, dtypes-import
