Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v./_?dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/

tpch workflow
  .github/workflows/check_tpch_queries.yml
Due: pull-request-target

fixup doctests
  .github/workflows/pytest.yml
  CONTRIBUTING.md
Due: pull-request-target

fixup --cov
  .github/workflows/extremes.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
Due: pull-request-target

Add conflicts sections in pyproject
  pyproject.toml
Due: none

no default-groups
  pyproject.toml
Due: none

One more try for github actions
  .github/workflows/check_docs_build.yml
  .github/workflows/check_tpch_queries.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/extremes.yml
  .github/workflows/pytest-ibis.yml
  .github/workflows/pytest-modin.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  .github/workflows/random_ci_pytest.yml
  .gitignore
  uv.lock
Due: pull-request-target

pass --extra pandas
  .github/workflows/check_docs_build.yml
  .github/workflows/check_tpch_queries.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/extremes.yml
  .github/workflows/pytest-ibis.yml
  .github/workflows/pytest-modin.yml
  .github/workflows/pytest-pyspark.yml
  .github/workflows/pytest.yml
  src/narwhals/sql.py
  tests/frame/arrow_c_stream_test.py
  tests/from_pycapsule_test.py
Due: pull-request-target

create venv in nightlies
  .github/workflows/extremes.yml
Due: pull-request-target

pyspark-connect actions and arrow_c_stream test fixes
  .github/workflows/pytest-pyspark.yml
  tests/frame/arrow_c_stream_test.py
Due: pull-request-target

pyspark connect fix
  .github/workflows/pytest-pyspark.yml
  pyproject.toml
  uv.lock
Due: pull-request-target

refactor: Expression dispatch w/o `*Namespace`
  narwhals/_plan/_dispatch.py
  narwhals/_plan/_expr_ir.py
  narwhals/_plan/_function.py
  narwhals/_plan/_parameters.py
  narwhals/_plan/arrow/classes.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/group_by.py
  narwhals/_plan/arrow/v1.py
  narwhals/_plan/compliant/__init__.py
  narwhals/_plan/compliant/accessors.py
  narwhals/_plan/compliant/classes.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/expr.py
  narwhals/_plan/compliant/group_by.py
  narwhals/_plan/compliant/namespace.py
  narwhals/_plan/compliant/scalar.py
  narwhals/_plan/compliant/typing.py
  narwhals/_plan/expressions/function_expr.py
  narwhals/_plan/polars/classes.py
  narwhals/_plan/polars/dataframe.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/polars/namespace.py
  narwhals/_plan/translate.py
  narwhals/_plan/typing.py
  tests/plan/dispatch_test.py
  tests/plan/plugins_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: remove more namespace
  narwhals/_plan/arrow/classes.py
  narwhals/_plan/arrow/common.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/lazyframe.py
  narwhals/_plan/arrow/series.py
  narwhals/_plan/arrow/v1.py
  narwhals/_plan/arrow/v2.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/compliant/series.py
  narwhals/_plan/polars/dataframe.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/polars/lazyframe.py
  narwhals/_plan/polars/series.py
  narwhals/_plan/polars/v1.py
  narwhals/_plan/polars/v2.py
Due: imports-are-banned, self-self, dtypes-import

bump pandas in uv.lock file
  uv.lock
Due: none

giving up on docs actions
  .github/workflows/check_docs_build.yml
  .github/workflows/deploy-docs.yml
  src/narwhals/_pandas_like/series.py
  src/narwhals/_pandas_like/utils.py
Due: pull-request-target

chore: typos
  narwhals/_plan/_dispatch.py
  narwhals/_plan/arrow/functions/_horizontal.py
  narwhals/_plan/arrow/typing.py
  narwhals/_plan/plugins/_manager.py
Due: imports-are-banned, self-self, dtypes-import

revert: modin filter warning
  pyproject.toml
Due: none

surely not, right?
  narwhals/_plan/translate.py
Due: imports-are-banned, self-self, dtypes-import

well, how about this?
  narwhals/_plan/translate.py
Due: imports-are-banned, self-self, dtypes-import

empty parametrize?
  tests/plan/conftest.py
Due: none

test: more empty fixtures plz
  tests/plan/conftest.py
Due: none

plz
  narwhals/_plan/translate.py
Due: imports-are-banned, self-self, dtypes-import

pin pyright
  pyproject.toml
Due: none

feat: Add is_into_lazyframe
  narwhals/dependencies.py
  narwhals/stable/v1/dependencies.py
  tests/dependencies/is_into_lazyframe_test.py
Due: imports-are-banned, self-self, dtypes-import

fixup warnings
  narwhals/dependencies.py
Due: self-self, dtypes-import

main and v1 dependencies fixes
  narwhals/dependencies.py
  narwhals/stable/v1/dependencies.py
Due: imports-are-banned, self-self, dtypes-import

unit tests and sqlframe issue
  narwhals/dependencies.py
  narwhals/stable/v1/dependencies.py
  tests/dependencies/is_into_dataframe_test.py
  tests/dependencies/is_into_lazyframe_test.py
Due: imports-are-banned, self-self, dtypes-import

fix import, fix unit tests
  narwhals/stable/v1/dependencies.py
  tests/dependencies/is_into_dataframe_test.py
  tests/dependencies/is_into_lazyframe_test.py
  tests/dependencies/is_into_series_test.py
Due: imports-are-banned, self-self, dtypes-import

ci: Add pragma no cover for binary_string_sum_fallback
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

ci: Add `# pragma: no cover` for `binary_string_sum_fallback` (#3614)
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

chore: Prepare for future pandas inplace deprecation
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/expr.py
  narwhals/_pandas_like/group_by.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

rm type: ignore[redundant-cast]
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

fix: Add `pl.over` compat
  narwhals/_plan/polars/compat.py
  narwhals/_plan/polars/dataframe.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/polars/lazyframe.py
Due: imports-are-banned, self-self, dtypes-import

test: xfail polars before it had `pivot`
  tests/plan/pivot_test.py
  tests/plan/utils.py
Due: none

test: Fix `eager`, `lazy`, `eager_or_false` typing
  tests/plan/compliant_test.py
  tests/plan/conftest.py
  tests/plan/frame_scan_read_test.py
  tests/plan/hist_test.py
  tests/plan/range_test.py
  tests/plan/utils.py
Due: none

fix: skip polars before it had `linear_space`
  narwhals/_plan/polars/compat.py
  narwhals/_plan/polars/expr.py
  narwhals/_plan/polars/series.py
  tests/plan/range_test.py
Due: imports-are-banned, self-self, dtypes-import

fix: Add `pl.LazyFrame.collect_schema` compat
  narwhals/_plan/polars/compat.py
  narwhals/_plan/polars/lazyframe.py
Due: imports-are-banned, self-self, dtypes-import

chore: Add TODOs on `nulls_last`, `has_nulls compat
  narwhals/_plan/options.py
  narwhals/_plan/polars/series.py
Due: imports-are-banned, self-self, dtypes-import

test: Avoid using native `collect_schema`
  tests/plan/frame_scan_read_test.py
Due: none
