Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.12.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
-   repo: https://github.com/pycqa/flake8
    rev: '7.2.0'  # todo: remove once https://github.com/astral-sh/ruff/issues/458 is addressed
    hooks:
    -   id: flake8
        additional_dependencies: [darglint==1.8.1, Flake8-pyproject]
        entry: flake8 --select DAR --ignore DAR101,DAR402,DAR401
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/series\.py|
                # TODO: gradually enable
                narwhals/dataframe\.py|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # TODO: gradually enable
                narwhals/stable/v1/dependencies\.py|
                # private, so less urgent to document too well
                narwhals/_.*|
                ^utils/.*
            )$
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals.dtypes|
            from\ narwhals\ import\ dtypes|
            from\ narwhals.dtypes\ import\ [^D_]+|
            import\ narwhals.stable.v1.dtypes|
            from\ narwhals.stable.v1\ import\ dtypes|
            from\ narwhals.stable.v1.dtypes\ import
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v1/_dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.19.1"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  -   id: name-tests-test
      exclude: ^tests/utils\.py
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$

fixup
  narwhals/_arrow/dataframe.py
  narwhals/_arrow/series.py
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/utils.py
  tests/expr_and_series/mode_test.py
  tests/expr_and_series/when_test.py
  tests/frame/explode_test.py
  tests/frame/with_columns_test.py
Due: imports-are-banned, self-self, dtypes-import

move units dict to pandas utils
  narwhals/_pandas_like/series_dt.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

remove the test for 1 multiple
  tests/expr_and_series/dt/offset_by_test.py
Due: none

fix(typing): Avoid `[assignment]`
  narwhals/_pandas_like/series_dt.py
Due: imports-are-banned, self-self, dtypes-import

chore: Remove unreachable hash check (#2750)
  narwhals/_utils.py
Due: imports-are-banned, self-self

refactor: Move import to module-level
  narwhals/_pandas_like/series_dt.py
Due: imports-are-banned, self-self, dtypes-import

ci: use `try_divide` in PySpark for division
  tests/expr_and_series/division_by_zero_test.py
Due: none

use true_divide for spark
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/utils.py
  tests/expr_and_series/division_by_zero_test.py
Due: imports-are-banned, self-self, dtypes-import

ci: fixup old versions for floordiv test
  tests/expr_and_series/division_by_zero_test.py
Due: none

Update tests/expr_and_series/division_by_zero_test.py
  tests/expr_and_series/division_by_zero_test.py
Due: none

ci: fixup old versions for floordiv test (#2755)
  tests/expr_and_series/division_by_zero_test.py
Due: none

refactor(typing): Replace `Any` with namespaces
  narwhals/_compliant/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Add missing `truncate` method
  narwhals/_compliant/any_namespace.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Make `PolarsExpr` namespaces compliant
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore(typing): Ignore mypy `[assignment]`
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Make `DuckDBExpr` compliant
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Make `DaskExpr` compliant
  narwhals/_dask/expr_dt.py
  narwhals/_dask/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

ix(typing): Make `IbisExpr` compliant
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/expr_list.py
  narwhals/_ibis/expr_str.py
  narwhals/_ibis/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Make `SparkLikeExpr` compliant
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_list.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import

fix: oops, forward refs
  narwhals/_dask/expr_dt.py
  narwhals/_dask/expr_str.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/expr_struct.py
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/expr_list.py
  narwhals/_ibis/expr_str.py
  narwhals/_ibis/expr_struct.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_list.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import

try casting to date in duckdb
  narwhals/_duckdb/expr_str.py
  tests/expr_and_series/str/to_date_test.py
Due: imports-are-banned, self-self, dtypes-import

FML
  narwhals/_duckdb/expr_str.py
Due: imports-are-banned, self-self, dtypes-import

ci: use try_divide in PySpark for division (#2754)
  narwhals/_spark_like/expr.py
  narwhals/_spark_like/namespace.py
  narwhals/_spark_like/utils.py
  tests/expr_and_series/division_by_zero_test.py
Due: imports-are-banned, self-self, dtypes-import

chore: Add `LazyExprNamespace` (#2756)
  narwhals/_compliant/any_namespace.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_dask/expr_dt.py
  narwhals/_dask/expr_str.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_list.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/expr_struct.py
  narwhals/_ibis/expr_dt.py
  narwhals/_ibis/expr_list.py
  narwhals/_ibis/expr_str.py
  narwhals/_ibis/expr_struct.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr_dt.py
  narwhals/_spark_like/expr_list.py
  narwhals/_spark_like/expr_str.py
  narwhals/_spark_like/expr_struct.py
Due: imports-are-banned, self-self, dtypes-import

pyarrow fix
  narwhals/_arrow/utils.py
Due: imports-are-banned, self-self, dtypes-import

Ok pandas is a tough one - WIP
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

WIP: all lazy but spark
  narwhals/_compliant/expr.py
  narwhals/_dask/expr.py
  narwhals/_duckdb/expr.py
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

spark-like fix
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

simplify test as much as possible for now
  tests/expr_and_series/division_by_zero_test.py
Due: none

pandas typo, ibis WIP?
  narwhals/_ibis/expr.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

fix after merge main
  narwhals/_duckdb/expr_str.py
  narwhals/_polars/expr.py
Due: imports-are-banned, self-self, dtypes-import

feat: Add `Expr|Series.str.to_date` (#2747)
  docs/api-reference/expr_str.md
  docs/api-reference/series_str.md
  narwhals/_arrow/series_str.py
  narwhals/_compliant/any_namespace.py
  narwhals/_compliant/expr.py
  narwhals/_dask/expr_str.py
  narwhals/_duckdb/expr_str.py
  narwhals/_ibis/expr_str.py
  narwhals/_pandas_like/series_str.py
  narwhals/_polars/expr.py
  narwhals/_spark_like/expr_str.py
  narwhals/expr_str.py
  narwhals/series_str.py
  tests/expr_and_series/str/to_date_test.py
  tests/expr_and_series/str/zfill_test.py
  tests/utils.py
Due: imports-are-banned, self-self, dtypes-import

simplify pyarrow a bit
  narwhals/_arrow/utils.py
  narwhals/_spark_like/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore: Add import_array_module util
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

switch order for most common path
  narwhals/_pandas_like/utils.py
Due: imports-are-banned, self-self, dtypes-import

rollback pandas completely and xfail for now
  narwhals/_pandas_like/series.py
  tests/expr_and_series/division_by_zero_test.py
Due: imports-are-banned, self-self, dtypes-import

some more checks
  tests/expr_and_series/division_by_zero_test.py
Due: none

use in exp and log as well
  narwhals/_pandas_like/dataframe.py
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import
