Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, self-self, dtypes-import, pull-request-target

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

self-self:
  name: don't annotate `self` argument using `Self`
  entry: 'self: Self'
  language: pygrep

dtypes-import:
  name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

fix(expr-ir): Reject `Selector`s that do more than select
  narwhals/_plan/_guards.py
  narwhals/_plan/_parse.py
  tests/plan/frame_unique_test.py
Due: imports-are-banned, self-self, dtypes-import

test(expr-ir): Little more selectors parsing coverage
  narwhals/_plan/_parse.py
  tests/plan/compliant_test.py
Due: imports-are-banned, self-self, dtypes-import

WIP
  narwhals/_arrow/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/utils.py
  narwhals/_polars/utils.py
  narwhals/_spark_like/utils.py
  narwhals/dtypes.py
Due: imports-are-banned, self-self, dtypes-import

fix(expr-ir): Reject `Selector`s that do more than select (#3376)
  narwhals/_plan/_guards.py
  narwhals/_plan/_parse.py
  tests/plan/compliant_test.py
  tests/plan/frame_unique_test.py
Due: imports-are-banned, self-self, dtypes-import

revert: b4632be
  narwhals/_pandas_like/series.py
Due: imports-are-banned, self-self, dtypes-import

feat(expr-ir): Support `DataFrame.pivot` (#3373)
  narwhals/_plan/arrow/acero.py
  narwhals/_plan/arrow/compat.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/arrow/functions.py
  narwhals/_plan/arrow/pivot.py
  narwhals/_plan/common.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
  tests/plan/pivot_test.py
Due: imports-are-banned, self-self, dtypes-import

fix up issues
  narwhals/_arrow/utils.py
  narwhals/_dask/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_ibis/utils.py
  narwhals/_pandas_like/utils.py
  narwhals/dtypes.py
  tests/dtypes/dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

docstrings and test
  narwhals/dtypes.py
  tests/dtypes/dtypes_test.py
Due: imports-are-banned, self-self, dtypes-import

doctest
  narwhals/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

min pandas version
  tests/dtypes/dtypes_test.py
Due: none

refactor: Move `join` up a level
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

skip polars pre 1.0
  tests/dtypes/dtypes_test.py
Due: none

start mapping out `join_asof`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

test: Direct port of `main` tests
  narwhals/_plan/dataframe.py
  tests/plan/join_test.py
Due: imports-are-banned, self-self, dtypes-import

add the `narwhals`-level validation
  narwhals/_plan/dataframe.py
  tests/plan/join_test.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Narrow properly in `normalize_join_asof_on`
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix(typing): Narrow properly in `normalize_join_asof_by`
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

Feedback adjustments
  narwhals/testing/asserts/frame.py
  tests/testing/assert_frame_equal_test.py
Due: imports-are-banned, self-self, dtypes-import

allow custom prefix and suffix in raise_frame_assertion_error
  narwhals/testing/asserts/frame.py
  narwhals/testing/asserts/utils.py
Due: imports-are-banned, self-self, dtypes-import

connect more dots
  narwhals/_plan/arrow/acero.py
  narwhals/_plan/arrow/dataframe.py
  tests/plan/join_test.py
Due: imports-are-banned, self-self, dtypes-import

make the tests readable
  tests/plan/join_test.py
Due: none

keep minimizing tests
  tests/plan/join_test.py
Due: none

chore: updated narwhals.Expr.sin/sqrt docstrings to match polars
  narwhals/expr.py
Due: imports-are-banned, self-self, dtypes-import

chore: combined test cases for nullable/non-nullable pandas types on Series.sin/sqrt
  tests/expr_and_series/sin_test.py
  tests/expr_and_series/sqrt_test.py
Due: none

oooh, kinda working
  narwhals/_plan/arrow/acero.py
  tests/plan/join_test.py
Due: imports-are-banned, self-self, dtypes-import

test: more de-duplicating
  tests/plan/join_test.py
Due: none

fix: Calculate `tolerance`, un-xfail empty `by`
  narwhals/_plan/arrow/acero.py
  tests/plan/join_test.py
Due: imports-are-banned, self-self, dtypes-import

feat: Support `suffix`
  narwhals/_plan/arrow/acero.py
  tests/plan/join_test.py
Due: imports-are-banned, self-self, dtypes-import

perf: Avoid an extra loop
  narwhals/_plan/arrow/acero.py
Due: imports-are-banned, self-self, dtypes-import

refactor: inline `_asofjoin`
  narwhals/_plan/arrow/acero.py
Due: imports-are-banned, self-self, dtypes-import

tidy
  narwhals/_plan/arrow/acero.py
Due: imports-are-banned, self-self, dtypes-import

mark with `@requires.backend_version((16,))`
  narwhals/_plan/arrow/common.py
  narwhals/_plan/arrow/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

refactor: Remove `join_asof_by`
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
Due: imports-are-banned, self-self, dtypes-import

fix: rip, `<3.11` required for generic TypedDict
  tests/plan/join_test.py
Due: none

feat(expr-ir): Support `DataFrame.join_asof` (#3378)
  narwhals/_plan/arrow/acero.py
  narwhals/_plan/arrow/common.py
  narwhals/_plan/arrow/dataframe.py
  narwhals/_plan/compliant/dataframe.py
  narwhals/_plan/dataframe.py
  tests/plan/join_test.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Make `arrow.functions.py` a package
  narwhals/_plan/arrow/functions/__init__.py
Due: imports-are-banned, self-self

refactor(expr-ir): Split `_dtypes`
  narwhals/_plan/arrow/functions/__init__.py
  narwhals/_plan/arrow/functions/_dtypes.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Split `_categorical`
  narwhals/_plan/arrow/expr.py
  narwhals/_plan/arrow/functions/__init__.py
  narwhals/_plan/arrow/functions/_categorical.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Split `_construction`
  narwhals/_plan/arrow/functions/__init__.py
  narwhals/_plan/arrow/functions/_construction.py
Due: imports-are-banned, self-self, dtypes-import

refactor(expr-ir): Split `_ranges`
  narwhals/_plan/arrow/functions/__init__.py
  narwhals/_plan/arrow/functions/_dtypes.py
  narwhals/_plan/arrow/functions/_ranges.py
Due: imports-are-banned, self-self, dtypes-import

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  self-self: any of: ^narwhals/
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/_utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
