Repository narwhals-dev/narwhals: changes, and which pre-commit hooks are due for each by the changed paths.
All: imports-are-banned, dtypes-import, pull-request-target, mypy

imports-are-banned:
  name: import are banned (use `get_pandas` instead of `import pandas`)
  entry: python utils/import_check.py
  language: python

dtypes-import:
  name: don't import from narwhals.dtypes (use `import_dtypes_module` instead)
  ...

pull-request-target:
  name: don't use `pull_request_target`
  entry: pull_request_target
  language: pygrep

mypy:
  name: mypy
  entry: ./.venv/bin/mypy
  language: system
  require_serial: true

feat: catch Polars exceptions, unify exception raising more (#1918)
  narwhals/_polars/dataframe.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
  tests/expr_and_series/is_nan_test.py
  tests/expr_and_series/median_test.py
  tests/expr_and_series/replace_strict_test.py
  tests/frame/drop_test.py
  tests/frame/explode_test.py
  tests/frame/filter_test.py
  tests/frame/pivot_test.py
  tests/frame/select_test.py
Due: imports-are-banned, dtypes-import, mypy

chore: minor series.py fixes, dedupe a little (#1982)
  narwhals/_arrow/series.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/series.py
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

fix: implement casting to Int128 (#1984)
  narwhals/_arrow/utils.py
  narwhals/_duckdb/utils.py
  narwhals/_pandas_like/utils.py
  narwhals/_polars/utils.py
  tests/dtypes_test.py
Due: imports-are-banned, dtypes-import, mypy

typos
  narwhals/_arrow/series.py
Due: imports-are-banned, dtypes-import, mypy

catch and re-raise computeerror
  narwhals/_polars/utils.py
Due: imports-are-banned, dtypes-import, mypy

reduce diff
  tests/utils.py
Due: mypy

add example to docstring
  narwhals/series.py
Due: imports-are-banned, dtypes-import, mypy

feat: Series.hist (#1859)
  docs/api-reference/series.md
  narwhals/_arrow/series.py
  narwhals/_pandas_like/series.py
  narwhals/_polars/series.py
  narwhals/_polars/utils.py
  narwhals/exceptions.py
  narwhals/series.py
  narwhals/stable/v1/__init__.py
  tests/series_only/hist_test.py
  utils/check_api_reference.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): resolve some new `_duckdb.expr` warnings
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

chore(typing): add stub ignore
  narwhals/_duckdb/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

wip
  narwhals/expr.py
  narwhals/selectors.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

wip
  narwhals/expr.py
Due: imports-are-banned, dtypes-import, mypy

wip
  narwhals/expr.py
  narwhals/selectors.py
  narwhals/stable/v1/__init__.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

wip
  utils/check_api_reference.py
Due: none

wip
  narwhals/expr.py
  narwhals/functions.py
  narwhals/selectors.py
  narwhals/stable/v1/__init__.py
  narwhals/utils.py
  utils/check_api_reference.py
Due: imports-are-banned, dtypes-import, mypy

wip
  narwhals/functions.py
  narwhals/selectors.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): widen annotation to inclide `_1DArray`
  narwhals/_pandas_like/series.py
Due: imports-are-banned, dtypes-import, mypy

big refactor
  narwhals/_expression_parsing.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/expr_cat.py
  narwhals/expr_dt.py
  narwhals/expr_list.py
  narwhals/expr_name.py
  narwhals/expr_str.py
  narwhals/functions.py
  narwhals/selectors.py
Due: imports-are-banned, dtypes-import, mypy

big refactor
  narwhals/utils.py
Due: imports-are-banned, mypy

release: Bump version to 1.26.0
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

release: Bump version to 1.26.0 (#1985)
  docs/installation.md
  narwhals/__init__.py
  pyproject.toml
Due: imports-are-banned, mypy

wip
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor everything
  narwhals/dataframe.py
  narwhals/group_by.py
  narwhals/utils.py
Due: imports-are-banned, dtypes-import, mypy

refactor everything
  narwhals/_expression_parsing.py
  narwhals/dataframe.py
  narwhals/expr.py
  narwhals/expr_cat.py
  narwhals/functions.py
  narwhals/group_by.py
  narwhals/selectors.py
  narwhals/stable/v1/__init__.py
  narwhals/utils.py
  utils/check_api_reference.py
Due: imports-are-banned, dtypes-import, mypy

add parse_string_as_column_names flag
  narwhals/_expression_parsing.py
  narwhals/expr.py
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

update composition rules
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

consistent naming
  narwhals/_expression_parsing.py
  narwhals/expr.py
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

refactor
  narwhals/_expression_parsing.py
  narwhals/dataframe.py
  narwhals/functions.py
  narwhals/group_by.py
Due: imports-are-banned, dtypes-import, mypy

simplify
  narwhals/functions.py
Due: imports-are-banned, dtypes-import, mypy

coverage
  tests/expr_and_series/unique_test.py
Due: mypy

coverage
  tests/expr_and_series/order_dependent_lazy_test.py
Due: mypy

pyspark 4.0 prep
  narwhals/_spark_like/dataframe.py
Due: imports-are-banned, dtypes-import, mypy

rename for clarity
  narwhals/_expression_parsing.py
Due: imports-are-banned, dtypes-import, mypy

add test which would fail with suggested refactor
  tests/expr_and_series/order_dependent_lazy_test.py
Due: mypy

tests: skip cudf hist tests
  tests/series_only/hist_test.py
Due: mypy

tests: skip cudf hist tests (#1988)
  tests/series_only/hist_test.py
Due: mypy

refactor: replace `ConstantExpression` w/ `lit` alias
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_str.py
  narwhals/_duckdb/namespace.py
  narwhals/_duckdb/utils.py
Due: imports-are-banned, dtypes-import, mypy

fix(typing): resolve `_duckdb` `[operator]` warnings
  narwhals/_duckdb/dataframe.py
  narwhals/_duckdb/expr_dt.py
  narwhals/_duckdb/expr_str.py
Due: imports-are-banned, dtypes-import, mypy

revert(typing): undo "fixes" for `ddof`
  narwhals/_duckdb/expr.py
Due: imports-are-banned, dtypes-import, mypy

Path conditions:
  imports-are-banned: any of: ^narwhals/, but not: ^narwhals/dependencies\.py
  dtypes-import: any of: ^narwhals/, but not: (?x)
  ^(
    narwhals/utils\.py|
    narwhals/stable/v1/_dtypes.py|
    narwhals/.*__init__.py|
    narwhals/.*typing\.py
  )

  pull-request-target: any of: ^\.github/workflows/
  mypy: any of: ^(narwhals|tests)/ and \.py$
